@import "_mixins.scss";

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.orange-button {
  @include custom-gradient(#dc8616, #f0b568, #dc8616);
  @include double-shadow(0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3));
  @include transition(all, .1s);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  color: #fff;
  &:hover {
    @include custom-gradient(#dc8616, #f4cb97, #dc8616);
  }
  &:active {
    @include custom-gradient(#dc8616, #f0b568, #dc8616);
    @include double-shadow(0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 5px rgba(0, 0, 0, 0.5));
  }
}

.grey-button {

  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #d8d8d8;
  @include transition(all, .1s);
  @include custom-gradient(#e6e6e6, #f6f6f6, #e6e6e6);

  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  color: #555;
  &:hover {
    @include custom-gradient(#a9d7f5, #daeefb, #a9d7f5);
    @include drop-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.5));
    border: 1px solid #7fa2b8;
  }
  &:active {
    @include double-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6));
  }
}

.admin-button {
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #aabcd5;
  @include transition(all, .1s);
  @include custom-gradient(#d4dde9, #dee5ee, #d4dde9);
  @include double-shadow(0 1px 1px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.25));

  cursor: pointer;
  position: relative;
  border-radius: 5px;
  display: block;
  &:hover {
    @include custom-gradient(#d4dde9, #e9eff6, #d4dde9);
  }
  &:active {
    @include double-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.3));
  }

}

.text-field {
    border: 1px solid #bfccde;
    border-radius: 3px;
    @include double-shadow(0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2));
    @include transition(all, .3s);
    outline: none;
    position: relative;
    z-index: 11;
    resize: none;
    &:hover {
        border-color: #81a4d5;
        z-index: 22;
    }
    &:focus {
        border-color: #81a4d5;
        @include double-shadow(0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2));
        z-index: 22;
    }
}

.hint {
    font-size: 13px;
    background: #c1e2f8;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #7fa2b8;
    @include drop-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.5));
    margin-bottom: 10px;
    color: #004672;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    opacity: 1;
    position: relative;
    font-weight: normal;
    position: relative;
    z-index: 222;
    line-height: 1.3em;
    .close-hint {
        display: block;
        background: url(../assets/web-icons-sprite.png) no-repeat -56px -13px;
        height: 9px;
        width: 8px;
        position: absolute;
        right: 5px;
        top: 7px;
        opacity: .6;
        &:hover {
          opacity: 1;
        }
    }
    .i-tip {
        display: inline-block;
        background: url(../assets/web-icons-sprite.png) no-repeat -32px -27px;
        width: 16px;
        height: 17px;
        position: relative;
        vertical-align: bottom;
        margin-right: 5px;
        top: 1px;
    }
}

.progress-bar-wrapper {
    margin-top: 10px;
    border-radius: 5px;
    background: #f6f6f6;
    padding: 2px;
    @include drop-shadow(inset 0 0 3px rgba(0, 0, 0, 0.3));
    .progress-inner {
      height: 24px;
      position: relative;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      color: #427300;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
      .progress-text {
        vertical-align: -7px;
        position: relative;
        z-index: 222;
      }
      .progress {
        z-index: 111;
        border-radius: 3px;
        height: 18px;
        position: absolute;
        width: 0px;
        top: 2px;
        left: 2px;
        @include drop-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.5));
        border: 1px solid #acbd76;
        @include custom-gradient(#cde6ae, #ebf5de, #cde6ae);
      }
    }
}

.close {
  @extend .orange-button;
  width: 22px;
  height: 22px;
  font-size: 15px;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 222;
}

.signinServices {
  margin: 10px 0;
  .signinService {
    @include drop-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.4));
    padding: 4px 4px 7px;
    border-radius: 5px;
    width: 158px;
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    &.signinTwitter, &.signinYahoo {
      margin-right: 0;
    }
    .serviceButton {
      display: block;
      text-align: center;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      padding: 16px 0 10px;
      position: relative;

      &.service-facebook {
        background: url("../assets/facebook-service.png") no-repeat scroll 130px 4px #325190;
        @include drop-shadow(0 3px 0 #213b6d);
        &:hover {
          @include double-shadow(0 3px 0 #213b6d, inset 0 22px 0 rgba(255, 255, 255, 0.08));
        }
        &:active {
          @include drop-shadow(none);
          top: 3px;
        }
      }
      &.service-twitter {
        background: url("../assets/twitter-service.png") no-repeat scroll 114px 0px #30BBE9;
        @include drop-shadow(0 3px 0 #249bc4);
        &:hover {
          @include double-shadow(0 3px 0 #249bc4, inset 0 22px 0 rgba(255, 255, 255, 0.15));
        }
        &:active {
          @include drop-shadow(none);
          top: 3px;
        }
      }
      &.service-yahoo {
        background: url("../assets/yahoo-service.png") no-repeat scroll 109px 4px #7b0099;
        @include drop-shadow(0 3px 0 #540a66);
        &:hover {
          @include double-shadow(0 3px 0 #540a66, inset 0 22px 0 rgba(255, 255, 255, 0.1));
        }
        &:active {
          @include drop-shadow(none);
          top: 3px;
        }
      }
      &.service-gplus {
        background: url("../assets/gplus-service.png") no-repeat scroll 124px 4px #D74A38;
        @include drop-shadow(0 3px 0 #b93120);
        &:hover {
          @include double-shadow(0 3px 0 #b93120, inset 0 22px 0 rgba(255, 255, 255, 0.1));
        }
        &:active {
          @include drop-shadow(none);
          top: 3px;
        }
      }
    }
  }
}

.offer-type {
  height: 40px;
  width: 40px;
  margin: 0 auto 3px;
  background: url(../assets/dash_sprite.png) no-repeat;
  &.food {
    background-position: 0 0;
  }
  &.shop {
    background-position: -40px 0;
  }
  &.drink {
    background-position: -80px 0;
  }
  &.service {
    background-position: -120px 0;
  }
  &.look {
    background-position: -160px 0;
  }
  &.fun {
    background-position: -200px 0;
  }
}
