@import "_mixins.scss";
.mobile_header {
  @include custom-gradient(#ffab4c, #ffab4c, #dc8729);
  @include double-shadow(0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3));
  height: 4.167em;
  .mobile-nav-item {
    display: block;
    position: relative;
    float: left;
    height: 50px;
    width: 20%;
    background-repeat: no-repeat;
    &.active {
      &:before {
        content: "";
        background: url(../assets/mobile-active.png) no-repeat;
        bottom: -12px;
        display: block;
        height: 13px;
        left: 50%;
        margin-left: -11px;
        position: absolute;
        width: 23px;
      }
    }
    &.start {
      background: url(../assets/filter_tiny.png) no-repeat;
      background-position: center center;
    }
    &.list {
      background: url(../assets/mobile-offers.png) no-repeat;
      background-position: center center;
    }
    &.logo {
      background: url(../assets/mobile-yacto.png) no-repeat;
      background-position: center center;
    }
    &.nearby {
      background: url(../assets/mobile-nearby.png) no-repeat;
      background-position: center center;
    }
    &.favorites {
      background: url(../assets/mobile-favorites.png) no-repeat;
      background-position: center center;
    }
  }
};