@import "_reset.scss";
@import "_mixins.scss";
@import "_mobile_header.scss";
@import "_general.scss";
@import "libs/_chosen.scss";
@import "libs/_iphone_style_checkboxes.scss";
@import "libs/_bootstrap-modal.scss";
.mobile_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -36px;
}

.mobile_body {
  font-size: 16px;
  &.start_page {
    padding: 1em 0.563em;
    .start_msg {
      @include border-radius(3px);
      background-color: #fff; /* layer fill content */
      @include custom-gradient(0 1px 2px rgba(0, 0, 0, .15)); /* drop shadow */
      @include custom-gradient(#f0f3f7, #fff, #f0f3f7);
      text-align: center;
      padding: 5px 0 7px;
      margin-bottom: 18px;
      border: 1px solid #bfccde;
      position: relative;
      color: #6c7881;
      font-size: 1em;
      &:before {
        background: url("../assets/start_msg_triangle.png") no-repeat scroll center bottom transparent;
        bottom: -12px;
        content: "";
        display: block;
        height: 12px;
        position: absolute;
        width: 100%;
      }
      .orange {
        color: #e18d2e;
      }
    }
    .select_holder {
      font-size: 16px;
      width: 50%;
      height: 25px;
      float: left;
      margin-bottom: 15px;
      .chzn-container {
        font-size: 13px;
        font-weight: bold;
        position: relative;
        width: 99% !important;
      }
      .chzn-drop {
        width: 99.8% !important;
      }
    }
    .grid_cell {
      width: 25%;
      float: left;
      position: relative;
      margin-bottom: 1em;
      .aspect_ratio {
        margin-top: 100%; /* keep the ratio square */
      }
      .cell_content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        .filter_icon {
          width: 85%;
          height: 85%;
          margin: 0 auto;
          border-radius: 5px;
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        .icon_label {
          text-align: center;
          font-size: .8em;
          font-weight: bold;
          color: #6c92af;
          margin-top: 3px;
        }
      }
      &.all {
        .filter_icon {
          @include custom-shadow(0 1px 2px rgba(0, 0, 0, .4) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .25) /* inner shadow */, 0 0 0 1px #ae680d /* outer stroke */);
          @include custom-gradient(#db8516, #edad59, #db8516);
          &:after {
            background: url(../assets/filter_all.png) no-repeat center center;
          }
        }
      }
      &.eat {
        .filter_icon {
          @include custom-shadow(0 2px 0 rgba(255, 255, 255, .8) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .25) /* inner shadow */, 0 0 0 1px #416011 /* outer stroke */);
          @include custom-gradient(#73a527, #73a527, #577c1e);
          &:after {
            background: url(../assets/filter_eat.png) no-repeat center center;
          }
        }
      }
      &.drink {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #0970a6 /* outer stroke */);
          @include custom-gradient(#15a7f3, #15a7f3, #0a89cd);
          &:after {
            background: url(../assets/filter_drink.png) no-repeat center center;
          }
        }
      }
      &.shop {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .25) /* inner shadow */, 0 0 0 1px #c3af2d /* outer stroke */);
          @include custom-gradient(#fd0, #fd0, #dac32b);
          &:after {
            background: url(../assets/filter_shop.png) no-repeat center center;
          }
        }
      }
      &.fun {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #86000c /* outer stroke */);
          @include custom-gradient(#e70015, #e70015, #b50011);
          &:after {
            background: url(../assets/filter_fun.png) no-repeat center center;
          }
        }
      }
      &.look {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #352d86 /* outer stroke */);
          @include custom-gradient(#7b75bd, #7b75bd, #554ea1);
          &:after {
            background: url(../assets/filter_spa.png) no-repeat center center;
          }
        }
      }
      &.service {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #6b6b6b /* outer stroke */);
          @include custom-gradient(#a7a7a7, #a7a7a7, #858585);
          &:after {
            background: url(../assets/filter_service.png) no-repeat center center;
          }
        }
      }
      &.tourism {
        .filter_icon {
          @include custom-shadow(0 1px 2px rgba(0, 0, 0, .6) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #043480 /* outer stroke */);
          @include custom-gradient(#115fd9, #115fd9, #0c449b);
          &:after {
            background: url(../assets/filter_tourism.png) no-repeat center center;
          }
        }
      }
    }
  }
}

.mobile_push {
  height: 36px;
}

.mobile_footer {
  height: 36px;
  background-color: #ff9b2d; /* layer fill content */
  @include custom-shadow(0 -1px 1px rgba(0, 0, 0, .1) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .6) /* inner shadow */, 0 0 0 1px #f19d3f /* outer stroke */);
  @include custom-gradient(#feaa4c, #feaa4c, #d17f25);
  .footer_links {
    height: 100%;
  }
  .footer_link {
    float: left;
    height: 100%;
    &>a {
      display: block;
      width: 46px;
      text-align: center;
    }
    &.more{
      float: right;
      position: relative;
      .footer_dropdown {
        display: none;
        position: absolute;
        top: -63px;
        left: -126px;
        width: 170px;
        z-index: 9999;
        background-color: #f29d3f; /* layer fill content */
        border-radius : 4px 4px 0  0;
        border-top: 1px solid #d58327;
        border-left: 1px solid #d58327;
        border-right: 1px solid #d58327;
        @include drop-shadow(0 -1px 2px rgba(0,0,0,.4));
        li {
          border-bottom: 1px solid #d58327;
          @include drop-shadow(0 1px 0 rgba(255,255,255,.25) /* drop shadow */);
          padding: 9px 0 6px 11px;
        }
        a {
          font-size: 14px;
          color: #fff;
          font-weight: bold;
          text-shadow: 0 1px 1px rgba(0,0,0,.25); /* drop shadow */
        }
      }
      &.active {
        background-color: #ff9b2d; /* layer fill content */
        @include custom-shadow(inset 0 0 6px rgba(0,0,0,.45)); /* inner shadow */
        @include custom-gradient(#feaa4c, #d17f25, #feaa4c);

      }
    }
  }
  .icon {
    display: inline-block;
    background: url(../assets/mobile_start_sprite.png) no-repeat;
    position: relative;
    top: 15px;
    &.icon_twitter {
      width: 34px;
      height: 25px;
      background-position: 0 0;
    }
    &.icon_fb {
      width: 13px;
      height: 26px;
      background-position: -34px 0;
    }
    &.icon_more {
      width: 29px;
      height: 24px;
      background-position: -47px 0;
    }
  }
}





.signinServices {
  margin: 10px 0; }
.signinServices .signinService {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  padding: 4px 4px 7px;
  border-radius: 5px;
  width: 158px;
  display: block;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px; }
.signinServices .signinService.signinTwitter, .signinServices .signinService.signinYahoo {
  margin-right: 0; }
.signinServices .serviceButton {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 16px 0 10px;
  position: relative; }
.signinServices .serviceButton.service-facebook {
  background: url("../assets/facebook-service.png") no-repeat scroll 90% 4px #325190;
  -webkit-box-shadow: 0 3px 0 #213b6d;
  -moz-box-shadow: 0 3px 0 #213b6d;
  box-shadow: 0 3px 0 #213b6d; }
.signinServices .serviceButton.service-facebook:hover {
  -webkit-box-shadow: 0 3px 0 #213b6d, inset 0 22px 0 rgba(255, 255, 255, 0.08);
  -moz-box-shadow: 0 3px 0 #213b6d, inset 0 22px 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 0 #213b6d, inset 0 22px 0 rgba(255, 255, 255, 0.08); }
.signinServices .serviceButton.service-facebook:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 3px; }
.signinServices .serviceButton.service-twitter {
  background: url("../assets/twitter-service.png") no-repeat scroll 95% 4px #30bbe9;
  -webkit-box-shadow: 0 3px 0 #249bc4;
  -moz-box-shadow: 0 3px 0 #249bc4;
  box-shadow: 0 3px 0 #249bc4; }
.signinServices .serviceButton.service-twitter:hover {
  -webkit-box-shadow: 0 3px 0 #249bc4, inset 0 22px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 3px 0 #249bc4, inset 0 22px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 3px 0 #249bc4, inset 0 22px 0 rgba(255, 255, 255, 0.15); }
.signinServices .serviceButton.service-twitter:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 3px; }
.signinServices .serviceButton.service-yahoo {
  background: url("../assets/yahoo-service.png") no-repeat scroll 95% 6px #7b0099;
  -webkit-box-shadow: 0 3px 0 #540a66;
  -moz-box-shadow: 0 3px 0 #540a66;
  box-shadow: 0 3px 0 #540a66; }
.signinServices .serviceButton.service-yahoo:hover {
  -webkit-box-shadow: 0 3px 0 #540a66, inset 0 22px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 3px 0 #540a66, inset 0 22px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 0 #540a66, inset 0 22px 0 rgba(255, 255, 255, 0.1); }
.signinServices .serviceButton.service-yahoo:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 3px; }
.signinServices .serviceButton.service-gplus {
  background: url("../assets/gplus-service.png") no-repeat scroll 90% 8px #d74a38;
  -webkit-box-shadow: 0 3px 0 #b93120;
  -moz-box-shadow: 0 3px 0 #b93120;
  box-shadow: 0 3px 0 #b93120; }
.signinServices .serviceButton.service-gplus:hover {
  -webkit-box-shadow: 0 3px 0 #b93120, inset 0 22px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 3px 0 #b93120, inset 0 22px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 0 #b93120, inset 0 22px 0 rgba(255, 255, 255, 0.1); }
.signinServices .serviceButton.service-gplus:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 3px; }

.orange-button, .close, .modal-fullscreen .modal_inner .close, .modal-fullscreen .modal_inner .modal_call_to_action {
  -moz-transition: all 0.1s ease 0s;
  background: -moz-linear-gradient(center bottom , #DC8616 0%, #F0B568 100%) repeat scroll 0 0 transparent;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.orange-button:hover, .close:hover, .modal-fullscreen .modal_inner .close:hover, .modal-fullscreen .modal_inner .modal_call_to_action:hover {
  background: -moz-linear-gradient(center bottom , #DC8616 0%, #F4CB97 100%) repeat scroll 0 0 transparent;
}
.orange-button:active, .close:active, .modal-fullscreen .modal_inner .close:active, .modal-fullscreen .modal_inner .modal_call_to_action:active {
  background: -moz-linear-gradient(center bottom , #DC8616 0%, #F0B568 100%) repeat scroll 0 0 transparent;
  box-shadow: 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.5) inset;
}

.modal-fullscreen {
  background: url("../assets/mobile_modal_pattern.png") repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;
}
.modal-fullscreen .modal_inner {
  padding: 15px;
  position: relative;
}
.modal-fullscreen .modal_inner .close {
  font-size: 15px;
  height: 22px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 22px;
  z-index: 222;
}
.modal-fullscreen .modal_inner .modal_title {
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.modal-fullscreen .modal_inner .modal_input {
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border: medium none;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 3px rgba(0, 0, 0, 0.7) inset, 0 0 0 1px #212121;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  margin: 10px 0;
  padding: 2px 8px 0;
  width: 100%;
}
.modal-fullscreen .modal_inner .modal_call_to_action {
  border: 1px solid #BF711A;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 0 7px;
  text-align: center;
  width: 100%;
}
.modal-fullscreen .modal_inner .modal_call_to_action .set_location {
  background: url("../assets/white_pin.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 18px;
  position: relative;
  top: 4px;
  width: 12px;
}
.modal-fullscreen .modal_inner .modal_call_to_action .key {
  background: url("../assets/white_key.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 18px;
  position: relative;
  top: 4px;
  width: 11px;
}
.modal-fullscreen .modal_inner .signinServices {
  margin-top: 15px;
}
.modal-fullscreen .modal_inner .signinServices .serviceButton {
  float: left;
  margin-bottom: 8px;
  margin-right: 2%;
  width: 49%;
}
.modal-fullscreen .modal_inner .signinServices .serviceButton.service-twitter, .modal-fullscreen .modal_inner .signinServices .serviceButton.service-yahoo {
  margin-right: 0;
}
.modal-fullscreen .modal_inner .post_on_title {
  color: #FFFFFF;
  font-size: 18px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.modal-fullscreen .modal_inner .signin_footer {
  padding: 5px 0 0;
}
.modal-fullscreen .modal_inner .signin_footer .signin_signupButton {
  background: -moz-linear-gradient(center bottom , #48932D 0%, #C1DB83 100%) repeat scroll 0 0 transparent;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 0 rgba(255, 255, 255, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 27px;
  padding-top: 5px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100px;
}
.modal-fullscreen .modal_inner .signin_footer .signin_signupButton:hover {
  background: -moz-linear-gradient(center bottom , #48932D 0%, #D6EAA3 100%) repeat scroll 0 0 transparent;
}
.modal-fullscreen .modal_inner .signin_footer .signin_signupButton:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.7) inset, 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
}
.modal-fullscreen .modal_inner .signin_footer .signin_footer_headline {
  color: #FFFFFF;
  float: left;
  font-size: 16px;
  margin: 4px 8px 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.modal-fullscreen .cancel_button {
  background: -moz-linear-gradient(center bottom , #EAEAEA 0%, #FDFBFB 100%) repeat scroll 0 0 transparent;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  bottom: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(115, 136, 156, 0.45) inset;
  color: #6C7881;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 34px;
  margin-left: 3%;
  padding: 7px 0;
  position: absolute;
  width: 94%;
}
.modal-fullscreen .cancel_button .cancel {
  background: url("../assets/cancel_icon.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 12px;
  position: relative;
  width: 12px;
}
;