@import "scss/_mixins.scss";

.footer {
  padding-top: 40px;
  text-align: right;
  .social {
    display: inline-block;
    li {
      float: left;
      margin-right: 15px;
      &:last-child {
        margin: 0;
      }
      a {
        opacity: .6;
        &:hover {
          opacity: 1;
        }
      }
      b {
        font-weight: bold;
      }
      i {
        display: inline-block;
        position: relative;
        background: url(../assets/web-icons-sprite.png) no-repeat;
        width: 16px;
        height: 16px;
        top: 2px;
        margin-right: 4px;
      }
      .twitter {
        color: #33ccff;
        .i-social-twitter {
          background-position: 0 -28px;
        }
      }
      .facebook {
        color: #133783;
        .i-social-facebook {
          background-position: -16px -28px;
        }
      }
    }
  }
  .misc-info {
    display: inline-block;
    font-size: 11px;
    li {
      float: left;
      margin-right: 15px;
      margin-bottom: 4px;
    }
  }
}