@import "scss/_mixins.scss";

@media only screen and (device-width: 768px) {

  .merchant_page {
    .offer-text {
      font-size: 16px !important;
      line-height: 22px !important;
    }
    .selling_points_content {
      font-size: 16px !important;
    }
    .more-offer-details {
      font-size: 15px !important;
    }
  }

}