@import "scss/_mixins.scss";

.merchant_photo_stack {
  height: 257px;
  margin: 50px auto 0;
  position: relative;
  width: 378px;
  z-index: 100;
  img {
    border: 9px solid #fff;
    position: absolute;
    @include drop-shadow(1px 1px 5px rgba(0,0,0,0.3));
  }
  .nav {
    @include transition(all, .3s);
    display: block;
    position: absolute;
    width: 17px;
    height: 24px;
    background: url(../assets/merchant_sprite.png) no-repeat;
    z-index: 333;
    opacity: 0;
    top: 120px;
    &.prev_photo {
      background-position: -21px -13px;
      left: 15px;
    }
    &.next_photo {
      background-position: -38px -13px;
      right: 15px;
    }
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
}