@mixin custom-gradient($color: #F5F5F5, $stop: #EEE, $start: #FFF){
  background: $color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $start), color-stop(1, $stop));
  background: -ms-linear-gradient(bottom,
    $start,
    $stop);
  background: -moz-linear-gradient(center bottom,
    $start 0%,
    $stop 100%);
}

@mixin drop-shadow($shadow1){
  -webkit-box-shadow: $shadow1;
  -moz-box-shadow: $shadow1;
  box-shadow: $shadow1;
}

@mixin double-shadow($shadow1, $shadow2){
  -webkit-box-shadow: $shadow1, $shadow2;
  -moz-box-shadow: $shadow1, $shadow2;
  box-shadow: $shadow1, $shadow2;
}

@mixin custom-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
  $params: $shadow1;
  @if $shadow2
    { $params: $shadow1, $shadow2; }
  @if $shadow3 != false
    { $params: $shadow1, $shadow2, $shadow3; }
  @if $shadow4 != false
    { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
  @if $shadow5 != false
    { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}



@mixin bordered($top-width: 1px, $top-color: #EEE, $right-width: 1px, $right-color: #EEE, $bottom-width: 1px, $bottom-color: #EEE, $left-width: 1px, $left-color: #EEE){
  border-top: solid $top-width $top-color;
  border-left: solid $left-width $left-color;
  border-right: solid $right-width $right-color;
  border-bottom: solid $bottom-width $bottom-color;
}

@mixin transition($property, $duration){
  -moz-transition: $property $duration;
  -webkit-transition: $property $duration;
  -o-transition: $property $duration;
}

@mixin blue-button($padding-top: 0, $padding-right: 0, $padding-bottom: 0, $padding-left: 0){
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  @include double-shadow(0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25));
  @include custom-gradient(#718db6, #92a8c7, #718db6);
  border-radius: 5px;
  border: 1px solid #47638a;
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  &:hover {
    @include custom-gradient(#a8bad3, #a8bad3, #718db6);
  }
  &:active {
    @include double-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 1));
  }
}

@mixin placeholder($color){
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png'){
  background-image: url($image_name + $extention);
  $x2img: $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url($x2img);
    background-size: $w $h;
  }
}

@mixin padding-box($tmp: padding-box) {
  -moz-background-clip: $tmp;
  -webkit-background-clip: $tmp;
  background-clip: $tmp; /* prevents bg color from leaking outside the border */
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

.orange-button {
  @include custom-gradient(#dc8616, #f0b568, #dc8616);
  @include double-shadow(0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3));
  @include transition(all, .1s);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  color: #fff;
  &:hover {
    @include custom-gradient(#dc8616, #f4cb97, #dc8616);
  }
  &:active {
    @include custom-gradient(#dc8616, #f0b568, #dc8616);
    @include double-shadow(0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 5px rgba(0, 0, 0, 0.5));
  }
}


;