@import "scss/_mixins.scss";

.nice_table {
  border-collapse:separate;
  font-weight: 400;
  text-shadow: 0 1px 0 white;
  tr{
    &:last-child {
      td {
        border-bottom: 1px solid #bfccde;
      }
      &:hover {
        td {
          border-bottom: 1px solid #bfccde;
        }
      }
    }
    &:nth-child(odd) {
      td {
        background: #f0f1f3;
      }
    }
    &:hover {
      td {
        background: #e1e7ef;
        @include bordered(1px, #bfccde, 0px, transparent, 0px, transparent, 1px, #bfccde);
      }
    }
  }
  td {
    background: #fcfcfc;
    padding-left: 10px;
    @include bordered(1px, #dee3eb, 0px, transparent, 0px, transparent, 1px, #dee3eb);
    @include drop-shadow(inset 1px 0 0 rgba(255,255,255,.5));
    padding: 4px 10px 4px 10px;
    &:first-child {
      border-left: 1px solid #bfccde;
    }
    &:last-child {
      border-right: 1px solid #bfccde;
    }
  }
  th {
    @include bordered(1px, #bfccde, 0px, transparent, 1px, #bfccde, 1px, #bfccde);
    text-align: left;
    padding: 6px 0 6px 10px;
    @include custom-gradient(#e9ecf0,#f5f7f8,#e9ecf0);
    @include double-shadow(inset 0 1px 0 white, inset 1px 0 0 rgba(255,255,255,.5));
    &:first-child {
      border-radius: 5px 0 0 0;
    }
    &:last-child {
      border-radius: 0 5px 0 0;
      border-right: 1px solid #bfccde;
    }
  }
}