@import "scss/_mixins.scss";

#signupModal {
  overflow: visible;
  width: 380px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -191px;
  margin-top: 60px;
  background: #fff;
  .signupModal-wrapper {
    padding: 20px;
    position: relative;
  }


  .hint {
    margin-bottom: 15px;
  }

  .modal-title {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  .field-wrapper {
    margin-bottom: 15px;
    position: relative;
    &.half {
      width: 46%;
      display: inline-block;
      margin-right: 15px;
      &.last {
        margin-right: 0;
      }
      &:after {
        right: -10px !important;
      }
    }
    &.focused {
      &:after {
        opacity: 0;
      }
    }
    &.required {
      .modalLabel {
        &:after {
          color: #E27176;
          content: "*";
          font-size: 24px;
          position: absolute;
          right: -10px;
          top: 0;
        }
      }
    }
    &.valid {
      .modalLabel {
        &:after {
          content: "\2713";
          position: absolute;
          right: -16px;
          top: -1px;
          color: #8fbb55;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
    label.error {
      border: 1px solid #6f1316;
      display: block;
      @include drop-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2));
      @include custom-gradient(#be3a3e, #dc585c, #be3a3e);
      border-radius: 3px;

      width: 33px;
      padding: 10px 10px 9px;

      text-align: center;
      color: #FFFFFF;
      font-size: 13px;
      font-weight: normal;

      position: absolute;
      right: -290px;
      top: 19px;
      width: 250px;
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 14px;
        left: -9px;
        background: url(../assets/error-arrow.png) no-repeat;
      }
    }
  }

  .field-third {
    width: 108px;
    margin-right: 9px;
    float: left;
    &.last {
      margin-right: 0;
      width: 106px;
    }
    .modalInput {
      text-align: center;
      width: 35px;
      float: left;
      &.opening {
        border-radius: 5px 0 0 5px;
      }
      &.closing {
        border-radius: 0 5px 5px 0;
      }
    }
    .third-label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 8px;
    }
  }

  .button-wrapper {
    text-align: right;
    .field-hint {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }

  .modalLabel {
    position: relative;
    font-size: 16px;
    &.hours-label {
      display: block;
      width: 128px;
    }
  }

  .modalInput {
    border: 1px solid #cccccc;
    font-family: "Helvetica Neue", sans-serif;
    color: #555;
    display: block;
    position: relative;
    margin: 3px 0;
    background: #f6f6f6;
    @include drop-shadow(0 0 1px rgba(0, 0, 0, 0.15) inset);
    border-radius: 5px;
    padding: 8px;
    width: 95%;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    @include placeholder(#bbb);
    resize: none;
    @include transition(all, .3s);
    &.error {
      @include drop-shadow(0 0 3px rgba(202, 71, 76, .8));
      border-color: #6F1316;
    }
    &:focus {
      border-color: rgba(82, 168, 236, 0.8);
      background: #fff;
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      @include drop-shadow(0 0 3px rgba(82, 168, 236, .5));
    }
    &#offerText {
      height: 65px;
    }
    &#businessName_address {
      width: 250px;
      float: left;
    }
  }

  .field-hint {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;

    display: block;
    opacity: 0;
    visibility: hidden;
    height: 0;

    @include transition(all, .3s);

    &.visible {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
    .counter {
      font-weight: bold;
      &.warning {
        color: #DC8616;
      }
      &.exceeded {
        color: #D40D12;
      }
    }
  }

  .search-matches-btn {
    @extend .grey-button;
    float: right;
    margin-left: 5px;
    margin-top: 3px;
    padding: 10px;
  }

  .nextStep {
    @extend .orange-button;
    border: 1px solid #ae680e;
    display: inline-block;
    font-size: 18px;
    padding: 6px 15px;
    margin-bottom: 5px;
  }

  .signupMap-wrapper {
    margin-bottom: 15px;
  }



  .hidden-fields {
    display: none;
  }

  .matches-list {
    margin-top: 5px;
    .match {
      position: relative;
      z-index: 111;
      padding: 10px 5px 8px;
      @include custom-gradient(#e6e6e6, #f6f6f6, #e6e6e6);
      border-top: 1px solid #d8d8d8;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      &.selected {
        z-index: 222;
        @include custom-gradient(#a9d7f5, #daeefb, #a9d7f5);
        @include double-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 0 #7fa2b8);
        border-top: 1px solid #7fa2b8;
        border-left: 1px solid #7fa2b8;
        border-right: 1px solid #7fa2b8;
      }
      &.first {
        border-radius: 5px 5px 0 0;
      }
      &.last {
        border-radius: 0 0 5px 5px;
      }
    }
    .match-label {
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
      cursor: pointer;
      display: inline-block;
      margin-left: 3px;
    }
  }

  #business_category_chzn {
    width: 100% !important;
    .chzn-drop {
      width: 338px !important;
    }
    .chzn-single {
      padding-top: 5px;
      padding-bottom: 4px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
      @include drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
      @include custom-gradient(#f0f0f0, #fff, #f0f0f0);
      border: 1px solid #bfccde;
      margin-top: 5px;
      b {
        position: relative;
        top: 4px;
      }
    }
    .chzn-drop {
      color: #bbb;
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
      @include bordered(0px, transparent, 1px, #bfccde, 1px, #bfccde, 1px, #bfccde);
    }
    .chzn-results {
      margin: 0;
      padding: 0;
      @include custom-gradient(#f0f0f0, #f0f0f0, #e9eff6);
      border-radius: 0 0 3px 3px;
    }
  }

  #signupCarousel {
    @include transition(all, .3s);
    margin: 0;
    padding: 20px;
    overflow: hidden;
    &.overflow_visible {
      overflow: visible;
    }
    .carousel-inner {
      overflow: visible;
    }
  }

  .createFor-user {
    .create-option {
      display: inline-block;
      margin: 3px 15px 3px 0;
      &.gplaces {
        margin: 0;
      }
      .create-label {
        font-size: 15px;
        font-weight: bold;
        position: relative;
        top: 6px;
        cursor: pointer;
      }
    }
    .bootstrap-checkbox {
      display: inline-block;
      background: #f4f4f4;
      @include drop-shadow(inset 0 0 3px rgba(0, 0, 0, 0.3));
      @include transition(all, .3s);
      width: 18px;
      height: 18px;
      border: none;
      border-radius: 3px;
      &:hover {
        background: #fff;
      }
      &:active {
        @include drop-shadow(inset 0 0 5px rgba(0, 0, 0, 0.4));
      }
      &.active {
        background: url(../assets/check.png) no-repeat #f4f4f4;
      }
    }
  }
}

;

