@import "scss/_mixins.scss";

#signinModal {
  overflow: visible;
  width: 380px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -191px;
  margin-top: 5px;
  background: #fff;
  .signinModal_inner {
    padding: 20px 20px 0px;
  }
  .signin_circle_wrapper {
    width: 150px;
    height: 150px;
    margin: 20px auto 0;

    @include border-radius(75px);
    @include padding-box();
    @include custom-shadow(
      inset 0 3px 0 rgba(255,255,255,.7) /* inner shadow */,
      0 0 0 1px #afafaf /* outer stroke */);
    @include custom-gradient(#e5e5e5, #d5d5d5, #f5f5f5);
    .signin_inner_circle {
      width: 110px;
      height: 110px;
      margin: 0 auto;
      position: relative;
      top: 22px;

      @include border-radius(55px);
      @include padding-box();
      @include custom-shadow(
        0 1px 3px rgba(0,0,0,.25) /* drop shadow */,
        inset 0 4px 10px rgba(0,0,0,.3)) /* inner shadow */;
      @include custom-gradient(#ff9b2d, #ffab4c, #d98526);
      &:before {
        content: "";
        display: block;
        background: url('../assets/big_logo.png') no-repeat;
        width: 105px;
        height: 130px;
        position: absolute;
        top: -8px;
        left: 3px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: url(../assets/signin_circle_shadow.png) no-repeat;
        width: 168px;
        height: 68px;
        bottom: -50px;
        left: -30px;
        z-index: -1;
      }
    }
  }
  .signin_headline {
    text-align: center;
    margin: 15px 0;
  }

  .signin_form {
    position: relative;
    width: 280px;
    margin: 20px auto;
    .submit_signin {
      position: absolute;
      right: 0;
      width: 66px;
      height: 66px;
      border: none;
      z-index: 22;
      float: right;
      @include border-radius(33px);
      @include padding-box();
      @include custom-shadow(0 1px 2px rgba(0,0,0,.6) /* drop shadow */,
        inset 0 1px 0 rgba(255,255,255,.25) /* inner shadow */,
        inset 0 0 2px rgba(0,0,0,.07) /* inner glow */,
        0 0 0 1px #ae680d /* outer stroke */);
      @include custom-gradient(#ff9b2d, #edad59, #db8516);
      @include transition(all, .5s);

      &:after {
        content: "";
        display: block;
        position: absolute;
        background: url(../assets/login-key.png) no-repeat;
        width: 84px;
        height: 68px;
        top: 0;
        left: -8px;
      }
      &:hover {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        @include custom-gradient(#ff9b2d, #f4c78e, #db8516);

      }
      &:active {
        @include custom-shadow(	0 1px 0 #fff /* drop shadow */,
        inset 0 1px 6px rgba(0,0,0,.7) /* inner shadow */,
        inset 0 0 2px rgba(0,0,0,.07) /* inner glow */,
        0 0 0 1px #ae680d /* outer stroke */);
      }
    }
    .signin_fields {
      float: left;
      position: relative;
      @include drop-shadow(0 1px 0 #fff);
    }
  }
  .forgot_password, .back_to_login {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    float: right;
    color: #b6b6b6;
    margin: 3px 0;
    &:hover {
      color: #ff9b2d;
    }
  }
  .signin_field {
    background: #fcfcfc;
    color: #777;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-right: none;
    display: block;
    position: relative;
    z-index: 11;
    padding: 8px 0 7px 36px;
    width: 203px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    @include drop-shadow(inset 0 1px 2px rgba(0,0,0,.15));
    &.signin_email {
      border-radius: 5px 0 0 0;
    }
    &.signin_password {
      top: -1px;
      border-radius: 0 0 0 5px;
    }
    &.forgot_email {
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      float: left;
    }
    &:focus {
      z-index: 12;
      background: #fff;
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      @include drop-shadow(0 0 3px rgba(82, 168, 236, .8));
    }
  }
  .forgot_div {
    display: none;
    .back_to_login {
      float: none;
      display: inline-block;
      margin: 4px 0 15px;
    }
  }
  .forgot_form {
    position: relative;
    .reset_password {
      float: left;
      margin-left: 10px;
      margin-top: 1px;
      @include border-radius(5px);
      @include padding-box();
      @include custom-shadow(0 1px 2px rgba(0,0,0,.6) /* drop shadow */,
        inset 0 1px 0 rgba(255,255,255,.25) /* inner shadow */,
        inset 0 0 2px rgba(0,0,0,.07) /* inner glow */,
        0 0 0 1px #ae680d /* outer stroke */);
      @include custom-gradient(#ff9b2d, #edad59, #db8516);
      @include transition(all, .5s);
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0,0,0,0.2);
      padding: 7px 20px;
      &:hover {
        @include custom-gradient(#ff9b2d, #f4c78e, #db8516);
      }
      &:active {
        @include custom-shadow(	0 1px 0 #fff /* drop shadow */,
        inset 0 1px 4px rgba(0,0,0,.5) /* inner shadow */,
        inset 0 0 2px rgba(0,0,0,.07) /* inner glow */,
        0 0 0 1px #ae680d /* outer stroke */);
      }
    }

  }
  .notification_message {
    display: none;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    &.success {
      color: #1b9021;
    }
  }
  .signin_footer {
    padding: 12px 20px;
    background-color: #efefef; /* layer fill content */
    @include double-shadow(
        0 -1px 0 #dadada /* drop shadow */,
      inset 0 1px 3px rgba(0,0,0,.1)) /* inner shadow */;
    border-radius: 0 0 6px 6px;
    .signin_signupButton {
      font-size: 16px;
      text-shadow: 0 1px 2px rgba(0,0,0,.2); /* drop shadow */
      font-weight: bold;
      color: #fff;
      text-align: center;
      display: block;
      float: right;
      padding-top: 5px;
      width: 100px;
      height: 27px;
      @include border-radius(5px);
      @include padding-box();
      @include custom-shadow(
        0 1px 1px rgba(0,0,0,.25) /* drop shadow */,
        inset 0 2px 0 rgba(255,255,255,.1) /* inner shadow */,
        inset 0 0 0 1px rgba(0,0,0,.25)); /* inner glow */
      @include custom-gradient(#84b756, #c1db83, #48932d);
      &:hover {
        @include custom-gradient(#84b756, #d6eaa3, #48932d);
      }
      &:active {
        @include custom-shadow(
          0 1px 0 rgba(255,255,255,.25) /* drop shadow */,
          inset 0 1px 5px rgba(0,0,0,.7) /* inner shadow */,
          inset 0 0 0 1px rgba(0,0,0,.25)); /* inner glow */
      }
    }
    .signin_footer_headline {
      float: right;
      margin: 4px 10px 0 0;
    }
  }
  .icon {
    background: url(../assets/icons-sprite.png) no-repeat;
    display:block;
    position: absolute;
    z-index: 13;
    &.i-email {
      width: 20px;
      height: 16px;
      top: 9px;
      left: 9px;
    }
    &.i-password {
      width: 12px;
      height: 16px;
      background-position: -20px 0;
      bottom: 10px;
      left: 12px;
    }
  }
  .signinServices {
    margin-bottom: 0;
  }
  .post_on_social {
    margin: 15px 0;
  }
  .post_on_title {
      float: left;
      margin-right: 15px;
      margin-top: 12px;
  }
}