// sass --watch ./:../css


@import "scss/_mixins.scss";


.dashboard {
  position: relative;
  .content {
    padding-top: 20px;
  }

  //Offers styles
  .offers-wrapper {
    float: left;
    width: 560px;
    margin-right: 20px;
    position: relative;
  }

  .hint {
    &.hint-filter {
      margin-bottom: 10px;
      @include double-shadow(0 -25px 0 #fff, 0 5px 0 #fff);
    }

    &.hint-count {
      display: none;
      @include double-shadow(0 -25px 0 #fff, 0 5px 0 #fff);
      .count {
        font-weight: bold;
      }
    }

    &.hint-gomobile {
      width: 358px;
    }
  }

  .offers-filters {
    top: 60px;
    position: fixed;
    width: 560px;
    z-index: 222;
    .offers-filters-inner {
      border-radius: 5px 5px 0 0;
      @include custom-gradient(#f5f7f8, #f5f7f8, #e9ecf0);
      border: 1px solid #bfccde;
      @include double-shadow(0 1px 3px rgba(0, 0, 0, 0.1), 0 -25px 0 #fff);
      height: 38px;
    }
    .filter-wrapper {
      float: left;
      padding: 7px 0 0 4px;
    }
    .when-filter-wrapper {
      .chzn-single {
        width: 105px;
      }
      .chzn-drop, .chzn-container {
        width: 113px !important;
      }
    }
    .where-filter-wrapper {
      .where-input {
        @extend .text-field;
        margin-top: 1px;
        margin-left: 2px;
        width: 97px;
        padding: 4px 5px 3px;
      }
    }
    .distance-filter-wrapper {
      .chzn-single {
        width: 100px;
      }
      .chzn-drop, .chzn-container {
        width: 108px !important;
      }
    }

    .chzn-single {
      border-radius: 3px;
      font-size: 11px;
      font-weight: 500;
      color: #686a6b;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
      @include drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
      @include custom-gradient(#f0f0f0, #fff, #f0f0f0);
      border: 1px solid #bfccde;
    }
    .chzn-drop {
      font-size: 11px;
      color: #686a6b;
      font-weight: 500;
      @include bordered(0px, transparent, 1px, #bfccde, 1px, #bfccde, 1px, #bfccde);
    }
    .chzn-results {
      margin: 0;
      padding: 0;
      @include custom-gradient(#f0f0f0, #f0f0f0, #e9eff6);
      border-radius: 0 0 3px 3px;
    }

    .offers-type-filters {
      float: right;
      padding: 9px 0 0 0;
      li {
        float: left;
        margin-right: 4px;
      }
      .offer-type-filter {
        display: block;
        width: 22px;
        height: 23px;
        background: url(../assets/dash_sprite.png) no-repeat;
        opacity: .7;
        &:hover {
          opacity: 1;
        }
        &.all-offer {
          background-position: -205px -40px;
          &.active {
            background-position: -205px -63px;
            opacity: 1;
          }
        }
        &.free-offer {
          background-position: 0 -40px;
          &.active {
            background-position: 0 -63px;
            opacity: 1;
          }
        }
        &.food-offer {
          background-position: -22px -40px;
          &.active {
            background-position: -22px -63px;
            opacity: 1;
          }
        }
        &.shop-offer {
          background-position: -44px -40px;
          &.active {
            background-position: -44px -63px;
            opacity: 1;
          }
        }
        &.fun-offer {
          background-position: -66px -40px;
          &.active {
            background-position: -66px -63px;
            opacity: 1;
          }
        }
        &.drink-offer {
          background-position: -88px -40px;
          &.active {
            background-position: -88px -63px;
            opacity: 1;
          }
        }
        &.service-offer {
          background-position: -110px -40px;
          &.active {
            background-position: -110px -63px;
            opacity: 1;
          }
        }
        &.look-offer {
          background-position: -132px -40px;
          &.active {
            background-position: -132px -63px;
            opacity: 1;
          }
        }
      }
    }
  }
  .offers-list {
    position: relative;
    padding-top: 125px;
    z-index: 11;
    .offer-item-wrapper {
      &:first-child .offer-item {
        @include drop-shadow(none);
        &.expanded {
          margin-top: 0;
          border-top: none;
        }
      }
      &.v2 {
        .offer-item  {
          .offer-description {
            p {
              width: 90%;
            }
          }
          .add_to_fav {
            position: absolute;
            width: 48px;
            height: 23px;
            border: 1px solid #c2ccd5;
            border-radius: 3px;
            @include custom-gradient(#ddd, #fff, #e0e0e0);
            @include custom-shadow(0 1px 2px rgba(0,0,0,0.1));
            right: 8px;
            top: 67px;
            &.active {
              border: 1px solid #96a9ba;
              @include custom-shadow(inset 0 0 4px rgba(115, 136, 156, .7)) /* inner shadow */;
              .star{
                background-position: 0 -16px;
                &:hover {
                  background-position: -16px -16px;
                }
                &:active {
                  background-position: -32px -16px;
                }
              }
            }
            .star {
              position: relative;
              left: 16px;
              top: 3px;
            }
          }

          .buy_button {
            display: block;
            position: absolute;
            top: 10px;
            right: 8px;
            width: 48px;
            height: 48px;
            border: 1px solid #c2ccd5;
            border-radius: 3px;
            @include custom-gradient(#ddd, #fff, #e0e0e0);
            @include custom-shadow(0 1px 2px rgba(0,0,0,0.1));
            color: #73889c;
            text-align: center;
            line-height: 14px;
            b {
              font-weight: bold;
              position: relative;
              display: block;
            }
            i {
              font-style: normal;
            }
            &.buy_coupon, &.get_voucher {
              b{
                font-size: 16px;
                margin-top: 11px;
                text-transform: uppercase;
              }
              i{
                font-size: 12px;
              }
            }
            &.use_special {
              b{
                font-size: 16px;
                margin-top: 11px;
              }
              i{
                font-size: 12px;
              }
            }
            &.reserve {
              b{
                font-size: 12px;
                margin-top: 9px;
              }
              i{
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
          &:hover, &.expanded {
            .buy_button {
                @include custom-gradient(#dc8616, #f0b568, #dc8616);
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
                color: #fff;
                border: 1px solid #ae680e;
            }
          }
        }
      }
    }
    .offer-item {
      -moz-transition-property: all;
      -webkit-transition-property: all;
      -o-transition-property: all;
      -moz-transition-duration: .3s;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;

      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      background: #f7f9fc;
      @include bordered(0px, transparent, 1px, #bfccde, 1px, #bfccde, 1px, #bfccde);
      @include drop-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.75));
      position: relative;
      cursor: pointer;
      a {
        color: #008ad7;
      }
      .offer-top-actions {
        position: absolute;
        top: 0;
        right: 10px;
      }
      .redeem-offer {
        float: left;
        margin-right: 8px;
        padding: 7px 15px 6px;
        color: #73879b; /* text color */
        font-weight: bold;
        background: #fff;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkN2RmZTkiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CjxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjYWViY2QwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgo8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDFkYWU2IiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
        background-image: -moz-linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        background-image: -o-linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        background-image: -webkit-linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        background-image: linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        @include custom-shadow(inset 0 0 0 1px rgba(255, 255, 255, .08) /* inner glow */, 0 0 0 1px rgba(160, 160, 160, .45) /* outer stroke */);
        border-radius: 0 0 3px 3px;
      }
      .favorite-offer {
        background: #fff;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkN2RmZTkiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CjxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjYWViY2QwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgo8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDFkYWU2IiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
        background-image: -moz-linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        background-image: -o-linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        background-image: -webkit-linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        background-image: linear-gradient(90deg, rgba(216, 223, 233, .4) 0%, rgba(175, 189, 208, .4) 52.73%, rgba(231, 234, 239, .4) 82.62%, rgba(209, 218, 230, .4) 100%); /* gradient fill */
        @include custom-shadow(inset 0 0 0 1px rgba(255, 255, 255, .08) /* inner glow */, 0 0 0 1px rgba(160, 160, 160, .45) /* outer stroke */);
        width: 26px;
        height: 22px;
        display: block;
        float: left;
        text-align: center;
        padding-top: 6px;
        border-radius: 0 0 3px 3px;

      }
      .offer-small-details {
        padding: 9px 0 4px 9px;
        float: left;
        width: 50px;
        font-size: 9px;
        text-align: center;
        color: #73889C;
        font-weight: bold;
      }

      .offer-description {
        padding: 9px 9px 4px 0;
        width: 450px;
        float: left;
        margin-left: 10px;
        p {
          margin: 3px 0 5px;
          font-size: 15px;
          line-height: 20px;
        }
        .offer-name {
          font-size: 14px;
          font-weight: normal;
          a {
            color: #73889C;
          }
        }
        .offer-actions-wrapper {
          padding-top: 4px;
          a:hover {
            text-decoration: underline;
          }
          i {
            display: inline-block;
            zoom: 1;
            vertical-align: text-top;
            background: url(../assets/web-icons-sprite.png) no-repeat;
            position: relative;
            margin-right: 5px;
          }
        }
        .details {
          float: left;
          .expand-offer {
            color: #7b7c7d;
          }
          .collapse-offer {
            display: none;
          }
          .i-expand-offer {
            background-position: 0 0;
            width: 6px;
            height: 11px;
            top: 2px;
          }

        }
        .offer-actions {
          @include transition(all, .3s);
          //opacity: 0;
          //height: 0;
          //visibility: hidden;
          display: none;
          float: left;
          li {
            float: left;
            margin-left: 8px;
          }
          .i-like {
            width: 10px;
            height: 11px;
            background-position: -18px 0;
            top: 1px;
          }
          .i-tweet {
            width: 14px;
            height: 11px;
            background-position: -28px 0;
            top: 1px;
          }
          .i-email {
            width: 15px;
            height: 11px;
            background-position: -42px 0;
            top: 1px;
          }
          .i-gplus {
            width: 11px;
            height: 11px;
            background-position: -57px 0;
            top: 2px;
          }
          .i-iphone {
            top: 2px;
            width: 7px;
            height: 12px;
            background-position: -81px 0;
          }
        }
      }
      .merchant-details {
        @include transition(all, .3s);
        //opacity: 0;
        //height: 0;
        //visibility: hidden;
        display: none;
        cursor: default;
        padding-top: 4px;
        clear: both;
        text-align: center;
        border-top: 1px solid #bfccde;
        @include drop-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.15));
        .i-view-more {
          display: inline-block;
          width: 13px;
          height: 11px;
          background: url(../assets/web-icons-sprite.png) no-repeat -68px 0;
          position: relative;
          top: 1px;
        }
      }
      .more-offer-details {
        @include transition(all, .3s);
        //opacity: 0;
        //height: 0;
        //visibility: hidden;
        display: none;
        font-weight: bold;
        font-size: 12px;
        color: #73889C;
        i {
          display: inline-block;
          background: url(../assets/web-icons-sprite.png) no-repeat;
          position: relative;
        }
        b {
          font-weight: 500;
          color: #73889C;
        }
        .offer-address {
          color: #73889C;
          b {
            text-decoration: underline;
          }
          .i-address {
            background-position: 0 -12px;
            width: 16px;
            height: 16px;
            top: 3px;
          }
          &:hover {
            b {
              color: #008AD7;
            }
            .i-address {
              background-position: -72px -27px;
            }
          }

        }
        .i-calendar {
          width: 13px;
          height: 16px;
          background-position: -16px -12px;
          top: 3px;
          margin-right: 3px;
        }
        .i-clock {
          margin-left: 5px;
          width: 13px;
          height: 13px;
          background-position: -29px -12px;
          top: 2px;
        }
        .i-phone {
          width: 13px;
          height: 13px;
          background-position: -42px -12px;
          top: 2px;
          margin-left: 5px;
        }
      }
      &:hover {
        background: #fff;
        .offer-actions {
          visibility: visible;
          opacity: 1;
          height: auto;
        }

        .redeem-offer {
          color: #fff; /* text color */
          text-shadow: 0 1px 2px rgba(0, 0, 0, .25); /* drop shadow */
          font-weight: bold;
          background: #fff;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYjg1MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2Y2YmI2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkYWQ1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient fill */
          background-image: -moz-linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */
          background-image: -o-linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */
          background-image: -webkit-linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */
          background-image: linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */

          background-color: #fff; /* layer fill content */

          @include custom-shadow(0 1px 1px rgba(0, 0, 0, .15) /* drop shadow */, 0 0 0 1px #e39a3b /* outer stroke */);
        }

        .details {
          .expand-offer {
            color: #008AD7;
            .i-expand-offer {
              background-position: -6px 0;
            }
          }
        }
        .offer-actions {
          display: block;
        }
      }
      &.expanded {
        margin: 12px 0;
        background: #fff;
        border-top: 1px solid #bfccde;
        .details {
          .expand-offer {
            display: none;
          }
          .collapse-offer {
            display: block;
          }
          .i-collapse-offer {
            background-position: -12px -1px;
            width: 6px;
            height: 11px;
            top: 2px;
          }
        }
        .offer-actions {
          display: block;
        }
        .redeem-offer {
          color: #fff; /* text color */
          text-shadow: 0 1px 2px rgba(0, 0, 0, .25); /* drop shadow */
          font-weight: bold;
          background: #fff;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYjg1MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2Y2YmI2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkYWQ1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient fill */
          background-image: -moz-linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */
          background-image: -o-linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */
          background-image: -webkit-linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */
          background-image: linear-gradient(90deg, #db8516 0%, #f6bb6f 78.25%, #edad59 100%); /* gradient fill */

          background-color: #fff; /* layer fill content */

          @include custom-shadow(0 1px 1px rgba(0, 0, 0, .15) /* drop shadow */, 0 0 0 1px #e39a3b /* outer stroke */);
        }
        .merchant-details {
          display: block;
          min-height: 20px;
          transition-delay: 0s;
        }
        .more-offer-details {
          display: block;
          margin-bottom: 10px;
          transition-delay: 0s;
          .offer-address {
            margin: 10px 0 0px 0;
          }
        }
      }
      &.after-expanded {
        border-top: 1px solid #bfccde;
      }
    }
  }
  //End of offers styles

  .right-sidebar {
    float: right;
    position: relative;
    width: 380px;

    .fixed-sidebar-wrapper {
      position: fixed;
      top: 60px;
      width: 380px;
    }
    .map-wrapper {
      background: #e9ecf0;
      padding: 9px 9px 6px 9px;
      border: 1px solid #bfccde;
      border-radius: 5px;
      @include drop-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.75));
      .google-frame {
        border-radius: 5px;
        border: 1px solid #bfccde;
      }
    }


    .call-to-action-downloads {
      .call-to-action {
        float: left;
        height: 58px;
        font-weight: 500px;
        font-size: 16px;
        padding: 10px 10px 0 15px;
        position: relative;
        @include transition(all, .3s);
        b {
          font-size: 22px;
          font-weight: 700;
          display: block;
        }
        i {
          display: inline-block;
          position: absolute;
          right: 10px;
          background: url(../assets/store-icons.png) no-repeat;
        }
        &.apple-appstore {
          color: #fff;
          border: 1px solid #000;
          border-radius: 5px 0 0 5px;
          @include custom-gradient(#424242, #424242, #262626);
          @include double-shadow(0 1px 2px rgba(0, 0, 0, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.25));
          width: 155px;
          &:hover {
            @include custom-gradient(#646464, #646464, #262626);
          }
          &:active {
            @include double-shadow(0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 8px rgba(0, 0, 0, 0.8));
          }
          .i-appstore {
            width: 24px;
            height: 43px;
            top: 13px;
            background-position: 0 0;
          }
        }
        &.android-appstore {
          color: #565f64;
          border: 1px solid #d4e5e8;
          border-radius: 0 5px 5px 0;
          @include custom-gradient(#dfebed, #f7f7f7, #dfebed);
          @include double-shadow(0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25));
          width: 171px;
          &:hover {
            @include custom-gradient(#dfebed, #fff, #dfebed);
          }
          &:active {
            @include double-shadow(0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 6px rgba(0, 0, 0, 0.7));
          }
          .i-googleplay {
            width: 42px;
            height: 44px;
            background-position: -24px 0;
            top: 13px;
            right: 6px;
          }
        }
      }
    }
  }
}