@import "scss/_mixins.scss";
.mobile_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -36px;
}

.mobile_body {
  font-size: 16px;
  &.start_page {
    padding-bottom: 0.563em;
    .start_msg {
      @include border-radius(3px);
      background-color: #fff; /* layer fill content */
      @include custom-gradient(0 1px 2px rgba(0, 0, 0, .15)); /* drop shadow */
      @include custom-gradient(#f0f3f7, #fff, #f0f3f7);
      text-align: center;
      padding: 5px 0 7px;
      margin-top: 15px;
      margin-bottom: 18px;
      border: 1px solid #bfccde;
      position: relative;
      color: #6c7881;
      font-size: 1em;
      &:before {
        background: url("../assets/start_msg_triangle.png") no-repeat scroll center bottom transparent;
        bottom: -12px;
        content: "";
        display: block;
        height: 12px;
        position: absolute;
        width: 100%;
      }
      .orange {
        color: #e18d2e;
      }
    }
    .select_holder {
      font-size: 16px;
      width: 50%;
      height: 25px;
      float: left;
      margin-bottom: 15px;
      .chzn-container {
        font-size: 13px;
        font-weight: bold;
        position: relative;
        width: 99% !important;
      }
      .chzn-drop {
        width: 99.8% !important;
      }
    }
    .grid_cell {
      width: 25%;
      float: left;
      position: relative;
      margin-bottom: 1em;
      .aspect_ratio {
        margin-top: 100%; /* keep the ratio square */
      }
      .cell_content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        .filter_icon {
          width: 85%;
          height: 85%;
          margin: 0 auto;
          border-radius: 5px;
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        .icon_label {
          text-align: center;
          font-size: .8em;
          font-weight: bold;
          color: #6c92af;
          margin-top: 3px;
        }
      }
      &.all {
        .filter_icon {
          @include custom-shadow(0 1px 2px rgba(0, 0, 0, .4) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .25) /* inner shadow */, 0 0 0 1px #ae680d /* outer stroke */);
          @include custom-gradient(#db8516, #edad59, #db8516);
          &:after {
            background: url(../assets/filter_all.png) no-repeat center center;
          }
        }
      }
      &.eat {
        .filter_icon {
          @include custom-shadow(0 2px 0 rgba(255, 255, 255, .8) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .25) /* inner shadow */, 0 0 0 1px #416011 /* outer stroke */);
          @include custom-gradient(#73a527, #73a527, #577c1e);
          &:after {
            background: url(../assets/filter_eat.png) no-repeat center center;
          }
        }
      }
      &.drink {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #0970a6 /* outer stroke */);
          @include custom-gradient(#15a7f3, #15a7f3, #0a89cd);
          &:after {
            background: url(../assets/filter_drink.png) no-repeat center center;
          }
        }
      }
      &.shop {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .25) /* inner shadow */, 0 0 0 1px #c3af2d /* outer stroke */);
          @include custom-gradient(#fd0, #fd0, #dac32b);
          &:after {
            background: url(../assets/filter_shop.png) no-repeat center center;
          }
        }
      }
      &.fun {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #86000c /* outer stroke */);
          @include custom-gradient(#e70015, #e70015, #b50011);
          &:after {
            background: url(../assets/filter_fun.png) no-repeat center center;
          }
        }
      }
      &.look {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #352d86 /* outer stroke */);
          @include custom-gradient(#7b75bd, #7b75bd, #554ea1);
          &:after {
            background: url(../assets/filter_spa.png) no-repeat center center;
          }
        }
      }
      &.service {
        .filter_icon {
          @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #6b6b6b /* outer stroke */);
          @include custom-gradient(#a7a7a7, #a7a7a7, #858585);
          &:after {
            background: url(../assets/filter_service.png) no-repeat center center;
          }
        }
      }
      &.tourism {
        .filter_icon {
          @include custom-shadow(0 1px 2px rgba(0, 0, 0, .6) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .2) /* inner shadow */, 0 0 0 1px #043480 /* outer stroke */);
          @include custom-gradient(#115fd9, #115fd9, #0c449b);
          &:after {
            background: url(../assets/filter_tourism.png) no-repeat center center;
          }
        }
      }
    }
  }
}

.mobile_push {
  height: 36px;
}

.mobile_footer {
  height: 36px;
  background-color: #ff9b2d; /* layer fill content */
  @include custom-shadow(0 -1px 1px rgba(0, 0, 0, .1) /* drop shadow */, inset 0 1px 0 rgba(255, 255, 255, .6) /* inner shadow */, 0 0 0 1px #f19d3f /* outer stroke */);
  @include custom-gradient(#feaa4c, #feaa4c, #d17f25);
  position:absolute; z-index:2;
  bottom:-60px; left:0;
  width:100%;
  padding:0;
  .footer_links {
    height: 100%;
  }
  .footer_link {
    float: right;
    height: 100%;
    &>a {
      display: block;
      width: 46px;
      text-align: center;
    }
    &.dd_trigger {
      position: relative;
      &.post_offer {
        float: left;
        padding: 0 15px;
        .footer_post_offer {
          width: auto;
          position: relative;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          text-shadow: 0 1px 1px rgba(0,0,0,0.25);
          top: 8px;
        }
      }
      &.active {
        background-color: #ff9b2d; /* layer fill content */
        @include custom-shadow(inset 0 0 6px rgba(0, 0, 0, .45)); /* inner shadow */
        @include custom-gradient(#feaa4c, #d17f25, #feaa4c);
      }
      .dd_list {
        display: none;
        position: absolute;
        width: 170px;
        z-index: 9999;
        background-color: #f29d3f; /* layer fill content */
        border-radius: 4px 4px 0 0;
        border-top: 1px solid #d58327;
        border-left: 1px solid #d58327;
        border-right: 1px solid #d58327;
        @include drop-shadow(0 -1px 2px rgba(0, 0, 0, .4));
        &.more_dropdown {
          top: -98px;
          left: -126px;
        }
        &.post_offer_dropdown {
          top: -67px;
          left: 0px;
        }
        li {
          border-bottom: 1px solid #d58327;
          @include drop-shadow(0 1px 0 rgba(255, 255, 255, .25) /* drop shadow */);
          padding: 9px 0 6px 11px;
          &:last-child {
            @include drop-shadow(none);
          }
        }
        a {
          font-size: 14px;
          color: #fff;
          font-weight: bold;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .25); /* drop shadow */
        }
      }
    }
  }
  .icon {
    display: inline-block;
    background: url(../assets/mobile_start_sprite.png) no-repeat;
    position: relative;
    top: 15px;
    &.icon_twitter {
      width: 34px;
      height: 25px;
      background-position: 0 0;
    }
    &.icon_fb {
      width: 13px;
      height: 26px;
      background-position: -34px 0;
    }
    &.icon_more {
      width: 29px;
      height: 24px;
      background-position: -47px 0;
    }
  }
}

.modal-fullscreen {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: url(../assets/mobile_modal_pattern.png) repeat;
  z-index: 1050;
  margin: 0;
  border-radius: 0px;
  border: none;
  position: fixed; /* Display modal in the centre of your screen */
  overflow-y: scroll; /*  Ensure that the modal is scroll-able */
  -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS  */
  .modal_inner {
    padding: 15px;
    position: relative;
    .forgot_div {
      display: none;
    }
    .close {
      @extend .orange-button;
      right: 6px;
      top: 6px;
      position: absolute;
      width: 22px;
      height: 22px;
      font-size: 15px;
      position: absolute;
      z-index: 222;
    }
    .modal_title {
      color: #e59132;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .15); /* drop shadow */
      text-align: center;
      font-size: 24px;
    }
    .modal_input {
      display: block;
      width: 100%;
      height: 34px;
      @include border-radius(3px);
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */
      background-color: #fff; /* layer fill content */
      @include custom-shadow(0 1px 0 rgba(255, 255, 255, .6) /* drop shadow */, inset 0 0 3px rgba(0, 0, 0, .45) /* inner shadow */);
      border: none;
      margin: 10px 0;
      font-size: 14px;
      font-weight: bold;
      padding: 2px 8px 0;
    }
    .modal_call_to_action {
      @extend .orange-button;
      border: 1px solid #bf711a;
      text-align: center;
      display: block;
      width: 100%;
      padding: 9px 0 7px;
      font-size: 16px;
      font-weight: bold;
      .set_location {
        display: inline-block;
        width: 12px;
        height: 18px;
        background: url(../assets/white_pin.png) no-repeat;
        position: relative;
        top: 4px;
      }
      .key {
        display: inline-block;
        width: 11px;
        height: 18px;
        background: url(../assets/white_key.png) no-repeat;
        position: relative;
        top: 4px;
      }
    }
    .forgot_password, .back_to_login {
      color: #9f9f9f;
      font-size: 13px;
      font-style: italic;
      font-weight: bold;
      margin-top: 8px;
      display: inline-block;
    }
    .signinServices {
        margin-top: 10px;
        .serviceButton  {
            width: 49%;
            float: left;
            margin-right: 2%;
            margin-bottom :8px;
            &.service-twitter, &.service-yahoo {
                margin-right: 0;
            }
        }
    }
    .post_on_title {
        font-size: 18px;
        color: #9f9f9f;
    }
    .signin_footer {
        padding: 5px 0 0 0;
        .signin_signupButton {
          font-size: 16px;
          text-shadow: 0 1px 2px rgba(0,0,0,.2); /* drop shadow */
          font-weight: bold;
          color: #fff;
          text-align: center;
          display: block;
          float: left;
          padding-top: 5px;
          width: 100px;
          height: 27px;
          @include border-radius(5px);
          @include padding-box();
          @include custom-shadow(
            0 1px 1px rgba(0,0,0,.25) /* drop shadow */,
            inset 0 2px 0 rgba(255,255,255,.1) /* inner shadow */,
            inset 0 0 0 1px rgba(0,0,0,.25)); /* inner glow */
          @include custom-gradient(#84b756, #c1db83, #48932d);
          &:hover {
            @include custom-gradient(#84b756, #d6eaa3, #48932d);
          }
          &:active {
            @include custom-shadow(
              0 1px 0 rgba(255,255,255,.25) /* drop shadow */,
              inset 0 1px 5px rgba(0,0,0,.7) /* inner shadow */,
              inset 0 0 0 1px rgba(0,0,0,.25)); /* inner glow */
          }
        }
        .signin_footer_headline {
          float: left;
          margin: 7px 8px 0 0;
          color: #9f9f9f;
          font-size: 16px;
        }
      }
  }
  .cancel_button {
    display: block;
    width: 94%;
    margin-left: 3%;
    padding: 7px 0;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    border: 1px solid black;
    border-radius: (5px);
    background-color: #fff; /* layer fill content */
    @include custom-shadow(0 2px 3px rgba(0, 0, 0, .1) /* drop shadow */, inset 0 0 0 1px rgba(115, 136, 156, .45) /* inner shadow */);
    @include custom-gradient(#fdfbfb, #fdfbfb, #eaeaea);
    position: absolute;
    bottom: 15px;
    color: #6c7881;
    .cancel {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url(../assets/cancel_icon.png) no-repeat;
      position: relative;
    }
  }
  &#account_settings {
    .settings_subsection {
      margin: 8px 0 15px;
    }
    .subsection_title {
      font-size: 16px;
    }
    .double_field {
      .modal_input {
        width: 50%;
        float: left;
        &:first-child {
          border-radius: 3px 0 0 3px;
        }
        &:last-child {
          border-radius: 0 3px 3px 0;
        }
      }
    }
    .gender_select {
      width: 100%;
    }
  }

}
;