@import "scss/_mixins.scss";
.mobile_body {
  font-size: 16px;
  &.merchant_page {
    color: #73879b; /* text color */
    .merchant_details_wrapper {
      margin-top: 12px;
      position: relative;
      @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .75) /* inner shadow */, 0 0 0 1px #beccde /* outer stroke */, 0 1px 3px rgba(0,0,0,.3));
      @include border-radius(4px);
    }
    .merchant_details_inner {
      padding: 12px 10px 8px;
    }
    .merchant_name {
      color: #e08d2d; /* text color */
      text-shadow: 0 1px 0 rgba(255, 255, 255, .2); /* drop shadow */
      font-size: 18px;
    }
    .merchant_categories {
      font-size: 13px;
      font-weight: normal;
    }
    .more-offer-details {
      font-weight: bold;
      font-size: 14px;
      color: #73889C;
      width: 85%;
      min-height: 110px;
      line-height: 20px;
      i {
        display: inline-block;
        background: url(../assets/web-icons-sprite.png) no-repeat;
        position: relative;
      }
      b {
        font-weight: 500;
        color: #73889C;
      }
      .offer-address {
        display: inline-block;
        color: #73889C;
        margin: 6px 0;
        b {
          text-decoration: underline;
        }
        .i-address {
          background-position: 0 -12px;
          width: 16px;
          height: 16px;
          top: 3px;
        }
        &:hover {
          b {
            color: #008AD7;
          }
          .i-address {
            background-position: -72px -27px;
          }
        }
      }
      .offer-url {
        display: inline-block;
        text-decoration: underline;
        color: #73889C;
        margin-right: 3px;
      }
      .offer-working-hours {
        display: inline-block;
      }
      .offer-phone {
        display: block;
        margin: 6px 0;
      }
      .twitter-profile {
        display: inline-block;
      }
      .i-calendar {
        width: 13px;
        height: 16px;
        background-position: -16px -12px;
        top: 3px;
        margin-right: 3px;
      }
      .i-clock {
        margin-left: 5px;
        width: 13px;
        height: 13px;
        background-position: -29px -12px;
        top: 2px;
      }
      .i-phone {
        width: 13px;
        height: 13px;
        background-position: -42px -12px;
        top: 2px;
        margin-right: 5px;
      }
      .i-url {
        background-position: -63px -12px;
        height: 12px;
        left: 1px;
        margin-right: 4px;
        top: 1px;
        width: 12px;
      }
      .i-twitter_profile {
        background-position: -48px -30px;
        height: 15px;
        margin-right: 1px;
        top: 3px;
        width: 16px;
      }
    }
    .offer-actions-wrapper {
      padding-top: 2px;
      text-align: center;
      a:hover {
        text-decoration: underline;
      }
      i {
        display: inline-block;
        zoom: 1;
        vertical-align: text-top;
        background: url(../assets/mobile_merchant_sprite.png) no-repeat;
        position: relative;
        margin-right: 5px;
      }
      .share {
        float: left;
      }
    }
    .social_bar {
      margin: 10px auto 0;
      width: 270px;
      li {
        float: left;
        width: 42px;
        height: 42px;
        margin-right: 15px;
        &.gplus_wrapper {
          background: url(../assets/gplus_wrapper.png) no-repeat center center;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 5px;
        width: 32px;
        height: 32px;
        @include border-radius(32px);
        @include custom-gradient(#fdfefe, #fdfefe, #f8f9f9);
        &.tweet {
          @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(123,229,247,0.75));
        }
        &.like_fb {
          @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(59,89,152,0.6));
        }
        &.gplus {
          @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65));
        }
        &.email {
          @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(158,223,172,0.65));
        }
        &.phone {
          @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(249,164,70,0.45));
          .sms {
            position: relative;
            font-size: 10px;
            color: #7f7f7f;
            font-weight: bold;
            top: 3px;
          }
        }
      }
      .icon {
        display: inline-block;
        position: relative;
        background: url(../assets/mobile_nearby_sprite.png) no-repeat;
        &.twitter {
          width: 17px;
          height: 14px;
          background-position: -50px 0;
          top: 7px;
        }
        &.fb {
          width: 11px;
          height: 17px;
          background-position: -39px 0;
          top: 8px;
        }
        &.envelope {
          width: 14px;
          height: 13px;
          background-position: -11px 0;
          top: 7px;
        }
        &.plus {
          width: 14px;
          height: 15px;
          background-position: -25px 0;
          top: 7px;
        }
      }
    }

    .nav-tabs {
      li {
        margin: 0;
        width: 14.2857142857143%;
        border-top: 1px solid #bfccde;
        border-bottom: 1px solid #bfccde;
        @include drop-shadow(1px 0 0 #bfccde);
        &.active {
          @include custom-shadow(-1px 0 0 #bfccde, 1px 0 0 #bfccde);
        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      &#selling_point_tabs {
        a {
          background: url(../assets/merchant_sprite.png) no-repeat;
        }
        li {
          &:first-child {
            border-radius: 5px 0 0 0;
            margin-left: 0;
            @include custom-shadow(-1px 0 0 #bfccde, 1px 0 0 #bfccde);
            &:after {
              border-radius: 5px 0 0 0;
            }
          }
          &:last-child {
            border-radius: 0 5px 0 0;
            &:after {
              border-radius: 0 5px 0 0;
            }
          }
          &.about_us {
            &:after {
              @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #bc6d16 /* outer stroke */);
              @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
            }
            a {
              width: 21px;
              height: 21px;
              background-position: 0 0;
            }
          }
          &.why_visit {
            &:after {
              @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #bc6d16 /* outer stroke */);
              @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
            }
            a {
              width: 26px;
              height: 23px;
              background-position: 0 -68px;

            }
          }
          &.best_thing {
            &:after {
              @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #bc6d16 /* outer stroke */);
              @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
            }
            a {
              width: 23px;
              height: 23px;
              background-position: 0 -45px;
            }
          }
          &.featured_review {
            &:after {
              @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #bc6d16 /* outer stroke */);
              @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
            }
            a {
              width: 17px;
              height: 24px;
              background-position: 0 -21px;
            }
          }
        }
      }
      &#mercahnt_offers_tabs {
        a {
          font-size: 13px;
          font-weight: bold;
          color: #73889c;
        }
      }
    }

    .tab-content {
      overflow: hidden;
      &.selling_points_content {
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 1px;
        border-radius: 0 4px 4px 4px;
      }
      &.merchant_offers_content {
        .offer {
          border-bottom: 1px solid #bfccde;
          padding: 8px 15px;
          &:last-child {
            border: none;
          }
          .offer-type {
            float: left;
            margin-right: 15px;
          }
          .offer-text {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            .offer-time {
              display: inline-block;
              position: relative;
              padding-left: 17px;
              margin-right: 10px;
              font-style: italic;
              color: #E08D2D;
              &:after {
                position: absolute;
                left: 0;
                top: 4px;
                content: "";
                display: inline-block;
                width: 13px;
                height: 12px;
                background: url(../assets/merchant_sprite.png) no-repeat -34px 0;
              }
            }
            .redeem_offer {
              @extend .orange-button;
              font-size: 14px;
              width: 90%;
              float: left;
              position: relative;
              padding: 4px 0 5px;
              border: 1px solid #ae680e;
            }
            .offer-actions-wrapper {
              font-size: 12px;
            }
            .offer-actions {
              float: left;
              display: none;
            }
          }
          &:hover {
            background: #fafafa;
            .offer-actions {
              display: block;
            }
          }
        }
      }
      &.selling_points_content {
        @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .75) /* inner shadow */, 0 0 0 1px #beccde /* outer stroke */, 0 1px 3px rgba(0,0,0,.3));
      }
    }

    .offer-actions {
      text-align: center;
      margin-top: 5px;
      li {
        display: inline-block;
        margin-left: 8px;
        font-size: 12px;
      }
      .i-like {
        width: 13px;
        height: 13px;
        background-position: 0 0;
        top: 1px;
      }
      .i-tweet {
        width: 15px;
        height: 13px;
        background-position: -13px 0;
        top: 1px;
      }
      .i-email {
        width: 18px;
        height: 13px;
        background-position: -28px 0;
        top: 2px;
      }
      .i-gplus {
        width: 14px;
        height: 13px;
        background-position: -46px 0;
        top: 1px;
      }
    }
    .merchant_actions {
      position: absolute;
      right: 10px;
      top: 60px;
    }
    .show_gallery {
      @include blue-button(10px, 0, 9px, 0);
      display: block;
      text-align: center;
      font-size: 14px;
      margin: 15px 0;
    }
    .merchant_gallery_wrapper {
      display: none;
      padding: 10px;
      @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .75) /* inner shadow */, 0 0 0 1px #beccde /* outer stroke */, 0 1px 3px rgba(0,0,0,.3));
      margin: 15px 0;
      @include border-radius(4px);

      .merchant_gallery {
        margin: 0;
      }
      img {
        width: 100%;
      }
    }
    .merchant_map_wrapper {
      @include border-radius(5px);
      @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .75) /* inner shadow */, 0 0 0 1px #beccde /* outer stroke */, 0 1px 3px rgba(0,0,0,.3));
      padding: 9px;
      margin: 15px 0;
      .merchant_map {
        @include border-radius(5px);
        @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .75) /* inner shadow */, 0 0 0 1px #beccde /* outer stroke */);
        line-height: 9px;
        img {
          width: 100%;
        }
      }
      .merchant_map_fields {
        margin-top: 10px;
        .merchant_input {
          height: 30px;
          padding: 0 8px;
          @include border-radius(3px);
          background-color: rgba(255, 255, 255, .85); /* layer fill content */
          @include custom-shadow(0 1px 0 rgba(255, 255, 255, .65) /* drop shadow */, inset 0 0 3px #73879b);
          border: none;
          margin-left: -1px;
          float: left;
          width: 77%;
        }
        .get_directions {
          float: right;
          width: 15%;
          margin-left: 1%;
        }
      }
    }
    .mobile_fb_like_cover {
      background: url('/assets/mobile_merchant_fb.png') no-repeat center center;
    }
    #redeem-offer-popup{
      top:100%;
      width:auto;
      left:50%;
      margin: -250px 0 0 -280px;
    }
  }
}

;