@import "scss/_mixins.scss";
/* styles for iphone only */
.iphone_ua {
  .nearby_page {
    /* adding padding at the bottom to hide the address bar */
    padding-bottom: 60px;
  }
}

.mobile_body {
  &.nearby_page {
    .nearby_map_wrapper {
      bottom: 0;
      float: left;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .nearby_offer_wrapper {
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%;
      background: url(../assets/nearby_offer_pattern.png) repeat;
      border-top: 1px solid #bfbfbf;
      @include drop-shadow(inset 0 1px 0 rgba(255,255,255,0.3));
      @include custom-shadow(0 -1px 2px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.3));
      padding: 9px 0 18px;
      display: none;

      .nearby_offer_inner {
        padding: 0 6px;
        width: auto;
        .list_item {
          padding: 0;
          border: none;
          .offer-distance {
            top: 0;
          }
        }
        .social_bar {
          margin: 10px auto;
          width: 290px;
          li {
            float: left;
            width: 42px;
            height: 42px;
            margin-right: 20px;
            &.gplus_wrapper {
              background: url(../assets/gplus_wrapper.png) no-repeat center center;
            }
            &:last-child {
              margin-right: 0;
            }
          }
          a {
            display: block;
            margin: 0 auto;
            position: relative;
            text-align: center;
            top: 5px;
            width: 32px;
            height: 32px;
            @include border-radius(32px);
            @include custom-gradient(#fdfefe, #fdfefe, #f8f9f9);
            &.tweet {
              @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(123,229,247,0.75));
            }
            &.like_fb {
              @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(59,89,152,0.6));
            }
            &.gplus {
              @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65));
            }
            &.email {
              @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(158,223,172,0.65));
            }
            &.phone {
              @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(249,164,70,0.45));
              .sms {
                position: relative;
                font-size: 10px;
                color: #7f7f7f;
                font-weight: bold;
                top: 6px;
              }
            }
          }
          .icon {
            display: inline-block;
            position: relative;
            background: url(../assets/mobile_nearby_sprite.png) no-repeat;
            &.twitter {
              width: 17px;
              height: 14px;
              background-position: -50px 0;
              top: 10px;
            }
            &.fb {
              width: 11px;
              height: 17px;
              background-position: -39px 0;
              top: 8px;
            }
            &.envelope {
              width: 14px;
              height: 13px;
              background-position: -11px 0;
              top: 10px;
            }
            &.plus {
              width: 14px;
              height: 15px;
              background-position: -25px 0;
              top: 9px;
            }
          }
        }
        .nearby_offer_footer {
          .offer_nav{
            width: 11px;
            height: 17px;
            float: left;
            background: url(../assets/mobile_nearby_sprite.png) no-repeat;
            position: relative;
            top: 7px;
            &.prev_offer {
              background-position: -67px 0;
              margin-left: 8px;
            }
            &.next_offer {
              background-position: -78px 0;
              float: right;
              margin-right: 8px;
            }
          }
          .redeem_offer {
            @extend .orange-button;
            font-size: 14px;
            float: left;
            width: 80%;
            position: relative;
            margin-left: 3%;
            margin-bottom: 3px;
            padding: 8px 0 9px;
            border: 1px solid #ae680e;
          }
        }
      }
    }
  }
}
;