// sass --watch ./:../css

@import "_reset.scss";
@import "_mixins.scss";
@import "_general.scss";
@import "_header.scss";
@import "_footer.scss";
@import "page_merchant_admin";
@import "libs/_chosen.scss";
@import "libs/_iphone_style_checkboxes.scss";

.acount_settings {
  .admin_subsection {
    float: left;
    margin-right: 25px;
    &.social-info {
      margin-right: 0;
      .signinServices {
        width: 160px;
        .serviceButton {
          margin-bottom: 12px;
        }
      }
    }
    .field_wr {
      width: 100%;
    }
    width: 280px;

    .admin_text_field{
      &.full {
        width: 240px;
      }
    }
  }
}