// sass --watch ./:../css

@import "scss/_mixins.scss";

.merchant_page {
  text-shadow: 0 1px 0 white;
  #container {
    padding-top: 65px;
  }
  .left_side {
    float: left;
    width: 540px;
    margin-right: 20px;

    .hero_photo {
      @include drop-shadow(0 1px 3px rgba(0, 0, 0, .5));
      line-height: 9px;
      position: relative;
      img {
        /* 4:3 proportions for all photos */
        width: 538px;
        height: 405px;
      }
      .hero_photo_overlay {
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
        width: 498px;
        background: rgba(0, 0, 0, 0.4);
      }
      .hero_photo_title {
        color: #e9ecf0;
        font-size: 20px;
        text-shadow: 0 1px 2px #003364; /* drop shadow */
      }
      .hero_photo_subtitle {
        font-size: 12px;
        font-weight: regular;
        color: #e9ecf0;
        text-shadow: 0 1px 1px rgba(0, 51, 100, .4); /* drop shadow */
        margin: 10px 0;
      }
      .hero_tagline {
        font-size: 18px;
        font-weight: normal;
        font-style: italic;
        color: #e9ecf0;
        text-shadow: 0 1px 2px #003364; /* drop shadow */
        line-height: 20px;
      }
    }
    .merchant_offers {
      margin: 25px 0;
    }
    .nav-tabs {
      li {
        width: 76px;
        border: 1px solid #bfccde;
        margin-left: -1px;
        &:first-child {
          border-radius: 5px 0 0 0;
          margin-left: 0;
          &:after {
            border-radius: 5px 0 0 0;
          }
        }
        &:last-child {
          border-radius: 0 5px 0 0;
          &:after {
            border-radius: 0 5px 0 0;
          }
        }
      }
      &#selling_point_tabs {
        a {
          background: url(../assets/merchant_sprite.png) no-repeat;
        }
        li {
          &:after {
             @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #bc6d16 /* outer stroke */);
             @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
          }
          &.hero_photo_link {
            a{
              width: 30px;
              height: 22px;
              background-position: -25px -37px;
            }
          }
          &.about_us {
            a {
              width: 21px;
              height: 21px;
              background-position: 0 0;
            }
          }
          &.why_visit {
            a {
              width: 26px;
              height: 23px;
              background-position: 0 -68px;

            }
          }
          &.best_thing {
            a {
              width: 23px;
              height: 23px;
              background-position: 0 -45px;
            }
          }
          &.featured_review {
            a {
              width: 17px;
              height: 24px;
              background-position: 0 -21px;
            }
          }
        }
      }
      &#mercahnt_offers_tabs {
        a {
          font-size: 16px;
          font-weight: bold;
          color: #73889c;
        }
      }
    }
    .tab-content {
        border: 1px solid #bfccde;
        overflow: inherit;
        &.selling_points_content {
        font-size: 14px;
        .tab-pane {
          padding: 10px 15px;
          &#hero_tab {
            padding: 0;
          }
        }
      }
      &.merchant_offers_content {
        .offer {
          border-bottom: 1px solid #bfccde;
          padding: 8px 15px;
          &:last-child {
            border: none;
          }
          .offer-type {
            float: left;
            margin-right: 15px;
          }
          .offer-text {
            float: left;
            width: 400px;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            .redeem_offer {
              text-decoration:underline;
            }
            .offer-time {
              display: inline-block;
              position: relative;
              padding-left: 17px;
              margin-right: 10px;
              font-style: italic;
              &:after {
                position: absolute;
                left: 0;
                top: 3px;
                content: "";
                display: inline-block;
                width: 13px;
                height: 13px;
                background: url(../assets/merchant_sprite.png) no-repeat -21px 0;
              }
            }
            .offer-actions-wrapper {
              font-size: 12px;
            }
            .offer-actions {
              float: left;
              display: none;
            }
          }
          .buy_button {
            float: left;
            width: 48px;
            height: 48px;
            border: 1px solid #c2ccd5;
            border-radius: 3px;
            @include custom-gradient(#f3f3f3, #fefefe, #f3f3f3);
            @include custom-shadow(0 1px 2px rgba(0,0,0,0.1));
            color: #73889c;
            text-align: center;
            line-height: 14px;
            b {
              font-weight: bold;
              position: relative;
              display: block;
            }
            i {
              font-style: normal;
            }
            &.buy_coupon, &.get_voucher {
              b{
                font-size: 16px;
                margin-top: 11px;
              }
              i{
                font-size: 12px;
              }
            }
            &.get_redeem {
              b{
                font-size: 12px;
                margin-top: 11px;
              }
              i{
                font-size: 11px;
                font-weight: bold;
              }
            }
            &.reserve {
              b{
                font-size: 12px;
                margin-top: 9px;
              }
              i{
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
          &:hover {
            background: #fafafa;
            .offer-actions {
              display: block;
            }
            .buy_button {
                @include custom-gradient(#dc8616, #f0b568, #dc8616);
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
                color: #fff;
                border: 1px solid #ae680e;
            }
          }
        }
      }
    }
  }
  .add_to_fav {
    display: block;
    position: relative;
    float: right;
    color: #73879b; /* text color */
    font-size: 12px;
    font-weight: bold;
    padding-top: 8px;
    width: 115px;
    padding-left: 35px;
    height: 22px;
    margin-top: 5px;
    @include border-radius(3px);
    @include padding-box();
    @include custom-shadow(0 1px 0px rgba(0, 0, 0, .05) /* drop shadow */, inset 0 0 0 1px rgba(115, 136, 156, .45)) /* inner shadow */;
    @include custom-gradient(#fdfefe, #fdfefe, #f8f9f9);
    &:before {
      content: "";
      display: block;
      position: absolute;
      background: url(../assets/fav-sprite.png) no-repeat 0 0;
      width: 16px;
      height: 16px;
      left: 8px;
      top: 7px;
    }
    &:hover {
      @include custom-gradient(#fdfefe, #fdfefe, #eaeaea);
      &:before {
        background-position: -16px 0;
      }
    }
    &:active {
      @include custom-shadow(0 1px 0 #fff /* drop shadow */, inset 0 0 0 1px rgba(115, 136, 156, .45) /* stroke */, inset 0 1px 3px rgba(115, 136, 156, .65)) /* inner shadow */;
      &:before {
        background-position: -32px 0;
      }
    }
    .remove {
      display: none;
    }
    &.favorited {
      @include custom-shadow(0 1px 0 #fff /* drop shadow */, inset 0 0 0 1px rgba(115, 136, 156, .45) /* stroke */, inset 0 0 6px rgba(115, 136, 156, 1)) /* inner shadow */;
      text-shadow: none;
      .remove {
        display: block;
      }
      .add {
        display: none;
      }
      &:before {
        background-position: 0 -16px;
      }
      &:hover {
        &:before {
          background-position: -16px -16px;
        }
      }
      &:active {
        @include custom-shadow(0 1px 0 #fff /* drop shadow */, inset 0 0 0 1px rgba(115, 136, 156, .45) /* stroke */, inset 0 0 10px rgba(115, 136, 156, 1)) /* inner shadow */;
        &:before {
          background-position: -32px -16px;
        }
      }
    }
  }
  .right_side {
    float: left;
    width: 400px;
    .merchant_map_wrapper {
      @include border-radius(5px);
      border: 1px solid #bfccde;
      padding: 9px;
      .merchant_map {
        @include border-radius(5px);
        @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .75) /* inner shadow */, 0 0 0 1px #beccde /* outer stroke */);
        line-height: 9px;
      }
      .merchant_map_fields {
        margin-top: 10px;
        .merchant_input {
          @include border-radius(5px);
          border: none;
          background: #fff; /* layer fill content */
          @include custom-shadow(0 1px 0 rgba(255, 255, 255, .65) /* drop shadow */, inset 0 0 3px rgba(19, 75, 149, .6)) /* inner shadow */;
          padding: 9px 8px 7px;
          width: 254px;
          float: left;
          margin-right: 10px;
          outline: none;
        }
        .get_directions_button {
          color: #73889c; /* text color */
          float: left;
          @extend .admin-button;
          padding: 7px 8px;
        }
      }
    }
    .merchant_details_wrapper {
      @include border-radius(5px);
      border: 1px solid #bfccde;
      margin-bottom: 20px;
      padding: 10px 0;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        position: absolute;
        top: 0;
        @include custom-shadow(inset 0 1px 0 rgba(255, 255, 255, .4) /* inner shadow */, 0 0 0 1px #bc6d16 /* outer stroke */);
        @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
        @include border-radius(5px 5px 0 0);
      }
      .merchant_details_inner {
        padding: 0 10px;
        .more-offer-details {
          font-weight: bold;
          font-size: 14px;
          color: #73889C;
          width: 350px;
          i {
            display: inline-block;
            background: url(../assets/web-icons-sprite.png) no-repeat;
            position: relative;
          }
          b {
            font-weight: 500;
            color: #73889C;
          }
          .offer-address {
            display: inline-block;
            color: #73889C;
            margin: 6px 0;
            b {
              text-decoration: underline;
            }
            .i-address {
              background-position: 0 -12px;
              width: 16px;
              height: 16px;
              top: 3px;
            }
            &:hover {
              b {
                color: #008AD7;
              }
              .i-address {
                background-position: -72px -27px;
              }
            }
          }
          .offer-url {
            display: inline-block;
            text-decoration: underline;
            color: #73889C;
            margin: 6px 0;
          }
          .i-calendar {
            width: 13px;
            height: 16px;
            background-position: -16px -12px;
            top: 3px;
            margin-right: 3px;
          }
          .i-clock {
            margin-left: 5px;
            width: 13px;
            height: 13px;
            background-position: -29px -12px;
            top: 2px;
          }
          .i-phone {
            width: 13px;
            height: 13px;
            background-position: -42px -12px;
            top: 2px;
            margin-left: 5px;
          }
          .i-url {
            background-position: -63px -12px;
            height: 12px;
            left: 1px;
            margin-right: 8px;
            top: 1px;
            width: 12px;
          }
          .i-twitter_profile {
            background-position: -48px -30px;
            height: 15px;
            margin-left: 4px;
            margin-right: 4px;
            top: 3px;
            width: 16px;
          }
        }
      }
      .merchant_ratings {
        margin: 10px 0;
        .yelp_rating {
          float: left;
          margin-right: 15px;
          position: relative;
          top: 8px;
        }
        .google_place_rating {
          float: left;
        }
      }
    }
    .section_title {
      float: left;
    }
    .invite-merchant-wrapper {
      margin-top: 25px;
    }
  }
  .section_title {
    font-size: 18px;
    font-weight: bold;
    color: #73889c;
    margin: 5px 0;
  }

  .offer-actions-wrapper {
    padding-top: 2px;
    text-align: center;
    a:hover {
      text-decoration: underline;
    }
    i {
      display: inline-block;
      zoom: 1;
      vertical-align: text-top;
      background: url(../assets/web-icons-sprite.png) no-repeat;
      position: relative;
      margin-right: 5px;
    }
    .share {
      float: left;
    }
  }

  .offer-actions {
    text-align: center;
    float: left;
    display: none;
    li {
      float: left;
      margin-left: 8px;
    }
    .i-like {
      width: 10px;
      height: 11px;
      background-position: -18px 0;
      top: 1px;
    }
    .i-tweet {
      width: 14px;
      height: 11px;
      background-position: -28px 0;
      top: 1px;
    }
    .i-email {
      width: 15px;
      height: 11px;
      background-position: -42px 0;
      top: 1px;
    }
    .i-gplus {
      width: 11px;
      height: 11px;
      background-position: -57px 0;
      top: 2px;
    }
    .i-iphone {
      top: 2px;
      width: 7px;
      height: 12px;
      background-position: -81px 0;
    }
    .i-fav {
      width: 10px;
      height: 10px;
      background-position: -78px -12px;
      top: 2px;
      margin-right: 3px;
    }
  }
}

;