@import "_reset.scss";
@import "_mixins.scss";
@import "_general.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_nice_tables.scss";

#container {
  padding-top: 45px;
}

.list-wrapper {
  width: 938px;
  margin: 0 auto;
  background: #f0f3f6;
  border: 1px solid #bfccde;
  padding: 19px;
  border-radius: 5px;
  margin-top: 20px;

  .add_merchant {
    float: right;
    @include blue-button(5px, 6px, 5px, 6px);
    margin: 8px 0;
  }

  .search-fields {
    margin: 10px 0;
    &>div {
      float: left;
    }
    .id {
      width: 49px;
    }
    .name {
      width: 133px;
    }
    .contact {
      width: 163px;
    }
    .phone {
      width: 88px;
    }
    .email {
      width: 171px;
    }
    .paddress {
      width: 334px;
      input[type=submit] {
        float: right;
        @include blue-button(5px, 6px, 5px, 6px);
        margin-left: 10px;
      }
    }

    input[type=text] {
      border: 1px solid #bfccde;
      @include double-shadow(0 1px 0 white, inset 0 1px 3px rgba(0, 67, 159, 0.2));
      padding: 0 9px;
      position: relative;
      outline: none;
      height: 25px;
      &#merchant_merchant_id {
        border-radius: 5px 0 0 5px;
      }
      &#merchant_primary_address {
        width: 249px;
        float: left;
        border-radius: 0 5px 5px 0;
      }
      &:focus {
        outline: none;
      }
    }
  }

  #merchant_list {
    width: 938px;
    td {
      .id_cell {
        width: 36px;
      }
      .name_cell {
        width: 97px;
      }
      .contact_cell {
        width: 158;
      }
      .phone_cell {
        width: 81px;
      }
      .email_cell {
        width: 170px;
      }
      .paddress_cell {
        width: 290px;
      }
    }
  }

  .pagination {
    float: left;
    margin-top: 8px;
    .previous_page, a, .gap, em {
      text-shadow: 0 1px 0 white;
      float: left;
      width: 25px;
      height: 21px;
      text-align: center;
      padding-top: 4px;
      margin-right: 5px;
      font-weight: 500;
      font-style: normal;
      &.disabled {
        opacity: .5;
      }
    }
    a {
      border: 1px solid #bfccde;
      border-radius: 5px;
      @include custom-gradient(#f5f7f8, #f5f7f8, #e9ecf0);
      @include drop-shadow(0 1px 0 rgba(255, 255, 255, 1));
      color: #717171;
      &:hover {
        @include custom-gradient(#f0f1f3, #fff, #f0f1f3);
      }
      &:active {
        @include double-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 1));
      }
    }
    em {
      border: 1px solid #47638a;
      border-radius: 5px;
      @include custom-gradient(#718db6, #718db6, #92a8c7);
      @include double-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 1));
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }
    .previous_page {
      border: 1px solid #bfccde;
      border-radius: 5px;
      @include custom-gradient(#f5f7f8, #f5f7f8, #e9ecf0);

      &:before {
        content: url(../assets/arrow-left.png);
      }
    }
    .next_page {
      &:before {
        content: url(../assets/arrow-right.png);
      }
    }
  }
}