@import "scss/_mixins.scss";
.merchant_list_body {
  -webkit-overflow-scrolling : auto;
}

.list_items_wrapper {
  padding: 0;
  position: absolute;
  width: 100%;
  .list_item_wrapper {
    position: relative;
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
  }
  .list_actions {
    position: absolute;
    top: -1px;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(../assets/nearby_offer_pattern.png) repeat #f9f9f9;
    border-top: 1px solid #BFCCDE;
  }
  .social_bar {
    margin: 10px auto 7px;
    width: 290px;
    li {
      float: left;
      width: 42px;
      height: 42px;
      margin-right: 20px;
      &.gplus_wrapper {
        background: url(../assets/gplus_wrapper.png) no-repeat center center;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      text-align: center;
      top: 5px;
      width: 32px;
      height: 32px;
      @include border-radius(32px);
      @include custom-gradient(#fdfefe, #fdfefe, #f8f9f9);
      &.tweet {
        @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(123,229,247,0.75));
      }
      &.like_fb {
        @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(59,89,152,0.6));
      }
      &.gplus {
        @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65));
      }
      &.email {
        @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(158,223,172,0.65));
      }
      &.phone {
        @include custom-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.65), 0 0 0 5px rgba(249,164,70,0.45));
        .sms {
          position: relative;
          font-size: 10px;
          color: #7f7f7f;
          font-weight: bold;
          top: 7px;
        }
      }
    }
    .icon {
      display: inline-block;
      position: relative;
      background: url(../assets/mobile_nearby_sprite.png) no-repeat;
      &.twitter {
        width: 17px;
        height: 14px;
        background-position: -50px 0;
        top: 10px;
      }
      &.fb {
        width: 11px;
        height: 17px;
        background-position: -39px 0;
        top: 8px;
      }
      &.envelope {
        width: 14px;
        height: 13px;
        background-position: -11px 0;
        top: 10px;
      }
      &.plus {
        width: 14px;
        height: 15px;
        background-position: -25px 0;
        top: 9px;
      }
    }
  }
  .list_actions_footer  {
    width: 90%;
    margin: 0 auto;
    .redeem_offer {
      @extend .orange-button;
      font-size: 14px;
      width: 84%;
      float: left;
      position: relative;
      padding: 4px 0 5px;
      border: 1px solid #ae680e;
    }
    .fav {
      float: left;
      margin-left: 10px;
    }
  }

}
;