if (typeof app === "object"){
  setTimeout(
    function(){
      app.options.set({
        loggedIn: <%= current_user.present? %>
      });
    }, 0);
};
$('#signinModal').modal("hide");

Login.onLogin();