<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
  <%= render :partial => "shared/nav_home" %>
<h2><%= t("devise.confirmations.new") %></h2>
<div class="ui-body ui-body-d">

  <div class="box">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="input"><%= f.email_field :email, "placeholder" => t('users.sign_up.email') %></div>
      <%= f.submit t("devise.confirmations.new"), "data-theme" => "e" %>
    <% end %>
  </div>
  <%= render "links_mobile" %>

</div>