<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
  <%= render :partial => "shared/nav_home" %>
<div class="ui-body ui-body-d">
  <h2><%= t("devise.confirmations.new") %></h2>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="box">
      <%= devise_error_messages! %>
      <div class="input">
      <%= f.email_field :email %> 
      </div>
      <div class="input" style="margin-right: 0px;">
      <%= f.submit t("devise.confirmations.new"),"data-them" => "e" %>
      </div>
    <% end %>
    <%= render "links_mobile" %>
  </div>  

</div>
