<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
<%= render :partial => "shared/nav_home" %>
<h2><%= t("form.edit") %> <%= resource_name.to_s.humanize %></h2>
<div class="ui-body ui-body-d">
  <div class="box">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email %>
      </div>

      <%= f.label :password %> <i>(<%= t("form.passwordchangehelp") %>)</i>
      <div class="input">
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>

      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.label :current_password %> <i>(<%= t("form.passwordhelp") %>)</i>
      <div class="input">
        <%= f.password_field :current_password %>
      </div>

      <%= f.submit t("form.update"),"data-theme" => "e" %>
    <% end %>

    <h3><%= t("form.cancelaccount") %></h3>

    <p><%= t("form.unhappy") %> <%= link_to t("form.cancelaccount"), registration_path(resource_name), :confirm => t("form.confirmdelete"), :method => :delete %>.</p>

    <%= link_to t("form.back"), :back %>
  </div>
</div>
