
<script type="text/javascript">
    $(document).ready(function (){
        var view = new Yak.Account_Setting();
        view.render();
        $('#account_setting').html(view.el);
        $("#user_id").val("<%= @user.id %>");
        $("#user_email").val("<%= @user.email %>");
        $("#user_password").val("<%= @user.password %>");
        $("#user_mobile_number").val("<%= @user.mobile_number %>");
        var gender = '' ;
        gender = '<%= @user.gender %>';
//        alert(gender)
        if(gender == 'true')
        {
            $("#gender_dd").val('Female');
        }
        else if(gender == 'false') {
            $("#gender_dd").val('Male');}
        else {
            $("#gender_dd").val('--');
        }
        var facebook_name = '', twitter_name = '',yahoo_name = '', gplus_name ='';
        facebook_name = '<%= @user.facebook_name %>';
        if(facebook_name != '')  {
            document.getElementById('facebook_connected').style.display='block';
            document.getElementById('facebook_connect').style.display='none';
        }
        twitter_name = '<%= @user.twitter_name %>';
        if(twitter_name != '')  {
            document.getElementById('twitter_connected').style.display='block';
            document.getElementById('twitter_connect').style.display='none';
        }
        yahoo_name = '<%= @user.yahoo_name %>';
        if(yahoo_name != '')  {
            document.getElementById('yahoo_connected').style.display='block';
            document.getElementById('yahoo_connect').style.display='none';
        }
        gplus_name = '<%= @user.google_name %>';
        if(gplus_name != '')  {
            document.getElementById('gplus_connected').style.display='block';
            document.getElementById('gplus_connect').style.display='none';
        }


        $("#address_line_one").val("<%= @user.address_line1 %>");
        $("#address_line_two").val("<%= @user.address_line2 %>");
        $("#city_field").val("<%= @user.city_name %>");
        $("#state_field").val("<%= @user.state_province_region %>");
        $("#postal_code_field").val("<%= @user.postal_code %>");
        $("#country_field").val("<%= @user.country %>");



    });
</script>

<div class="wrapper clearfix">
  <div class="admin_inner " id="account_setting">

  </div>
</div>