.footer {
    padding-top: 20px;
    .social {
        float:left;
        li {
            float: left;
            margin-right: 15px;
            a {
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
            }
            b {
                font-weight: bold;
            }
            i {
                display: inline-block;
                position: relative;
                background: url(../assets/layout/web-icons-sprite.png) no-repeat;
                width: 16px;
                height: 16px;
                top: 2px;
                margin-right: 4px;
            }
            .twitter {
                color: #33ccff;
                .i-social-twitter {
                    background-position: 0 -28px;
                }
            }
            .facebook {
                color: #133783;
                .i-social-facebook {
                    background-position: -16px -28px;
                }
            }
        }
    }
    .misc-info {
        padding-top: 5px;
        font-size: 11px;
        float: right;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}