@import "_mixins.css.scss";
.header {
    height: 40px;
    @include custom-gradient(#ffab4c, #ffab4c, #dc8729);
    @include double-shadow(0 1px 3px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.3));
    position: fixed;
    width: 100%;
    z-index: 555;

    a {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
        &:hover {
            text-shadow: 0 0px 10px rgba(255,255,255,0.5);
        }
    }

    .logo {
        float: left;
        text-indent: -9999px;
        background: url(../assets/layout/logo.png) no-repeat;
        position:relative;
        top: 7px;
        a {
            display: block;
            width: 66px;
            height: 27px;
        }
    }

    .main-navigation {
        float: right;
        padding-top: 3px;
        .main-navigation-link {
            font-size: 15px;
            font-weight: 500;
            float: left;
            padding: 8px 29px 8px 20px;
            background: url(../assets/layout/main-nav-sepa.png) no-repeat right center;
            &.last {
                padding: 8px 0 8px 20px;
                background: none;
            }
            &.active {
                a {
                    padding-bottom: 19px;
                    background: url(../assets/layout/main-nav-active.png) no-repeat center bottom;
                }
            }
        }
    }
}