@mixin custom-gradient($color: #F5F5F5, $stop: #EEE, $start: #FFF) {
    background: $color;
    background: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0, $start),
                color-stop(1, $stop));
    background: -ms-linear-gradient(bottom,
                $start,
                $stop);
    background: -moz-linear-gradient(center bottom,
                $start 0%,
                $stop 100%);
}

@mixin drop-shadow($shadow1) {
    -webkit-box-shadow: $shadow1;
    -moz-box-shadow: $shadow1;
    box-shadow: $shadow1;
}

@mixin double-shadow($shadow1, $shadow2) {
    -webkit-box-shadow: $shadow1, $shadow2;
    -moz-box-shadow: $shadow1, $shadow2;
    box-shadow: $shadow1, $shadow2;
}

@mixin bordered($top-width: 1px, $top-color: #EEE, $right-width: 1px,  $right-color: #EEE, $bottom-width: 1px, $bottom-color: #EEE, $left-width: 1px, $left-color: #EEE) {
  border-top: solid $top-width $top-color;
  border-left: solid $left-width $left-color;
  border-right: solid $right-width $right-color;
  border-bottom: solid $bottom-width $bottom-color;
}

@mixin transition($property, $duration) {
    -moz-transition: $property $duration;
    -webkit-transition: $property $duration;
    -o-transition: $property $duration;
}

@mixin blue-button($padding-top: 0, $padding-right: 0, $padding-bottom: 0, $padding-left: 0) {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    @include double-shadow(0 2px 0 rgba(255,255,255,0.4), inset 0 1px 0 rgba(255,255,255,0.25));
    @include custom-gradient(#718db6, #92a8c7, #718db6);
    border-radius: 5px;
    border: 1px solid #47638a;
    padding: $padding-top $padding-right $padding-bottom $padding-left;
    &:hover {
        @include custom-gradient(#a8bad3, #a8bad3, #718db6);
    }
    &:active {
        @include double-shadow(inset 0 1px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,1));
    }
}