// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {width: 100%; height: 275px;}
/* merchant*/
.list-wrapper {
    width: 938px;
    margin: 0 auto;
    background: #f0f3f6;
    border: 1px solid #bfccde;
    padding: 19px 19px 50px 19px;
    border-radius: 5px;
    margin-top: 45px; 
}
form {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.list-wrapper .add_merchant:hover {
    background: #a8bad3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #718db6), color-stop(1, #a8bad3));
    background: -ms-linear-gradient(bottom, #718db6, #a8bad3);
    background: -moz-linear-gradient(center bottom, #718db6 0%, #a8bad3 100%); }
.list-wrapper .add_merchant:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white; }
.list-wrapper .search-fields {
margin: 10px 0; }
.list-wrapper .search-fields > div {
    float: left; }
.list-wrapper .search-fields .id {
width: 49px; }
.list-wrapper .search-fields .name {
width: 133px; }
.list-wrapper .search-fields .contact {
width: 163px; }
.list-wrapper .search-fields .phone {
width: 88px; }
.list-wrapper .search-fields .email {
width: 171px; }
.list-wrapper .search-fields .paddress {
width: 334px; }
.list-wrapper .search-fields .paddress input[type=submit] {
    float: right;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    background: #718db6;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #718db6), color-stop(1, #92a8c7));
    background: -ms-linear-gradient(bottom, #718db6, #92a8c7);
    background: -moz-linear-gradient(center bottom, #718db6 0%, #92a8c7 100%);
    border-radius: 5px;
    border: 1px solid #47638a;
    padding: 5px 6px 5px 6px;
margin-left: 10px; }
.list-wrapper .search-fields .paddress input[type=submit]:hover {
    background: #a8bad3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #718db6), color-stop(1, #a8bad3));
    background: -ms-linear-gradient(bottom, #718db6, #a8bad3);
    background: -moz-linear-gradient(center bottom, #718db6 0%, #a8bad3 100%); }
.list-wrapper .search-fields .paddress input[type=submit]:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white; }
.list-wrapper .search-fields input[type=text] {
    border: 1px solid #bfccde;
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 67, 159, 0.2);
    box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 67, 159, 0.2);
    padding: 0 9px;
    position: relative;
    outline: none;
height: 25px; }
.list-wrapper .search-fields input[type=text]#merchant_merchant_id {
border-radius: 5px 0 0 5px; }
.list-wrapper .search-fields input[type=text]#merchant_primary_address {
    width: 249px;
    float: left;
border-radius: 0 5px 5px 0; }
.list-wrapper .search-fields input[type=text]:focus {
    outline: none; }
.list-wrapper #merchant_list {
    border-collapse: separate;
    width: 938px;
    font-weight: 400;
    text-shadow: 0 1px 0 white; }
.list-wrapper #merchant_list tr:last-child td {
    border-bottom: 1px solid #bfccde; }
.list-wrapper #merchant_list tr:last-child:hover td {
    border-bottom: 1px solid #bfccde; }
.list-wrapper #merchant_list tr:nth-child(odd) td {
background: #f0f1f3; }
.list-wrapper #merchant_list tr:hover td {
    background: #e1e7ef;
    border-top: solid 1px #bfccde;
    border-left: solid 1px #bfccde;
    border-right: solid 0px transparent;
    border-bottom: solid 0px transparent; }
.list-wrapper #merchant_list td {
    background: #fcfcfc;
    padding-left: 10px;
    border-top: solid 1px #dee3eb;
    border-left: solid 1px #dee3eb;
    border-right: solid 0px transparent;
    border-bottom: solid 0px transparent;
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
padding: 4px 10px 4px 10px; }
.list-wrapper #merchant_list td .id_cell {
width: 36px; }
.list-wrapper #merchant_list td .name_cell {
width: 97px; }
.list-wrapper #merchant_list td .contact_cell {
width: 158; }
.list-wrapper #merchant_list td .phone_cell {
width: 81px; }
.list-wrapper #merchant_list td .email_cell {
width: 170px; }
.list-wrapper #merchant_list td .paddress_cell {
width: 290px; }
.list-wrapper #merchant_list td:first-child {
    border-left: 1px solid #bfccde; }
.list-wrapper #merchant_list td:last-child {
    border-right: 1px solid #bfccde; }
.list-wrapper #merchant_list th {
    border-top: solid 1px #bfccde;
    border-left: solid 1px #bfccde;
    border-right: solid 0px transparent;
    border-bottom: solid 1px #bfccde;
    text-align: left;
    padding: 6px 0 6px 10px;
    background: #e9ecf0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9ecf0), color-stop(1, #f5f7f8));
    background: -ms-linear-gradient(bottom, #e9ecf0, #f5f7f8);
    background: -moz-linear-gradient(center bottom, #e9ecf0 0%, #f5f7f8 100%);
    -webkit-box-shadow: inset 0 1px 0 white, inset 1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 white, inset 1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 white, inset 1px 0 0 rgba(255, 255, 255, 0.5); }
.list-wrapper #merchant_list th:first-child {
border-radius: 5px 0 0 0; }
.list-wrapper #merchant_list th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #bfccde; }
.list-wrapper .pagination {
    float: left;
margin-top: 8px; }

.list-wrapper .pagination .previous_page, .list-wrapper .pagination a, .list-wrapper .pagination .gap, .list-wrapper .pagination em {
    text-shadow: 0 1px 0 white;
    float: left;
    min-width: 25px;
    height: 21px;
    text-align: center;
    padding-top: 4px;
    margin-right: 5px;
    font-weight: 500;
    font-style: normal; }
.list-wrapper .pagination .previous_page.disabled, .list-wrapper .pagination a.disabled, .list-wrapper .pagination .gap.disabled, .list-wrapper .pagination em.disabled {
opacity: .5; }
.list-wrapper .pagination a {
    border: 1px solid #bfccde;
    border-radius: 5px;
    background: #f5f7f8;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9ecf0), color-stop(1, #f5f7f8));
    background: -ms-linear-gradient(bottom, #e9ecf0, #f5f7f8);
    background: -moz-linear-gradient(center bottom, #e9ecf0 0%, #f5f7f8 100%);
    -webkit-box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 white;
color: #717171; }
.list-wrapper .pagination a:hover {
    background: #f0f1f3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f1f3), color-stop(1, white));
    background: -ms-linear-gradient(bottom, #f0f1f3, white);
    background: -moz-linear-gradient(center bottom, #f0f1f3 0%, white 100%); }
.list-wrapper .pagination a:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 white; }
.list-wrapper .pagination em {
    border: 1px solid #47638a;
    border-radius: 5px;
    background: #718db6;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #92a8c7), color-stop(1, #718db6));
    background: -ms-linear-gradient(bottom, #92a8c7, #718db6);
    background: -moz-linear-gradient(center bottom, #92a8c7 0%, #718db6 100%);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 white;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

.list-wrapper .add_merchant{
    float: right;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    background: #718db6;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #718db6), color-stop(1, #92a8c7));
    background: -ms-linear-gradient(bottom, #718db6, #92a8c7);
    background: -moz-linear-gradient(center bottom, #718db6 0%, #92a8c7 100%);
    border-radius: 5px;
    border: 1px solid #47638a;
    padding: 5px 6px 5px 6px;
margin: 8px 0; }