<p>Hi Team,</p>

<p>Please check the new integration.</p><br/>
<%  if @message %>
    <table>
      <thead>
      <tr>
        <td>ID</td>
        <td>Date</td>
        <td>Process</td>
        <td>Event</td>
        <td>Third Party Provider</td>
        <td>Description</td>
      </tr>
      </thead>
      <tbody>
      <% @message.each do |message| %>
          <tr>
            <td><%= message.id  %></td>
            <td><%= message.created_at  %></td>
            <td><%= message.process %></td>
            <td><%= message.event %></td>
            <td><%= message.third_party_provider %></td>
            <td><%= message.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>

<p>Puh, no new log messages ...</p>
<% end %>
<p>Have a great Day!</p>
<p>Your AggregationMonitor :)</p>

