<div class="list_item merchant_item">
  <div class="list_item_wrapper clearfix">
    <div class="offer-description">
      <h2 class="merchant-name">
        Frankie and Benny’s
      </h2>

      <div class="more-offer-details">
        <a data-original-title="Get directions" href="#" class="offer-address">
          <i class="i-address"></i>
          <b>Belgrave House, 76 Buckingham Palace Road, London</b>
        </a>
    <span class="offer-phone">
        <i class="i-phone"></i>
        <b>+44 20 7031 3000</b>
    </span>
      </div>
    </div>
    <div class="offer-action">
      <a class="action fav starred" href="#">
        <i class="icon star"></i>
      </a>
    </div>
    <span class="offer-distance">0.03 mi</span>
  </div>
</div>