<div class="list_item">
  <div class="list_item_wrapper clearfix">
    <div class="offer-small-details">
      <div class="offer-type food"></div>
      <div class="offer-opening-hours"><span class="opening">9:00</span> <span class="closing">23:00</span></div>
    </div>
    <div class="offer-description">
      <h2 class="offer-name">
        Frankie and Benny’s
      </h2>

      <p class="offer-text">
        Free Kids Breakfast when Adult Breakfast is purchased at Frankie and Benny’s.
      </p>
    </div>
    <div class="offer-action">
      <a class="action fav starred" href="#">
        <i class="icon star"></i>
      </a>
    </div>
    <span class="offer-distance">0.03 mi</span>
  </div>
</div>