<%= form_for(@offer_insertion) do |f| %>
  <% if @offer_insertion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer_insertion.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'offer_insertion') %></h2>

      <ul>
      <% @offer_insertion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
