<h1><%= t("form.listingclass", :class => "offer_insertions") %></h1>

<table>
  <tr>
    <th><%= t("offerinsertion.name") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offer_insertions.each do |offer_insertion| %>
  <tr>
    <td><%= offer_insertion.name %></td>
    <td><%= link_to t("form.show"), offer_insertion %></td>
    <td><%= link_to t("form.edit"), edit_offer_insertion_path(offer_insertion) %></td>
    <td><%= link_to t("form.destroy"), offer_insertion, confirm: t("form.confirmdelete"), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("form.newclass", :class => "Offer insertion"), new_offer_insertion_path %>
