

<p>
  <b><%= t("offerinsertion.name") %>:</b>
  <%= @offer_insertion.name %>
</p>


<%= link_to t("form.edit"), edit_offer_insertion_path(@offer_insertion) %> |
<%= link_to t("form.back"), offer_insertions_path %>
