<script type="text/javascript">
  window.app = new Yak.App({
    loggedIn: <%= current_user.present? %>, 
    currentCity: <%= city.to_json.html_safe %>,
    favoriteOffers: <%= favorites.to_json.html_safe %>
  });
  window.app.start();  
  if (typeof window.console === "object" && typeof window.console.log === "function"){
    console.log("City Name: "+"<%= city.name %>");
    console.log("Latitude: "+<%= city.latitude %>);
    console.log("Longitude: "+<%= city.longitude %>);
  };
</script>