<script type="text/javascript">
  window.app = new Yak.MobileApp({
    merchantTypes: new Yak.MerchantTypes(<%= merchant_types.to_json(:only => [:id, :merchant_type]).html_safe %>)
  });
  window.app.start();  
</script>
