@import "scss/_mixins.scss";

.ui-timepicker-list { overflow-y: auto; height: 72px; width: 5.5em; background: #fff; border: 1px solid #ddd; margin: 0; padding: 0; list-style: none; }
.ui-timepicker-list.ui-timepicker-with-duration { width: 11em; }
.ui-timepicker-duration { margin-left: 5px; color: #888; }
.ui-timepicker-list:hover .ui-timepicker-duration { color: #888; }
.ui-timepicker-list li { padding: 3px 0 3px 5px; cursor: pointer; white-space: nowrap; color: #000; list-style: none; margin: 0; }
.ui-timepicker-list:hover .ui-timepicker-selected { background: #fff; color: #000; }
li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover { background: #1980EC; color: #fff; }
li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration { color: #ccc; }
