<h2><%= t("form.unlockinstructions") %></h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t("form.unlockinstructions") %></div>
<% end %>

<%= render "links" %>