
<%#= link_to t("form.newclass", :class => "User"), "/", :id => "new_merchant_user" %>
<script type="text/javascript">
  $(document).ready(function(){
    function confirm(heading, question, cancelButtonTxt, okButtonTxt, callback) {

      var confirmModal = 
        $('<div class="modal hide fade">' +    
        '<div class="modal-header">' +
        '<a class="close" data-dismiss="modal" >&times;</a>' +
        '<h3>' + heading +'</h3>' +
        '</div>' +

        '<div class="modal-body">' +
        '<p>' + question + '</p>' +
        '</div>' +

        '<div class="modal-footer">' +
        '<a href="#" class="btn" data-dismiss="modal">' + 
        cancelButtonTxt + 
        '</a>' +
        '<a href="#" id="okButton" class="btn btn-primary">' + 
        okButtonTxt + 
        '</a>' +
        '</div>' +
        '</div>');

      confirmModal.find('#okButton').click(function(event) {
        callback();
        confirmModal.modal('hide');
      });
      confirmModal.on('shown', function(e) {
        var modal = $(this);

        modal.css('margin-top', (modal.outerHeight() / 2) * -1)
        .css('margin-left', (modal.outerWidth() / 2) * -1);

        return this;
      });
      confirmModal.modal('show');     
    };
    
    $('.modal').on('shown', function(e) {
      var modal = $(this);

      modal.css('margin-top', (modal.outerHeight() / 2) * -1)
      .css('margin-left', (modal.outerWidth() / 2) * -1);

      return this;
    });
    var update_info_user = function(object){
      var td_1 = $("tr#user_" + object.id + " td:nth-child(1)");
      var td_2 = $("tr#user_" + object.id + " td:nth-child(2)");
      var td_3 = $("tr#user_" + object.id + " td:nth-child(3)");
      var td_4 = $("tr#user_" + object.id + " td:nth-child(4) a");
      var str =  '<input value="'+ object.id +'" id="user_id_'+ object.id + '" type="hidden">';
      str += '<input value="'+ object.first_name + '" id="first_name_'+ object.id +'" type="hidden">';
      str += '<input value="'+ object.last_name + '" id="last_name_' + object.id + '" type="hidden">';
      str += '<input value="'+ object.role_id + '" id="role_id_'+object.id+'" type="hidden">';
      str += '<input value="' + object.email + '" id="email_'+ object.id +'" type="hidden">';
      str += '<input value="'+ object.mobile_number +'" id="mobile_number_'+ object.id +'" type="hidden">';
      td_1.html(object.first_name + ' ' + object.last_name + str);
      td_2.html(object.mobile_number);
      td_3.html(object.email);
      td_4.html(object.role_name);
      if (object.role_name == "Merchant admin"){
        $("td a#update_role_name").html("Merchant employee");
        $("td a#update_role_name").attr("data-original-title", "User can post new offers ");
        $("td a#update_role_name").attr("id", "");
        td_4.attr("data-original-title", "User can add, edit or delete employees");
        td_4.attr("id", "update_role_name");
        td_4.html(object.role_name);
      }
      else {
        td_4.attr("data-original-title", "User can post new offers ");
      }
       
     
    }
    var clear_form_user = function() {
      $("#user_id_edit").val("");
      $("#user_first_name").val("");
      $("#user_last_name").val("");
      $("#user_email").val("");
      $("#user_mobile_number").val("");
      $("#user_role_id").val("");
      $("#edit_user_merchant").hide();
      $("#add_user_merchant").show();
    };
    $(".edit_user").live('click',function() {
      $("a.add_user").addClass('overlay');
      $('div.addUser_subsection').show()
      $('div.addUser_subsection .subsection_content').show()
      $("#edit_user_merchant").show();
      $("#add_user_merchant").hide();
      $("form#new_user .subsection_title").removeClass("collapsed");
      $("form#new_user div.subsection_content.collapsed").show();
      var id = $(this).data('id');
      var td_4 = $("tr#user_" + id + " td:nth-child(4) a");
      $("#user_id_edit").val($("#user_id_"+id).val());
      $("#user_first_name").val($("#first_name_"+id).val());
      $("#user_last_name").val($("#last_name_"+id).val());
      $("#user_email").val($("#email_"+id).val());
      $("#user_mobile_number").val($("#mobile_number_"+id).val());
      $("#user_role_id").val($("#role_id_"+id).val());
      $("#user_role_id_chzn a.chzn-single span").text(td_4.text());
     
    });
    $("#edit_user_merchant").live('click',function() {
      $("#loading_update_user_merchant").show();
      var id = $("#user_id_edit").val();
      $.ajax({
        type: "PUT",
        url: "/users/"+id,
        data: {
          "user[merchant_id]" : $("#user_merchant_id").val(),
          "user[role_id]" : $("#user_role_id").val(),
          "user[first_name]": $("#user_first_name").val(),
          "user[last_name]": $("#user_last_name").val(),
          "user[email]": $("#user_email").val(),
          "user[mobile_number]": $("#user_mobile_number").val()
                 
        },
        dataType: "json",
        success: function(object){
          update_info_user(object);
          
          clear_form_user();
          $('div.addUser_subsection').hide();
          $('a.add_user').removeClass('overlay');
          $("#loading_update_user_merchant").hide();
          return false;
        },
        error: function(e){
          
          var str = "";
          var data = JSON.parse(e.responseText);
          for(var key in data) {
            console.log(key) + ' ' + console.log(data[key]) ;
            str += '<li>' + data[key] + '</li>';
          }
           
          $("#modal_error ul").html(str);
          $("#modal_error").modal('show');
          $("#loading_update_user_merchant").hide();
          return false;
        }
      });
    });
    $("#cancel_new_user").live('click',function(){
      clear_form_user();
      $('div.addUser_subsection').hide();
      $('a.add_user').removeClass('overlay');
    });

    $(".resend_code").live('click',function(){

      var id = $(this).data('id');
      //$("#loading_resend_code_"+id).show();
      $("#loading_resend_code_"+id).removeClass('loading_none');
      $("#loading_resend_code_"+id).addClass('loading_inline');
        //$("#loading_resend_code_"+id).css('display','inline-block');
      $.ajax({
        type: "PUT",
          url: "/users/generate_code/"+ id,

          data: {
            "user[value]" :1

          },
          success: function(msg){
              //$("#loading_resend_code_"+id).hide();
              $("#loading_resend_code_"+id).removeClass('loading_inline');
              $("#loading_resend_code_"+id).addClass('loading_none');
              //$("#loading_resend_code_"+id).css('display','none');
          },
          error: function(e){

          }

        });
    });

    $(".delete_user").live('click',function(){
      var id = $(this).data('id');
      var role = $("#user_info_"+id).children("input#role_id_" + id ).val()
      var role_user = $("#users_list").data('id');
      var name = $("#user_info_"+id).children("input#first_name_" + id ).val() +' ' +$("#user_info_"+id).children("input#last_name_" + id ).val()
      var heading = 'Confirm User Delete';
      var question = 'Please confirm that you wish to delete user ' + name + '.';
      var warming = "You can't delete user " + name + ", because it has merchant admin rights.";
      var cancelButtonTxt = 'Cancel';
      var okButtonTxt = 'OK';
      var heading_warming = '!Sorry';

      var callback = function() {
        //alert('delete confirmed ' + id);
        $.ajax({
          type: "DELETE",
          url: "/users/"+id,
          dataType: "json",
          success: function(){
            console.log("OK");
            $("#user_"+id).remove();
            return false;
          },
          error: function(e){
 
            return false;
          }
        });
      };
      
      if(role_user == 4)
      {
        //confirm(heading_warming,warming,okButtonTxt);
        alert("You can't delete this user, because it don't have merchant admin rights.")
      }
      else if(role_user == 3 && role == 3){
        alert("You can't delete yourself.")
      }
      else{
        confirm(heading, question, cancelButtonTxt, okButtonTxt, callback);
      }
      

    });

    $("#add_user_merchant").live('click',function() {
      $("#loading_update_user_merchant").show();
      
      $.ajax({
        type: "POST",
        url: "/users/new_employee",
        data: {
          "user[merchant_id]" : $("#user_merchant_id").val(),
          "user[role_id]" : $("#user_role_id").val(),
          "user[first_name]": $("#user_first_name").val(),
          "user[last_name]": $("#user_last_name").val(),
          "user[email]": $("#user_email").val(),
          "user[mobile_number]": $("#user_mobile_number").val()
                            
        },
        dataType: "json",
        success: function(object){
          console.log(object);
          if (object.role_name == "Merchant admin"){
            $("td a#update_role_name").html("Merchant employee");
            $("td a#update_role_name").attr("data-original-title", "User can post new offers ");
          }
          var offer =  '<tr id="user_' + object.id + '">';
          offer += '<td id="user_info_' + object.id + '">' + object.first_name + ' ' + object.last_name ;
          offer += '<input id="user_id_' + object.id + '" type="hidden" value="' + object.id + '">'
          offer += '<input id="first_name_' + object.id + '" type="hidden" value="' + object.first_name + '">';
          offer += '<input id="last_name_' + object.id + '" type="hidden" value="' + object.last_name + '">';
          offer += '<input id="role_id_' + object.id + '" type="hidden" value="' + object.role_id +'">';
          offer += '<input id="email_' + object.id + '" type="hidden" value="'+ object.email+'">';
          offer += '<input id="mobile_number_' + object.id + '" type="hidden" value="' + object.mobile_number + '">';
          offer += '</td>';
          offer += '<td>' + object.mobile_number + '</td>';
          offer += '<td>' + object.email +  '</td>';
          offer += '<td>';
          offer +=  '<a id="';
          offer +=  (object.role_name == "Merchant admin") ? 'update_role_name"' : ' "';
          offer += 'class="tooltip_role"  rel="tooltip" href="#" data-original-title="';
          offer += (object.role_name == "Merchant admin") ? "User can add, edit or delete employees" : "User can post new offers";
          offer +='">';
          offer += object.role_name + '</a>'; 
          offer += '</td>';   
          offer += '<td> <a data-original-title="Edit" href="#edit_user" class="user_action edit edit_user" data-id="'+ object.id +'" rel="tooltip"></a> <a data-original-title="Destroy" data-id="'+ object.id +'" class="user_action delete delete_user" rel="tooltip"></a> <a data-original-title="Resend verification code" rel="tooltip" href="#resendcode" class="user_action resend_code" data-id="'+ object.id +'"></a> <img id="loading_resend_code_'+ object.id +'" class="loading_none" src="/assets/uploading.gif" /></td>';
          offer += '</tr>';
          $("table#users_list").append(offer);
          $('a.tooltip_role').tooltip();
          $('a.edit_user').tooltip();
          $('a.delete_user').tooltip();
          $('a.resend_code').tooltip();
          clear_form_user();
          $('div.addUser_subsection').hide();
          $('a.add_user').removeClass('overlay');
          $("#loading_update_user_merchant").hide();
          return false;
        },
        error: function(e){
          var str = "";
          var data = JSON.parse(e.responseText);
          for(var key in data) {
            console.log(key) + ' ' + console.log(data[key]) ;
            str += '<li>' + data[key] + '</li>';
          }
           
          $("#modal_error ul").html(str);
          $("#modal_error").modal('show');
          //alert(str);
          $("#loading_update_user_merchant").hide();
          
          return false;
        }
      });
    });
    
    $('.tooltip_role').hover(
    function () {
      $(this).tooltip('show');
    });
    
  });
</script>
<div class="admin_section add_user_section">
  <h2 class="section_title approvedUsers_title">Approved Merchant Users</h2>
  <table data-id="<%= @user.role_id %>"id="users_list" class="nice_table" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <th><%= t("users.name") %></th>
      <th><%= t("form.mobilenumber") %></th>
      <th><%= t("users.email") %></th>
      <th><%= t("users.privileges") %></th>
      <th style="width: 90px;"><%= t("users.active") %></th>
    </tr>
    <% @merchant.users.each do |user| %>
      <tr id="user_<%= user.id %>">
        <td id="user_info_<%= user.id %>">
          <%= user.name %>
          <input type="hidden" value="<%= user.id %>" id="user_id_<%= user.id %>"/>
          <input type="hidden" value="<%= user.first_name %>" id="first_name_<%= user.id %>"/>
          <input type="hidden" value="<%= user.last_name %>" id="last_name_<%= user.id %>"/>
          <input type="hidden" value="<%= user.role_id %>" id="role_id_<%= user.id %>"/>
          <input type="hidden" value="<%= user.email %>" id="email_<%= user.id %>"/>
          <input type="hidden" value="<%= user.mobile_number %>" id="mobile_number_<%= user.id %>"/>
        </td>
        <td><%= user.mobile_number %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.role.blank? %>
            <%= t("user.norole") %>
          <% else %>
            <a id="<%= (user.role.name == "Merchant admin") ? "update_role_name" : "" %>" class="tooltip_role"  rel="tooltip" href="#" title="<%=  (user.role.name == "Merchant admin") ? "User can add, edit or delete employees" : "User can post new offers" %> "><%= user.role.name %> </a>
          <% end %>
        </td>
        <td>
          <%= link_to "","#edit_user",:id => "edit_user_admin",:class => "user_action edit edit_user","rel" => "tooltip", "title" => t("form.edit"),"data-id" => user.id%>
  <%#= link_to "","", confirm: t("form.confirmdelete"),:class => "user_action delete","rel" => "tooltip","title" => t("form.destroy")%>
          <a data-id="<%= user.id %>" id="destroy_user" class="user_action delete delete_user" href="#" rel="tooltip" title='<%=  t("form.destroy") %>'></a>
          <a data-id="<%= user.id %>" id="resend_code" rel="tooltip" title="Resend verification code" href="#resendcode" class="user_action resend_code"></a>
          <img id="loading_resend_code_<%= user.id %>" class="loading_none"  src="/assets/uploading.gif" />
        </td>
      </tr>
    <% end %>
  </table>

  <%= render :partial => "shared/new_user" %>

</div>
