
<% object = @merchant %>
<%= content_for :header do %>
  <%= javascript_include_tag "jquery_file_upload/jquery_file_upload.js" %>
  <script type="text/javascript">
    // add params post back, modify submit
    $(document).ready(function(){
            
      $("#destroy").click(function(){
        console.log("delete photo");
        $(this).parent().parent().remove();
      });
      
      $('#fileupload').fileupload({autoUpload: true});
      $('#fileupload').each(function () {
        var that = this;
        $.getJSON(this.action + "?object_id=<%= object.id.to_s %>" , function (result) {
          if (result && result.length) {
            $(that).fileupload('option', 'done')
            .call(that, null, {
              result: result
            });
          }
        });
      });
      $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        // The example input, doesn't have to be part of the upload form:
      });
      
      $(".switch_to_old").click(function(){
        $("#fileinput").click();
      });
      
      function reset_merchant(){
        $("#merchant_name").val("<%=  @merchant.name %>");
        $("#merchant_sub_type").val("<%=  @merchant.sub_type %>");
        $("#merchant_primary_address").val("<%=  @merchant.primary_address %>");
        $("#merchant_another_address").val('<%=  @merchant.another_address %>');
        $("#merchant_city_id").val("<%=  @merchant.city_id %>");
        $("#merchant_postal_code").val("<%=  @merchant.postal_code %>");
        $("#merchant_state_province_region").val("<%=  @merchant.state_province_region %>");
        $("#merchant_country").val("<%=  @merchant.country %>");
        $("#merchant_mobile_number").val("<%=  @merchant.mobile_number %>"),
        $("#merchant_mon_start_time").val('<%=  @merchant.mon_start_time ? @merchant.mon_start_time.strftime("%H:%M") : nil %>');
        $("#merchant_mon_end_time").val('<%= @merchant.mon_end_time ? @merchant.mon_end_time.strftime("%H:%M") : nil %>');
        $("#merchant_tue_start_time").val('<%= @merchant.tue_start_time ? @merchant.tue_start_time.strftime("%H:%M") : nil%>');
        $("#merchant_tue_end_time").val('<%=  @merchant.tue_end_time ? @merchant.tue_end_time.strftime("%H:%M") : nil %>');
        $("#merchant_wed_start_time").val('<%= @merchant.wed_start_time ? @merchant.wed_start_time.strftime("%H:%M") : nil %>');
        $("#merchant_wed_end_time").val('<%= @merchant.wed_end_time ? @merchant.wed_end_time.strftime("%H:%M") : nil %>');
        $("#merchant_thu_start_time").val('<%= @merchant.thu_start_time ? @merchant.thu_start_time.strftime("%H:%M") : nil %>');
        $("#merchant_thu_end_time").val('<%= @merchant.thu_end_time ? @merchant.thu_end_time.strftime("%H:%M"): nil %>')
        $("#merchant_fri_start_time").val('<%= @merchant.fri_start_time ? @merchant.fri_start_time.strftime("%H:%M") : nil %>')
        $("#merchant_fri_end_time").val('<%= @merchant.fri_end_time ? @merchant.fri_end_time.strftime("%H:%M") : nil %>')
        $("#merchant_sat_start_time").val('<%= @merchant.sat_start_time ? @merchant.sat_start_time.strftime("%H:%M") : nil %>');
        $("#merchant_sat_end_time").val('<%=  @merchant.sat_end_time ? @merchant.sat_end_time.strftime("%H:%M") : nil %>')
        $("#merchant_sun_start_time").val('<%= @merchant.sun_start_time ? @merchant.sun_start_time.strftime("%H:%M") :nil %>')
        $("#merchant_sun_end_time").val('<%= @merchant.sun_end_time ? @merchant.sun_end_time.strftime("%H:%M") : nil %>');
        $("#merchant_desktop_description").val("<%=  @merchant.desktop_description %>");
        $("#merchant_mobile_description").val("<%=  @merchant.mobile_description %>");
        $("#merchant_why_visit").val("<%=  @merchant.why_visit %>");
        $("#merchant_best_thing").val("<%=  @merchant.best_thing %>");
        $("#merchant_unique").val("<%=  @merchant.unique %>");
        $("#merchant_featured_review").val("<%=  @merchant.featured_review %>");
         $("#merchant_website_url").val("<%=  @merchant.website_url %>");

        $("#merchant_facebook_page_id").val('<%=  @merchant.facebook_page_id %>');
        $("#merchant_google_id").val('<%=  @merchant.google_id %>');
        $("#merchant_twitter_name").val("<%=  @merchant.twitter_name %>");
        $("#merchant_yelp_id").val('<%=  @merchant.yelp_id %>');
        $("#merchant_flickr_id").val('<%=  @merchant.flickr_id %>');
        $("#merchant_instagram_id").val('<%=  @merchant.instagram_id %>');
      }
      
      $("#reset_edit_merchant").live('click',function(){
        
        reset_merchant();
        $("form#fileupload .subsection_title").addClass("collapsed");
        $("form#fileupload div.subsection_content.collapsed").hide();
        $(".admin_subsection.upload_photos_subsection .subsection_title").removeClass("collapsed");
        $(".admin_subsection.upload_photos_subsection .subsection_content").show();
      });
      
     
    });
    //==============================================
    //     edit url destroy image
    $.widget('blueimpUIX.fileupload', $.blueimpUI.fileupload, {

      options: {
        authenticityTokenName: 'request_authenticity_token',
        destroy: function (e, data) {
          var fu = $(this).data('fileupload');
          data.url = "/merchant_photos/" + data.url; /*&&
                  fu._addUrlParams(data.url, fu._getAuthenticityToken());*/
           
          $.blueimpUI.fileupload.prototype
          .options.destroy.call(this, e, data);
        }
      }
    });
  </script>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){

    $('#city_name').autocomplete({source: function(req, add){
        $.getJSON('/home/autocomplete', req, function(data){
          //console.info(data);
          add(data);
        })
      },

      select: function(event, ui){
        //console.info(ui);
        var id = ui.item.id;
        var country = ui.item.country;
        if(id)
        // console.log('The value is ' + id);
          $('#merchant_city_id').val(id);
        $('#merchant_country').val(country);
      }});
    
    $("#merchant_sub_type").change();
    $("#merchant_sub_type option:selected").attr("style", "display:block;");

       
    $("#city_name").val("<%= @merchant.city ? @merchant.city.name : "" %>");
    $("#merchant_merchant_type_id").val("<%= @merchant.merchant_type.id.to_i %>");
    $("#merchant_merchant_type_id option:selected").attr("style", "display:block;");
    
    $("#updata_merchant_info").live('click',function(){
      $("#loading_update_merchant_info").show();
      $.ajax({

        type: "PUT",
        url: "/merchants/<%=  @merchant.id %>",
        data: {"merchant[name]" : $("#merchant_name").val(),
          "merchant[merchant_type_id]": $("#merchant_merchant_type_id").val(),
          "merchant[sub_type]": $("#merchant_sub_type").val(),
          "merchant[city_id]": $("#merchant_city_id").val(),
          "city_name":$("#city_name").val(),
          "merchant[postal_code]": $("#merchant_postal_code").val(),
          "merchant[primary_address]": $("#merchant_primary_address").val(),
          "merchant[another_address]": $("#merchant_another_address").val(),
          "merchant[state_province_region]": $("#merchant_state_province_region").val(),
          "merchant[country]": $("#merchant_country").val(),
          "merchant[mobile_number]": $("#merchant_mobile_number").val(),
          "merchant[mon_start_time]": $("#merchant_mon_start_time").val(),
          "merchant[mon_end_time]": $("#merchant_mon_end_time").val(),
          "merchant[tue_start_time]": $("#merchant_tue_start_time").val(),
          "merchant[tue_end_time]": $("#merchant_tue_end_time").val(),
          "merchant[wed_start_time]": $("#merchant_wed_start_time").val(),
          "merchant[wed_end_time]": $("#merchant_wed_end_time").val(),
          "merchant[thu_start_time]": $("#merchant_thu_start_time").val(),
          "merchant[thu_end_time]": $("#merchant_thu_end_time").val(),
          "merchant[fri_start_time]": $("#merchant_fri_start_time").val(),
          "merchant[fri_end_time]": $("#merchant_fri_end_time").val(),
          "merchant[sat_start_time]": $("#merchant_sat_start_time").val(),
          "merchant[sat_end_time]": $("#merchant_sat_end_time").val(),
          "merchant[sun_start_time]": $("#merchant_sun_start_time").val(),
          "merchant[sun_end_time]": $("#merchant_sun_end_time").val(),
          "merchant[mobile_description]": $("#merchant_mobile_description").val(),
          "merchant[desktop_description]": $("#merchant_desktop_description").val(),
          "merchant[why_visit]": $("#merchant_why_visit").val(),
          "merchant[best_thing]": $("#merchant_best_thing").val().toString(),
          "merchant[unique]": $("#merchant_unique").val(),
          "merchant[featured_review]": $("#merchant_featured_review").val(),
          "merchant[website_url]": $("#merchant_website_url").val(),
          "merchant[facebook_page_id]": $("#merchant_facebook_page_id").val(),
          "merchant[google_id]": $("#merchant_google_id").val(),
          "merchant[twitter_name]": $("#merchant_twitter_name").val(),
          "merchant[yelp_id]": $("#merchant_yelp_id").val(),
          "merchant[flickr_id]": $("#merchant_flickr_id").val(),
          "merchant[instagram_id]": $("#merchant_instagram_id").val()
                       
        },
        dataType: "json",
        success: function(msg){
          $("#loading_update_merchant_info").hide();
          return false;
        },
        error: function(e){
          var str = "";
          var data = JSON.parse(e.responseText);
          for(var key in data) {
            //console.log(key) + ' ' + console.log(data[key]) ;
            str += '<li>'  + data[key] + '</li>';
          }
           
          $("#modal_error ul").html(str);
          $("#modal_error").modal('show');
          $("#loading_update_merchant_info").hide();
          return false;
        }
        
      });

    });
   
       
  });
</script>

<%= form_for object , :url =>"/merchants/admin",:html => { :id => "fileupload",:class => "merchant_info_form"},:enctype=>"multipart/form-data" do |f| %>
  <div class="admin_section merchant_info_section clearfix">
    
      <div class="field_wr full" style="width: 460px;" >
        <label class="admin_label" for="merchant_name_field"><%= t("merchant.admin.merchant_name") %></label>
        <%= f.text_field :name,:class => "admin_text_field merchant_name_field custom_admin_text_field"%>
        <%= f.hidden_field :name,:id => "merchant_name_reset" %>


    </div>
    <div data-id="<%= @merchant.id %> " class="merchant_right" id ="merchant_control" >
      <a href="/bb#merchants/<%=  @merchant.id %>"  class="info_page"><%=t("merchant.admin.view_my_page") %></a>
    </div>
    <h2 class="section_title businessDetails_title"><%= t("merchant.admin.key_business_detail") %></h2>
    <div class="admin_left_col">
      <div class="admin_subsection merchant_details_subsection">
        <h3><a class="subsection_title collapsed" href="#"><%= t("merchant.admin.merchant_detail_infomation") %></a></h3>
        <div class="subsection_content collapsed">

          <div class="field_wr half">
            <label class="admin_label" for="category_dd"><%= t("merchant.admin.merchant_category") %></label>
            <%= select_tag('merchant[sub_type]',options_for_select(MerchantType.where("sub_type = ?"," ").collect{ |u| [u.merchant_type, u.merchant_type]},@merchant.merchant_type.merchant_type),{:class => "chzn-select category_dd"}) %>


          </div>
          <div class="field_wr half last">
            <label class="admin_label" for="merchant_type_id"><%= t("merchant.admin.merchant_subcategory") %></label>
            <%= f.select(:merchant_type_id, MerchantType.all.collect{|a| [a.sub_type, a.id]} ,{},{:class => "chzn-select category_dd"}) %>

          </div>
          <div class="field_wr half">
            <label class="admin_label" for="merchant_id"><%= t("merchant.admin.merchant_id") %></label>
            <%= f.text_field :merchant_id,  :disabled => "disabled",:class => "admin_text_field disabled" %>
          </div>
          <div class="field_wr half last">
            <%= f.label :mobile_number,t("merchant.mobile"),:class =>"admin_label" %>
            <%= f.text_field :mobile_number,:class =>"admin_text_field" %>
            <%= f.hidden_field :mobile_number,:id => "merchant_mobile_number_reset" %>
          </div>
          <div data-id="<%= @merchant.id %> "  class="field_wr last clearfix" id ="merchant_open_hour">
            <label class="admin_label"><%= t("merchant.admin.merchant_open_hour") %></label>

            <div data-id="<%= @merchant.id %> " id ="mon_open_hour" class="field_wr third clearfix  ">
              <%= f.text_field :mon_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.mon_start_time ? @merchant.mon_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :mon_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.mon_end_time ? @merchant.mon_end_time.strftime("%H:%M") : "00:00"  %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_mon") %></label>
              <label class="admin_sublabel">
              <input id="mon_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.mon) %> ><%= t("merchant.admin.closed") %></input>
              </label>
            </div>
            <div data-id="<%= @merchant.id %> "  id ="tue_open_hour" class="field_wr third clearfix ">
              <%= f.text_field :tue_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.tue_start_time ? @merchant.tue_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :tue_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.tue_end_time ? @merchant.tue_end_time.strftime("%H:%M") : "00:00"  %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_tue") %></label>
              <label class="admin_sublabel">
              <input id="tue_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.tue) %> ><%= t("merchant.admin.closed") %></input>
            </label>
            </div>
            <div data-id="<%= @merchant.id %> " id ="wed_open_hour"  class="field_wr third clearfix last">
              <%= f.text_field :wed_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.wed_start_time ? @merchant.wed_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :wed_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.wed_end_time ? @merchant.wed_end_time.strftime("%H:%M") : "00:00"  %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_wed") %></label>
              <label class="admin_sublabel">
              <input id="wed_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.wed) %> ><%= t("merchant.admin.closed") %></input>
              </label>
            </div>

            <div data-id="<%= @merchant.id %> " id ="thu_open_hour" class="field_wr third clearfix">
              <%= f.text_field :thu_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.thu_start_time ? @merchant.thu_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :thu_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.thu_end_time ? @merchant.thu_end_time.strftime("%H:%M") : "00:00"  %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_thu") %></label>
              <label class="admin_sublabel">
              <input id="thu_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.thu) %> ><%= t("merchant.admin.closed") %></input>
            </label>
            </div>
            <div data-id="<%= @merchant.id %> " id ="fri_open_hour"  class="field_wr third clearfix">
              <%= f.text_field :fri_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.fri_start_time ? @merchant.fri_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :fri_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.fri_end_time ? @merchant.fri_end_time.strftime("%H:%M") : "00:00"  %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_fri") %></label>
              <label class="admin_sublabel">
              <input id="fri_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.fri) %> ><%= t("merchant.admin.closed") %></input>
            </label>
            </div>
            <div data-id="<%= @merchant.id %> " id ="sat_open_hour"  class="field_wr third clearfix last">
              <%= f.text_field :sat_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.sat_start_time ? @merchant.sat_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :sat_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.sat_end_time ? @merchant.sat_end_time.strftime("%H:%M") : "00:00"  %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_sat") %></label>
              <label class="admin_sublabel">
              <input id="sat_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.sat) %> ><%= t("merchant.admin.closed") %></input>
            </label>
            </div>
            <div data-id="<%= @merchant.id %> " id ="sun_open_hour" class="field_wr third clearfix last">
              <%= f.text_field :sun_start_time,:class =>"admin_text_field time_picker time_field",:value => @merchant.sun_start_time ? @merchant.sun_start_time.strftime("%H:%M") : "00:00" %>
              <%= f.text_field :sun_end_time,:class =>"admin_text_field time_picker last time_field",:value => @merchant.sun_end_time ? @merchant.sun_end_time.strftime("%H:%M") : "00:00" %>
              <label class="admin_sublabel"><%= t("merchant.admin.merchant_sun") %></label>
              <label class="admin_sublabel">
              <input id="sun_close_<%= @merchant.id %>" type="checkbox" <%= update_status(@merchant.sun) %> ><%= t("merchant.admin.closed") %></input>
            </label>
            </div>
          </div>
          <div class="field_wr full last">
            <label class="admin_label" for="business_tagline"><%= t("merchant.admin.merchant_business_tagline") %><span class="comment"> (140 <%= t("merchant.admin.merchant_characters") %>)</span></label>
            <%= f.text_area :mobile_description,:class => "admin_text_field","rows" => "2" %>
          </div>
          <div class="field_wr full last">
            <label class="admin_label" for="business_description"><%= t("merchant.admin.merchant_business_des") %><span class="comment"> (400 <%= t("merchant.admin.merchant_characters") %>)</span></label>
            <%= f.text_area :desktop_description,:class => "admin_text_field","rows" => "4" %>
          </div>
        </div>
      </div>

      <div class="admin_subsection address_info">
        <h3><a class="subsection_title collapsed" href="#"><%= t("merchant.admin.merchant_address_information") %></a></h3>

        <div class="subsection_content collapsed">
          <div class="field_wr half">
            <label class="admin_label" for="merchant_primary_address"><%= t("merchant.admin.merchant_address_line_1") %></label>
            <%= f.text_field :primary_address, :class => "admin_text_field" %>
          </div>
          <div class="field_wr half last">
            <label class="admin_label" for="address_line_two"><%= t("merchant.admin.merchant_address_line_2") %></label>
            <%= f.text_field :another_address, :class => 'admin_text_field' %>
          </div>
          <div class="field_wr half clearfix">
            <label class="admin_label" for="city_field"><%= t("merchant.admin.address_city_postal") %></label>
            <%= f.hidden_field :city_id %>
            <%= text_field_tag(:city_name, params[:city_name],:class => "admin_text_field fourth") %>
            <%= f.text_field :postal_code,:class => "admin_text_field fourth" %>
          </div>
          <div class="field_wr half last clearfix">
            <label class="admin_label" for="state_field"><%= t("merchant.admin.merchant_state_country") %></label>
            <%= f.text_field :state_province_region,:class => "admin_text_field fourth" %>
            <%= f.text_field :country,:class => "admin_text_field fourth" %>
          </div>
        </div>

      </div>

    </div>

    <div class="admin_right_col">
      <div class="admin_subsection merchant_details_subsection">
        <h3><a class="subsection_title collapsed" href="#"><%= t("merchant.admin.subsection_title") %></a></h3>
        <div class="subsection_content collapsed">
          <div class="field_wr full last">
            <label class="admin_label" for="why_visit"><%= t("merchant.admin.why_visit") %></label>
            <%= f.text_area :why_visit,:class => "admin_text_field","rows" => "2" %>            
          </div>

          <div class="field_wr full last">
            <label class="admin_label" for="whats_best"><%= t("merchant.admin.what_best") %></label>
            <%= f.text_area :best_thing,:class => "admin_text_field","rows" => "2" %>   
          </div>
          <div class="field_wr full last">
            <label class="admin_label" for="featured_review"><%= t("merchant.admin.featured_review") %> <span class="comment"> (<%= t("merchant.admin.feartured_review_comment") %>)</span></label>
            <%= f.text_area :featured_review,:class => "admin_text_field","rows" => "2","placeholder" => t("merchant.admin.placeholder_link_to_review") %>
          </div>
          <div class="field_wr full last">
            <label class="admin_label" for="website_url"><%= t("merchant.admin.website") %> </label>
            <%= f.text_area :website_url,:class => "admin_text_field","rows" => "2","placeholder" => t("merchant.admin.placeholder_link_to_merchant") %>
          </div>

        </div>
      </div>
      <div class="admin_subsection social_media_subsection">
        <h3><a class="subsection_title collapsed" href="#"><%= t("merchant.admin.social_media") %></a></h3>

        <div class="subsection_content collapsed">
          <div class="field_wr half">
            <%= f.label "Facebook page id",:class => "admin_label" %>
            <%= f.text_field :facebook_page_id,:class => "admin_text_field","placeholder" => "Link to Facebook page" %>
          </div>
          <div class="field_wr half last">
            <%= f.label "Google Places",:class => "admin_label" %>
            <%= f.text_field :google_id,:class => "admin_text_field","placeholder" => "Link to Google Places page" %>
          </div>
          <div class="field_wr half">
            <%= f.label :twitter_name,"Twitter",:class => "admin_label" %>
            <%= f.text_field :twitter_name,:class => "admin_text_field","placeholder" => "Link to Twitter Profile" %>
          </div>
          <div class="field_wr half last">
            <label class="admin_label" for="business_yelp">Yelp</label>
            <%= f.text_field :yelp_id,:class => "admin_text_field","placeholder" => "Link to Yelp page" %>
          </div>
          <div class="field_wr half comingSoon_tooltip" rel="tooltip"
               data-original-title="Support for Flickr coming soon">
            <label class="admin_label" for="business_flickr">Flickr</label>
            <%= f.text_field :flickr_id,:class => "admin_text_field","placeholder" => "Link to your photostream" %>
          </div>
          <div class="field_wr half comingSoon_tooltip last" rel="tooltip"
               data-original-title="Support for Instagram coming soon">
            <label class="admin_label" for="business_instagram">Instagram</label>
            <%= f.text_field :instagram_id,:class => "admin_text_field","placeholder" => "Instagram name" %>

          </div>
        </div>
      </div>
      <div class="admin_subsection upload_photos_subsection">
        <h3><a class="subsection_title collapsed" href="#"><%= t("merchant.admin.photo_title") %></a></h3>

        <div class="subsection_content collapsed">
  <%#*<span class="btn btn-success fileinput-button">%>
          <div class="drag_drop_area ">
            <div class="btn btn-success fileinput-button" style="width: 100%; height: 140px;">
              <h4 class="drag_drop_title"><%= t("merchant.admin.photo_drag_drop") %></h4>
              <input id="fileinput" data-role="none" type="file" name="files[]" multiple />

              <div class="switch_to_old"><%= t("merchant.admin.switch_to_old") %> <span style="color: #008AD7; cursor: pointer;"><%= t("merchant.admin.switch_to_upload") %></span></div>
            </div>
          </div>
  <%#*</span>%>
          <!-- The file upload form used as target for the file upload widget -->
          <input type="hidden" value="<%= object.id %>" name="object_parent_id" />
          <input type="hidden" value="<%= object.id %>" name="object_id" />
          <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
          <div class="row fileupload-buttonbar">
            <div class="span5">
              <!-- The global progress bar -->
              <div class="progress progress-success progress-striped active fade">
                <div class="bar" style="width:0%;"></div>
              </div>
            </div>
          </div>
          <!-- The loading indicator is shown during file processing -->
          <div class="fileupload-loading"></div>
          <br />

          <!-- The table listing the files available for upload/download -->
  <%#*<table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>%>
          <div class="table table-striped"><ul class="files uploaded_photos sortable clearfix" data-toggle="modal-gallery" data-target="#modal-gallery"></ul></div>
  <%# end %>
          <!-- modal-gallery is the modal dialog used for the image gallery -->

          <div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">&times;</a>
              <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body"><div class="modal-image"></div></div>

            <div class="modal-footer">
              <a class="btn modal-download" target="_blank">
                <i class="icon-download"></i>
                <span>Download</span>
              </a>
              <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                <i class="icon-play icon-white"></i>
                <span>Slideshow</span>
              </a>
              <a class="btn btn-info modal-prev">
                <i class="icon-arrow-left icon-white"></i>
                <span>Previous</span>
              </a>
              <a class="btn btn-primary modal-next">
                <span>Next</span>
                <i class="icon-arrow-right icon-white"></i>
              </a>
            </div>
          </div>

          <script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <li class="uploaded_photo template-upload fade">
              <div class="preview"><span class="fade"></span></div>
              <div style="margin: 0 auto;text-align: center;"><img style="" src="/assets/uploading.gif"/></div>
              {% if (file.error) { %}
              <span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
              {% } else if (o.files.valid && !i) { %}

  <%#*<div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>%>

              <div class="start">{% if (!o.options.autoUpload) { %}
  <%#*<button class="btn btn-primary photo_action delete" style="border: none;background-position: -107px -23px;">%>

  <%#*</button>%>
                {% } %}</div>
              {% } else { %}
              {% } %}
              <div class="cancel">{% if (!i) { %}
  <%#*<button class=" photo_action cancel btn btn-warning" style="border: none;background-position: -98px -31px;">%>

  <%#*</button>%>
                {% } %}</div>
            </li>
            {% } %}
            </script>
            <!-- The template to display files available for download -->
            <script id="template-download" type="text/x-tmpl">

              {% for (var i=0, file1; file1=o.files[i]; i++) {  %}
              {% if (file1.error) { %}
              <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
              {% } else { %}
              <li class="template-download fade uploaded_photo">
                <div class="photo_wrapper">
                  <img style="" src="{%=file1.url_thumb%}"/>
                </div>
                <a href="#" class="photo_action drag"></a>

                <div class="delete">
                  <button id ="destroy" class="btn btn-danger photo_action delete" data-type="DELETE" data-url="{%=file1.id%}" style="border: none;">
                  </button>
                  <input type="checkbox" name="delete" value="1" style="display: none"/>
                </div>

                {% if (file1.url) { %}
                <img style="" src="{%=file1.url_thumb%}"/>
                <!-- <a href="{%=file.url.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img style="" src="{%=file.url.url%}"/></a> -->
                {% } %}

              </li>

              {% } %}


              {% } %}

              </script>

            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="merchant_info_buttons clearfix">
          <%= link_to t("form.discard"), '#reset', :id => "reset_edit_merchant" ,:class => "info_discard" %>
          <button id="updata_merchant_info" type="button" class="info_save"><%= t("form.save") %></button>
          <img id="loading_update_merchant_info" class="loading_img" src="/assets/uploading.gif" />
        </div>
      </div>
    <% end %>
