<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'user') %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :mobile_emei %><br />
    <%= f.text_field :mobile_emei %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.number_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :mobile_authorized %><br />
    <%= f.text_field :mobile_authorized %>
  </div>
  <div class="field">
    <%= f.label :mobile_handset_brand %><br />
    <%= f.text_field :mobile_handset_brand %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :authorization_level %><br />
    <%= f.text_field :authorization_level %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
