
<div class="admin_section add_offer_section">
  <h2 class="section_title offers_title">Offers</h2>
  <table id="offers_list" class="nice_table" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <th><%= t("offer.description") %></th>
      <th><%= t("offer.start_time") %></th>
      <th><%= t("offer.end_time") %></th>
      <th><%= t("offer.repeat") %></th>
      <th><%= t("offer.expire_day") %></th>
      <th><%= t("offer.merchant_type") %></th>
      <th><%= t("offer.active") %></th>
      <th><%= t("offer.action") %></th> 
    </tr>
    <% @merchant.offers.each do |offer| %>
      <tr id="offer_<%= offer.id %>">
        <td style="width: 265px;">
          <%= offer.description %>
          <input type="hidden" value="<%= offer.id %>" id="offer_id_<%= offer.id %>"/>
          <input type="hidden" value="<%= offer.merchant_id %>" id="offer_merchant_id_<%= offer.id %>"/>
          <input type="hidden" value="<%= offer.name %>" id="offer_name_<%= offer.id %>"/>
          <input type="hidden" value="<%= offer.description %>" id="offer_description_<%= offer.id %>"/>
          <input type="hidden" value="<%= offer.start_time ? offer.start_time.strftime("%H:%M") : '' %>" id="offer_start_time_<%= offer.id %>"/>
          <input type="hidden" value="<%= offer.end_time ? offer.end_time.strftime("%H:%M") : '' %>" id="offer_end_time_<%= offer.id %>"/>
          <input type="hidden" class="mon" value="<%= offer.mon %>" id="mon_<%= offer.id %>"/>
          <input type="hidden" class="tue" value="<%= offer.tue %>" id="tue_<%= offer.id %>"/>
          <input type="hidden" class="wed" value="<%= offer.wed %>" id="wed_<%= offer.id %>"/>
          <input type="hidden" class="thu" value="<%= offer.thu %>" id="thu_<%= offer.id %>"/>
          <input type="hidden" class="fri" value="<%= offer.fri %>" id="fri_<%= offer.id %>"/>
          <input type="hidden" class="sat" value="<%= offer.sat %>" id="sat_<%= offer.id %>"/>
          <input type="hidden" class="sun" value="<%= offer.sun %>" id="sun_<%= offer.id %>"/>
          <input type="hidden" class="merchant_type" value="<%= offer.merchant_type_id %>" />
          <input type="hidden" class="local_end_day" value="<%= offer.local_end_day %>" id="local_end_day_<%= offer.id %>"/>
          <input type="hidden" value="<%= offer.active %>" id="active_<%= offer.id %>"/>
        </td>
        <td class="text_center"><%= offer.start_time ? offer.start_time.strftime("%H:%M") : ''%></td>
        <td class="text_center"><%= offer.end_time ? offer.end_time.strftime("%H:%M") : ''%></td>
        <td data-id="<%= offer.id %>" id="select_repeat" class="select_repeat" >
          <label> <input type="checkbox" class="sunday" data-id='<%= offer.id %>' id='sunday_<%= offer.id %>' <%= update_status(offer.sun) %> > S</label>
          <label> <input type='checkbox' class="monday" data-id='<%= offer.id %>' id='monday_<%= offer.id %>' <%= update_status(offer.mon) %> > M</label>
          <label> <input type="checkbox" class="tuesday" data-id='<%= offer.id %>' id='tuesday_<%= offer.id %>' <%= update_status(offer.tue) %>> T</label>
          <label> <input type="checkbox" class="wednesday" data-id='<%= offer.id %>' id='wednesday_<%= offer.id %>' <%= update_status(offer.wed) %>> W</label>
          <label> <input type="checkbox" class="thursday" data-id='<%= offer.id %>' id='thursday_<%= offer.id %>' <%= update_status(offer.thu) %>> T</label>
          <label> <input type="checkbox" class="friday" data-id='<%= offer.id %>' id='friday_<%= offer.id %>' <%= update_status(offer.fri) %> > F</label>
          <label> <input type="checkbox" class="saturday" data-id='<%= offer.id %>' id='saturday_<%= offer.id %>' <%= update_status(offer.sat) %>> S</label>
        </td>
        <td data-id="<%= offer.id %>" class ="select_time" id="local_end_day_<%= offer.id %>" style="padding: 2px;"><input id="datepicker_<%= offer.id %>" type="text" style="width: 85px;" value =" <%= offer.local_end_day ? offer.local_end_day.strftime("%Y-%m-%d"): '' %>" readonly="true"/></td>

        <td data-id="<%= offer.id %>" class ="offer_merchant_type"><%= select_tag("offer[merchant_type_#{offer.id}]",options_for_select(MerchantType.where("sub_type = ?"," ").collect{ |u| [u.merchant_type, u.id]},offer.merchant_type_id),{:class => "chzn-select "}) %></td>

        <td id="offer_active_<%= offer.id %>" class="text_center"><%= format_active(offer.active) %></td>
        <td>
          
          <%= link_to "", "#edit_offer",:id =>"edit_offer", :class => "offer_action edit edit_offer","rel" => "tooltip", "title" => t("form.edit"),"data-id" => offer.id %>
          <a href="#active" data-id="<%= offer.id %>" id="active_offer"  class="offer_action stop edit_stop_offer <%= "logged_in authorized" if current_user.present? and check_authorized(@user.mobile_authorized) %>" rel="tooltip" title="
             <% if offer.active == 1 %>
               <%= t("offer.stop") %>
             <% else %>
               <%= t("offer.start") %>
             <% end %>
             ">
          </a>
          <%= link_to "", "#copy",:id =>"copy_offer", :class => "offer_action duplicate copy_offer","rel" => "tooltip","title" => t("form.copy"),"data-id" => offer.id %>
        </td>
      </tr>
    <% end %>

  </table>
  <%= render :partial => "offers/input" %>
</div>


