<h1><%= t("users.detailheading") %></h1>

<h2><%= t("users.userdetail") %></h2>

<%= form_for @user do |f| %>
<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :id %><br />
  <%= f.text_field :id, :disabled => "disabled" %>
</div>
<div class="field">
  <%= f.label :mobile_number %><br />
  <%= f.text_field :mobile_number %>
</div>
<div class="field">
  <%= f.label :mobile_handset_brand %><br />
  <%= f.text_field :mobile_handset_brand, :disabled => "disabled" %>
</div>
<div class="field">
  <%= f.label :mobile_authorized %><br />
  <%= f.text_field :mobile_authorized, :disabled => "disabled" %>
  <%= text_field_tag t("form.resendcode"), t("form.resendcode"), :type => "button" %>
</div>

<h2><%= t("users.authorization") %></h2>
<div class="field">
  <%= f.label :authorization_level %><br />
  <%= f.text_field :authorization_level, :disabled => "disabled" %>
</div>
<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field(:password, :value => '') %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to t("form.show"), @user %> |
<%= link_to t("form.back"), users_path %>
