
<h2><%= t("merchant.accountdetail.heading") %></h2>
<%= render :partial => "edit_merchant" %>

<h3><%= t("merchant.accountdetail.merchantusers") %></h3>
<%= render :partial => "approved_users" %>

<h3><%= t("merchant.accountdetail.offers") %></h3>
<%= render :partial => "show_offers" %>

<%= link_to t("form.back"), users_path %>
