<%= stylesheet_link_tag "jquery_file_upload/bootstrap-responsive" %>
<%= stylesheet_link_tag "jquery_file_upload/jquery.fileupload-ui" %>
<%= stylesheet_link_tag "jquery_file_upload/fileupload-ujs" %>
<div class="admin_inner">
  <% if @user and @user.errors.any? %>
    <div id="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'user') %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @offer and @offer.errors.any? %>
    <div id="error_messages">
      <h2><%= pluralize(@offer.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'offer') %></h2>

      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="hint hint-filter">
    <a class="close-hint" href="#"></a>
    <span class="tip"><i class="i-tip tin"></i><b><%= t("merchant.admin.tip") %>: </b> <%= if current_user.present? and check_authorized(@user.mobile_authorized) then t('merchant.admin.tip_description') else t('merchant.admin.tip_description_unlogged') end  %> </span>
  </div>
  <%= render :partial => "edit_merchant",:object => @merchant %>


  <%= render :partial => "show_offers" %>


  <%= render :partial => "approved_users" %>
  <%= link_to t("form.back"),merchants_path ,:class => "back_merchant"%>
  <div class="modal hide" id="modal_error">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Error</h3>
    </div>
    <ul></ul>
  </div>
</div>