<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
  <%= render :partial => "shared/nav_home" %>
<h2><%= t("devise.password.headingtwo") %></h2>
<div class="ui-body ui-body-d">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div><%= f.label :password, t("devise.password.new") %><br />
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation, t("devise.password.confirmnew") %><br />
      <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit t("devise.password.change") %></div>
  <% end %>

    <%= render "links_mobile" %>
</div>