<h2><%= t("devise.password.headingtwo") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, t("devise.password.new") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t("devise.password.confirmnew") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t("devise.password.change") %></div>
<% end %>

<%= render "links" %>