<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
  <%= render :partial => "shared/nav_home" %>
<h2><%= t("devise.password.forgot") %></h2>
<div class="ui-body ui-body-d">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="input">
      <%= f.text_field :login,"placeholder" => t('users.sign_up.email') %>
    </div>
    <%= f.submit  t("devise.password.reset"), "data-theme" => "e" %>
  <% end %>

  <%= render "links_mobile" %>
</div>
