<h2><%= t("devise.password.forgot") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

 <p><%= f.label :login %><br />
  <%= f.text_field :login %></p>
  <div><%= f.submit t("devise.password.reset") %></div>
<% end %>

<%= render "links" %>