<h2>Sign up</h2>
<p><%= flash[:notice] %></p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 <%= devise_error_messages! %>
<div class="field">
    <%=t 'users.sign_up.user_name' %><br />
    <%= f.text_field :username %>
  </div>
  <div><%=t 'users.sign_up.email' %><br />
  <%= f.email_field :email %></div>

  <div><%=t 'users.sign_up.password' %><br />
  <%= f.password_field :password %></div>

  <div><%=t 'users.sign_up.password_confirmation' %><br />
  <%= f.password_field :password_confirmation %></div>
 <div class="field">
    <%=t 'users.sign_up.first_name' %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%=t 'users.sign_up.last_name' %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%=t 'users.sign_up.mobile_number' %><br />
    <%= f.number_field :mobile_number %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
