<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
<%= render :partial => "shared/nav_home" %>
<div class="box_content">
  <h3> <%= t("form.signup") %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class ="input">
      <%= f.text_field :username,"placeholder" => t('users.sign_up.user_name') %>
    </div>
    <div class ="input">
      <%= f.email_field :email,"placeholder" => t('users.sign_up.email') %>
    </div>
    <div class="input">
      <%= f.password_field :password,"placeholder" => t('users.sign_up.password') %>
    </div>
    <div class="input">
      <%= f.password_field :password_confirmation,"placeholder" => t('users.sign_up.password_confirmation') %>
    </div>
    <div class="input">
      <%= f.text_field :first_name,"placeholder" => t('users.sign_up.first_name') %>

    </div>
    <div class="input">
      <%= f.text_field :last_name,"placeholder" => t('users.sign_up.last_name') %>
    </div>
    <div class="input">
      <%= f.number_field :mobile_number,"placeholder" => t('users.sign_up.mobile_number') %>
    </div>


    <input type="submit" value="Sign Up" id="signup_submit" data-theme="e" aria-disabled="false"></input>

  <% end %>
  <%= render "links_mobile" %>
</div>
