<div data-theme="f" data-role="header" class="ui-header ui-bar-e" role="banner">
  <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Pages</h1>
  <a class="ui-btn-right jqm-home ui-btn ui-btn-up-f ui-btn-icon-notext ui-btn-corner-all ui-shadow" data-direction="reverse" data-iconpos="notext" data-icon="home" href="../../index.html" title="Home" data-theme="f"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-home ui-icon-shadow"></span></span></a>
</div>
<div class="ui-content" data-role="content" role="main">
  <p> New User? Create an Account F7EDD0</p>
  <ul data-role="listview" data-inset="true">
    <li><a href="">Sign Up with Twitter</a></li>
    <li><a href="">Sign Up with Facebook</a></li>
    <li><a href="">Sign Up with Youre Email</a></li>
  </ul>
  <a href="">Sign in</a>
  <form action="#" method="get">
    <ul data-role="listview" data-inset="true" style="height: 47px">
      <li style="padding-top: 3px; padding-bottom: 3px;">
      <div data-role="fieldcontain" style="margin-top: 0px; margin-bottom: 0px;height: 47px">
        <label for="slider2" style="padding-top: 10px; float: left;padding-right: 10px">Post to Twitter</label>
        <select name="slider2" id="slider2" data-role="slider" style="float: left;height: 47px">
          <option value="off">Off</option>
          <option value="on">On</option>
        </select>
      </div>
      </li>
    </ul>
    
      <ul data-role="listview" data-inset="true" style="height: 47px">
      <li style="padding-top: 3px; padding-bottom: 3px;">
      <div data-role="fieldcontain" style="margin-top: 0px; margin-bottom: 0px;height: 47px">
        <label for="slider2" style="padding-top: 10px; float: left;padding-right: 10px">Post to Facebook</label>
        <select name="slider2" id="slider2" data-role="slider">
          <option value="off">Off</option>
          <option value="on">On</option>
        </select>
      </div>
      </li>
    </ul>
    
      <ul data-role="listview" data-inset="true" style="height: 47px">
      <li style="padding-top: 3px; padding-bottom: 3px;">
      <div data-role="fieldcontain" style="margin-top: 0px; margin-bottom: 0px;height: 47px">
        <label for="slider2" style="padding-top: 10px; float: left;padding-right: 10px">Post to Google+</label>
        <select name="slider2" id="slider2" data-role="slider" style="float: left;height: 47px">
          <option value="off">Off</option>
          <option value="on">On</option>
        </select>
      </div>
      </li>
    </ul>
    
  </form>
</div>



