/* =============================================================================
   HTML5 element display
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 * Known limitation: IE6 will not apply style for 'audio[controls]'
 */
audio[controls],
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

/* =============================================================================
Base
========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
    font-size: 100%;
    /* 1 */
    overflow-y: scroll;
    /* 2 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 4 */
    -ms-text-size-adjust: 100%;
    /* 4 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    background: #fff;
    font-size: 12px;
    font-weight: 500;
    color: #555; }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* =============================================================================
Links
========================================================================== */
a {
    text-decoration: none;
    outline: 0 none;
    color: #008ad7; }

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
    outline: 0 none; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
    outline: 0; }

/* =============================================================================
Typography
========================================================================== */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; }

p {
    padding: 0;
    margin: 0;
    line-height: 1.4em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
    border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b {
    font-weight: 500; }

strong {
    font-weight: bold; }

blockquote {
    margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
    font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
    background: #ff0;
    color: #000; }

/*
 * Corrects font family set oddly in IE6, S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
    quotes: none; }

/* 2 */
q:before,
q:after {
    content: '';
    content: none; }

small {
    font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

/* =============================================================================
Lists
========================================================================== */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none; }

dd {
    margin: 0; }

nav ul,
nav ol {
    list-style: none; }

/* =============================================================================
Embedded content
========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
    overflow: hidden; }

/* =============================================================================
Figures
========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
    margin: 0; }

/* =============================================================================
Forms
========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
    margin: 0; }

/*
 * Define consistent margin and padding
 */
fieldset {
    border: none;
    margin: 0;
    padding: 0; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
    border: 0;
    /* 1 */
    *margin-left: -7px;
    /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */ }

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
button,
input {
    line-height: normal;
    /* 1 */
    *overflow: visible;
    /* 2 */ }

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
table button,
table input {
    *overflow: auto; }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    /* 1 */
    -webkit-appearance: button;
    /* 2 */ }

/*
 * Addresses box sizing set to content-box in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */ }

/* =============================================================================
Tables
========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
    border-collapse: collapse;
    border-spacing: 0; }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .clearfix {
    display: block; }

* html .clearfix {
    height: 1%; }

.clear {
    display: block;
    clear: both; }

.hide {
    display: none; }

.amp {
    font-family: Adobe Caslon Pro;
    font-style: italic;
    font-weight: bold; }

.wrapper {
    width: 960px;
    margin: 0 auto; }

.orange-button, .close {
    background: #dc8616;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dc8616), color-stop(1, #f0b568));
    background: -ms-linear-gradient(bottom, #dc8616, #f0b568);
    background: -moz-linear-gradient(center bottom, #dc8616 0%, #f0b568 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    color: #fff; }
.orange-button:hover, .close:hover {
    background: #dc8616;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dc8616), color-stop(1, #f4cb97));
    background: -ms-linear-gradient(bottom, #dc8616, #f4cb97);
    background: -moz-linear-gradient(center bottom, #dc8616 0%, #f4cb97 100%); }
.orange-button:active, .close:active {
    background: #dc8616;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dc8616), color-stop(1, #f0b568));
    background: -ms-linear-gradient(bottom, #dc8616, #f0b568);
    background: -moz-linear-gradient(center bottom, #dc8616 0%, #f0b568 100%);
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 white, inset 0 1px 5px rgba(0, 0, 0, 0.5); }

.grey-button {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    border: 1px solid #d8d8d8;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    background: #e6e6e6;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f6f6f6));
    background: -ms-linear-gradient(bottom, #e6e6e6, #f6f6f6);
    background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #f6f6f6 100%);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    color: #555; }
.grey-button:hover {
    background: #a9d7f5;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9d7f5), color-stop(1, #daeefb));
    background: -ms-linear-gradient(bottom, #a9d7f5, #daeefb);
    background: -moz-linear-gradient(center bottom, #a9d7f5 0%, #daeefb 100%);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #7fa2b8; }
.grey-button:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6); }

.admin-button, .merchant_admin .merchant_name_action, .merchant_admin .info_discard, .merchant_admin .info_save {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    border: 1px solid #aabcd5;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    background: #d4dde9;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d4dde9), color-stop(1, #dee5ee));
    background: -ms-linear-gradient(bottom, #d4dde9, #dee5ee);
    background: -moz-linear-gradient(center bottom, #d4dde9 0%, #dee5ee 100%);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    display: block; }
.admin-button:hover, .merchant_admin .merchant_name_action:hover, .merchant_admin .info_discard:hover, .merchant_admin .info_save:hover {
    background: #d4dde9;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d4dde9), color-stop(1, #e9eff6));
    background: -ms-linear-gradient(bottom, #d4dde9, #e9eff6);
    background: -moz-linear-gradient(center bottom, #d4dde9 0%, #e9eff6 100%); }
.admin-button:active, .merchant_admin .merchant_name_action:active, .merchant_admin .info_discard:active, .merchant_admin .info_save:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.3); }

.text-field {
    border: 1px solid #bfccde;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    outline: none;
    position: relative;
    z-index: 11;
    resize: none; }
.text-field:hover {
    border-color: #81a4d5;
    z-index: 22; }
.text-field:focus {
    border-color: #81a4d5;
    -webkit-box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
    box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
    z-index: 22; }

.hint {
    font-size: 13px;
    background: #c1e2f8;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #7fa2b8;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    color: #004672;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    opacity: 1;
    position: relative;
    font-weight: normal;
    position: relative;
    z-index: 222;
    line-height: 1.3em; }
.hint .close-hint {
    display: block;
    background: url(../assets/web-icons-sprite.png) no-repeat -56px -13px;
    height: 9px;
    width: 8px;
    position: absolute;
    right: 5px;
    top: 7px;
    opacity: .6; }
.hint .close-hint:hover {
    opacity: 1; }
.hint .i-tip {
    display: inline-block;
    background: url(../assets/web-icons-sprite.png) no-repeat -32px -27px;
    width: 16px;
    height: 17px;
    position: relative;
    vertical-align: bottom;
    margin-right: 5px;
    top: 1px; }

.progress-bar-wrapper {
    margin-top: 10px;
    border-radius: 5px;
    background: #f6f6f6;
    padding: 2px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
.progress-bar-wrapper .progress-inner {
    height: 24px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #427300;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
.progress-bar-wrapper .progress-inner .progress-text {
    vertical-align: -7px;
    position: relative;
    z-index: 222; }
.progress-bar-wrapper .progress-inner .progress {
    z-index: 111;
    border-radius: 3px;
    height: 18px;
    position: absolute;
    width: 0px;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #acbd76;
    background: #cde6ae;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cde6ae), color-stop(1, #ebf5de));
    background: -ms-linear-gradient(bottom, #cde6ae, #ebf5de);
    background: -moz-linear-gradient(center bottom, #cde6ae 0%, #ebf5de 100%); }

.close {
    width: 22px;
    height: 22px;
    font-size: 15px;
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 222; }

.header {
    height: 40px;
    background: #ffab4c;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dc8729), color-stop(1, #ffab4c));
    background: -ms-linear-gradient(bottom, #dc8729, #ffab4c);
    background: -moz-linear-gradient(center bottom, #dc8729 0%, #ffab4c 100%);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
    z-index: 555; }
.header a {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.header a:hover {
    text-shadow: 0 0px 10px rgba(255, 255, 255, 0.5); }
.header .logo {
    float: left;
    text-indent: -9999px;
    background: url(../assets/logo.png) no-repeat;
    position: relative;
    top: 7px; }
.header .logo a {
    display: block;
    width: 66px;
    height: 27px; }
.header .main-navigation {
    float: right;
    padding-top: 3px; }
.header .main-navigation .main-navigation-link {
    font-size: 15px;
    font-weight: 500;
    float: left;
    height: 18px;
    padding: 8px 29px 8px 20px;
    background: url(../assets/main-nav-sepa.png) no-repeat right center; }
.header .main-navigation .main-navigation-link.last {
    padding: 8px 0 8px 20px;
    background: none; }
.header .main-navigation .main-navigation-link.active a {
    padding-bottom: 19px;
    background: url(../assets/main-nav-active.png) no-repeat center bottom; }

.footer {
    padding-top: 20px; }
.footer .social {
    float: left; }
.footer .social li {
    float: left;
    margin-right: 15px; }
.footer .social li a {
    opacity: .6; }
.footer .social li a:hover {
    opacity: 1; }
.footer .social li b {
    font-weight: bold; }
.footer .social li i {
    display: inline-block;
    position: relative;
    background: url(../assets/web-icons-sprite.png) no-repeat;
    width: 16px;
    height: 16px;
    top: 2px;
    margin-right: 4px; }
.footer .social li .twitter {
    color: #33ccff; }
.footer .social li .twitter .i-social-twitter {
    background-position: 0 -28px; }
.footer .social li .facebook {
    color: #133783; }
.footer .social li .facebook .i-social-facebook {
    background-position: -16px -28px; }
.footer .misc-info {
    padding-top: 5px;
    font-size: 11px;
    float: right; }
.footer .misc-info li {
    float: left;
    margin-left: 15px; }

.nice_table {
    border-collapse: separate;
    font-weight: 400;
    text-shadow: 0 1px 0 white; }
.nice_table tr:last-child td {
    border-bottom: 1px solid #bfccde; }
.nice_table tr:last-child:hover td {
    border-bottom: 1px solid #bfccde; }
.nice_table tr:nth-child(odd) td {
    background: #f0f1f3; }
.nice_table tr:hover td {
    background: #e1e7ef;
    border-top: solid 1px #bfccde;
    border-left: solid 1px #bfccde;
    border-right: solid 0px transparent;
    border-bottom: solid 0px transparent; }
.nice_table td {
    background: #fcfcfc;
    padding-left: 10px;
    border-top: solid 1px #dee3eb;
    border-left: solid 1px #dee3eb;
    border-right: solid 0px transparent;
    border-bottom: solid 0px transparent;
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    padding: 4px 10px 4px 10px; }
.nice_table td:first-child {
    border-left: 1px solid #bfccde; }
.nice_table td:last-child {
    border-right: 1px solid #bfccde; }
.nice_table th {
    border-top: solid 1px #bfccde;
    border-left: solid 1px #bfccde;
    border-right: solid 0px transparent;
    border-bottom: solid 1px #bfccde;
    text-align: left;
    padding: 6px 0 6px 10px;
    background: #e9ecf0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9ecf0), color-stop(1, #f5f7f8));
    background: -ms-linear-gradient(bottom, #e9ecf0, #f5f7f8);
    background: -moz-linear-gradient(center bottom, #e9ecf0 0%, #f5f7f8 100%);
    -webkit-box-shadow: inset 0 1px 0 white, inset 1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 white, inset 1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 white, inset 1px 0 0 rgba(255, 255, 255, 0.5); }
.nice_table th:first-child {
    border-radius: 5px 0 0 0; }
.nice_table th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #bfccde; }

.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    text-shadow: none; }

.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80); }

.tooltip.top {
    margin-top: -2px; }

.tooltip.right {
    margin-left: 2px; }

.tooltip.bottom {
    margin-top: 2px; }

.tooltip.left {
    margin-left: -2px; }

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000; }

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent; }

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-right: 5px solid #000000;
    border-bottom: 5px solid transparent; }

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0; }

/* @group Base */
.chzn-container {
    font-size: 13px;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline; }

.chzn-container .chzn-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 29px;
    left: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 1010; }

/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -ms-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #aaaaaa;
    -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 23px;
    line-height: 24px;
    padding: 0 0 0 8px;
    color: #444444;
    text-decoration: none; }

.chzn-container-single .chzn-default {
    color: #999; }

.chzn-container-single .chzn-single span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis; }

.chzn-container-single .chzn-single abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 6px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url("../assets/chosen-sprite.png") right top no-repeat; }

.chzn-container-single .chzn-single abbr:hover {
    background-position: right -11px; }

.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
    background-position: right top; }

.chzn-container-single .chzn-single div {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px; }

.chzn-container-single .chzn-single div b {
    background: url("../assets/chosen-sprite.png") no-repeat 0 0;
    display: block;
    width: 100%;
    height: 100%; }

.chzn-container-single .chzn-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010; }

.chzn-container-single .chzn-search input {
    background: white url("../assets/chosen-sprite.png") no-repeat 100% -22px;
    background: url("../assets/chosen-sprite.png") no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
    background: url("../assets/chosen-sprite.png") no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, white 15%);
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em; }

.chzn-container-single .chzn-drop {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }

/* @end */
.chzn-container-single-nosearch .chzn-search {
    display: none; }

.chzn-container-single-nosearch .chzn-search input {
    position: absolute;
    left: -9000px; }

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
    background-image: linear-gradient(top, #eeeeee 1%, white 15%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative; }

.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none; }

.chzn-container-multi .chzn-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0; }

.chzn-container-multi .chzn-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.chzn-container-multi .chzn-choices .search-field .default {
    color: #999; }

.chzn-container-multi .chzn-choices .search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default; }

.chzn-container-multi .chzn-choices .search-choice-focus {
    background: #d4d4d4; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url("../assets/chosen-sprite.png") right top no-repeat; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background-position: right -11px; }

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
    background-position: right -11px; }

/* @end */
/* @group Results */
.chzn-container .chzn-results {
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }

.chzn-container-multi .chzn-results {
    margin: -1px 0 0;
    padding: 0; }

.chzn-container .chzn-results li {
    display: none;
    line-height: 15px;
    padding: 5px 6px;
    margin: 0;
    list-style: none; }

.chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item; }

.chzn-container .chzn-results .highlighted {
    background-color: #3875d7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    color: #fff; }

.chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal; }

.chzn-container .chzn-results .highlighted em {
    background: transparent; }

.chzn-container .chzn-results .no-results {
    background: #f4f4f4;
    display: list-item; }

.chzn-container .chzn-results .group-result {
    cursor: default;
    color: #999;
    font-weight: bold; }

.chzn-container .chzn-results .group-option {
    padding-left: 15px; }

.chzn-container-multi .chzn-drop .result-selected {
    display: none; }

.chzn-container .chzn-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    /* This should by dynamic with js */
    z-index: 1; }

.chzn-container .chzn-results-scroll span {
    display: inline-block;
    height: 17px;
    text-indent: -5000px;
    width: 9px; }

.chzn-container .chzn-results-scroll-down {
    bottom: 0; }

.chzn-container .chzn-results-scroll-down span {
    background: url("../assets/chosen-sprite.png") no-repeat -4px -3px; }

.chzn-container .chzn-results-scroll-up span {
    background: url("../assets/chosen-sprite.png") no-repeat -22px -3px; }

/* @end */
/* @group Active  */
.chzn-container-active .chzn-single {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #5897fb; }

.chzn-container-active .chzn-single-with-drop {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
    background-image: -webkit-linear-gradient(top, #eeeeee 20%, white 80%);
    background-image: -moz-linear-gradient(top, #eeeeee 20%, white 80%);
    background-image: -o-linear-gradient(top, #eeeeee 20%, white 80%);
    background-image: -ms-linear-gradient(top, #eeeeee 20%, white 80%);
    background-image: linear-gradient(top, #eeeeee 20%, white 80%);
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

.chzn-container-active .chzn-single-with-drop div {
    background: transparent;
    border-left: none; }

.chzn-container-active .chzn-single-with-drop div b {
    background-position: -18px 1px; }

.chzn-container-active .chzn-choices {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #5897fb; }

.chzn-container-active .chzn-choices .search-field input {
    color: #111 !important; }

/* @end */
/* @group Disabled Support */
.chzn-disabled {
    cursor: default;
    opacity: 0.5 !important; }

.chzn-disabled .chzn-single {
    cursor: default; }

.chzn-disabled .chzn-choices .search-choice .search-choice-close {
    cursor: default; }

/* @group Right to Left */
.chzn-rtl {
    text-align: right; }

.chzn-rtl .chzn-single {
    padding: 0 8px 0 0;
    overflow: visible; }

.chzn-rtl .chzn-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl; }

.chzn-rtl .chzn-single div {
    left: 3px;
    right: auto; }

.chzn-rtl .chzn-single abbr {
    left: 26px;
    right: auto; }

.chzn-rtl .chzn-choices .search-field input {
    direction: rtl; }

.chzn-rtl .chzn-choices li {
    float: right; }

.chzn-rtl .chzn-choices .search-choice {
    padding: 3px 5px 3px 19px;
    margin: 3px 5px 3px 0; }

.chzn-rtl .chzn-choices .search-choice .search-choice-close {
    left: 4px;
    right: auto;
    background-position: right top; }

.chzn-rtl.chzn-container-single .chzn-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0; }

.chzn-rtl .chzn-results .group-option {
    padding-left: 0;
    padding-right: 15px; }

.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
    border-right: none; }

.chzn-rtl .chzn-search input {
    background: white url("../assets/chosen-sprite.png") no-repeat -38px -22px;
    background: url("../assets/chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
    background: url("../assets/chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, white 15%);
    background: url("../assets/chosen-sprite.png") no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, white 15%);
    padding: 4px 5px 4px 20px;
    direction: rtl; }

/* @end */
.ui-timepicker-list {
    overflow-y: auto;
    height: 72px;
    width: 5.5em;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    list-style: none; }

.ui-timepicker-list.ui-timepicker-with-duration {
    width: 11em; }

.ui-timepicker-duration {
    margin-left: 5px;
    color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {
    color: #888; }

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    list-style: none;
    margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {
    background: #fff;
    color: #000; }

li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover {
    background: #1980EC;
    color: #fff; }

li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration {
    color: #ccc; }

.merchant_admin {
    text-shadow: 0 1px 0 white; }
.merchant_admin h1, .merchant_admin h2, .merchant_admin h3 {
    color: #73889c; }
.merchant_admin #container {
    padding-top: 45px; }
.merchant_admin .admin_inner {
    border: 1px solid #BFCCDE;
    border-radius: 5px 5px 5px 5px;
    margin: 20px auto 0;
    padding: 19px;
    width: 938px; }
.merchant_admin .merchant_name {
    float: left; }
.merchant_admin .merchant_name_action {
    height: 23px;
    width: 23px;
    float: left;
    margin-left: 5px; }
.merchant_admin .merchant_name_action::after {
    content: "";
    display: block; }
.merchant_admin .merchant_name_action.merchant_name_edit::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../assets/admin_sprite.png) no-repeat -15px 0;
    position: relative;
    top: 5px;
    left: 4px; }
.merchant_admin .merchant_name_action.merchant_name_accept::after {
    content: "";
    display: block;
    width: 15px;
    height: 12px;
    background: url(../assets/admin_sprite.png) no-repeat 0 0;
    position: relative;
    top: 5px;
    left: 4px; }
.merchant_admin .admin_section {
    margin: 15px 0;
    padding: 10px 20px; }
.merchant_admin .admin_section.merchant_info_section {
    border: 1px solid #0086e5;
    -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(0, 134, 229, 0.7);
    -moz-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(0, 134, 229, 0.7);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(0, 134, 229, 0.7);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzAwODZlNSIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg2ZTUiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 134, 229, 0.02) 35%, rgba(0, 134, 229, 0.07) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, rgba(0, 134, 229, 0.02)), color-stop(100%, rgba(0, 134, 229, 0.07)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 134, 229, 0.02) 35%, rgba(0, 134, 229, 0.07) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 134, 229, 0.02) 35%, rgba(0, 134, 229, 0.07) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 134, 229, 0.02) 35%, rgba(0, 134, 229, 0.07) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 134, 229, 0.02) 35%, rgba(0, 134, 229, 0.07) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00ffffff', endColorstr = '#120086e5', GradientType = 0);
    /* IE6-8 */ }
.merchant_admin .admin_section.add_offer_section {
    border: 1px solid #009917;
    -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(0, 153, 23, 0.7);
    -moz-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(0, 153, 23, 0.7);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(0, 153, 23, 0.7);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzAwOTkxNyIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk5MTciIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 153, 23, 0.02) 35%, rgba(0, 153, 23, 0.07) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, rgba(0, 153, 23, 0.02)), color-stop(100%, rgba(0, 153, 23, 0.07)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 153, 23, 0.02) 35%, rgba(0, 153, 23, 0.07) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 153, 23, 0.02) 35%, rgba(0, 153, 23, 0.07) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 153, 23, 0.02) 35%, rgba(0, 153, 23, 0.07) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 153, 23, 0.02) 35%, rgba(0, 153, 23, 0.07) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00ffffff', endColorstr = '#12009917', GradientType = 0);
    /* IE6-8 */ }
.merchant_admin .admin_section.add_user_section {
    margin-bottom: 0;
    border: 1px solid #e99537;
    -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(255, 186, 0, 0.7);
    -moz-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(255, 186, 0, 0.7);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(255, 186, 0, 0.7);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5OTUzNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2U5OTUzNyIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTk1MzciIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(233, 149, 55, 0) 0%, rgba(233, 149, 55, 0.02) 35%, rgba(233, 149, 55, 0.07) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(233, 149, 55, 0)), color-stop(35%, rgba(233, 149, 55, 0.02)), color-stop(100%, rgba(233, 149, 55, 0.07)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(233, 149, 55, 0) 0%, rgba(233, 149, 55, 0.02) 35%, rgba(233, 149, 55, 0.07) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(233, 149, 55, 0) 0%, rgba(233, 149, 55, 0.02) 35%, rgba(233, 149, 55, 0.07) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(233, 149, 55, 0) 0%, rgba(233, 149, 55, 0.02) 35%, rgba(233, 149, 55, 0.07) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(233, 149, 55, 0) 0%, rgba(233, 149, 55, 0.02) 35%, rgba(233, 149, 55, 0.07) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00e99537', endColorstr = '#12e99537', GradientType = 0);
    /* IE6-8 */ }
.merchant_admin .admin_left_col {
    width: 360px;
    float: left; }
.merchant_admin .admin_right_col {
    width: 360px;
    float: left;
    margin-left: 40px; }
.merchant_admin .admin_subsection {
    margin-bottom: 20px; }
.merchant_admin .admin_subsection.addUser_subsection,.merchant_admin .admin_subsection.addOffer_subsection {
    width: 360px;
    margin-top: 20px; }
.merchant_admin .subsection_title {
    font-size: 16px;
    color: #73889C;
    position: relative;
    display: block; }
.merchant_admin .subsection_title::before {
    content: "";
    width: 13px;
    height: 12px;
    background: url(../assets/admin_sprite.png) no-repeat -98px -31px;
    display: block;
    position: absolute;
    right: -2px;
    top: 8px; }
.merchant_admin .subsection_title.collapsed::before {
    background-position: -107px -23px;
    top: 4px;
    right: 0; }
.merchant_admin .subsection_content.collapsed {
    display: none; }
.merchant_admin .field_wr {
    display: inline-block;
    margin: 8px 0;
    position: relative; }
.merchant_admin .field_wr.user_privileges_wr {
    margin-bottom: 25px; }
.merchant_admin .field_wr.full {
    width: 100%; }
.merchant_admin .field_wr.full .admin_text_field {
    width: 96%; }
.merchant_admin .field_wr.half {
    width: 168px;
    margin-right: 20px; }
.merchant_admin .field_wr.third {
    margin: 0 12px 0 0;
    width: 109px; }
.merchant_admin .field_wr.third .admin_text_field {
    width: 41px;
    border-radius: 3px 0 0 3px;
    float: left; }
.merchant_admin .field_wr.third .admin_text_field.last {
    border-radius: 0 3px 3px 0;
    margin-left: -1px; }
.merchant_admin .field_wr.last {
    margin-right: 0; }
.merchant_admin .admin_label {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    display: block; }
.merchant_admin .admin_label .comment {
    font-size: 12px;
    font-weight: normal; }
.merchant_admin .admin_sublabel {
    color: #6e87ae;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 2px; }
.merchant_admin .admin_text_field {
    font-family: "Helvetica Neue", sans-serif;
    width: 154px;
    padding: 7px 6px 6px;
    border: 1px solid #bfccde;
    border-radius: 3px;
    margin-top: 2px;
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    resize: none; }
.merchant_admin .admin_text_field.fourth {
    width: 70px;
    float: left; }
.merchant_admin .admin_text_field:hover {
    border-color: #81a4d5;
    z-index: 22; }
.merchant_admin .admin_text_field:focus {
    border-color: #81a4d5;
    -webkit-box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
    box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
    z-index: 22; }
.merchant_admin .admin_text_field.disabled {
    background: #eee;
    -webkit-box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 white;
    cursor: not-allowed; }
.merchant_admin .admin_text_field#city_field, .merchant_admin .admin_text_field#state_field {
    border-radius: 3px 0 0 3px; }
.merchant_admin .admin_text_field#postal_code_field, .merchant_admin .admin_text_field#country_field {
    border-radius: 0 3px 3px 0;
    left: -1px; }
.merchant_admin .admin_text_field#business_description {
    height: 75px; }
.merchant_admin .info_discard {
    float: left;
    margin-right: 10px;
    color: #697e9d;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 8px 5px 24px; }
.merchant_admin .info_discard::before {
    content: "";
    display: block;
    width: 13px;
    height: 14px;
    background: url(../assets/admin_sprite.png) no-repeat -65px 0;
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: .8; }
.merchant_admin .info_save {
    float: left;
    color: #697e9d;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 8px 5px 24px; }
.merchant_admin .info_save::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../assets/admin_sprite.png) no-repeat -51px 0;
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: .8; }
.merchant_admin .chzn-container {
    /*width: 168px !important;*/
    top: 3px; }
.merchant_admin .chzn-single {
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #686a6b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
    background: -ms-linear-gradient(bottom, #f0f0f0, white);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0%, white 100%);
    border: 1px solid #bfccde;
    width: 158px;
    height: 26px;
    padding-top: 2px; }
.merchant_admin .chzn-single b {
    position: relative;
    top: 2px; }
.merchant_admin .chzn-drop {
    font-size: 14px;
    color: #686a6b;
    font-weight: 500;
    border-top: solid 0px transparent;
    border-left: solid 1px #bfccde;
    border-right: solid 1px #bfccde;
    border-bottom: solid 1px #bfccde;
    width: 166px !important; }
.merchant_admin .chzn-results {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9eff6), color-stop(1, #f0f0f0));
    background: -ms-linear-gradient(bottom, #e9eff6, #f0f0f0);
    background: -moz-linear-gradient(center bottom, #e9eff6 0%, #f0f0f0 100%);
    border-radius: 0 0 3px 3px;
    width: 166px; }
.merchant_admin .offer_action {
    display: inline-block;
    background: url(../assets/admin_sprite.png);
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 1px; }
.merchant_admin .offer_action.edit {
    background-position: -15px 0; }
.merchant_admin .offer_action.stop {
    background-position: -78px 0; }
.merchant_admin .offer_action.duplicate {
    margin-left: 1px;
    margin-right: 0px;
    width: 17px;
    background-position: -92px 0; }
.merchant_admin .section_title {
    font-size: 16px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-top: 5px; }
.merchant_admin .section_title::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../assets/admin_sprite.png) no-repeat;
    left: 0; }
.merchant_admin .section_title.businessDetails_title {
    color: #0086e5;
    padding-left: 35px; }
.merchant_admin .section_title.businessDetails_title::before {
    height: 21px;
    width: 28px;
    background-position: -40px -14px; }
.merchant_admin .section_title.offers_title {
    color: #009917; }
.merchant_admin .section_title.offers_title::before {
    height: 21px;
    width: 20px;
    background-position: 0 -14px;
    top: 1px; }
.merchant_admin .section_title.approvedUsers_title {
    color: #e38010; }
.merchant_admin .section_title.approvedUsers_title::before {
    height: 19px;
    width: 20px;
    background-position: -20px -14px; }
.merchant_admin .new_offer, .merchant_admin .add_user {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    background: #718db6;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #718db6), color-stop(1, #92a8c7));
    background: -ms-linear-gradient(bottom, #718db6, #92a8c7);
    background: -moz-linear-gradient(center bottom, #718db6 0%, #92a8c7 100%);
    border-radius: 5px;
    border: 1px solid #47638a;
    padding: 5px 9px 5px 9px;
    margin-top: 10px; }
.merchant_admin .new_offer:hover, .merchant_admin .add_user:hover {
    background: #a8bad3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #718db6), color-stop(1, #a8bad3));
    background: -ms-linear-gradient(bottom, #718db6, #a8bad3);
    background: -moz-linear-gradient(center bottom, #718db6 0%, #a8bad3 100%); }
.merchant_admin .new_offer:active, .merchant_admin .add_user:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 0 white; }
.merchant_admin .user_action {
    display: inline-block;
    background: url(../assets/admin_sprite.png);
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px; }
.merchant_admin .user_action.edit {
    background-position: -15px 0; }
.merchant_admin .user_action.delete {
    background-position: -109px 0;
    width: 11px;
    height: 10px;
    top: 0;
    margin-left: 2px; }
.merchant_admin .user_action.resend_code {
    background-position: -68px -14px;
    width: 15px;
    height: 11px;
    top: 1px;
    margin-left: 4px; }
.merchant_admin .drag_drop_area {
    width: 357px;
    height: 142px;
    position: relative;
    border: 2px dashed #9cb1d0;
    border-radius: 4px;
    margin: 15px 0;
    -webkit-box-shadow: 0 2px 2px white, inset 0 0 5px rgba(0, 67, 159, 0.3);
    -moz-box-shadow: 0 2px 2px white, inset 0 0 5px rgba(0, 67, 159, 0.3);
    box-shadow: 0 2px 2px white, inset 0 0 5px rgba(0, 67, 159, 0.3);
    background: url(../assets/drag_drop_icon.png) no-repeat center center; }
.merchant_admin .drag_drop_title {
    text-align: center;
    margin: 5px 0;
    font-size: 14px; }
.merchant_admin .switch_to_old {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 8px; }
.merchant_admin .uploaded_photos .uploaded_photo {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 3px;
    width: 70px;
    height: 56px;
    border: 1px solid #bfccde;
    float: left;
    border-radius: 2px;
    margin-right: 16px;
    margin-bottom: 10px;
    cursor: pointer; }
.merchant_admin .uploaded_photos .uploaded_photo:nth-child(4n) {
    margin-right: 0; }
.merchant_admin .uploaded_photos .uploaded_photo .photo_wrapper {
    width: 68px;
    height: 41px;
    background: #f4f5f7;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: inset 0 0 4px rgba(0, 67, 159, 0.2);
    box-shadow: inset 0 0 4px rgba(0, 67, 159, 0.2);
    border: 1px solid #bfccde; }
.merchant_admin .uploaded_photos .uploaded_photo .photo_action {
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background: url(../assets/admin_sprite.png) no-repeat;
    bottom: 1px; }
.merchant_admin .uploaded_photos .uploaded_photo .photo_action.drag {
    left: 3px;
    background-position: -83px -14px; }
.merchant_admin .uploaded_photos .uploaded_photo .photo_action.delete {
    background-position: -83px -27px;
    height: 14px;
    right: 3px;
    bottom: 0; }