<div  data-type="horizontal" data-role="controlgroup" style="text-align: center;">
  <%= link_to "Home", root_path,"data-ajax" => "false", "data-role" =>"button", "data-ajax" => "false", "data-theme" =>"c"  %>
  <%= link_to "Offer list",url_for(:controller => 'offers' ,:action => 'redirect_to_offers', :lat => cookies[:lat], :lon => cookies[:lon], :time => 1, :distance => 1.0), "data-ajax" => "false", "data-role" =>"button", "data-ajax" => "false", "data-theme" =>"c" %>
</div>
