<a class="add_user" href="#">Add user</a>
<%= form_for(User.new, :url => {:action => 'new_employee'}) do |f| %>
   <input type="hidden" id="user_id_edit"/>
  <%= f.hidden_field :merchant_id, :value => @merchant.id %>
  <div class="admin_subsection addUser_subsection hide">
    <h3><a href="#" class="subsection_title_new_offer"><%= t("users.user_info") %></a></h3>

    <div class="subsection_content collapsed">
      <div class="field_wr half">
        <%= f.label :first_name ,t("user.first_name"),:class => "admin_label" %>
        <%= f.text_field :first_name,:class => "admin_text_field" %>
      </div>
      <div class="field_wr half last">
        <%= f.label :last_name,t("user.last_name"),:class => "admin_label" %>
        <%= f.text_field :last_name,:class => "admin_text_field" %>
      </div>
      <div class="field_wr half">
        <%= f.label :email,t("user.email"),:class => "admin_label" %>
        <%= f.text_field :email,:class => "admin_text_field" %>
      </div>
      <div class="field_wr half last">
        <%= f.label :mobile_number,t("user.mobile_number"),:class => "admin_label" %>
        <%= f.text_field :mobile_number,:class => "admin_text_field" %>
      </div>
      <div class="field_wr user_privileges_wr half">
        <label class="admin_label" for="user_privileges_dd"><%= t("user.privileges")%> </label>
        <%= f.select(:role_id, Role.where(:name => ["Merchant employee","Merchant admin"]).collect{|a| [a.name, a.id]} ,{},{:class => "chzn-select category_dd"}) %>
      </div>
      <div class="add_user_buttons clearfix">
        <%= link_to t("form.discard"), '/', :id => "cancel_new_user",:class => "info_discard" %>
        <button id="add_user_merchant" class="info_save" type="button"><%= t("form.save") %></button>
        <button id="edit_user_merchant" class="info_save" type="button" style="display: none"><%= t("form.save") %></button>
       <img id="loading_update_user_merchant" class="loading_img" src="/assets/uploading.gif" />
      </div>
    </div>
  </div>
<% end %>