<%= javascript_include_tag "jquery-checkbox-switch" %>
<script type="text/javascript">

  $(document).ready(function (){
    $("#twitter_on").CheckboxSwitch();
    $("#facebook_on").CheckboxSwitch();
  });
</script>

<h1>Home</h1>
<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
<% if user_signed_in? %>
  <div id="user_login_box" style="float:right">
    <%= current_user.username ? current_user.username : current_user.username %> |
    <%= link_to t("form.myinfo"), edit_user_registration_path %> |
    <%= link_to t("form.signout"), destroy_user_session_path,  :method => :delete  %>
  </div>
<% end %>
<% unless user_signed_in? -%>
  <p><%= link_to t("form.signup"), new_user_registration_path %></p>
  <p><%= link_to t("form.signin"), new_user_session_path %></p>

<% end -%>
<% if current_user and current_user.merchant == nil %>
<%= link_to "You are Merchant?",new_merchant_path %>
<% elsif current_user and current_user.merchant  %>
  <%= link_to "My Merchant",current_user.merchant %>
<% end %>
<% if current_user and current_user.merchant != nil %>
<%= link_to "New Offer",new_offer_path %>
<% end %>
<%= link_to "Offer list",offers_path, "data-ajax" => "false" %>
<br/>
<%= link_to t("form.signinwithname", :name => 'Twitter'), user_omniauth_authorize_path(:twitter)  %>
<%= link_to t("form.signinwithname", :name => 'Facebook'), user_omniauth_authorize_path(:facebook) %>
<%= link_to t("form.signinwithname", :name => 'Google'), user_omniauth_authorize_path(:google_oauth2) %>
<%= link_to t("form.signinwithname", :name => 'Yahoo'), user_omniauth_authorize_path(:yahoo) %>
<%#= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter),:onclick => "window.open(this.href,'Sign in with Twitter', 'height=500, width=500');return false;"  %>
<%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),:onclick => "window.open(this.href,'Sign in with Facebook', 'height=500, width=500');return false;"  %>
<%#= link_to "Sign in with Google", user_omniauth_authorize_path(:google),:onclick => "window.open(this.href,'Sign in with Google', 'height=500, width=600');return false;"  %>
<br/>
<% if current_user and current_user.merchant == nil %>
<%= link_to "You are Merchant?",new_merchant_path %>
<% end %>
<% if current_user and current_user.merchant != nil %>
<%= link_to "New Offer",new_offer_path %>
<% end %>
<br/>
<%= t("form.posttoname", :name => 'Twitter') %> <%= check_box_tag 'twitter_on' %>
<%= t("form.posttoname", :name => 'Facebook') %> <%= check_box_tag 'facebook_on' %>
<%= hidden_field_tag 'hidden_twitter',  cookies[:twitter_on], :id => 'hidden_twitter' %>
<%= hidden_field_tag 'hidden_facebook', cookies[:facebook_on], :id => 'hidden_facebook'%>