<div data-role="page" id="indexPage">
  <script>
    $(document).bind("mobileinit", function(){
      //Disable ajax link
      $('.disable-ajax').click(function(event){
        $.mobile.ajaxFormsEnabled = false;
      });
    });
  </script>
  <script type="text/javascript" >
    $("#twitter_on option[value='twitter_on']").attr("selected", "selected");
  </script>

  <div data-role="header" data-theme="e" style="height: 42px;">
    <a href="offers/set_location"  data-rel="dialog" data-theme="a" data-inline="true" id="filter_dialog" data-ajax="false"> Set Location</a>
    <h1>Yacto</h1>
  </div>
 

  
  <% if user_signed_in? %>
    <div id="user_login_box_mobile">
      <%= current_user.username ? current_user.username : current_user.username %> |
      <%= link_to t('home.index.my_info'), edit_user_registration_path,"data-ajax" => "false" %> |
      <%= link_to t('home.index.sign_out'), destroy_user_session_path,"data-ajax" => "false", :method => :delete %>
    </div>
  <% end %>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>
  <% if current_user and current_user.merchant == nil %>
    <%= link_to "You are Merchant?",new_merchant_path %>
  <% elsif current_user and current_user.merchant  %>
    <%= link_to "My Merchant",current_user.merchant, :rel => "external" %>
  <% end %>
  <% if current_user and current_user.merchant != nil %>
    <%= link_to "New Offer",new_offer_path %>
  <% end %>
  <%= render :partial => "shared/nav_home" %>
  <div style="width: 100%; text-align: center; padding-top: 20px;">
    <%=t 'home.index.create_an_account' %>
  </div>

  <div  style="padding-left: 10px;padding-right: 10px; margin-bottom: 10px;">
    <ul data-role="listview" data-inset="true" style="margin-top: 20px;margin-bottom: 10px;border-radius:10px;">
      <li><%= image_tag("mobile/twitter.png",:class => "icon_fb_tw") %><%= link_to t('home.index.sign_in_with')+ " Twitter", user_omniauth_authorize_path(:twitter),:rel => "external","data-ajax" => "false" %></li>
      <li><%= image_tag("mobile/facebook.png",:class => "icon_fb_tw") %><%= link_to t('home.index.sign_in_with')+ " Facebook", user_omniauth_authorize_path(:facebook) ,:rel => "external","data-ajax" => "false"%></li>
      <li><%= image_tag("mobile/google.png",:class => "icon_email") %><%= link_to t('home.index.sign_in_with')+ " Google", user_omniauth_authorize_path(:google_oauth2),:rel => "external","data-ajax" => "false" %></li>
       <% if current_user.nil? %>
      <li><%= image_tag("mobile/email.png",:class => "icon_email") %><%= link_to t('home.index.sign_in_with')+ " Email", new_user_session_path %></li>
      <% end %>
    </ul>
    <% unless user_signed_in? -%>
      <p><%= link_to t("form.signup"), new_user_registration_path %></p>
    <% end -%>
    <div class="box_line">
      <label for="twitter_on" style="padding-top: 10px; float: left;padding-right: 10px"><%= t('home.index.post_to')+' Twitter' %></label>
      <select name="twitter_on" id="twitter_on" data-role="slider" style="float: right;height: 47px; width: 100px;">
        <option value="off"><%= t('home.index.off')%></option>
        <% if cookies[:twitter_on] == true %>
          <option value="on" selected="true" >On</option>
        <% else %>
          <option value="on"><%= t('home.index.on')%></option>
        <% end %>
      </select>
    </div>

    <div class="box_line">
      <label for="facebook_on" style="padding-top: 10px; float: left;padding-right: 10px"><%= t('home.index.post_to')+' Facebook' %></label>
      <select name="facebook_on" id="facebook_on" data-role="slider" style="float: right;height: 47px; width: 100px;">
        <option value="off"><%= t('home.index.off')%></option>
        <% if cookies[:facebook_on] == true %>
          <option value="on" selected="true" ><%= t('home.index.on')%></option>
        <% else %>
          <option value="on"><%= t('home.index.on')%></option>
        <% end %>
      </select>
    </div>

    <div class="box_line">
      <label for="google_on" style="padding-top: 10px; float: left;padding-right: 10px"><%= t('home.index.post_to')+' Google+' %></label>
      <select name="google_on" id="google_on" data-role="slider" style="float: right;height: 47px; width: 100px;">
        <option value="off"><%= t('home.index.off')%></option>
        <% if cookies[:google_on] == true %>
          <option value="on" selected="true" ><%= t('home.index.on')%></option>
        <% else %>
          <option value="on"><%= t('home.index.on')%></option>
        <% end %>
      </select>
    </div>
    <%= hidden_field_tag 'hidden_twitter',cookies[:twitter_on] %>
    <%= hidden_field_tag 'hidden_facebook',cookies[:facebook_on] %>
    <%= hidden_field_tag 'hidden_google',cookies[:google_on] %>
  </div>

  <script type="text/javascript">

    $('.ui-li.ui-btn').live('click', function () {
      var link = $(this).find('a:first');
      if (link) {
        if ($(link).attr('data-ajax') == "false") {
          document.location = $(link).attr('href').toString();
        } else {
          $.mobile.changePage($(link).attr('href').toString());
        }
      }
    });

    $('.ui-btn-back').live('tap', function () {
      history.back(); return false;
    }).live('click', function () {
      history.back(); return false;
    });

    $('[data-role=page]').live('pageshow', function (event, ui) {
      if ($('[bodyclass]:first').length == 1) {
        $('body').addClass($('[bodyclass]').attr('bodyclass'));
      }

      var url = window.location.toString();
      var hashLocation = url.indexOf("#");
      if (hashLocation != -1) {
        url = url.substring(hashLocation + 1);
      }
      else {
        url = window.location.pathname.toString();
      }

      try {
        var pageTracker = _gat._getTracker("UA-212043-6");
        pageTracker._trackPageview(url);
      } catch (err) { }

      if ($('div.gallery-page').length == 1) {
        $("ul.gallery a").photoSwipe(
        {
          allowUserZoom: false,
          jQueryMobile: true,
          autoStartSlideshow: false,
          backButtonHideEnabled: false,
          captionAndToolbarAutoHideDelay: 0,
          preventSlideshow: true
        });
      }
    });  

  </script>
  <script type="text/javascript">

    var mobileDemo = { 'center': '57.7973333,12.0502107', 'zoom': 5 };
    $('#indexPage').live('pageinit', function() {
      demo.add('indexPage', function() {

        $('#map_canvas_2').gmap({'center': mobileDemo.center, 'zoom': 5 , 'disableDefaultUI':true, 'callback': function(map) {
            var self = this;
            self.watchPosition(function(position, status) {
              if ( status === 'OK' ) {
      
                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                $.ajax({
                  type: "GET",
                  url: "<%= offers_ajax_lonlat_path %>",
                  data: "lon=" +  position.coords.longitude + "&lat=" + position.coords.latitude,

                  success: function(data){
                      
                    return false;
                  },
                  error: function(msg){
 
                    alert('<%= t("set_location.error") %>');
                    window.location.replace('<%= url_for(:controller => 'offers', :action => 'set_location')%>');
                    return true;
                  }
                  
                });
                if ( !self.get('markers').client ) {
                  self.addMarker({ 'id': 'client', 'position': latlng, 'bounds': true });
                } else {
                  self.get('markers').client.setPosition(latlng);
                  //-try to add circle for mobile---self.set('clientPosition', new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                  //-try to add circle for mobile---self.addShape('Circle', { 'strokeWeight': 0, 'fillColor': "#008595", 'fillOpacity': 0.25, 'center': self.get('clientPosition'), 'radius': 15, clickable: false });
                  map.panTo(latlng);
                }
              } 
            });
         
          }});
        
      }).load('indexPage');
      
    });


			

  </script>

  <div id="map_canvas_2" style="height:0px;"></div>
</div>

