<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <%= stylesheet_link_tag("SpryTabbedPanels") %>
    <%= javascript_include_tag("SpryTabbedPanels") %>
  </head>
  <body>
    <div id="main">
      <div style="width:100%; height:162px;">
        <div id="TabbedPanels1" class="TabbedPanels">
          <ul  class="TabbedPanelsTabGroup">
            <li  class="TabbedPanelsTab" tabindex="0" id="line">
              <div>
                <b>Mon</b><i>x3</i>
              </div>
            </li>
            <li class="TabbedPanelsTab" tabindex="0" id="line">
              <div>
                <b>Tue</b><i>x3</i>
              </div>
            </li>
            <li class="TabbedPanelsTab" tabindex="0" id="line">
              <div><b>Wed</b><i>x4</i></div>
            </li>
            <li class="TabbedPanelsTab" tabindex="0" id="line"><div><b>Thu</b><i>x6</i></div></li>
            <li class="TabbedPanelsTab" tabindex="0" id="line"><div><b>Fri</b>&nbsp;<i>x3</i></div></li>
            <li class="TabbedPanelsTab" tabindex="0" id="line"><div><b>Sat</b><i>x3</i></div></li>
            <li class="TabbedPanelsTab" tabindex="0" id="line"><div><b>Sun</b><i>x3</i></div></li>

          </ul>
          <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent">
              Text Will Come Here.....Text Will Come Here.....<br />
              Text Will Come Here.....Text Will Come Here.....</div>
            <div class="TabbedPanelsContent">Content 2</div>
            <div class="TabbedPanelsContent">Content 3</div>
            <div class="TabbedPanelsContent">Content 4</div>
            <div class="TabbedPanelsContent">Content 5</div>
            <div class="TabbedPanelsContent">Content 6</div>
            <div class="TabbedPanelsContent">Content 7</div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
      </script>
    </div>
  </body>

</html>