<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Untitled Document</title>
    <%= stylesheet_link_tag("phone") %>
    <%= javascript_include_tag("CreateHTML5Elements") %>
  </head>

  <body>
    <div id="main">
      <div id="yacto">
        <div class="foot_div">
          <div id="within10" class="strong"><a href="#"><strong>Within 10mls</strong></a></div>
        </div>
        <div class="foot_div">
          <div class="yacto-text" style="width:60px; height:40px; float:right;">yacto</div>
        </div>
        <div class="foot_div">
          <div id="within3" class="strong"><a href="#"><strong>Within<br>3hrs</strong> </a></div>
        </div>
        <div class="foot_div">
          <div id="all-offers" class="strong"><a href="#"><strong>All<br>offers</strong></a></div>
        </div>
      </div>
      <div id="liza">
        <div style="width:90px; height:75px; float:left; margin-left:10px;margin-right:10px; font-size:11px; margin-top:3px;clear: left;">
          <div id="look-btn"><a href="#"><strong>Look</strong></a></font></div>
          <div style="width:80px; height:15px; float:left; margin-left:10px; font-size:12px;"><font face="Verdana, Geneva, sans-serif" color="#000000"><strong>Liza's Buzz</strong></font></div>
          <div style="width:80px; height:30px; float:left; margin-left:10px; font-size:11px; margin-top:3px;"><font face="Verdana, Geneva, sans-serif" color="#7434a4"><strong>14.00-17.00 0.2 mi</strong></font></div> 
        </div>
  
          <p>Ultra stylish salon haircuts, get fabulous now and save 25% today 2pm-5pm only,&pound; 30, @ Liza's buzz, 23 wardoor street.</p>
      
        
      </div>


      <div id="eat">
        <div style="width:90px; height:75px; float:left; margin-left:10px; margin-right:10px;font-size:11px; margin-top:3px;clear: left;">
          <div id="eat2"><a href="#"><strong>Eat</strong></a></div>
          <div style="width:90px; height:15px; float:left; margin-left:10px; font-size:12px;"><font face="Verdana, Geneva, sans-serif" color="#000000"><strong>Lee's Take-A</strong></font></div>
          <div style="width:80px; height:30px; float:left; margin-left:10px; font-size:11px; margin-top:3px;"><font face="Verdana, Geneva, sans-serif" color="#18a856"><strong>14.00-17.00 0.2 mi</strong></font></div>
        </div>
        
        <p>Free soda with eachtake away entrée order. KingLee's amazing chienese take-away,28 fillmore Street</p>
     
        </div>
      
      <div id="drink">
        <div style="width:90px; height:75px; float:left; margin-left:10px; margin-right:10px;font-size:11px; margin-top:3px;clear: left;">
          <div id="drink2"><a href="#"><strong>Drink</strong></a></div>
          <div style="width:90px; height:15px; float:left; margin-left:10px; font-size:12px;"><strong><font color="#000000" face="Verdana, Geneva, sans-serif">William IV</font></strong></div>
          <div style="width:80px; height:30px; float:left; margin-left:10px; font-size:11px; margin-top:3px;"><font face="Verdana, Geneva, sans-serif" color="#3272bd"><strong>14.00-17.00 0.2 mi</strong></font></div>
        </div>
        <p>Bring a friend and getfirst 2 drinks free! Top pub in TimeOut magazine,open fire place. Shepherdess Walk<p>
      </div>
     
      <div id="eat3">
        <div style="width:90px; height:75px; float:left; margin-left:10px;margin-right:10px; font-size:11px; margin-top:3px;clear: left;">
          <div id="eat4"><a href="#"><strong>Eat</strong></a></div>
          <div style="width:90px; height:15px; float:left; margin-left:10px; font-size:12px;"><strong><font color="#000000" face="Verdana, Geneva, sans-serif">John's Pizza</font></strong></div>
          <div style="width:80px; height:30px; float:left; margin-left:10px; font-size:11px; margin-top:3px;"><font face="Verdana, Geneva, sans-serif" color="#00b74f"><strong>14.00-17.00 0.2 mi</strong></font></div>
        </div>
        <p>20% off dinners before 7am @ john's pizza, 540 SanFrancisco street. Come and enjoy our famous pizza!</p>
      </div>
      <div id="fun2">
        <div style="width:90px; height:75px; float:left; margin-left:10px;margin-right:10px; font-size:11px; margin-top:3px;clear: left;">
          <div id="fun3"><strong><a href="#">Fun</a></strong></div>
          <div style="width:90px; height:15px; float:left; margin-left:10px; font-size:12px;"><strong><font color="#000000" face="Verdana, Geneva, sans-serif">Yoshi's Jazz</font></strong></div>
          <div style="width:80px; height:30px; float:left; margin-left:10px; font-size:11px; margin-top:3px;"><font face="Verdana, Geneva, sans-serif" color="#cd393a"><strong>14.00-17.00 0.2 mi</strong></font></div>
        </div>
        <p>Free admission to yoshi's Jass's to hear house band-great tune,great there early for best seats & great food! yoshi's</p>
      </div>

      <footer style="margin-top: -6px;">
        <section>
          <div class="foot_div">
            <article> 
              <div class="bg_offer">
                <div id="offer"><a href="#">Offers</a></div>
              </div> 
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_filter">
                <div id="filter"><a href="#">Filter</a></div>
              </div>
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_near">
                <div id="near"><a href="#">Nearby</a></div>
              </div>
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_fav">
                <div id="fav"><a href="#">Favourites</a></div>
              </div> 
            </article>
          </div>
        </section>
      </footer>
        
    </div>
  </body>
</html>