<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Untitled Document</title>
    <%= stylesheet_link_tag("phone") %>
    <%= javascript_include_tag("CreateHTML5Elements") %>
    <link href="phone.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/CreateHTML5Elements.js"></script>
  </head>

  <body>
    <div id="main">
      <div id="yacto">
        <div class="foot_div">
          <div id="within10" class="strong"><a href="#"><strong>Within 10mls</strong></a></div>
        </div>
        <div class="foot_div">
          <div class="yacto-text" style="width:60px; height:40px; float:right;">yacto</div>
        </div>
        <div class="foot_div">
          <div id="within3" class="strong"><a href="#"><strong>Within<br>3hrs</strong> </a></div>
        </div>
        <div class="foot_div">
          <div id="all-offers" class="strong"><a href="#"><strong>All<br>offers</strong></a></div>
        </div>
      </div>

      <div style="height:375px; float:left; width:100%;">
        <div style="width:100%; height:100px; z-index:1111;">
          <div id="eat-map">
            <div style="width:100%;float: left">
              <div id="map-eat"><strong><a href="#">Eat</a></strong></div>
              <div style="width:265px; height:20px; float:left;  margin-top:3px; font-family:Verdana, Geneva, sans-serif; font-size:12px; line-height:20px; color:#00b050;"><strong>18.00-19.00</strong> <font color="#000000"><strong>Benjy's Coffee</strong></font> <strong>0.2 mi</strong></div>
            </div>
            <div style="width:100%; height:50px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#00b050;"><strong>50% off muffins at benjy's famous coffee shop, as long as stocks last! Grabe a delicious treat in our cozy sofas!</strong></div>
            <div style="width:100%; height:25px; float:left; background-color:#FFF;">
              <table width="100%" height="25" border="0" cellpadding="0" cellspacing="0" style="margin-left:5px;">
                <tr>
                  <td width="25">
                    <%= image_tag("mobile/left.jpg",:size => "25x25") %></td>
                  <td width="79"><%= image_tag("mobile/3.jpg",:size => "79x25")%>
                    </td>
                  <td width="68"><%= image_tag("mobile/fb.jpg",:size => "67x25") %>
                    </td>
                  <td width="61"><%= image_tag("mobile/tw.jpg",:size => "63x26") %>
                    </td>
                  <td width="46"><%= image_tag("mobile/5.jpg",:size => "55x20") %>
                    </td>
                  <td width="41"><%= image_tag("mobile/right.jpg",:size => "25x25") %>
                    </td>
                </tr>
              </table>
            </div>    
          </div>
        </div>
        <div style="width:100%; height:375px; position:relative; bottom:100px; z-index:-1111;">
          <iframe width="100%" height="375" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/?ie=UTF8&amp;ll=21.125498,81.914063&amp;spn=42.891601,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>
      </div>

      <footer>
        <section>
          <div class="foot_div">
            <article> 
              <div class="bg_offer">
                <div id="offer"><a href="#">Offers</a></div>
              </div> 
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_filter">
                <div id="filter"><a href="#">Filter</a></div>
              </div>
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_near">
                <div id="near"><a href="#">Nearby</a></div>
              </div>
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_fav">
                <div id="fav"><a href="#">Favourites</a></div>
              </div> 
            </article>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>
