<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Untitled Document</title>
    <%= stylesheet_link_tag("phone") %>
    <%= javascript_include_tag("CreateHTML5Elements") %>
  </head>
  <body>
    <div id="main">
      <div id="yacto">
        <div class="yacto-text" style=" width: 100%; height:40px; float:left; text-align: center;">Your merchant</div>
      </div>
      <div style="height:375px; float:left; width:100%;">
        <div style="width:100%; height:150px; z-index:1111;">
          <div id="eat-map">
            <table style="height:150px; width: 100%">
              <tr>
                <td style=" width:25%; height:67px; vertical-align:top;">
                  <%= image_tag("mobile/buket.png",:style => "margin-top:10px; margin-left:10px;") %>
                </td>
                <td style="width:50%; height:150px; vertical-align:top;">
                  <div style="font-family:Verdana; color:black; font-size:12px;">  <b>Benjy's Famous Coffee</b><br>

                    <b style="font-family:Verdana; color:black; font-size:10px; color:#03C;">27 Earls Court Road<br>

                      SE1 4DM<br>

                      Hours Today: 07.00-19.00<br>

                      0207 788 8881</b>
                    <td style="width:25%; height:150px; vertical-align:top;">
                      <a href="#"><%= image_tag("mobile/star.png", :style=>"margin-left:20px;") %></a><br>
                      <a href="#"><%= image_tag("mobile/call.png") %></a>
                    </td>

                </td>
              </tr>
            </table>

          </div>

        </div><div style="width:100%; height:162px; z-index:111;">
          <iframe src="index3.html" width="100%" height="162px" scrolling="no" frameborder="0" allowtransparency="true" style="z-index:1111;"></iframe>
        </div>
        <div style="width:100%; height:200px; position:relative; bottom:100px; z-index:-1111;">
          <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/?ie=UTF8&amp;ll=21.125498,81.914063&amp;spn=42.891601,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>
      </div>
      <footer>
        <section>
          <div class="foot_div">
            <article> 
              <div class="bg_offer">
                <div id="offer"><a href="#">Offers</a></div>
              </div> 
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_filter">
                <div id="filter"><a href="#">Filter</a></div>
              </div>
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_near">
                <div id="near"><a href="#">Nearby</a></div>
              </div>
            </article>
          </div>
          <div class="foot_div">
            <article>
              <div class="bg_fav">
                <div id="fav"><a href="#">Favourites</a></div>
              </div> 
            </article>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>