<%= form_for(@merchant_type) do |f| %>
  <% if @merchant_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchant_type.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'merchant_type') %></h2>

      <ul>
      <% @merchant_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :merchant_type %><br />
    <%= f.text_field :merchant_type %>
  </div>
  <div class="field">
    <%= f.label :sub_type %><br />
    <%= f.text_field :sub_type %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :lookup_item_id %><br />
    <%= f.text_field :lookup_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
