<h1><%= t("form.listingclass", :class => "Merchant Types") %></h1>

<table>
  <tr>
    <th><%= t("merchant.type") %></th>
    <th><%= t("merchant.subtype") %></th>
    <th><%= t("merchant.language") %></th>
    <th><%= t("merchant.lookup") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merchant_types.each do |merchant_type| %>
  <tr>
    <td><%= merchant_type.merchant_type %></td>
    <td><%= merchant_type.sub_type %></td>
    <td><%= merchant_type.language %></td>
    <td><%= merchant_type.lookup_item_id %></td>
    <td><%= link_to t("form.show"), merchant_type %></td>
    <td><%= link_to t("form.edit"), edit_merchant_type_path(merchant_type) %></td>
    <td><%= link_to t("form.destroy"), merchant_type, confirm: t("form.confirmdelete"), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("form.newclass", :class => "Merchant Type"), new_merchant_type_path %>
