
<p>
  <b><%= t("merchant.type") %></b>
  <%= @merchant_type.merchant_type %>
</p>

<p>
  <b><%= t("merchant.subtype") %></b>
  <%= @merchant_type.sub_type %>
</p>

<p>
  <b><%= t("merchant.language") %></b>
  <%= @merchant_type.language %>
</p>

<p>
  <b><%= t("merchant.lookup") %></b>
  <%= @merchant_type.lookup_item_id %>
</p>


<%= link_to t("form.edit"), edit_merchant_type_path(@merchant_type) %> |
<%= link_to t("form.back"), merchant_types_path %>
