<%= javascript_include_tag 'jquery-ui-1.8.18.custom.min' %>
<script type="text/javascript">
  $(document).ready(function(){
    if("<%= @map_center %>" != '' ) {
      var latlng = new google.maps.LatLng(<%= @map_center %>);
    }else{
      var latlng = new google.maps.LatLng(40.714353, -74.005973);
    }

    var myOptions = {
      zoom: <%= @map_zoom ? @map_zoom : "16" %>,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    };
    var image = '/assets/markers/pin/image.png';
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    if($("#merchant_lat").val() != ''){
      var latlng = new google.maps.LatLng($("#merchant_lat").val(),$("#merchant_lon").val());
      map.setCenter(latlng, 16);
      var image = '/assets/markers/pin/image.png';
      verifyMarker = new google.maps.Marker({
        map: map,
        position: latlng,
        icon: image
      });
    }
    infoWindow = new google.maps.InfoWindow();
    function createMarker(latlng, html) {
      var content = html;
      var marker = new google.maps.Marker({
        map: map,
        position: latlng,
        icon: image
      });
      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(content);
        infoWindow.open(map, marker);
      });
    }
    function updateMarkerPosition(latLng) {
      $("#merchant_lat").val(latLng.lat());
      $("#merchant_lon").val(latLng.lng());
	
    }
    function manualSetLocation () {
      if (typeof verifyMarker != 'undefined'){verifyMarker.setVisible(false);}
      $("#green_info_bar").show();
      $("#green_info_bar").html("<p>" + "<%=  t("map.please_continue") %>" + "</p>");
      var marker = new google.maps.Marker({
        position: map.getCenter(),
        title: 'Set Location',
        map: map,
        draggable: true
      });
      google.maps.event.addListener(marker, 'drag', function() {
        updateMarkerPosition(marker.position);
      });		
		
      google.maps.event.addListener(map, 'click', function(point) {
        alert(point.inspect);
      });
      return false;
    }
    $("#manualCoordinates").click(function(){
      $('html, body').animate({scrollTop:0}, 'slow');
      $("#verify_address_first").show();
      $("#hide_after_verify").hide();
      manualSetLocation();
      return false;
    });
    $("#verifyAddress").click(function(){
      var address = $("#merchant_primary_address").val();
      var authenticity_token = $("#authenticity_token").text();
      var data = { authenticity_token: authenticity_token , address: address }
      if(address == ''){
        alert("<%= t('map.error_location') %>");
        $("#loading").hide();
        $("#verify_address_first").hide();
        $("#hide_after_verify").show();
        return false;
      }      
     
      $("#loading").show();
      $('html, body').animate({scrollTop:0}, 'slow');
      $.ajax({
        type: "POST",
        url: "/home/lookup_address",
        data: data,
        dataType: "json",
        success: function(msg){
          $("#merchant_lat").val(msg[0]);
          $("#merchant_lon").val(msg[1]);
          var latlng = new google.maps.LatLng(msg[0],msg[1]);
          map.setCenter(latlng, 16);
          var image = '/assets/markers/pin/image.png';
          verifyMarker = new google.maps.Marker({
            map: map,
            position: latlng,
            icon: image
          });
          $("#green_info_bar").show();
          $("#green_info_bar").html("<p>" + "<%= t("map.address_verified") %>" +  "</p>");
          $("#verify_address_first").show();
          $("#hide_after_verify").hide();
          return false;
        },
        error: function(e){
          alert("<%= t("map.error_location") %>");
          $("#loading").hide();
          $("#verify_address_first").hide();
          $("#hide_after_verify").show();
          return false;
        }
      });
      return false;
    });
    $('#city_name').autocomplete({source: function(req, add){
        $.getJSON('/home/autocomplete', req, function(data){
          //console.info(data);
          add(data);
        })
      },

      select: function(event, ui){
        //console.info(ui);
        var id = ui.item.id;
        
        if(id)
          console.log('The value is ' + id);

      }});
    
          
  });
  function search_google_place(){
    var authenticity_token = $("#authenticity_token").text();
    var data = { authenticity_token: authenticity_token ,search: $('#search').val() }
    $.ajax({
      type: "POST",
      url: "/merchants/search_google_place",
      data: data,
      dataType: "json",
      success: function(msg){
        if(msg != 'false') {
          $("#merchant_name").val(msg["name"]);
          $("#merchant_phone").val(msg["formatted_phone_number"]);
          $("#merchant_primary_address").val(msg["formatted_address"]);
          $("#merchant_lat").val(msg["lat"]);
          $("#merchant_merchant_type_id").val(msg["merchant_type_id"]);
          $("#merchant_merchant_type_id").selectmenu("refresh");
          $("#type_name").val(msg["merchant_type_name"]);
          $("#merchant_lon").val(msg["lng"]);
          $("#merchant_city_id").val(msg["city_id"]);
          $("#city_name").val(msg["city_name"]);
          $("#merchant_country").val(msg["country_id"]);
          $("#merchant_postal_code").val(msg["postal_code"]);
          $("#merchant_mon").val(msg["mon"]);
          $("#merchant_mon_start_time").val(msg["mon_start_time"]);
          $("#merchant_mon_end_time").val(msg["mon_end_time"]);

                    $("#merchant_tue").val(msg["tue"]);
          $("#merchant_tue_start_time").val(msg["tue_start_time"]);
          $("#merchant_tue_end_time").val(msg["tue_end_time"]);
                    $("#merchant_wed").val(msg["wed"]);
          $("#merchant_wed_start_time").val(msg["wed_start_time"]);
          $("#merchant_wed_end_time").val(msg["wed_end_time"]);

                    $("#merchant_fri").val(msg["fri"]);
          $("#merchant_fri_start_time").val(msg["fri_start_time"]);
          $("#merchant_fri_end_time").val(msg["fri_end_time"]);
                    $("#merchant_thu").val(msg["thu"]);
          $("#merchant_thu_start_time").val(msg["thu_start_time"]);
          $("#merchant_thu_end_time").val(msg["thu_end_time"]);
                    $("#merchant_sat").val(msg["sat"]);
          $("#merchant_sat_start_time").val(msg["sat_start_time"]);
          $("#merchant_sat_end_time").val(msg["sat_end_time"]);
                    $("#merchant_sun").val(msg["sun"]);
          $("#merchant_sun_start_time").val(msg["sun_start_time"]);
          $("#merchant_sun_end_time").val(msg["sun_end_time"]);
          var latlng = new google.maps.LatLng(msg["lat"],msg["lng"]);
          map.setCenter(latlng, 20);
          var image = '/assets/markers/pin/image.png';
          verifyMarker = new google.maps.Marker({
            map: map,
            position: latlng,
            icon: image
          });
          $("#green_info_bar").show();
          $("#green_info_bar").html("<p>" + "<%= t("map.address_verified") %>" +  "</p>");
          $("#verify_address_first").show();
          $("#hide_after_verify").hide();
        } else {
          alert("<%= t("merchant.google_place") %>");
        }
        return false;
      },
      error: function(e){
        alert("<%= t("merchant.google_place") %>")
        return false;
      }
    });
  }
</script>
<%= form_for(@merchant,:html => {"data-ajax" => "false"}) do |f| %>
  <% if @merchant.errors.any? %>
    <div class="error_messages" id="error_explanation">
      <h2><%= pluralize(@merchant.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'merchant') %></h2>
      <ul>
        <% @merchant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.hidden_field :mon %>
<%= f.hidden_field :mon_start_time %>
<%= f.hidden_field :mon_end_time %>
   <%= f.hidden_field :tue %>
<%= f.hidden_field :tue_start_time %>
<%= f.hidden_field :tue_end_time %>
   <%= f.hidden_field :wed %>
<%= f.hidden_field :wed_start_time %>
<%= f.hidden_field :wed_end_time %>
   <%= f.hidden_field :fri %>
<%= f.hidden_field :fri_start_time %>
<%= f.hidden_field :fri_end_time %>
   <%= f.hidden_field :thu %>
<%= f.hidden_field :thu_start_time %>
<%= f.hidden_field :thu_end_time %>
   <%= f.hidden_field :sat %>
<%= f.hidden_field :sat_start_time %>
<%= f.hidden_field :sat_end_time %>
   <%= f.hidden_field :sun %>
<%= f.hidden_field :sun_start_time %>
<%= f.hidden_field :sun_end_time %>
  <div id="green_info_bar" <%= "style='display:none;'" unless flash[:notice]%>>
    <p><%= flash[:notice] if flash[:notice]%></p>
  </div>
  <fieldset class="ui-grid-a">

    <div class="ui-block-a"><%= text_field_tag :search  %> </div>
    <div class="ui-block-b"> <div style="margin:6px 0 0 50px;"><button type="button" data-theme="b" onclick="search_google_place();"style="height:30px;">Find</button></div></div>
  </fieldset>


  <div id="map" data-ajax="false" style="width: 100% ; height: 100px; margin: 0 ;" >

  </div>
  <div class="input">
    <%= f.text_field :name,"placeholder" => t("merchant.name") %>

  </div>
  <div class="input">
    <%= f.text_field :phone,"placeholder" => t("merchant.phone") %>
  </div>
  <div class="input">
    <%= f.text_area :mobile_description,"placeholder"  => t("merchant.desc") %>
  </div>
  <div class="input">
    <%= f.text_field :postal_code,"placeholder" => t("merchant.postal_code") %>
  </div>
  <div class="input">
    <%= f.hidden_field :city_id %>
    <%= text_field_tag(:city_name,params[:city_name] ,"placeholder" => t("merchant.city")) %>
  </div>
  <div class="input">
    <%= f.text_field :primary_address, "placeholder"  => t("merchant.primary_address") %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
    <%= f.hidden_field :country %>
    <%= hidden_field_tag :type_name %>
  </div>

  <div class="field">
    <a href="#" id="manualCoordinates"><%= t("map.manually_set_location") %></a>
    <a href="#" id="verifyAddress" ><%= t("map.verify_address") %></a>
  </div>

  <label><%= t("merchant.start_open_time") %> </label>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= f.time_select :start_open_time%>
  </fieldset>
  <label><%= t("merchant.end_open_time") %> </label>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= f.time_select :end_open_time%>
  </fieldset>
  <label for="merchant_type_id" class="select"><%=  t("merchant_type.title") %></label>
  <fieldset data-role="controlgroup" data-type="horizontal">

    <%= f.select(:merchant_type_id, MerchantType.find(:all, :order => 'merchant_type asc').collect {|c| [c.merchant_type + (c.sub_type != ' ' ? '-' + c.sub_type : ' '), c.id ] }) %>
  </fieldset>

  <% if @merchant && !@merchant.lat.blank? && !@merchant.lon.blank? %>
    <div id="verify_address_first">
      <%= f.submit %>
    </div>
  <% else %>
    <div id="verify_address_first" style="display:none;">
      <%= f.submit %>
    </div>
    <div id="hide_after_verify">
      <p><%= t("map.must_verify") %></p>
    </div>
  <% end %>
<% end %>
<div id="authenticity_token" style="display:none;"><%= form_authenticity_token %></div>