
<script type="text/javascript">
    $(document).ready(function(){
        if("<%= @map_center %>" != '' ) {
            var latlng = new google.maps.LatLng(<%= @map_center %>);
        }else{
            var latlng = new google.maps.LatLng(40.714353, -74.005973);
        }

        var myOptions = {
            zoom: <%= @map_zoom ? @map_zoom : "16" %>,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        var image = '/assets/markers/pin/image.png';
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        if($("#merchant_lat").val() != ''){
            var latlng = new google.maps.LatLng($("#merchant_lat").val(),$("#merchant_lon").val());
            map.setCenter(latlng, 16);
            var image = '/assets/markers/pin/image.png';
            verifyMarker = new google.maps.Marker({
                map: map,
                position: latlng,
                icon: image
            });
        }
        infoWindow = new google.maps.InfoWindow();
        function createMarker(latlng, html) {
            var content = html;
            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                icon: image
            });
            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.setContent(content);
                infoWindow.open(map, marker);
            });
        }
        function updateMarkerPosition(latLng) {
            $("#merchant_lat").val(latLng.lat());
            $("#merchant_lon").val(latLng.lng());

        }
        function manualSetLocation () {
            if (typeof verifyMarker != 'undefined'){verifyMarker.setVisible(false);}
            $("#green_info_bar").show();
            $("#green_info_bar").html("<p>" + "<%=  t("map.please_continue") %>" + "</p>");
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                title: 'Set Location',
                map: map,
                draggable: true
            });
            google.maps.event.addListener(marker, 'drag', function() {
                updateMarkerPosition(marker.position);
            });

            google.maps.event.addListener(map, 'click', function(point) {
                alert(point.inspect);
            });
            return false;
        }
        $("#manualCoordinates").click(function(){
            $('html, body').animate({scrollTop:0}, 'slow');
            $("#verify_address_first").show();
            $("#hide_after_verify").hide();
            manualSetLocation();
            return false;
        });
        $("#verifyAddress").click(function(){
            var address = $("#merchant_primary_address").val();
            var authenticity_token = $("#authenticity_token").text();
            var data ="authenticity_token="+authenticity_token + "&address="+escape(address)
            if(address == ''){
                alert("<%= t('map.error_location') %>");
                $("#loading").hide();
                $("#verify_address_first").hide();
                $("#hide_after_verify").show();
                return false;
            }

            $("#loading").show();
            $('html, body').animate({scrollTop:0}, 'slow');
            $.ajax({
                type: "GET",
                url: "/home/lookup_address",
                data: data,
                dataType: "json",
                success: function(msg){
                    $("#merchant_lat").val(msg[0]);
                    $("#merchant_lon").val(msg[1]);
                    var latlng = new google.maps.LatLng(msg[0],msg[1]);
                    map.setCenter(latlng, 16);
                    var image = '/assets/markers/pin/image.png';
                    verifyMarker = new google.maps.Marker({
                        map: map,
                        position: latlng,
                        icon: image
                    });
                    $("#green_info_bar").show();
                    $("#green_info_bar").html("<p>" + "<%= t("map.address_verified") %>" +  "/p>");
                    $("#verify_address_first").show();
                    $("#hide_after_verify").hide();
                    return false;
                },
                error: function(e){
                    alert("<%= t("map.error_location") %>");
                    $("#loading").hide();
                    $("#verify_address_first").hide();
                    $("#hide_after_verify").show();
                    return false;
                }
            });
            return false;
        });
        $('#city_name').autocomplete({source: function(req, add){
            $.getJSON('/home/autocomplete', req, function(data){
                //console.info(data);
                add(data);
            })
        },

            select: function(event, ui){
                //console.info(ui);
                var id = ui.item.id;
                //console.info('The value is ' + id);
                if(id)
                    $('#merchant_city_id').val(id);

            }});


    });
</script>
<%= form_for(@merchant) do |f| %>
    <% if @merchant.errors.any? %>
        <div class="error_messages" id="error_explanation">
          <h2><%= pluralize(@merchant.errors.count, "error") %> <%= t("form.errorswithclass", :class => 'merchant') %></h2>
          <ul>
            <% @merchant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div id="green_info_bar" <%= "style='display:none;'" unless flash[:notice]%>>
      <p><%= flash[:notice] if flash[:notice]%></p>
    </div>
    <div id="map">
    </div>
    <div class="field">
      <%= f.label t("merchant.name") %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t("merchant.desc") %><br />
      <%= f.text_area :mobile_description %>
    </div>
    <div class="field">

      <%= f.label t("merchant.postal_code") %><br />
      <%= f.text_field :postal_code %>
    </div>

    <div class="field">
      <%= f.label :city_id, t("merchant.city")%><br/>
      <%= f.hidden_field :city_id %>
      <%= text_field_tag(:city_name,params[:city_name]) %>
      <div/>
      <div class="field">
        <%= f.label t("merchant.primary_address") %><br />
        <%= f.text_field :primary_address %>
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :lon %>
      </div>
      <div class="field">
        <%= f.label :merchant_type %><br />
        <%= f.select :sub_type, MerchantType.all.map(&:merchant_type).uniq %>
      </div>
      <div class="field">
        <%= f.label :sub_type %><br />
        <%= f.select :merchant_type_id, MerchantType.all.collect{|a| [a.sub_type, a.id]} %>
      </div>



      <div class="field">
        <a href="#" id="manualCoordinates"><%= t("map.manually_set_location") %></a>
        <a href="#" id="verifyAddress" ><%= t("map.verify_address") %></a>
      </div>

      <% if @merchant && !@merchant.lat.blank? && !@merchant.lon.blank? %>
          <div id="verify_address_first">
            <%= f.submit %>
          </div>
      <% else %>
          <div id="verify_address_first" style="display:none;">
            <%= f.submit %>
          </div>
          <div id="hide_after_verify">
            <p><%= t("map.must_verify") %></p>
          </div>
      <% end %>
<% end %>
<div id="authenticity_token" style="display:none;"><%= form_authenticity_token %></div>