<%= stylesheet_link_tag "jquery_file_upload/boostrap-responsive" %>
<%= stylesheet_link_tag "jquery_file_upload/jquery.fileupload-ui" %>
<%= stylesheet_link_tag "jquery_file_upload/fileupload-ujs" %>
<% object = @merchant %>
<%= content_for :header do %>
  <%= javascript_include_tag "jquery_file_upload/jquery_file_upload.js" %>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    // add params post back, modify submit
    $(document).ready(function(){
      $("#destroy").click(function(){
        console.log("delete photo");
        $(this).parent().parent().remove();
      });
      $('#fileupload').fileupload();
      $('#fileupload').each(function () {
        var that = this;
        $.getJSON(this.action + "?object_id=<%= object.id.to_s %>" , function (result) {
          if (result && result.length) {
            $(that).fileupload('option', 'done')
            .call(that, null, {
              result: result
            });
          }
        });
      });
      $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        // The example input, doesn't have to be part of the upload form:
      });

     
    });
    //==============================================
    //     edit url destroy image
    $.widget('blueimpUIX.fileupload', $.blueimpUI.fileupload, {

      options: {
        authenticityTokenName: 'request_authenticity_token',
        destroy: function (e, data) {
          var fu = $(this).data('fileupload');
          data.url = "/merchant_photos/" + data.url; /*&&
                  fu._addUrlParams(data.url, fu._getAuthenticityToken());*/
           
          $.blueimpUI.fileupload.prototype
          .options.destroy.call(this, e, data);
        }
      }
    });
  </script>
<% end %>


<div id="container" class="wrapper clearfix">
  <div class="admin_inner">
    <div class="hint hint-filter">
      <a class="close-hint" href="#"></a>
      <span class="tip"><i class="i-tip"></i><b>Tip: </b> xxcvbn</span>
    </div>

    <%= form_for object , :url =>"/merchants/admin",:html => { :id => "fileupload",:class => "merchant_info_form"},:enctype=>"multipart/form-data" do |f| %>
      <div class="admin_section merchant_info_section clearfix">
        <h2 class="section_title businessDetails_title">Key Business Details</h2>

        <div class="admin_left_col">
          <div class="admin_subsection merchant_details_subsection">
            <h3><a class="subsection_title collapsed" href="#">Merchant Detail Information</a></h3>

            <div class="subsection_content collapsed">
              <div class="field_wr full">
                <label class="admin_label" for="merchant_name_field">Merchant name</label>
                <input id="merchant_name_field" class="admin_text_field merchant_name_field"
                       placeholder="Curtea berarilor din Timisoara"/>
              </div>
              <div class="field_wr half">
                <label class="admin_label" for="category_dd">Category</label>
                <select id="category_dd" class="chzn-select category_dd">
                  <option>Drink</option>
                  <option>Eat</option>
                  <option>Free</option>
                  <option>Service</option>
                  <option>Fun</option>
                  <option>Shop</option>
                  <option>Tourism</option>
                </select>
              </div>
              <div class="field_wr half last">
                <label class="admin_label" for="subcategory_dd">Subcategory</label>
                <select id="subcategory_dd" class="chzn-select category_dd">
                  <option>Drink</option>
                  <option>Eat</option>
                  <option>Free</option>
                  <option>Service</option>
                  <option>Fun</option>
                  <option>Shop</option>
                  <option>Tourism</option>
                </select>
              </div>
              <div class="field_wr half">
                <label class="admin_label" for="merchant_id">Merchant ID</label>
                <input type="text" class="admin_text_field disabled" disabled="true" id="merchant_id"/>
              </div>
              <div class="field_wr half last">
                <label class="admin_label" for="merchant_mobile">Mobile number</label>
                <input type="text" class="admin_text_field" id="merchant_mobile"/>
              </div>
              <div class="field_wr last clearfix">
                <label class="admin_label">Opening Hours</label>

                <div class="field_wr third clearfix">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Monday</label>

                </div>
                <div class="field_wr third clearfix">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Tuesday</label>
                </div>
                <div class="field_wr third clearfix last">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Wednesday</label>
                </div>
                <div class="field_wr third clearfix">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Thursday</label>
                </div>
                <div class="field_wr third clearfix">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Friday</label>
                </div>
                <div class="field_wr third clearfix last">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Saturday</label>
                </div>
                <div class="field_wr third clearfix last">
                  <input type="text" class="admin_text_field time_picker"/>
                  <input type="text" class="admin_text_field time_picker last"/>
                  <label class="admin_sublabel">Sunday</label>
                </div>
              </div>
              <div class="field_wr full last">
                <label class="admin_label" for="business_tagline">Business tagline<span class="comment"> (140 characters)</span></label>
                <textarea type="text" class="admin_text_field" id="business_tagline"></textarea>
              </div>
              <div class="field_wr full last">
                <label class="admin_label" for="business_description">Business description<span
                    class="comment"> (400 characters)</span></label>
                <textarea type="text" class="admin_text_field" id="business_description"></textarea>
              </div>
            </div>
          </div>

          <div class="admin_subsection address_info">
            <h3><a class="subsection_title collapsed" href="#">Address Information</a></h3>

            <div class="subsection_content collapsed">
              <div class="field_wr half">
                <label class="admin_label" for="address_line_one">Line 1</label>
                <input type="text" id="address_line_one" class="admin_text_field">
              </div>
              <div class="field_wr half last">
                <label class="admin_label" for="address_line_two">Line 2</label>
                <input type="text" id="address_line_two" class="admin_text_field">
              </div>
              <div class="field_wr half clearfix">
                <label class="admin_label" for="city_field">City/Postal code</label>
                <input type="text" id="city_field" class="admin_text_field fourth">
                <input type="text" id="postal_code_field" class="admin_text_field fourth">
              </div>
              <div class="field_wr half last clearfix">
                <label class="admin_label" for="state_field">State/Country</label>
                <input type="text" id="state_field" class="admin_text_field fourth">
                <input type="text" id="country_field" class="admin_text_field fourth">
              </div>
            </div>

          </div>
        </div>

        <div class="admin_right_col">
          <div class="admin_subsection merchant_details_subsection">
            <h3><a class="subsection_title collapsed" href="#">What's Unique About Your Business?</a></h3>

            <div class="subsection_content collapsed">
              <div class="field_wr full last">
                <label class="admin_label" for="why_visit">Why should people visit your
                  business?</label>
                <textarea type="text" class="admin_text_field" id="why_visit"></textarea>
              </div>
              <div class="field_wr full last">
                <label class="admin_label" for="whats_unique">What's the most unique thing you
                  do?</label>
                <textarea type="text" class="admin_text_field" id="whats_unique"></textarea>
              </div>
              <div class="field_wr full last">
                <label class="admin_label" for="whats_best">What's the best thing about your
                  business?</label>
                <textarea type="text" class="admin_text_field" id="whats_best"></textarea>
              </div>
              <div class="field_wr full last">
                <label class="admin_label" for="featured_review">Featured review <span class="comment"> (paste link to a review you like, from any source!)</span></label>
                <textarea type="text" class="admin_text_field" id="featured_review"
                          placeholder="Link to a review you like"></textarea>
              </div>
            </div>
          </div>
          <div class="admin_subsection social_media_subsection">
            <h3><a class="subsection_title collapsed" href="#">Social Media Information</a></h3>

            <div class="subsection_content collapsed">
              <div class="field_wr half">
                <label class="admin_label" for="business_facebook">Facebook</label>
                <input placeholder="Link to Facebook page" type="text" id="business_facebook"
                       class="admin_text_field">
              </div>
              <div class="field_wr half last">
                <label class="admin_label" for="business_gplaces">Google Places</label>
                <input placeholder="Link to Google Places page" type="text" id="business_gplaces"
                       class="admin_text_field">
              </div>
              <div class="field_wr half">
                <label class="admin_label" for="business_twitter">Twitter</label>
                <input placeholder="Link to Twitter Profile" type="text" id="business_twitter"
                       class="admin_text_field">
              </div>
              <div class="field_wr half last">
                <label class="admin_label" for="business_yelp">Yelp</label>
                <input placeholder="Link to Yelp page" type="text" id="business_yelp" class="admin_text_field">
              </div>
              <div class="field_wr half comingSoon_tooltip" rel="tooltip"
                   data-original-title="Support for Flickr coming soon">
                <label class="admin_label" for="business_flickr">Flickr</label>
                <input placeholder="Link to your photostream" type="text" id="business_flickr"
                       class="admin_text_field">
              </div>
              <div class="field_wr half comingSoon_tooltip last" rel="tooltip"
                   data-original-title="Support for Instagram coming soon">
                <label class="admin_label" for="business_instagram">Instagram</label>
                <input placeholder="Instagram name" type="text" id="business_instagram"
                       class="admin_text_field">
              </div>
            </div>
          </div>
          <div class="admin_subsection upload_photos_subsection">
            <h3><a class="subsection_title" href="#">Photo Gallery</a></h3>

            <div class="subsection_content">
  <%#*<span class="btn btn-success fileinput-button">%>

              <div class="drag_drop_area ">
                <div class="btn btn-success fileinput-button" style="width: 100%">
                  <h4 class="drag_drop_title">Drag & Drop photos here</h4>
                  <input data-role="none" type="file" name="files[]" multiple />
                </div>
                <div class="switch_to_old">or switch to <a href="#">old-school uploader</a></div>
              </div>


  <%#*</span>%>

              <!-- The file upload form used as target for the file upload widget -->


              <input type="hidden" value="<%= object.id %>" name="object_parent_id" />
              <input type="hidden" value="<%= object.id %>" name="object_id" />
              <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
              <div class="row fileupload-buttonbar">
                <div class="span7">
                  <!-- The fileinput-button span is used to style the file input field as button -->

                  <button type="submit" class="btn btn-primary start" data-role="none">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                  </button>
                  <button type="reset" class="btn btn-warning cancel" data-role="none">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>

                  </button>
                  <button type="button" class="btn btn-danger delete" data-role="none">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                  </button>
                  <input type="checkbox" class="toggle" data-role="none" />
                </div>
                <div class="span5">

                  <!-- The global progress bar -->
                  <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                  </div>
                </div>
              </div>
              <!-- The loading indicator is shown during file processing -->
              <div class="fileupload-loading"></div>
              <br />

              <!-- The table listing the files available for upload/download -->
  <%#*<table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>%>
              <div class="table table-striped"><ul class="files uploaded_photos sortable clearfix" data-toggle="modal-gallery" data-target="#modal-gallery"></ul></div>
  <%# end %>
              <!-- modal-gallery is the modal dialog used for the image gallery -->

              <div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">&times;</a>
                  <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body"><div class="modal-image"></div></div>

                <div class="modal-footer">
                  <a class="btn modal-download" target="_blank">
                    <i class="icon-download"></i>
                    <span>Download</span>
                  </a>
                  <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                    <i class="icon-play icon-white"></i>
                    <span>Slideshow</span>
                  </a>
                  <a class="btn btn-info modal-prev">
                    <i class="icon-arrow-left icon-white"></i>
                    <span>Previous</span>
                  </a>
                  <a class="btn btn-primary modal-next">
                    <span>Next</span>
                    <i class="icon-arrow-right icon-white"></i>
                  </a>
                </div>
              </div>

              <script id="template-upload" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                <li class="uploaded_photo template-upload fade">
  <%#*<tr class="template-upload fade">%>
                  <div class="preview"><span class="fade"></span></div>

                  {% if (file.error) { %}
                  <span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
                  {% } else if (o.files.valid && !i) { %}
  <%#*<td>%>
  <%#*<div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>%>
  <%#*</td>%>
                  <div class="start">{% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary photo_action delete" style="border: none;background-position: -107px -23px;">

                    </button>
                    {% } %}</div>
                  {% } else { %}
  <%#*<td colspan="2"></td>%>
                  {% } %}
                  <div class="cancel">{% if (!i) { %}
                    <button class=" photo_action cancel btn btn-warning" style="border: none;background-position: -98px -31px;">

                    </button>
                    {% } %}</div>
                </li>
                {% } %}
                </script>
                <!-- The template to display files available for download -->
                <script id="template-download" type="text/x-tmpl">

                  {% for (var i=0, file; file=o.files[i]; i++) {  %}
                  {% if (file.error) { %}
                  <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                  {% } else { %}
                  <li class="template-download fade uploaded_photo">
                    <div class="photo_wrapper">
                      <img style="" src="{%=file.url_thumb%}"/>
                    </div>
                    <a href="#" class="photo_action drag"></a>

                    <div class="delete">
                      <button id ="destroy" class="btn btn-danger photo_action delete" data-type="DELETE" data-url="{%=file.id%}" style="border: none;">
  <%#*<a href="#" class="photo_action delete"></a>%>
                      </button>
                      <input type="checkbox" name="delete" value="1" style="display: none"/>
                    </div>

                    {% if (file.url) { %}
                    <img style="" src="{%=file.url_thumb%}"/>
                    <!-- <a href="{%=file.url.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img style="" src="{%=file.url.url%}"/></a> -->
                    {% } %}

                  </li>

                  {% } %}


                  {% } %}

                  </script>


  
                </div>
              </div>

            </div>
            <div class="clear"></div>
            <div class="merchant_info_buttons clearfix">
              <button type="button" class="info_discard">Discard</button>
              <button type="button" class="info_save">Save</button>
            </div>
            <div class="progress-bar-wrapper">
              <div class="progress-inner">
                <div class="progress"></div>
                <span class="progress-text">
                  <span class="ok">0</span>% profile completness
                </span>
              </div>
            </div>
          </div>
        <% end %>

        <div class="admin_section add_offer_section">
          <h2 class="section_title offers_title">Offers</h2>
          <table id="offers_list" class="nice_table" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <th>Offer</th>
              <th>Start time</th>
              <th>Duration</th>
              <th>Repeat</th>
              <th>Exp_Day</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>

            <tr>
              <td>Buy one coffee get one free</td>
              <td>Tuesday 2pm</td>
              <td>2 hours</td>
              <td>Every day</td>
              <th>Exp_Day</th>
              <td>Active</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="offer_action edit"></a>
                <a rel="tooltip" title="Stop" href="#" class="offer_action stop"></a>
                <a rel="tooltip" title="Duplicate" href="#" class="offer_action duplicate"></a>
              </td>
            </tr>
            <tr>
              <td>Buy one coffee get one free</td>
              <td>Tuesday 2pm</td>
              <td>2 hours</td>
              <td>Every day</td>
              <td>Active</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="offer_action edit"></a>
                <a rel="tooltip" title="Stop" href="#" class="offer_action stop"></a>
                <a rel="tooltip" title="Duplicate" href="#" class="offer_action duplicate"></a>
              </td>
            </tr>
            <tr>
              <td>Buy one coffee get one free</td>
              <td>Tuesday 2pm</td>
              <td>2 hours</td>
              <td>Every day</td>
              <td>Active</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="offer_action edit"></a>
                <a rel="tooltip" title="Stop" href="#" class="offer_action stop"></a>
                <a rel="tooltip" title="Duplicate" href="#" class="offer_action duplicate"></a>
              </td>
            </tr>
            <tr>
              <td>Buy one coffee get one free</td>
              <td>Tuesday 2pm</td>
              <td>2 hours</td>
              <td>Every day</td>
              <td>Active</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="offer_action edit"></a>
                <a rel="tooltip" title="Stop" href="#" class="offer_action stop"></a>
                <a rel="tooltip" title="Duplicate" href="#" class="offer_action duplicate"></a>
              </td>
            </tr>
          </table>
          <a class="new_offer" href="#">New offer</a>

          <div class="admin_subsection addUser_subsection">
            <h3><a href="#" class="subsection_title collapsed">Offer information</a></h3>

            <div class="subsection_content collapsed">
              <div class="field_wr full">
                <label for="offer_email" class="admin_label">Email</label>
                <input type="text" class="admin_text_field" id="offer_email">
              </div>
              <div class="field_wr full last">
                <label for="offer_text" class="admin_label">Offer text<span
                    class="comment"> (140 characters)</span></label>
                <textarea id="offer_text" class="admin_text_field" type="text"></textarea>
              </div>
              <div class="add_user_buttons clearfix">
                <button type="button" class="info_discard">Discard</button>
                <button type="button" class="info_save">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="admin_section add_user_section">
          <h2 class="section_title approvedUsers_title">Approved Merchant Users</h2>
          <table id="users_list" class="nice_table" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Privileges</th>
              <th>Actions</th>
            </tr>

            <tr>
              <td>John Dough</td>
              <td>415-235-5515</td>
              <td>johnd@pizza.com</td>
              <td>Administrator</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="user_action edit"></a>
                <a rel="tooltip" title="Delete" href="#" class="user_action delete"></a>
                <a rel="tooltip" title="Resend verification code" href="#" class="user_action resend_code"></a>
              </td>
            </tr>
            <tr>
              <td>John Dough</td>
              <td>415-235-5515</td>
              <td>johnd@pizza.com</td>
              <td>Administrator</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="user_action edit"></a>
                <a rel="tooltip" title="Delete" href="#" class="user_action delete"></a>
                <a rel="tooltip" title="Resend verification code" href="#" class="user_action resend_code"></a>
              </td>
            </tr>
            <tr>
              <td>John Dough</td>
              <td>415-235-5515</td>
              <td>johnd@pizza.com</td>
              <td>Administrator</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="user_action edit"></a>
                <a rel="tooltip" title="Delete" href="#" class="user_action delete"></a>
                <a rel="tooltip" title="Resend verification code" href="#" class="user_action resend_code"></a>
              </td>
            </tr>
            <tr>
              <td>John Dough</td>
              <td>415-235-5515</td>
              <td>johnd@pizza.com</td>
              <td>Administrator</td>
              <td>
                <a rel="tooltip" title="Edit" href="#" class="user_action edit"></a>
                <a rel="tooltip" title="Delete" href="#" class="user_action delete"></a>
                <a rel="tooltip" title="Resend verification code" href="#" class="user_action resend_code"></a>
              </td>
            </tr>
          </table>
          <a class="add_user" href="#">Add user</a>

          <div class="admin_subsection addUser_subsection">
            <h3><a href="#" class="subsection_title collapsed">User information</a></h3>

            <div class="subsection_content collapsed">
              <div class="field_wr half">
                <label class="admin_label" for="user_name_field">Name</label>
                <input type="text" id="user_name_field" class="admin_text_field">
              </div>
              <div class="field_wr half last">
                <label class="admin_label" for="user_email_field">Email</label>
                <input type="text" id="user_email_field" class="admin_text_field">
              </div>
              <div class="field_wr half">
                <label class="admin_label" for="user_mobile_field">Mobile number</label>
                <input type="text" id="user_mobile_field" class="admin_text_field">
              </div>
              <div class="field_wr user_privileges_wr half last">
                <label class="admin_label" for="user_privileges_dd">Subcategory</label>
                <select id="user_privileges_dd" class="chzn-select category_dd">
                  <option>Super admin</option>
                  <option>Admin</option>
                  <option>Guest</option>
                </select>
              </div>
              <div class="add_user_buttons clearfix">
                <button class="info_discard" type="button">Discard</button>
                <button class="info_save" type="button">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


