
<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
<%= render :partial => "shared/nav_home" %>
<h2><%= t("form.editingclass", :class => "Merchant") %></h2>
<div class="ui-body ui-body-d">
  <div class="box">
    <%= render 'form' %>
  </div>
</div>
<%= link_to t("form.show"), @merchant %> |
<%= link_to t("form.back"), merchants_path %>