<h1><%= t("form.editingclass", :class => "Merchant") %></h1>

<%#= render 'form' %>
<%= render 'image/form_upload' ,:object => @merchant %>
<%= link_to t("form.show"), @merchant %> |
<%= link_to t("form.back"), merchants_path %>
