<div class="list-wrapper">
  <h1><%= t("form.listingclass", :class => "Merchants") %></h1>

  <%= form_for :merchant, :html => { :method => :get} do |f| %>
    <div><%= select_tag("country",options_for_select(Country.all.collect{|a| [a.name, a.id]}, params[:country].present? ? params[:country].to_i : Country.find_by_name("United States").id),{:class => "chzn-select ",:style =>"width: 250px"}) %></div>
    <div class="search-fields clearfix">
      <div class="id">
        <%= text_field(:merchant, :merchant_id,:value => params[:merchant] ? params[:merchant][:merchant_id] : '',:placeholder => t("merchant.id")) %>
      </div>
      <div class="name">
        <%= text_field(:merchant, :name, :value => params[:merchant] ? params[:merchant][:name] : '',:placeholder => t("merchant.name")) %>
      </div>
      <div class="contact">
        <%= text_field(:merchant, :administrative_contact, :value => params[:merchant] ? params[:merchant][:administrative_contact] : '',:placeholder => t("merchant.contact")) %>
      </div>
      <div class="phone">
        <%= text_field(:merchant, :mobile_number, :value =>  params[:merchant] ? params[:merchant][:mobile_number] : '',:placeholder => t("merchant.phone")) %>
      </div>
      <div class="email">
        <%= text_field(:merchant, :administrative_email, :value => params[:merchant] ? params[:merchant][:administrative_email] : '',:placeholder => t("merchant.email")) %>
      </div>
      <div class="paddress">
        <div class="cell-wrapper clearfix">
          <%= text_field(:merchant, :primary_address, :value => params[:merchant] ? params[:merchant][:primary_address] : '',:placeholder => t("merchant.primary_address")) %>
          <%= submit_tag(t("form.search")) %>
        </div>
      </div>
    </div>
    <table id="merchant_list" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <th class="id_cell"><%= t("merchant.id") %></th>
        <th class="name_cell"><%= t("merchant.name") %></th>
        <th class="contact_cell"><%= t("merchant.contact") %></th>
        <th class="phoen_cell"><%= t("merchant.phone") %></th>
        <th class="email_cell"><%= t("merchant.email") %></th>
        <th class="paddress_cell"><span class="translation_missing"
                                        title="translation missing: en.merchant.paddress"><%= t("merchant.primary_address") %></span>
        </th>

      </tr>

      <% @merchants.each do |merchant| %>
        <tr>
          <% if merchant.users.find(:all,:joins => :role,:conditions => {:roles => {:name => ["Merchant admin","Super User"]}} ).first.blank? %>
            <td><%=  merchant.merchant_id %></td>
          <% else %>
            <td><%= link_to merchant.merchant_id, user_path(merchant.users.find(:all,:joins => :role,:conditions => {:roles => {:name => ["Merchant admin", "Super User"]}} ).first), :merchant_id => merchant.id %></td>
          <% end %>
          <td><%= merchant.name %></td>
          <td><%= merchant.administrative_contact %></td>
          <td><%= merchant.phone %></td>
          <td><%= merchant.administrative_email %></td>
          <td><%= merchant.primary_address %></td>
        </tr>
      <% end %>
    </table>

    <% if can? :new, Merchant %>
      <%= link_to t("form.newclass", :class => "Merchant"), "#signupModal",:class => "add_merchant post-an-offer" %>
    <% end %>
    <%= will_paginate @merchants %>
  <% end %>

  <div style="width: 100%; height: 50px; margin-top: 40px;">
    <%= link_to t("form.btn_sms", :class => "Merchant"), sms_request_merchants_path,:class => "add_merchant",:style => "float:left;margin-right:8px" %>
    <%= link_to t("form.offer_statis", :class => "Merchant"), merchants_survey_path,:class => "add_merchant left",:style => "float:left;margin-right:8px" %>
    <%= link_to t("form.survey_source", :class => "Merchant"), merchants_survey_source_path,:class => "add_merchant left",:style => "float:left" %>
  </div>

</div>

<div class="modal hide fade" id="signupModal">
<a class="close" data-dismiss="modal">×</a>

<div id="signupCarousel" class="carousel slide">
<div class="carousel-inner">
<div class="item active">
  <h2 class="modal-title">Your offer/Ad</h2>

  <div class="hint hint-create-offer">
    <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>Post a free advertisement or offer to <b>Yacto</b> in less than 60 seconds. GET NEW CUSTOMERS NOW!
          </span>
  </div>
  <form class="createOffer-form clearfix" action="" method="post">
    <div class="field-wrapper required">
      <label for="createOffer_email" class="modalLabel">Email:</label>
      <input id="createOffer_email" name="createOffer_email" type="email" class="modalInput required_field"
             placeholder="john@doe.com"/>
      <span class="field-hint">We will send you a verification email here, and you can use it for login!</span>
    </div>
    <div class="field-wrapper required textarea-wrapper">
      <label for="offerText" class="modalLabel">Offer text:</label>
      <textarea name="offerText" id="offerText" type="textarea" class="modalInput"
                placeholder="Example: 1600 - 1800, 25% off early dinner for two in our wonderful restaurant with authentic Italian food!"></textarea>
      <span class="field-hint">140 characters or less, and the first sentence is your offer title, so be clear! </span>
    </div>
    <div class="button-wrapper clearfix">
            <span class="signupModal float_left">
              <%= t("offer.field_marked") %><span class="signupModal mandatory"> * </span><%= t('offer.mandatory') %>
            </span>
      <input type="button" class="submit createOffer-submit nextStep" data-slide="next" value="Create offer"/>
      <!--<input class="createOffer-submit submit" type="submit" value="Create offer" data-slide="next"/>-->

      <span class="field-hint">Offer will go live as soon as you confirm your account</span>
    </div>
    <div class="progress-bar-wrapper">
      <div class="progress-inner">
        <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
      </div>
    </div>
  </form>
</div>
<div class="item">
  <h2 class="modal-title">Your Business Details</h2>

  <div class="hint hint-create-offer">
    <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>Fill in your business details, we will automatically check the rest against our database
          </span>
  </div>
  <form class="businessDetails-form clearfix" action="" method="post">
    <div class="field-wrapper required clearfix">
      <label for="businessName_address" class="modalLabel">Business name & address:</label>
      <input required="required" id="businessName_address" name="businessName_address" type="text"
             class="modalInput"
             placeholder="Yacto Ltd, 1600 Amphitheatre Pkwy, CA 94043, USA"/>
      <a href="#" class="search-matches-btn">Search</a>
    </div>
    <div class="hidden-fields hidden-matches">

      <div class="field-wrapper">
        <label class="modalLabel">Potential matches:</label>
        <ul class="matches-list">


        </ul>
      </div>
    </div>

    <div class="hidden-fields detailed-data">
      <div class="field-wrapper">
        <label for="business_name" class="modalLabel">Business name:</label>
        <input id="business_name" type="text" class="modalInput"
               placeholder="Yacto Ltd."/>
      </div>
      <div class="field-wrapper">
        <label for="business_street" class="modalLabel">Business street:</label>
        <input id="business_street" type="text" class="modalInput"
               placeholder="Bulevardul Moscova 15/2, et. 8, ap. 78"/>
      </div>
      <div class="field-wrapper half">
        <label for="business_city" class="modalLabel">City:</label>
        <input id="business_city" type="text" class="modalInput"
               placeholder="Chisinau"/>
      </div>
      <div class="field-wrapper half last">
        <label for="business_postal_code" class="modalLabel">Postal code:</label>
        <input id="business_postal_code" type="text" class="modalInput"
               placeholder="MD-2068"/>
      </div>
      <%= hidden_field_tag :business_city_id %>
      <%= hidden_field_tag :business_lat %>
      <%= hidden_field_tag :business_lng %>
      <div class="field-wrapper">
        <label for="business_category" class="modalLabel">Business category:</label> <br/>

        <%= select(:merchant, :merchant_type_id, MerchantType.find(:all, :order => 'merchant_type asc', :conditions => {:sub_type => ' '}).collect {|c| [c.merchant_type , c.id ] },{},{   :style => "width:336px;" }) %>
      </div>
      <div class="map-wrapper" style="height: 320px; width: 360px">
        <div id="map_show" style="width:100%; height:100%"></div>
        <br/>
      </div>
    </div>
    <div class="field-wrapper clearfix required">
      <fieldset required="required" id="businessHours" name="businessHours">
        <label for="mon-fri-open" class="modalLabel hours-label">Business hours:</label>

        <div class="field-third">
          <input required="required" id="mon-fri-open" type="text"
                 class="modalInput opening time-picker"
                 placeholder="09:00" value="09:00"/>
          <input required="required" id="mon-fri-close" type="text"
                 class="modalInput closing time-picker"
                 placeholder="22:00" value="22:00"/>

          <div class="clear"></div>
          <label for="mon-fri-open" class="third-label">Mon-Fri</label>
        </div>
        <div class="field-third">
          <input required="required" id="sat-open" type="text"
                 class="modalInput opening time-picker"
                 placeholder="09:00" value="09:00"/>
          <input required="required" id="sat-close" type="text"
                 class="modalInput closing time-picker"
                 placeholder="22:00" value="22:00"/>

          <div class="clear"></div>
          <label for="sat-open" class="third-label">Saturday</label>
        </div>
        <div class="field-third last">
          <input required="required" id="sun-open" type="text"
                 class="modalInput opening time-picker"
                 placeholder="09:00" value="09:00"/>
          <input required="required" id="sun-close" type="text"
                 class="modalInput closing time-picker"
                 placeholder="22:00" value="22:00"/>

          <div class="clear"></div>
          <label for="sun-open" class="third-label">Sunday</label>
        </div>
      </fieldset>
    </div>


    <div class="button-wrapper clearfix">
            <span class="signupModal float_left">
              <%= t("offer.field_marked") %><span class="signupModal mandatory"> * </span><%= t('offer.mandatory') %>
            </span>
      <input type="button" class="submit businessDetails-submit nextStep" data-slide="next" value="Next"/>
    </div>
    <div class="progress-bar-wrapper">
      <div class="progress-inner">
        <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
      </div>
    </div>
  </form>
</div>
<div class="item">
  <h2 class="modal-title">Social media Links</h2>

  <div class="hint hint-create-offer">
    <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>Your offer is ready to go live.  By adding social media links, customers who view your offer can automatically follow you through their preferred method
          </span>
  </div>

  <form class="socialMedia-form clearfix" action="" method="post">
    <div class="field-wrapper">
      <label class="modalLabel">Check the box if you would like us to create the account for you
        automatically</label>

      <div class="btn-group createFor-user" data-toggle="buttons-checkbox">
        <div class="create-option">
          <button id="create-facebbook" class="btn bootstrap-checkbox"></button>
          <label for="create-facebbook" class="create-label">Facebook</label>
        </div>
        <div class="create-option">
          <button id="create-twitter" class="btn bootstrap-checkbox"></button>
          <label for="create-twitter" class="create-label">Twitter</label>
        </div>
        <div class="create-option gplaces">
          <button id="create-gplaces" class="btn bootstrap-checkbox"></button>
          <label for="create-gplaces" class="create-label">Google Places</label>
        </div>
        <div class="create-option">
          <button id="create-yelp" class="btn bootstrap-checkbox"></button>
          <label for="create-yelp" class="create-label">Yelp</label>
        </div>
        <div class="create-option">
          <button id="create-yahoo" class="btn bootstrap-checkbox"></button>
          <label for="create-yahoo" class="create-label">Yahoo</label>
        </div>
      </div>
    </div>
    <div class="field-wrapper">
      <label for="socialMedia-facebook" class="modalLabel">Facebook:</label>
      <input id="socialMedia-facebook" type="text" class="modalInput" placeholder="Facebook business page ID"/>
    </div>
    <div class="field-wrapper">
      <label for="socialMedia-twitter" class="modalLabel">Twitter:</label>
      <input id="socialMedia-twitter" type="text" class="modalInput" placeholder="Twitter business page ID"/>
    </div>
    <div class="field-wrapper">
      <label for="socialMedia-places" class="modalLabel">Google Places:</label>
      <input id="socialMedia-places" type="text" class="modalInput" placeholder="Google places business page ID"/>
    </div>
    <div class="field-wrapper">
      <label for="socialMedia-yelp" class="modalLabel">Yelp ID:</label>
      <input id="socialMedia-yelp" type="text" class="modalInput" placeholder="Yelp ID"/>
    </div>

    <div class="button-wrapper clearfix">
      <input type="button" class="socialMedia-submit nextStep" data-slide="next" value="Post offer"/>
    </div>
    <div class="progress-bar-wrapper">
      <div class="progress-inner">
        <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
      </div>
    </div>
  </form>

</div>
<div class="item">
  <h2 class="modal-title"><%= t("offer.person_details") %></h2>

  <div class="hint hint-create-offer">
    <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>You’re almost there! Add your personal details, or sign in with the below services:
          </span>
  </div>

  <form class="personalInfo-form clearfix" action="" method="post">
    <div class="signinServices">
      <div class="signinService signinFacebook">
        <%= link_to t("form.signinwithname", :name => 'Facebook'), user_omniauth_authorize_path(:facebook),:class => "serviceButton service-facebook" %>
<%#*<a class="serviceButton service-facebook" href="#">Sign in with Facebook</a>%>
      </div>
      <div class="signinService signinTwitter">
        <%= link_to t("form.signinwithname", :name => 'Twitter'), user_omniauth_authorize_path(:twitter),:class => "serviceButton service-twitter"  %>
<%#*<a class="serviceButton service-twitter" href="#">Sign in with Twitter</a>%>
      </div>
      <div class="clear"></div>
      <div class="signinService signinGplus">
        <%= link_to t("form.signinwithname", :name => 'Google'), user_omniauth_authorize_path(:google_oauth2),:class => "serviceButton service-gplus" %>
<%#*<a class="serviceButton service-gplus" href="#">Sign in with Google+</a>%>
      </div>
      <div class="signinService signinYahoo">
        <%= link_to t("form.signinwithname", :name => 'Yahoo'), user_omniauth_authorize_path(:yahoo),:class => "serviceButton service-yahoo" %>
<%#*<a class="serviceButton service-yahoo" href="#">Sign in with Yahoo!</a>%>
      </div>
      <div class="clear"></div>
    </div>
    <div class="field-wrapper half">
      <label for="personalInfo-fname" class="modalLabel">First name:</label>
      <input id="personalInfo-fname" type="text" class="modalInput" placeholder="Johnny"/>
    </div>
    <div class="field-wrapper half last">
      <label for="personalInfo-lname" class="modalLabel">Last name:</label>
      <input id="personalInfo-lname" type="text" class="modalInput" placeholder="Doe"/>
    </div>
    <div class="field-wrapper">
      <label for="personalInfo-email" class="modalLabel">Email:</label>
      <input id="personalInfo-email" type="text" class="modalInput" placeholder="johndoe@gmail.com"/>
    </div>
    <div class="field-wrapper">
      <label for="personalInfo-pass" class="modalLabel">Password:</label>
      <input id="personalInfo-pass" type="password" class="modalInput"/>
    </div>
    <div class="field-wrapper required">
      <label for="personalInfo_mobile" class="modalLabel">Mobile phone number:</label>
      <input name="personalInfo_mobile" id="personalInfo_mobile" type="text" class="modalInput" placeholder="40754563783"/>
      <span class="field-hint">We will send you a text message to validate your account</span>
    </div>

    <div class="button-wrapper clearfix">
            <span class="signupModal float_left">
              <%= t("offer.field_marked") %><span class="signupModal mandatory"> *</span><%= t('offer.mandatory') %>
            </span>
      <input type="button" class="personalDetails-submit nextStep" value="Post offer"/>
    </div>
    <div class="progress-bar-wrapper">
      <div class="progress-inner">
        <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
      </div>
    </div>
  </form>

</div>

</div>
</div>
</div>

