<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
  <%= render :partial => "shared/nav_home" %>
<div data-role="content">
  <div class="content-primary">	
    <h3><%= t("form.listclasses", :classes => "merchants") %></h3>
    <ul data-role="listview" data-split-icon="gear" data-split-theme="d" style="margin-bottom: 20px;">
      <% @merchants.each do |merchant| %>
        <li>
          <a href="<%= merchant_path(merchant)%>">
            <div style="width: 120px; float: left;">
              <span class="<%= merchant.merchant_type.merchant_type %>"><%= merchant.merchant_type.merchant_type %></span>
              <h3 style="width: 120px;"><%= merchant.name  %></h3>
              <%= merchant.user_rating %>
            </div>
            <p style="white-space: normal;">
              <%= merchant.mobile_description %>
            </p>
          </a>
        </li>
      <% end %>
    </ul>


    <%= link_to t("form.newclass", :class => "Merchant"), new_merchant_path, "data-role" => "button", "data-theme" =>"e"%>

  </div>
</div>