<%= stylesheet_link_tag("spry_tabbed_panels") %>
<%= javascript_include_tag("spry_tabbed_panels") %>
<div data-role="page" id="index_page">
  <% content_for :head do %>
    <meta property="og:title" content="Check out this great limited-time special at <%=  @merchant.name %> : www.yacto.com/<%= @merchant.merchant_id %>"  />

    <meta property="og:site_name" content="Yacto" />
    <meta property="fb:admins" content="100000303295649" />
    <meta itemprop=  >
  <% end %>
  <div data-role="header" data-position="fixed" data-theme="c" style="height: 45px;">
    <header class="mobile-header">
      <nav class="clearfix">
        <a data-role="none" class="mobile-nav-item offers active" rel="external" href="<%= offers_path( :lat => params[:lat], :lon => params[:lon], :merchant_type_id => session[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]) %>">
          <div></div>
        </a>
        <a  class="mobile-nav-item nearby" data-role="none" rel="external"  href="<%= nearby_path_with_params %>">
          <div></div>
        </a>
        <a class="mobile-nav-item logo"><div></div></a>
        <% if current_user %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="<%= favorites_path_with_params %>">
            <div></div>
          </a>
        <% else %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="#" id="popupbut">
            <div></div>
          </a>
        <% end %>
        <a class="mobile-nav-item filters" href="<%= new_filters_path_with_params %>" data-ajax="false"  id="filter_dialog"><div></div></a>
      </nav>
    </header>
  </div>
  <div data-role="content" style="padding-left: 0;padding-right: 0px;">
    <div class="content-primary">
      <script type="text/javascript">
          var url = window.location.toString();
window.location = url.replace("payment=1", '');
return false;
        $(document).ready(function (){

<% if @favorite %>
        $('#favorite').unbind('click');
        $('#favorite').css({'background-position':'0 -96px','cursor':'default'});
  <% else %>
        $('#favorite').click(function() {

          $.ajax({
            type: "GET",
            url: "<%= url_for(:controller => "merchants", :action => 'ajax_favorite') %>",
            data: "id=" +  "<%= @merchant.id %>",

            success: function(data){
              $('#favorite').unbind('click');
              $('#favorite').css({'background-position':'0 -96px','cursor':'default'});
              return false;
            },
            error: function(msg){
              console.log("There is an error : can't get data");
              return false;
            }
          });
        });
  <% end %>
  });
      </script>

      <script type="text/javascript">
        function remove_active_button(){
          $('div.ui-block-a a.ui-link').removeClass('active');
          $('div.ui-block-b a.ui-link').removeClass('active');
          $('div.ui-block-c a.ui-link').removeClass('active');
          $('div.ui-block-d a.ui-link').removeClass('active');
        }
        $('div.ui-block-a a.ui-link').live('click', function () {
          remove_active_button();
          $(this).addClass("active");
        });
    
        $('div.ui-block-b a.ui-link').live('click', function () {
          remove_active_button();
          $(this).addClass("active");
        });
    
        $('div.ui-block-c a.ui-link').live('click', function () {
          remove_active_button();
          $(this).addClass("active");
        });
    
        $('div.ui-block-d a.ui-link').live('click', function () {
          remove_active_button();
          $(this).addClass("active");
        });
    
        $('div.click').live('click', function () {
          console.log($(this));
          var link = $(this).find('a:first');
          if (link) {
            if ($(link).attr('data-ajax') == "false") {
              document.location = $(link).attr('href').toString();
            } else {
              $.mobile.changePage($(link).attr('href').toString());
            }
          }
        });
    
        $(document).delegate('#popupbut', 'click', function() {
          var sign_in = '<%= t("form.signin") %>';
          var sign_up = '<%= t("form.signup") %>';
          var sign_in_with = '<%=  t('home.index.sign_in_with')%>';
          var post_to = '<%= t('home.index.post_to')%>';
          var on = '<%= t('home.index.on') %>';
          var off = '<%= t('home.index.off') %>';
          var twitter_on = '<%= cookies[:twitter_on] %>';
          if (twitter_on == 'true'){
            twitter_on = '<option value="on" selected="true">';
          }
          else {
            twitter_on ='<option value="on">';
          }
          var facebbook_on = '<%= cookies[:facebook_on] %>';
          if (facebbook_on == 'true'){
            facebbook_on = '<option value="on" selected="true">';
          }
          else {
            facebbook_on = '<option value="on">';
          }
    
          $('<div>').simpledialog2({
            mode: 'blank',
            headerText: 'Yacto',
            headerClose: true,
            blankContent : 
              '<div class="ui-body ui-body-d">'+
              '<form method="post" id="new_user" class="new_user" action="/users/sign_in" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="q10sorYIU9W6ImkYzd/PM4mgOQrZacg4JOgoRqFjRQU=" name="authenticity_token"></div>'+
              '<div class="box">'+
              '<div class="input">'+
              '<input type="text" size="30" placeholder="Username or Email" name="user[login]" id="user_login">'+
              '</div>'+
              '<div class="input">'+
              '<input type="password" size="30" placeholder="Password" name="user[password]" id="user_password">'+
              '</div>'+
              '<input id ="btn_sign_up" type="submit" value="' +sign_in+'"  data-theme="e"  data-role="button"/>'+
              '</div>'+
              '</form>'+
              '<ul data-role="listview" data-inset="true" style="margin-top: 20px;margin-bottom: 20px;border-radius:10px;">'+
              '<li><a href="/users/sign_up">'+ sign_up +'</a></li>'+
              '<li><a rel="external" href="/users/auth/twitter">' + sign_in_with + ' Twitter</a></li>'+
              '<li><a rel="external" href="/users/auth/facebook">'+ sign_in_with + ' Facebook</a></li>'+
              '<li><a rel="external" href="/users/auth/google_oauth2">'+ sign_in_with +' Google</a></li>'+
              '</ul>'+
              '<div class="box_line">'+
              '<label for="twitter_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Twitter</label>'+
              '<select name="twitter_on" id="twitter_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
              '<option value="off">' + off  + '</option>'+
              twitter_on + on +'</option>'+
              '</select>'+
              '</div>'+
              '<div class="box_line">'+
              '<label for="facebook_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Facebook</label>'+
              '<select name="facebook_on" id="facebook_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
              '<option value="off">' + off + '</option>'+
              facebbook_on + on +'</option>'+
              '</select>'+
              '</div>'+
              '<div class="box_line">'+
              '<label for="google_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Facebook</label>'+
              '<select name="google_on" id="google_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
              '<option value="off">' + off + '</option>'+
              '<option value="on">' + on +'</option>'+
              '</select>'+
              '</div>'+
              '</div>'
      
          })
        });

  

      </script>
      <ul data-role="listview">
        <li style="border: none;background:none;min-height: 145px">
          <div style="text-align: left; height: 15px; padding-left: 15px;background-color: <%=  @merchant ? @merchant.merchant_type.color : '#564ea1' %>;">
            <%= image_tag("mobile/" + @merchant.merchant_type.image,:style => "width :15px; height:15px;") %>
          </div>
          <div style="width: 50px;float: right">
            <div id="fb-root"></div>
            <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '<%= ENV['FACEBOOK_APP_ID']  %>', // App ID
                  channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                  status     : true, // check login status
                  cookie     : true, // enable cookies to allow the server to access the session
                  xfbml      : true  // parse XFBML
                });

                // Additional initialization code here
              };

              // Load the SDK Asynchronously
              (function(d){
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
              }(document));
            </script>
            <div class="fb-like" data-href="<%= request.url %>" data-send="true" data-width="60" data-show-faces="false"></div>

            <% if current_user  %>
              <a href="#" class="favorite" data-role="none"  id="favorite">Favorite</a>
            <% else %>
              <a href="#" class="favorite" data-role="none" id="popupbut">Favorite</a>
            <% end %>
            <% if @merchant.phone.blank? %>
              <a href="tel:<%= @phone_number != false ? @phone_number : '' %>" class="call" data-role="none" id="call" style="opacity: 0.4; cursor: default" onclick="return false">Call</a>
            <% else %>
              <a href="tel:<%= @phone_number != false ? @phone_number : ''  %>" class="call" data-role="none" id="call" >Call</a>
            <% end %>
            <a href="#" class="pin" data-role="none" id="direction">Direction</a>

          </div>
          <span class="format_merchant_name">
            <%= @merchant.name.split.each{|i| i.capitalize!}.join(' ') %>
          </span>
          <p class="format_primary_address" data-role="none">
            <%= @merchant.primary_address.split.each{|i| i.capitalize!}.join(' ') %>
          </p>
          <span class="format_primary_address"><%= @phone_number != false ? @phone_number : '' %> </span>
          <span class="format_time_merchant">
            <%= t("hours_today") %>: <%= merchant_open_time(@merchant) %>              
          </span>
        </li>   
      </ul>

<%#*<div id="content">%>
      <div id="main">
        <div style="padding: 0 3px;">
          <div id="TabbedPanels1" class="TabbedPanels">
            <ul  class="TabbedPanelsTabGroup">
              <li  class="TabbedPanelsTab" tabindex="0" id="line" style="border-radius:6px 0px 0px 6px;">
                <div style="border-radius:6px 0px 0px 6px;border-left: 1px solid;">
                  <b>Mon</b><i>x<%= @offers_mon.length %> </i>
                </div>
              </li>
              <li class="TabbedPanelsTab" tabindex="0" id="line">
                <div>
                  <b>Tue</b><i>x<%= @offers_tue.length %> </i>
                </div>
              </li>
              <li class="TabbedPanelsTab" tabindex="0" id="line">
                <div><b>Wed</b><i>x<%= @offers_wed.length %> </i></div>
              </li>
              <li class="TabbedPanelsTab" tabindex="0" id="line">
                <div><b>Thu</b><i>x<%= @offers_thu.length %> </i></div>
              </li>
              <li class="TabbedPanelsTab" tabindex="0" id="line">
                <%  %>
                <div><b>Fri</b>&nbsp;<i>x<%= @offers_fri.length %> </i></div>
              </li>
              <li class="TabbedPanelsTab" tabindex="0" id="line">
                <%  %>
                <div><b>Sat</b><i>x<%= @offers_sat.length %> </i></div>
              </li>
              <li class="TabbedPanelsTab" tabindex="0" id="line" style="border-radius:0px 6px 6px 0px;">
                <%  %>
                <div style="border-radius:0px 6px 6px 0px;border-right: 1px solid;"><b>Sun</b><i>x<%= @offers_sun.length %> </i></div>
              </li>

            </ul>
            <div class="TabbedPanelsContentGroup">
              <div class="TabbedPanelsContent">

                <% @offers_mon.each do |offer| %>
                  <div class="tabbed_panel_format_time"><%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%></div>
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_mon and @offers_mon.last and offer.id == @offers_mon.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>

              <div class="TabbedPanelsContent">

                <% @offers_tue.each do |offer| %>
                  <div class="tabbed_panel_format_time">
                    <%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%>
                  </div>
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_tue and @offers_tue.last and offer.id == @offers_tue.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>

                <% end %>
              </div>

              <div class="TabbedPanelsContent">

                <% @offers_wed.each do |offer| %>
                  <div class="tabbed_panel_format_time">
                    <%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%>
                  </div> 
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_web and @offers_web.last and offer.id == @offers_wed.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>

              <div class="TabbedPanelsContent">

                <% @offers_thu.each do |offer| %>
                  <div class="tabbed_panel_format_time">
                    <%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%>
                  </div>    
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_thu and @offers_thu.last and offer.id == @offers_thu.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>

              <div class="TabbedPanelsContent">

                <% @offers_fri.each do |offer| %>
                  <div class="tabbed_panel_format_time">
                    <%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%>
                  </div> 
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_fri and @offers_fri.last and offer.id == @offers_fri.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>

              <div class="TabbedPanelsContent">

                <% @offers_sat.each do |offer| %>
                  <div class="tabbed_panel_format_time">                  
                    <%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%>
                  </div> 
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_sat and @offers_sat.last and offer.id == @offers_sat.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>

              <div class="TabbedPanelsContent">

                <% @offers_sun.each do |offer| %>
                  <div class="tabbed_panel_format_time">                   
                    <%= offer.start_time ? offer.start_time.strftime('%I:%M%P').gsub(/^0/,'')  : '' %> - <%= offer.end_time ? offer.end_time.strftime('%I:%M%P').gsub(/^0/,'')  : ' '%>
                  </div> 
                  <p class="tabbed_panel_format_offer_description" style="<%= (@offers_sun and @offers_sun.last and offer.id == @offers_sun.last.id)? 'border :none;' : 'border-bottom: 1px solid #cccccc;' %>">
                    <% if  offer.third_party_code and offer.link and offer.link.strip != '' and offer.description%>
                      <%= offer.description[0,140 - ("Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' ')).length ] %>
                      <%= link_to "Buy via " + offer.third_party_code.gsub("_", ' ').split.each{|i| i.capitalize!}.join(' '), offer.link %>
                    <% else %>
                      <% if offer.link and offer.link.strip != '' and offer.merchant.third_party_merchant_type and offer.merchant.third_party_merchant_type.merchant_type_id and offer.description%>
                        <%= offer.description[0,140 - "Buy via 8coupons ".length ] %>
                        <%= link_to "Buy via 8coupons ", offer.link %>
                      <% else %>
                        <% if offer.link and offer.link.strip != '' and offer.link != 'http://dummy-link.com' and offer.description%>
                          <%= offer.description[0,140 - "Buy ".length ] %>
                          <%= link_to "Buy ", offer.link %>
                        <% else %>
                          <%=  offer.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1", {defaultTab:
<% if @now_time %>
  <%= @now_time.strftime('%u').to_i - 1 %>
<% else %>
      0
<% end %>
  });
        </script>
        <script type="text/javascript">

          $(document).ready(function (){
            var latlng = new google.maps.LatLng(<%= @map_center %>);  
            var myOptions = {
              zoom: <%= @map_zoom ? @map_zoom : "16" %>,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              scrollwheel: false
            };
            map = new google.maps.Map(document.getElementById("map"), myOptions);

            var image = '/assets/markers/'+ '<%= @merchant.merchant_type ? @merchant.merchant_type.marker_image : 'look.png' %>'
            verifyMarker = new google.maps.Marker({
              map: map,
              position: latlng,
              icon: image
            });
                      

 
            var directionDisplay;
            var directionsService = new google.maps.DirectionsService()

            function calcRoute() {
              var start = new google.maps.LatLng(<%= @merchant.lat.to_f %>, <%= @merchant.lon.to_f %> );
              var end = new google.maps.LatLng(<%= @res.lat.to_f %>, <%= @res.lng.to_f %> ) ;
              var request = {
      
                origin: start, 
                destination: end  ,
                travelMode:  google.maps.DirectionsTravelMode.DRIVING
              };
              directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                }
              });
            }

                      
            $('#direction').click(function() {
                

              directionsDisplay = new google.maps.DirectionsRenderer();

              directionsDisplay.setMap(map);
              calcRoute();
            });
          });
        </script>
      </div>
<%#*<div class="paddedContent" style="border-top: 2px solid #cccccc; margin-top: -4px;">%>
      <script type="text/javascript">
<%  if cookies[:first_time] != 'true' %>
    var mobileDemo = { 'center': '57.7973333,12.0502107', 'zoom': 5 };
    $('#index_page').live('pageinit', function() {
      demo.add('index_page', function() {

        $('#map').gmap({'center': mobileDemo.center, 'zoom': 5 , 'disableDefaultUI':true, 'callback': function(map) {
            var self = this;
            self.watchPosition(function(position, status) {
              if ( status === 'OK' ) {

                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                $.ajax({
                  type: "GET",
                  url: "<%= offers_ajax_lonlat_path %>",
                  data: "lon=" +  position.coords.longitude + "&lat=" + position.coords.latitude,

                  success: function(data){
                    window.location.reload();
                    return false;
                  },
                  error: function(msg){

                    console.log("There is an error : can't get data");
                    return false;
                  }
                });
                if ( !self.get('markers').client ) {
                  self.addMarker({ 'id': 'client', 'position': latlng, 'bounds': true });
                } else {
                  self.get('markers').client.setPosition(latlng);
                  //-try to add circle for mobile---self.set('clientPosition', new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                  //-try to add circle for mobile---self.addShape('Circle', { 'strokeWeight': 0, 'fillColor': "#008595", 'fillOpacity': 0.25, 'center': self.get('clientPosition'), 'radius': 15, clickable: false });
                  map.panTo(latlng);
                }
              }
            });
          }});
      }).load('index_page');
    });

<% end %>

      </script>
      <div id="map" style="width: 100%; height: 300px;"></div>
<%#*</div>%>
<%#*</div>%>
    </div>
  </div>
</div>