<script type="text/javascript">

  $(document).ready(function (){
    var latlng = new google.maps.LatLng(<%= @map_center %>);  
    var myOptions = {
      zoom: <%= @map_zoom ? @map_zoom : "10" %>,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);

    var image = '/assets/markers/pin/image.png';
    verifyMarker = new google.maps.Marker({
      map: map,
      position: latlng,
      icon: image
    });
  });
</script>
<div id="map"></div>
<p>
  <b><%= t("merchant.name") %>:</b>
  <%= @merchant.name %>
</p>

<p>
  <b><%= t("merchant.desc") %>:</b>
  <%= @merchant.mobile_description %>
</p>

<p>
  <b><%= t("merchant.paddress") %>:</b>
  <%= @merchant.primary_address %>
</p>

<p>
  <b><%= t("merchant.userrating") %>:</b>
  <%= @merchant.user_rating %>
</p>

<p>
  <b><%= t("merchant.type") %>:</b>
  <%= @merchant.merchant_type.merchant_type %>
</p>



<%= link_to t("form.edit"), edit_merchant_path(@merchant) %> |
<%= link_to t("form.back"), merchants_path %>
