

<%= form_tag("/merchants/sms_request", :method => "get") do %>
  <p>
    <%= label_tag(:From, "Phone number:") %>
    <%= text_field_tag(:From) %>
  </p>
  <p>
    <%= label_tag(:Body, "Sms request:") %>
    <%= text_area_tag(:Body) %>
  </p>
  <%= submit_tag("Sent") %>
<% end %>