
<table id="merchant_list">
  <tr>

    <th>Source</th>

    <th>Merchant number</th>
    <th>Offer number</th>

  </tr>


<% @sources.each do |merchant| %>
  <tr>

    <td><%= merchant.third_party_code %></td>


    <td><%= merchant.merchant_count %></td>
    <td><%= merchant.offer_count %></td>

  </tr>
<% end %>
</table>

