<div>
  <form action="/merchants/survey" method="get" novalidate="novalidate">
    City: <input type="text"  name="city" value ="<%= params[:city] %>" class="merchant_survey_city">
    <button type="submit" class="reset_password">Search</button>
  </form>

</div>
<table id="merchant_list">
  <tr>

    <th>Country</th>
      <th> &nbsp &nbsp</th>
    <th>City</th>

    <th>Merchant number</th>
    <th>Offer number</th>

  </tr>


<% @merchants.each do |merchant| %>
  <tr>

    <td><%= merchant.country_name %></td>
    <td>  </td>
    <td><%= link_to merchant.name, :action => "survey_city", :id => merchant.id %></td>

    <td><%= merchant.merchant_count %></td>
    <td><%= merchant.offer_count %></td>

  </tr>
<% end %>
</table>


  <%= will_paginate @merchants %>
