<h1>Each Source</h1>
<table id="source_group_merchants">
  <tr>

    <th>Country</th>
    <th> &nbsp &nbsp</th>
    <th>City</th>
    <th>Source</th>
    <th>Merchant number</th>
    <th>Offer number</th>

  </tr>


  <% @source_group_merchants.each do |merchant| %>
      <tr>

        <td><%= merchant.country_name %></td>
        <td>  </td>
        <td><%= merchant.name %></td>
        <td><%= merchant.third_party_code %></td>
        <td><%= merchant.merchant_count %></td>
        <td><%= merchant.offer_count %></td>

      </tr>
  <% end %>
</table>
<h1>Each Type</h1>
<table id="type_group_merchants">
  <tr>

    <th>Country</th>
    <th> &nbsp &nbsp</th>
    <th>City</th>
    <th>Source</th>
    <th>Type</th>
    <th>Merchant number</th>
    <th>Offer number</th>

  </tr>


  <% @type_group_merchants.each do |merchant| %>
      <tr>

        <td><%= merchant.country_name %></td>
        <td>  </td>
        <td><%= merchant.name %></td>
        <td><%= merchant.third_party_code %></td>
        <td><%= merchant.merchant_type_name %></td>
        <td><%= merchant.merchant_count %></td>
        <td><%= merchant.offer_count %></td>

      </tr>
  <% end %>
</table>
