@import "../_mixins.scss";

.tab-content {
  overflow: auto;
}



.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs {
  li {
    float: left;
    text-align: center;
    height: 42px;
    position: relative;
    top: 1px;
    z-index: 111;
    &.active {
      z-index: 222;
      border-bottom: 1px solid #fff !important;
      @include custom-gradient(#f3f6fa, #e9ebef, #fff);
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        position: absolute;
        top: 0;
        @include custom-shadow(
          inset 0 1px 0 rgba(255,255,255,.4) /* inner shadow */,
          0 0 0 1px #bc6d16 /* outer stroke */);
        @include custom-gradient(#e98f2c, #ffa542, #e98f2c);
      }
    }
  }
  a {
    display: inline-block;
    position: relative;
    top: 12px;
  }
}

.tab-content {
  color: #697e9d;
  h3 {
    font-size: 20px;
    color: #e9902c;
    margin-bottom: 5px;
  }
}