<h2><%= t("form.signin") %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%=t 'users.sign_in.login'  %><br />
  <%= f.text_field :login %></p>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit t("form.signin") %></div>
<% end %>

<%= render "links" %>