<div data-role ="page">
  <div data-role="header" data-theme="e">
    <h1>Yacto</h1>
  </div>
  <div data-role="content">
    <%= render :partial => "shared/nav_home" %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :method => :post,"data-ajax" => "true"}) do |f| %>
  <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :method => :post,"data-ajax" => "false" }) do |f| %>    
      <div class="box">
        <div class="input">
          <%= f.text_field :login,"placeholder" => t('users.sign_in.login') %>
        </div>
        <div class="input">
          <%= f.password_field :password,"placeholder" => t('users.sign_in.password') %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> 
          <%= f.label :remember_me %>
        <% end -%>

        <input id ="btn_sign_up" type="submit" value="<%= t("form.signin") %>"  data-theme="e"  data-role="button"/>

      </div>
    <% end %>

    <%= render "links_mobile" %>
  </div>
</div>