<div data-role="footer"  data-position="fixed" id ="footer" class="ui-grid-c" data-theme="c" style="padding-top: 5px; padding-bottom: 5px;">
  <div class="ui-block-a"><a href="#"><div id ="offer"></div></a></div>
  <div class="ui-block-b"><a href="#"><div id ="nearby"></div></a></div>
  <div class="ui-block-c"><a href="#" id="favorite_all"><div id ="favorite"></div></a></div>
  <div class="ui-block-d"><a href="#"><div id ="filters"></div></a></div>
</div>