<%= javascript_include_tag 'jquery-ui-1.8.18.custom.min' %>
<script type="text/javascript">
  $(document).ready(function(){
    if("<%= @map_center %>" != '' ) {
      var latlng = new google.maps.LatLng(<%= @map_center %>);
    }else{
      var latlng = new google.maps.LatLng(40.714353, -74.005973);
    }
    var myOptions = {
      zoom: <%= @map_zoom ? @map_zoom : "15" %>,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    };
    var image = '/assets/markers/pin/image.png';
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    infoWindow = new google.maps.InfoWindow();
    if($("#offer_lat").val() != ''){
      var latlng = new google.maps.LatLng($("#offer_lat").val(),$("#offer_lon").val());
      map.setCenter(latlng, 16);
      var image = '/assets/markers/pin/image.png';
      verifyMarker = new google.maps.Marker({
        map: map,
        position: latlng,
        icon: image
      });
    }


    function createMarker(latlng, html) {
      var content = html;
      var marker = new google.maps.Marker({
        map: map,
        position: latlng,
        icon: image
      });
      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(content);
        infoWindow.open(map, marker);
      });
    }
    function updateMarkerPosition(latLng) {
      $("#offer_lat").val(latLng.lat());
      $("#offer_lon").val(latLng.lng());
	
    }
    function manualSetLocation () {
      if (typeof verifyMarker != 'undefined'){verifyMarker.setVisible(false);}
      $("#green_info_bar").show();
      $("#green_info_bar").html("<p>" + "<%=  t("map.please_continue") %>" + "</p>");
      var marker = new google.maps.Marker({
        position: map.getCenter(),
        title: 'Set Location',
        map: map,
        draggable: true
      });
      google.maps.event.addListener(marker, 'drag', function() {
        updateMarkerPosition(marker.position);
      });		
		
      google.maps.event.addListener(map, 'click', function(point) {
        alert(point.inspect);
      });
      return false;
    }
    $("#manualCoordinates").click(function(){
      $('html, body').animate({scrollTop:0}, 'slow');
      $("#verify_address_first").show();
      $("#hide_after_verify").hide();
      manualSetLocation();
      return false;
    });
    $("#verifyAddress").click(function(){
      var address = $("#offer_primary_address").val();
      var authenticity_token = $("#authenticity_token").text();
      var data ="authenticity_token="+authenticity_token + "&address=" + address 
      if(address == ''){
        alert("<%= t('map.error_location') %>");
        $("#loading").hide();
        $("#verify_address_first").hide();
        $("#hide_after_verify").show();
        return false;
      }      
     
      $("#loading").show();
      $('html, body').animate({scrollTop:0}, 'slow');
      $.ajax({
        type: "GET",
        url: "/home/lookup_address",
        data: data,
        dataType: "json",
        success: function(msg){
          $("#offer_lat").val(msg[0]);
          $("#offer_lon").val(msg[1]);
          var latlng = new google.maps.LatLng(msg[0],msg[1]);
          map.setCenter(latlng, 16);
          var image = '/assets/markers/pin/image.png';
          verifyMarker = new google.maps.Marker({
            map: map,
            position: latlng,
            icon: image
          });
          $("#green_info_bar").show();
          $("#green_info_bar").html("<p>" + "<%= t("map.address_verified") %>" +  "</p>");
          $("#verify_address_first").show();
          $("#hide_after_verify").hide();
          return false;
        },
        error: function(e){
          alert("<%= t("map.error_location") %>");
          $("#loading").hide();
          $("#verify_address_first").hide();
          $("#hide_after_verify").show();
          return false;
        }
      });
      return false;
    });
    

    $('#city_name').autocomplete({source: function(req, add){
        $.getJSON('/home/autocomplete', req, function(data){
          //console.info(data);
          add(data);
        })
      },
      select: function(event, ui){
        //console.info(ui);
        var id = ui.item.id;
        //console.info('The value is ' + id);
        if(id)
          $('#offer_city_id').val(id);

      }});
<% if @offer and [1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101,103,105,107,109,111,113,115,117,119,121,123,125,127].include? @offer.day_in_week %>
      $("input[id='checkbox-1a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
<% if @offer and [2,3,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106,107,110,111,114,115,118,119,122,123,126,127].include? @offer.day_in_week %>
      $("input[id='checkbox-2a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
<% if @offer and [4,5,6,7,12,13,14,15,20,21,22,23,28,29,30,31,36,37,38,39,44,45,46,47,52,53,54,55,60,61,62,63,68,69,70,71,76,77,78,79,84,85,86,87,92,93,94,95,100,101,102,103,108,109,110,111,116,117,118,119,124,125,126,127].include? @offer.day_in_week %>
      $("input[id='checkbox-3a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
<% if @offer and [8,9,10,11,12,13,14,15,24,25,26,27,28,29,30,31,40,41,42,43,44,45,46,47,56,57,58,59,60,61,62,63,72,73,74,75,76,77,78,79,88,89,90,91,92,93,94,95,104,105,106,107,108,109,110,111,120,121,122,123,124,125,126,127].include? @offer.day_in_week %>
      $("input[id='checkbox-4a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
<% if @offer and [16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127].include? @offer.day_in_week %>
      $("input[id='checkbox-5a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
<% if @offer and [32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127].include? @offer.day_in_week %>
      $("input[id='checkbox-6a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
<% if @offer and [64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127].include? @offer.day_in_week %>
      $("input[id='checkbox-7a']").attr("checked",true).checkboxradio("refresh");        
<% end %>
    
  });
</script>

<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_messages">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="green_info_bar" <%= "style='display:none;'" unless flash[:notice]%>>
    <p><%= flash[:notice] if flash[:notice]%></p>
  </div>
  <div id="map"></div>

  <div class="input">
    <%= f.text_field :name,"placeholder" => t('offer.name')  %>
  </div>
  <div class="input">
    <%= f.text_field :price ,"placeholder" => t('offer.price')%>
  </div>
  <div class="input">
    <%= f.text_field :value,"placeholder" => t("offer.value") %>
  </div>
  <div class="input">
    <%= f.text_field :discount,"placeholder" => t("offer.discount") %>
  </div>
  <div class="input">
    <%= f.hidden_field :city_id, :value => params[:offer_city_id] %>
    <%= text_field_tag(:city_name,params[:city_name],"placeholder" => t("offer.city")) %>
  </div>
  <div class="input">
    <%= f.text_field :primary_address,"placeholder" => t("offer.primary_address"),:value => params[:primary_address] %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
  </div>
  <div class="field">
    <a href="#" id="manualCoordinates"><%= t("map.manually_set_location") %></a>
    |<a href="#" id="verifyAddress" ><%= t("map.verify_address") %></a>
  </div>
  <label> Start time:</label>
  <fieldset data-role="controlgroup" data-type="horizontal">     
    <%= f.time_select :start_time, :include_seconds => false %>
  </fieldset>
  <label> End time:</label>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= f.time_select :end_time, :include_seconds => false %>
  </fieldset>
  <fieldset data-role="controlgroup"  data-type="horizontal">
    <legend>Days in Week:</legend>
    <input type="checkbox" name="offer[mon]" id="checkbox-1a" class="custom" value=true />
    <label for="checkbox-1a">Mon</label>

    <input type="checkbox" name="offer[tue]" id="checkbox-2a" class="custom" value=true/>
    <label for="checkbox-2a">Tue</label>

    <input type="checkbox" name="offer[web]" id="checkbox-3a" class="custom" value=true />
    <label for="checkbox-3a">Web</label>

    <input type="checkbox" name="offer[thu]" id="checkbox-4a" class="custom" value=true />
    <label for="checkbox-4a">Thu</label>
    <input type="checkbox" name="offer[fri]" id="checkbox-5a" class="custom" value=true />
    <label for="checkbox-5a">Fri</label>

    <input type="checkbox" name="offer[sat]" id="checkbox-6a" class="custom" value=true />
    <label for="checkbox-6a">Sat</label>

    <input type="checkbox" name="offer[sun]" id="checkbox-7a" class="custom" value=true />
    <label for="checkbox-7a">Sun</label>
  </fieldset>
  <div class="input">
    <%= f.text_area :description,"placeholder" => t("offer.description") %>
  </div>

  <div class="input">
    <%= f.text_field :link,"placeholder" => t("offer.link") %>
  </div>
  <div class="input">
    <%= f.number_field :active,"placeholder" => t("offer.active") %>
  </div>

  <div class="input">
    <%= f.number_field :detail_views,"placeholder" => t("offer.detail_views") %>
  </div>


  <div class="actions">
    <% if @offer && !@offer.lat.blank? && !@offer.lon.blank? %>
      <div id="verify_address_first">
        <%= f.submit("data-theme" => "b")%>
      </div>
    <% else %>
      <div id="verify_address_first" style="display:none;">
        <%= f.submit( "data-theme" => "b" )%>
      </div>
      <div id="hide_after_verify">
        <p><%= t("map.must_verify") %></p>
      </div>
    <% end %>
  </div>
<% end %>
<div id="authenticity_token" style="display:none;"><%= form_authenticity_token %></div>
