
<%= form_for(@offer,:html => {"data-ajax" => "false"}) do |f| %>
  <div class="input">
    <%= f.text_field :name,"placeholder" => t('offer.name')  %>
  </div>

  <div class="input">
    <%= f.text_area :description,"placeholder" => t("offer.description") %>
  </div>
  <label> Start time:</label>
  <fieldset data-role="controlgroup" data-type="horizontal">     
    <%= f.time_select :start_time, :include_seconds => false %>
  </fieldset>
  <label> End time:</label>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= f.time_select :end_time, :include_seconds => false %>
  </fieldset>
  <fieldset data-role="controlgroup"  data-type="horizontal">
    <legend>Days in Week:</legend>
    <input type="checkbox" name="offer[mon]" id="checkbox-1a" class="custom" value=true />
    <label for="checkbox-1a">Mon</label>

    <input type="checkbox" name="offer[tue]" id="checkbox-2a" class="custom" value=true/>
    <label for="checkbox-2a">Tue</label>

    <input type="checkbox" name="offer[web]" id="checkbox-3a" class="custom" value=true />
    <label for="checkbox-3a">Web</label>

    <input type="checkbox" name="offer[thu]" id="checkbox-4a" class="custom" value=true />
    <label for="checkbox-4a">Thu</label>
    <input type="checkbox" name="offer[fri]" id="checkbox-5a" class="custom" value=true />
    <label for="checkbox-5a">Fri</label>

    <input type="checkbox" name="offer[sat]" id="checkbox-6a" class="custom" value=true />
    <label for="checkbox-6a">Sat</label>

    <input type="checkbox" name="offer[sun]" id="checkbox-7a" class="custom" value=true />
    <label for="checkbox-7a">Sun</label>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
