
<script type="text/javascript">
  $(document).ready(function(){
      
      
    var clear_form_offer = function() {
      $("#offer_name").val("");
      $("#offer_description").val("");
      $("#offer_start_time").val("");
      $("#offer_end_time").val("");
      $("#edit_offer_merchant").hide();
      $("#add_offer_merchant").show();
    };
    var update_info_offer = function(object){
      var td_1 = $("tr#offer_" + object.id + " td:nth-child(1)");
      var td_2 = $("tr#offer_" + object.id + " td:nth-child(2)");
      var td_3 = $("tr#offer_" + object.id + " td:nth-child(3)");
      var td_4 = $("tr#offer_" + object.id + " td:nth-child(4)");
      var td_5 = $("tr#offer_" + object.id + " td:nth-child(5)");
      var td_6 = $("tr#offer_" + object.id + " td:nth-child(7)");
      var str = '<input type="hidden" value="' + object.id + '" id="offer_id_' + object.id + '"/>';
      str += '<input type="hidden"  value="' + object.merchant_id + '" id="offer_merchant_id_' + object.id + '"/>';
      str += '<input type="hidden" value="' + object.name + '" id="offer_name_' + object.id + '"/>';
      str += '<input type="hidden" value="' + object.description + '" id="offer_description_' + object.id + '"/>';
      str +='<input type="hidden" value="' + object.format_start_time + '" id="offer_start_time_' + object.id +  '"/>';
      str += '<input type="hidden" value="' + object.format_end_time +'" id="offer_end_time_'+ object.id + '"/>';
      str += '<input type="hidden" class="mon" value="' + object.mon +'" id="mon_'+ object.id + '"/>';
      str += '<input type="hidden" class="tue" value="' + object.tue +'" id="tue_'+ object.id + '"/>';
      str += '<input type="hidden" class="wed" value="' + object.wed +'" id="wed_'+ object.id + '"/>';
      str += '<input type="hidden" class="thu" value="' + object.thu +'" id="thu_'+ object.id + '"/>';
      str += '<input type="hidden" class="fri" value="' + object.fri +'" id="fri_'+ object.id + '"/>';
      str += '<input type="hidden" class="sat" value="' + object.sat +'" id="sat_'+ object.id + '"/>';
      str += '<input type="hidden" class="sun" value="' + object.sun +'" id="sun_'+ object.id + '"/>';
      str += '<input type="hidden" class="local_end_day" value="' + object.local_end_day +'" id="local_end_day_'+ object.id + '"/>';
      str +=  '<input type="hidden" class="merchant_type" value="'+ object.merchant_type_id +'" id="merchant_type_'+ object.id +'"/>';
      str += '<input type="hidden" value="' + object.active +'" id="active_'+ object.id + '"/>';
          
      td_1.html(object.description  + str);
      td_2.html(object.format_start_time);
      td_3.html(object.format_end_time);
      //td_4.html(object.role_name);
      td_6.html((object.active == 1) ? "<%= t("offer.active") %>": "<%= t("offer.stop") %>" );
      
    }
    
    var add_info_offer = function(offer){

      var result =  '<tr id="offer_'+ offer.id +'">';
      result += '<td style="width: 265px;">';
      result += offer.description;
      result += '<input type="hidden" value="' + offer.id + '" id="offer_id_' + offer.id + '"/>';
      result += '<input type="hidden" value="' + offer.name + '" id="offer_name_' + offer.id + '"/>';
      result += '<input type="hidden" value="' + offer.merchant_id + '" id="offer_merchant_id_' + offer.id + '"/>';
      result += '<input type="hidden" value="' + offer.description + '" id="offer_description_' + offer.id + '"/>';
      result +='<input type="hidden" value="' + offer.format_start_time + '" id="offer_start_time_' + offer.id +  '"/>';
      result += '<input type="hidden" value="' + offer.format_end_time +'" id="offer_end_time_'+ offer.id + '"/>';
      result += '<input class="mon" type="hidden" value="' + offer.mon +'" id="mon_'+ offer.id + '"/>';
      result += '<input type="hidden" class="tue" value="' + offer.tue +'" id="tue_'+ offer.id + '"/>';
      result += '<input type="hidden" class="wed" value="' + offer.wed +'" id="wed_'+ offer.id + '"/>';
      result += '<input type="hidden" class="thu" value="' + offer.thu +'" id="thu_'+ offer.id + '"/>';
      result += '<input type="hidden" class="fri" value="' + offer.fri +'" id="fri_'+ offer.id + '"/>';
      result += '<input type="hidden" class="sat" value="' + offer.sat +'" id="sat_'+ offer.id + '"/>';
      result += '<input type="hidden" class="sun" value="' + offer.sun +'" id="sun_'+ offer.id + '"/>';
      result += '<input type="hidden" class="local_end_day" value="' + offer.local_end_day +'" id="local_end_day_'+ offer.id + '"/>';
      result += '<input type="hidden" class="merchant_type" value="'+ offer.merchant_type_id +'" />';
      result += '<input type="hidden" id="active_' + offer.id + '" value="' + offer.active + '">';
      result += '</td>';
      result += '<td class="text_center">' + offer.format_start_time + '</td>';
      result += '<td class="text_center">';
      result += offer.format_end_time ;
      result += '</td>';
      result += '<td data-id="'+offer.id+'" id="select_repeat" class="select_repeat">';
//      result += '<a>';
//      result += offer.recurrence ? offer.recurrence: "";
//      result += '</a>';


        if (offer.sun){
            result += '<label> <input type="checkbox" class="sunday" data-id='+offer.id +' id= "sunday_'+ offer.id +'" checked = "checked"   > S</label>';
        }    else{
            result += '<label> <input type="checkbox" class="sunday" data-id='+offer.id +' id= "sunday_'+ offer.id +'"   > S</label>';
        }
        if (offer.mon){
            result += '<label> <input type="checkbox" class="monday" data-id='+offer.id +' id= "monday_'+ offer.id +'" checked = "checked"   > M</label>';
        }    else{
            result += '<label> <input type="checkbox" class="monday" data-id='+offer.id +' id= "monday_'+ offer.id +'"   > M</label>';
        }
        if (offer.tue){
            result += '<label> <input type="checkbox" class="tuesday" data-id='+offer.id +' id= "tuesday_'+ offer.id +'" checked = "checked"   > T</label>';
        }    else{
            result += '<label> <input type="checkbox" class="tuesday" data-id='+offer.id +' id= "tuesday_'+ offer.id +'"   > T</label>';
        }
        if (offer.wed){
            result += '<label> <input type="checkbox" class="wednesday" data-id='+offer.id +' id= "wednesday_'+ offer.id +'" checked = "checked"   > W</label>';
        }    else{
            result += '<label> <input type="checkbox" class="wednesday" data-id='+offer.id +' id= "wednesday_'+ offer.id +'"   > W</label>';
        }
        if (offer.thu){
            result += '<label> <input type="checkbox" class="thursday" data-id='+offer.id +' id= "thursday_'+ offer.id +'" checked = "checked"   > T</label>';
        }    else{
            result += '<label> <input type="checkbox" class="thursday" data-id='+offer.id +' id= "thursday_'+ offer.id +'"   > T</label>';
        }
        if (offer.fri){
            result += '<label> <input type="checkbox" class="friday" data-id='+offer.id +' id= "friday_'+ offer.id +'" checked = "checked"   > F</label>';
        }    else{
            result += '<label> <input type="checkbox" class="friday" data-id='+offer.id +' id= "friday_'+ offer.id +'"   > F</label>';
        }
        if (offer.sat){
            result += '<label> <input type="checkbox" class="saturday" data-id='+offer.id +' id= "saturday_'+ offer.id +'" checked = "checked"   > S</label>';
        }    else{
            result += '<label> <input type="checkbox" class="saturday" data-id='+offer.id +' id= "saturday_'+ offer.id +'"   > S</label>';
        }

        result += '</td>';
        result += '<td data-id="'+ offer.id +'" class ="select_time" id="local_end_day_'+offer.id+'" style="padding: 2px;">';
        if (offer.local_end_day){
            result += '<input id="datepicker_'+offer.id+'" type="text" style="width: 85px;" value = "';
            result += ' '+ offer.format_local_end_day +' " readonly="true"/>';
        }    else{
            result += '<input id="datepicker_'+offer.id+'" type="text" style="width: 85px;" value = " " readonly="true" />';
        }


      result += '</td>';

      result += '<td data-id="'+offer.id +'" class ="offer_merchant_type">';
      result += '<select name="offer[merchant_type_'+offer.id +']" id="offer_merchant_type_'+offer.id +'" class="chzn-select">' ;

      result += '<%=  escape_javascript(options_for_select(MerchantType.where("sub_type = ?"," ").collect{ |u| [u.merchant_type, u.id]})) %>';
      result += '</select></td>';
      result += '<td id="' + "offer_active_" + offer.id + '" class = "text_center" >';
      result += (offer.active == 1) ? "<%= t("offer.active") %>": "<%= t("offer.stop") %>" ;
      result +='</td>';
      result += '<td><a id="edit_offer" rel="tooltip" data-id="' + offer.id + '" class="offer_action edit edit_offer" href="#edit_offer" data-original-title="Edit"></a><a id="active_offer" rel="tooltip" class="offer_action stop edit_stop_offer <%= "logged_in authorized" if current_user.present? and check_authorized(@user.mobile_authorized) %>" data-id="' + offer.id + '" href="#active" data-original-title="Stop"></a><a id="copy_offer" rel="tooltip" data-id="' + offer.id + '" class="offer_action duplicate copy_offer" href="#copy" data-original-title="Copy"></a></td>';
      result += '</tr>';
           
      $("table#offers_list").append(result);
      $("a.edit_offer").tooltip();
      $("a.edit_stop_offer").tooltip();
      $("a.copy_offer").tooltip();
      $(".chzn-select").chosen();
      $("#offer_merchant_type_" + offer.id).val(offer.merchant_type_id);

    }
    
    $("#add_offer_merchant").live('click',function(){
      $("#loading_update_offer_merchant").show();
      $.ajax({
        type: "POST",
        url: "/users/new_merchant_offer",
        data: {
          "offer[name]" : $("#offer_name").val(),
          "offer[merchant_id]" : $("#offer_merchant_id").val(),
          "offer[description]": $("#offer_description").val(),
          "offer[start_time]": $("#offer_start_time").val(),
          "offer[end_time]": $("#offer_end_time").val()
//          "offer[merchant_type_id]": 1


        },
        dataType: "json",
        success: function(offer){
          add_info_offer(offer);      
          clear_form_offer();
          $('div.addOffer_subsection').hide();
          $("a.new_offer").removeClass('overlay');
          $("#loading_update_offer_merchant").hide();
          return false;
        },
        error: function(e){
          var str = "";
          var data = JSON.parse(e.responseText);
          for(var key in data) {
            console.log(key) + ' ' + console.log(data[key]) ;
            str += '<li>'  + data[key] + '</li>';
          }
           
          $("#modal_error ul").html(str);
          $("#modal_error").modal('show');
          $("#loading_update_offer_merchant").hide();
          
          console.log(e);
          return false;
        }
      });
    });
    
    $(".edit_offer").live('click',function(){
      $("a.new_offer").addClass('overlay');
      $("#edit_offer_merchant").show();
      $("#add_offer_merchant").hide();
      $('div.addOffer_subsection').show();
      $('div.addOffer_subsection').show()
      $('div.addOffer_subsection .subsection_content').show()
      var id = $(this).data('id');
      $("#offer_name").val($("#offer_name_"+id).val());
      $("#offer_id_edit").val($("#offer_id_"+id).val());
      $("#offer_description").val($("#offer_description_"+id).val());
      $("#offer_start_time").val($("#offer_start_time_"+id).val());
      $("#offer_end_time").val($("#offer_end_time_"+id).val());


    });
    
    $("#edit_offer_merchant").live('click',function(){
      $("#loading_update_offer_merchant").show();
      var id = $("#offer_id_edit").val();

      $.ajax({
        type: "PUT",
        url: "/offers/"+id,
        data: {
          "offer[name]" : $("#offer_name").val(),
          "offer[description]" : $("#offer_description").val(),
          "offer[start_time]" : $("#offer_start_time").val(),
          "offer[end_time]" : $("#offer_end_time").val()

        },
        dataType: "json",
        success: function(offer){
             
          update_info_offer(offer);
          clear_form_offer();
          $('div.addOffer_subsection').hide();
          $("a.new_offer").removeClass('overlay');
          $("#loading_update_offer_merchant").hide();
          
          return false;
        },
        error: function(e){
          var str = "";
          var data = JSON.parse(e.responseText);
          for(var key in data) {
            console.log(key) + ' ' + console.log(data[key]) ;
            str += '<li>' + '<span style="text-transform:capitalize;">' + key + '</span> ' + ' ' + data[key] + '</li>';
          }
          $("#modal_error ul").html(str);
          $("#modal_error").modal('show');
          $("a.new_offer").removeClass('overlay');
          $("#loading_update_offer_merchant").hide();
          return false;
        }
      });
    });
    
    $("#cancel_new_offer_merchant").live('click',function(){
      clear_form_offer();
      $('div.addOffer_subsection').hide();
      $("a.new_offer").removeClass('overlay');
    });

    $(".edit_stop_offer:not(.logged_in.authorized)").live('click',function(){
      alert("Please confirm your account by SMS to activate your offer.  If you lost your code, resend the code using the resend button in the user table")
    });

    $(".edit_stop_offer.logged_in.authorized").live('click',function(){

      var id = $(this).data('id');
      var td_6 = $("tr#offer_" + id + " td:nth-child(6) a.edit_stop_offer");
//      console.log(td_6);
//      console.log(($("#active_"+id).val() == "1"));
      $.ajax({
        type: "PUT",
        url: "/offers/"+id,
        data: {
          "offer[active]" : ($("#active_"+id).val() == "1") ? "2" : '1'
                          
        },
        dataType: "json",
        success: function(offer){
          
          if (offer.active == 1) {
            $("#offer_active_"+id).html('<%= t("offer.active") %>');
            $("#active_"+id).val("1");
            td_6.attr('data-original-title','Stop');
            
            console.log( $(this));
            
          }
          else if (offer.active == 2) {
            $("#offer_active_"+id).html('<%= t("offer.stop") %>');
            $("#active_"+id).val("2");
            td_6.attr('data-original-title','Active');
           
            console.log( $(this));
          }
          clear_form_offer();
          
         
          return false;
        },
        error: function(e){
         
          return false;
        }
      });
    });
    
    $(".copy_offer").live('click',function(){
      var id = $(this).data('id');
      $.ajax({
        type: "POST",
        url: "/users/new_merchant_offer",
        data: {
          "offer[name]" : $("#offer_name_"+id).val(),
          "offer[merchant_id]" : $("#offer_merchant_id_"+id).val(),
          "offer[description]": $("#offer_description_"+id).val(),
          "offer[start_time]": $("#offer_start_time_"+id).val(),
          "offer[end_time]": $("#offer_end_time_"+ id).val(),
          "offer[mon]":  $("#mon_"+ id).val(),
          "offer[tue]":  $("#tue_"+ id).val(),
          "offer[wed]":  $("#wed_"+ id).val(),
          "offer[thu]":  $("#thu_"+ id).val(),
          "offer[fri]":  $("#fri_"+ id).val(),
          "offer[sat]":  $("#sat_"+ id).val(),
          "offer[sun]":  $("#sun_"+ id).val(),
          "offer[merchant_type_id]": $("input.merchant_type").val(),
          "offer[local_end_day]":  $("#local_end_day_"+ id).val(),
          "offer[active]":  $("#active_"+ id).val()
        },
        dataType: "json",
        success: function(offer){
          //console.log(object);
          add_info_offer(offer,$("#offer_merchant_type_"+id).text());
          var offer_merchant_type_text = $("#offer_merchant_type_" + id + '_chzn' + " a.chzn-single span").text();
          $("#offer_merchant_type_" + offer.id+ '_chzn' + " a.chzn-single span").text(offer_merchant_type_text);
          return false;
        },
        error: function(e){
          
          return false;
        }
      });
    });
    
  });
</script>
<%= form_for(Offer.new, :url => {:action => 'new_merchant_offer', :controller => "users"},:html => { :class => "form_new_offer" }) do |f| %>
  <input type="hidden" id="offer_id_edit"/>
  <a class="new_offer" href="#"><%= t("merchant.admin.new_offer") %></a>
  <div class="admin_subsection addOffer_subsection hide">
    <h3><a href="#" class="subsection_title_new_offer"><%= t("merchant.admin.offer_information") %></a></h3>

    <div class="subsection_content collapsed">
      <%= f.hidden_field :merchant_id, :value => @merchant.id %>
      <%= f.hidden_field :user_id, :value => @user.id %>
  <%#*<div class="field_wr full">%>
  <%#= f.label t("offer.name"),:class => "admin_label" %>
  <%#= f.text_field :name,:class => "admin_text_field" %>
  <%#*</div>%>
      <div class="field_wr full last">
        <label for="offer_name" class="admin_label">Name</label>
        <%= f.text_field :name,:class => "admin_text_field" %>
      </div>
      <div class="field_wr full">
        <label for="offer_text" class="admin_label"><%= t("merchant.admin.offer_text") %><span class="comment"> (140 <%= t("merchant.admin.merchant_characters") %>)</span></label>
        <%= f.text_area :description ,:class => "admin_text_field", "rows" => "4" %>
      </div>
      <div class="field_wr third clearfix" style="margin-bottom: 10px;">
        <%= f.text_field :start_time,:class => "admin_text_field time_picker",:value => "09:00" %>
        <%= f.text_field :end_time,:class => "admin_text_field time_picker last",:value => "21:00" %>
        <label class="admin_sublabel"><%= t("merchant.admin.start_end_time") %></label>

      </div>

      </br>
      <div class="add_user_buttons clearfix">
        <button id="cancel_new_offer_merchant" class="info_discard" type="button"> <%= t("form.discard") %></button>
        <button  id="add_offer_merchant" class="info_save" type="button"> <%= t("form.save") %></button>
        <button id="edit_offer_merchant" class="info_save" type="button" style="display: none"><%= t("form.save") %></button>
        <img id="loading_update_offer_merchant" class="loading_img" src="/assets/uploading.gif" />
      </div>
    </div>

  </div>
<% end %>
