<div class="list_item clearfix item">
  <div class="offer-small-details">
    <div class="offer-type <%= offer_icon_class(offer) %>"></div>
    <div class="offer-opening-hours">
      <!-- <span class="opening">9:00</span> <span class="closing">23:00</span> -->
    <% if offer.period(@now_time) %>
      <span style="color:red;">
        <%= offer.period(@now_time)  %> <%=t("offer.minute") %>
      </span>
    <% else %>
      <%= offer_time(offer) %>
    <% end %>
    </div>
  </div>
  <div class="offer-description">
    <h2 class="offer-name">
      <%= offer.merchant.name %>
    </h2>

    <p class="offer-text">
      <%= offer.description %>
    </p>
  </div>
  <div class="offer-action">
    <a href="#" class="action fav">
      <i class="icon star"></i>
    </a>
  </div>
  <span class="offer-distance"><%= number_with_precision(offer.distance_from(@res, :units=>:miles),:precision => 2)  %> mi</span>
  <div class="clear"></div>
  <ul class="social_bar clearfix">
    <li>
      <a href="#" class="like_fb">
        <i class="icon fb"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/share?text=<%= URI.escape(offer_twitter_str(offer)) %>" class="tweet" target="_blank">
        <i class="icon twitter"></i>
      </a>
    </li>
    <li class="gplus_wrapper">
      <a href='https://plus.google.com/share?url=<%= URI.escape(offers_url(offer, :qrCode => "A123456") ) %>' class="gplus">
        <i class="icon plus"></i>
      </a>
    </li>
    <li>
      <a href="<%= URI.escape(offer_email_link(offer)) %>" class="email" target="_blank">
        <i class="icon envelope"></i>
      </a>
    </li>
    <li>
      <a href="sms://?body=<%= URI.escape(offer_sms_body(offer)) %>" class="phone">
        <span class="sms">SMS</span>
      </a>
    </li>
  </ul>
  <div class="nearby_offer_footer clearfix">
    <a href="#nearby_carousel" data-slide="prev" class="offer_nav prev_offer"></a>
    <a href="<%= offer.link %>" class="redeem_offer" target="_blank"><%= buy_via_link_label(offer) %></a>
    <a href="#nearby_carousel" data-slide="next" class="offer_nav next_offer"></a>
  </div>
</div>