<div class="list_item_wrapper">
  <div class="scroller_item list_item clearfix">
    <div class="offer-small-details">
      <a href="<%= backbone_merchant_path(offer.merchant) %>"><div class="offer-type <%= offer_icon_class(offer) %>"></div></a>
      <div class="offer-opening-hours">
        <%#<span class="opening">9:00</span> <span class="closing">23:00</span>%>
        <% if offer.period(@now_time) %>
          <span style="color:red;">
            <%= offer.period(@now_time)  %> <%=t("offer.minute")%>
          </span>
        <% else %>
          <%= offer_time(offer) %>
        <% end %>
      </div>
    </div>
    <div class="offer-description">
      <h2 class="offer-name">
        <a class="offer-name-link" href="<%= backbone_merchant_path(offer.merchant) %>"><%= offer.merchant.name %></a>
      </h2>

      <p class="offer-text">
        <a class="offer-description-link" href="<%= backbone_merchant_path(offer.merchant) %>"><%= offer.description %></a>
      </p>
    </div>
    <div class="offer-action">
      <a href="<%= selected_nearby_path_with_params(offer.id) %>" class="offer-action-button"></a>
    </div>
    <span class="offer-distance"><%= number_with_precision(offer.distance_from(@res, :units=>:miles),:precision => 1)  %>mi</span>
  </div>
</div>