<% @offers.each do |offer| %>
  <li class="ui-btn product ui-li ui-li-static ui-body-c ui-btn-up-undefined" id="<%= offer.id %>">
    <div class="click clearfix" style="padding: 0; ">
      <div class ="" style="width: 103px; float: left;border-right: 1px solid <%=  offer.merchant ? offer.merchant.merchant_type.color : '#564ea1'%>">
        <div style=" height: 15px;text-align: center;background-color: <%=  offer.merchant ? offer.merchant.merchant_type.color : '#564ea1' %>">
          <%= image_tag("mobile/"+( offer.merchant ? offer.merchant.merchant_type.image : ''),:style => "width :15px; height:15px;") %>
        </div>
        <h2 class="ui-li-heading" style="padding: 0px 5px; margin: 0;">
          <a class="ui-link" href="<%= url_for(:controller => "offers", :action => "list_detail",:id => offer.id,  :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance])%>"  data-ajax ="false" style="padding: 0; color: #202020; font-size: 12px;"><%= offer.merchant.name.split.each{|i| i.capitalize!}.join(' ') %></a>
        </h2>
        <span class="format_time" >
          <% if offer.period(@now_time) %>
            <span style="color:red;">
              <%= offer.period(@now_time)  %> <%=t("offer.minute")%>
            </span>
          <% else %>
            <%= offer_time(offer) %>
          <% end %>
        </span>
        </br>
        <span class="format_time" >
          <%= number_with_precision(offer.distance_from(@res, :units=>:miles),:precision => 2)  %>mi
        </span>
      </div>
      <p class ="ui-li-desc" style="white-space: normal; padding: 10px 5px 0px 5px; color: #202020;font-size: 12px;line-height:140%;">
<%= raw buy_message(offer, "ui-link") %>
      </p>
      <div style="float: right; padding-right: 5px;">
        <span class="icon ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
      </div>
    </div>
    <span class="span_right">
      <% if current_user %>
        <% if Favorite.where(:user_id => current_user.id, :offer_id => offer.id).first %>
          <%= link_to(image_tag("mobile/star_mini.png"),"#",:id => 'favorite'+offer.id.to_s )%>
        <% else %>
          <%= link_to(image_tag("mobile/star_black.png"),"#",:id => 'favorite'+offer.id.to_s )%>
        <% end %>
      <%  else %>
        <%= link_to(image_tag("mobile/star_black.png"),"#",:id => 'popupbut')%>
      <% end %>
    </span>
    <script type="text/javascript">

      $(document).ready(function (){
        $('#favorite<%=  offer.id.to_s %>').click(function() {

          $.ajax({
            type: "GET",
            url: "offers/ajax_favorite",
            data: "id=" +  "<%= offer.id %>",

            success: function(data){
              $('#favorite<%=  offer.id.to_s %>').html('<%=image_tag("mobile/star_mini.png")%>');
              return false;
            },
            error: function(msg){
              console.log("There is an error : can't get data");
              return false;
            }
          });
        });
      });
    </script>

  </li>
<% end %>
