
<script>
  $(document).ready(function() {
    var carousel_number = {
      auto: false,
      visible:  <%= @offers.size > 10 ? '10' : @offers.size %>,
      speed: 300,
      pause: true,
      btnPrev: '.prev',
      btnNext: '.next',
      circular: false
    };
    
    
    var carousel1Options = {
      auto: false,
      visible: 1,
      speed: 300,
      pause: true,
      circular: false,
      btnPrev: '.prev',
      btnNext: '.next',
      btnGo: $('.nav a')
    };
    
   
    var $slideshows = $('.slideshow');
    $slideshows.eq(0).jCarouselLite(carousel_number);
    $slideshows.eq(1).jCarouselLite(carousel1Options);
     
  });

</script>
<style>
  .slides{
    margin-top: -50px; 
    padding: 0pt; 
    position: relative; 
    list-style-type: none;
    z-index: 1; 
    min-width: 320px;
  }
  .slide {
    overflow: visible; 
    float: left; 
    width: 100%; 
    height: 80px;
    cursor: pointer;
    background: none repeat scroll 0 0 #FFFFFF;
  }
  .slide_number{
    overflow: visible; 
    float: left; 
    width: 12px; 
    height: 20px;
    cursor: pointer;
    padding: 3px 3px;
  }
  .tdpg-prompt-header {
    font-weight: bold;
    padding: 4px 5px 2px 5px;
    border-style: solid;
    border-width: 0 0 1px;
    font-size: 0.8em;
    line-height: 1.5em;
    border-color: #999999;
    background: none repeat scroll 0 0 #ffffff;
  }
  #closer {
    display: block;
    float: right;
    height: 100%;
    margin: 0 -5px 0 0.5em;
    padding: 1px 0.5em;
    background-color: #1B82E9;
    color: #FFFFFF;
    cursor: pointer;
  }
  .tdpg-pager {
    float: right;
    height: 1.5em;

    overflow: hidden;
  }
  .tdpg-panel-results .tdpg-result-location {
    clear: both;
    line-height: 1.5em;
    white-space: normal;
  }
  .address-location{
    clear: both;
    line-height: 1.5em;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
  }
  .prev {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    background-position: -25px -65px;
    background-image: url("/assets/mobile/sprite_icons.png");
    background-size: auto auto;
    height: 15px;
    width: 15px;
    display: block;
  }
  .next{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    background-position: -40px -65px;
    background-image: url("/assets/mobile/sprite_icons.png");
    background-size: auto auto;
    height: 15px;
    width: 15px;
    display: block;
  }
  .disabled{
    opacity: 0.5;
  }
  .nav a {
    background: url("/assets/mobile/dot.png");
    color: #00A3CB;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-indent: -9999px;
    height: 15px;
    width: 15px;
  }
  .nav a:hover {
    color: #00436B;
    background: url("/assets/mobile/dot-hover.png");
  }
  .nav a.active, .nav a.active:hover {
    background: url("/assets/mobile/blue-dot.png");
    color: white;
  }
  /**
 *  External Controls
  */
  .jcarousel-control {margin:0 auto; width:100px;}
  .jcarousel-control a {background:url(/assets/mobile/dot.png); display:inline-block; font-size:0px; height:15px; width:15px;}
  .jcarousel-control a:hover {background:url(/assets/mobile/dot-hover.png);}
  .jcarousel-control a.active {background:url(/assets/mobile/blue-dot.png);}
</style>
<% if @offers %>
  <div class="tdpg-prompt-header">
    <%= @offers.size > 1 ? (@offers.size.to_s + ' offers'): (@offers.size.to_s + ' offer') %>
    <div id="closer">X</div>
    <span class="tdpg-pager">
      <a class="prev" href="#" ></a>
      <a class="next" href="#" ></a>
    </span>
    <div class="nav tdpg-pager" style=" margin-right: 8px;width: <%= @offers.size.to_i < 10 ? (19 * @offers.size.to_i) : "180" %>px">
      <div class="slideshow">
        <ul class="slides">
          <% i = 1 %>
          <% @offers.each do |offer| %>
            <li class="slide_number">
              <div class="nav">
                <a href="#" class=""> <%= i %> </a>
              </div>
            </li>
            <% i = i + 1 %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="slideshow">
    <ul class="slides" style="margin-top: -50px">
      <% @offers.each do |offer| %>
        <li class="slide">
          <div class=" img-wrapper click clearfix" style="padding: 0;">
            <div class ="" style="width: 103px; float: left; border-right: 1px solid <%=  offer.merchant ? offer.merchant.merchant_type.color : '#564ea1'%>">
              <div style=" text-align: center; height: 15px;background-color: <%=  offer.merchant ? offer.merchant.merchant_type.color : '#564ea1' %>">
                <%= image_tag("mobile/"+( offer.merchant ? offer.merchant.merchant_type.image : ''),:style => "width :15px; height:15px;") %>
              </div>
              <h2 class="ui-li-heading" style="padding: 0px 5px; margin: 0;">
                <a href="<%= url_for(:controller => "offers", :action => "list_detail",:id => offer.id,  :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance])%>"  data-ajax ="false" style="padding: 0; color: #202020; font-size: 12px; text-decoration: none;"><%= offer.merchant.name.split.each{|i| i.capitalize!}.join(' ') %></a>
              </h2>
              <span class="format_time" >
                <% if offer.period(@now_time) %>
                  <span style="color:red;">
                    <%= offer.period(@now_time)  %> <%=t("offer.minute")%>
                  </span>
                <% else %>
                  <%= offer_time(offer) %>
                <% end %>
              </span>
              </br>
              <span class="format_time" >
                <%= number_with_precision(offer.distance_from(@res, :units=>:miles),:precision => 2)  %>mi
              </span>
            </div>
            <p class="format_offer_description ui-li-desc">
              <%= raw buy_message(offer, "ui-link") %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="address-location"><%= @merchant.primary_address if @merchant  %></div>
<% end %>
