<%= render(:collection => @offers, :partial => "nearby_offer", :as => :offer) || "No offers" %>

<script type="text/javascript">
  MobileNearby.showInfobox(<%= raw @merchant.as_json(:only => [:name, :primary_address, :lon, :lat]).merge(:url => backbone_merchant_path(@merchant) ).to_json %>)
</script>