
<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>
<%= render :partial => "shared/nav_home" %>
<h2><%= t("form.editingclass", :class => "Offer") %></h2>
<div class="ui-body ui-body-d">
  <div class="box">
    <%= render 'form' %>
  </div>
</div>
<%= link_to t("form.show"), @offer %> |
<%= link_to t("form.back"), offers_path( :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]) %>