<script type="text/javascript">
  $("input[name='radio-choice-1']").live( "change", function(event, ui) {
    $.ajax({
      type: "GET",
      url: "<%= url_for(:controller => 'offers', :action => 'ajax_distance') %>",
      data: "id=" +  $('input[name=radio-choice-1]:checked').val(),

      success: function(data){
        return false;
      },
      error: function(msg){
        console.log("There is an error : can't get data");
        return false;
      }
    });
  });
  $("input[name='radio-choice-2']").live( "change", function(event, ui) {
     
    $.ajax({
      type: "GET",
      url: "<%= url_for(:controller => 'offers', :action => 'ajax_time') %>",
      data: "id=" +  $('input[name=radio-choice-2]:checked').val(),

      success: function(data){
        return false;
      },
      error: function(msg){
        console.log("There is an error : can't get data");
        return false;
      }
    });
  });
  $('div.click').live('click', function () {
    console.log($(this));
    var link = $(this).find('a:first');
    if (link) {
      if ($(link).attr('data-ajax') == "false") {
        document.location = $(link).attr('href').toString();
      } else {
        $.mobile.changePage($(link).attr('href').toString());
      }
    }
  });
</script>
<div data-role="page">
  <div data-role="header" data-position="fixed" style="border-color: #cccccc;">
    <header class="mobile-header">
      <nav class="clearfix">
        <a class="mobile-nav-item offers" data-role="none" rel="external" href="<%= offers_path( :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]) %>"><div></div></a>
        <a class="mobile-nav-item nearby" data-role="none" rel="external" href="<%= url_for(:controller => 'offers', :action => "nearby", :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]) %>"><div></div></a>
        <a class="mobile-nav-item logo"><div></div></a>
        <% if current_user %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="<%= url_for(:controller => "offers", :action => 'index', :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => 'true', :time => params[:time], :distance => params[:distance])%>"><div></div></a>
        <% else %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="#" id="popupbut"><div></div></a>
        <% end %>
        <a class="mobile-nav-item filters active" href="<%= new_filters_path_with_params %>" data-ajax="false" id="filter_dialog"><div></div></a>
      </nav>
    </header>
  </div>
  <div data-role="content" style="padding: 0;overflow:visible ;background-color: none repeat scroll 0 0 #FFFFFF">	
    <div id="bar_filter_distance">
      <div style="padding: 0px 10px;">
        <div data-role="fieldcontain" style="padding: 0;margin: 0; border-bottom-width: 0px;">
          <fieldset data-role="controlgroup" data-type="horizontal" style="height: 34px;">
            <input type="radio" name="radio-choice-1" id="radio-choice-1" value="0.1" <% if params[:distance] == '0.1' %>  checked="checked" <% end %> />
            <label for="radio-choice-1"><%= t("filter.distance_01mi") %></label>
            <input type="radio" name="radio-choice-1" id="radio-choice-2" value="0.5" <% if params[:distance] == '0.5' %> checked="checked" <% end %>  />
            <label for="radio-choice-2"><%= t("filter.distance_05mi") %></label>

            <input type="radio" name="radio-choice-1" id="radio-choice-3" value="1"  <% if params[:distance] == '1.0' or params[:distance] == nil %> checked="checked" <% end %>  />
            <label for="radio-choice-3"><%= t("filter.distance_1mi") %></label>

            <input type="radio" name="radio-choice-1" id="radio-choice-4" value="5" <% if params[:distance] == '5.0' %> checked="checked" <% end %>  />
            <label for="radio-choice-4"><%= t("filter.distance_5mi") %></label>

            <input type="radio" name="radio-choice-1" id="radio-choice-5" value="10" <% if params[:distance] == '10.0' %> checked="checked" <% end %>  />
            <label for="radio-choice-5"><%= t("filter.distance_10mi") %></label>
          </fieldset>
        </div>
      </div>
      <div style="padding: 0px 10px;">
        <div data-role="fieldcontain" style="padding: 0;margin: 0; border-bottom-width: 0px;">
          <fieldset data-role="controlgroup" data-type="horizontal" style="height: 34px;">
            <input type="radio" name="radio-choice-2" id="radio-choice-1" value="1" <% if params[:time] == '1'  %> checked="checked" <% end %> />
            <label for="radio-choice-1"><%= t("filter.time_now") %></label>
            <input type="radio" name="radio-choice-2" id="radio-choice-2" value="2"  <% if params[:time] == '2'  %> checked="checked" <% end %> />
            <label for="radio-choice-2"><%= t("filter.time_2hr") %></label>

            <input type="radio" name="radio-choice-2" id="radio-choice-3" value="3"  <% if params[:time] == '3'  %> checked="checked" <% end %>/>
            <label for="radio-choice-3"><%= t("filter.time_3hrs") %></label>

            <input type="radio" name="radio-choice-2" id="radio-choice-4" value="4" <% if params[:time] == '4'  %> checked="checked" <% end %> />
            <label for="radio-choice-4"><%= t("filter.time_4hrs") %></label>

            <input type="radio" name="radio-choice-2" id="radio-choice-5" value="later" <% if params[:time] == '0'  or params[:time] == nil %> checked="checked" <% end %> />
            <label for="radio-choice-5"><%= t("filter.time_later") %></label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <ul id="list_offer_filter" data-role="listview">
    <% if @merchant_types %>
      <% @merchant_types.each do |merchant_type| %>
        <li class="ui-btn offer_filter" id="<%= merchant_type.id %>"  style="min-height:40px;">
          <div class="click clearfix" style="padding: 0; background-color:#FFFFFF;">
            <div class ="" style="width: 110px; float: left; border-right: 1px solid <%=  merchant_type.color %>">
              <div style=" padding:12px 5px;text-align: left; height: 16px;background-color: <%= merchant_type.color %>">
                <span style="color: #ffffff;text-shadow: none;font-size: 13px;"><%= merchant_type.merchant_type %></span>
                <span><%=  image_tag("mobile/"+ (merchant_type.image.blank? ? "look.png" : merchant_type.image  ) ,:style => "float:right;") %></span>
              </div>
              <a href="<%= url_for(:controller => "offers", :action => "filter_to_offers",:merchant_type_id => merchant_type.id, :lat => params[:lat], :lon => params[:lon])%>" data-ajax="false" style="padding: 0; color: #202020; font-size: 12px; display: none;"></a>
            </div>
            <p class="format_offer_description" style=" padding-top: 5px;font-weight: bold;color: <%=  merchant_type.color %>">
              <%= truncate(merchant_type.description,:length => 60) %>
            </p>
            <div style="float: right; padding-right: 5px;">
              <span class="icon ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
            </div>
          </div>
        </li>
      <% end %>
      <li class="ui-btn offer_filter"   id="all_offers" style="min-height:40px;">
        <div class="click clearfix" style="padding: 0; background-color:#FFFFFF;">
          <div class ="" style="width: 110px; float: left; border-right: 1px solid #f0ba00">
            <div style=" padding:12px 5px;text-align: left; height: 16px;background-color: #f0ba00">
              <span style="color: #ffffff;text-shadow: none;font-size: 13px;"><%= t("filter.all") %></span>
              <span><%=  image_tag("mobile/all.png" ,:style => "float:right; margin-top: -5px;") %></span>
            </div>
            <a href="<%= url_for(:controller => "offers", :action => "filter_to_offers", :merchant_type_id => nil, :lat => params[:lat], :lon => params[:lon])%>" data-ajax="false" style="padding: 0; color: #202020; font-size: 12px; display: none;"></a>
          </div>
          <p class="format_offer_description" style=" padding-top: 5px;font-weight: bold;color: #f0ba00">
            <%= t("filter.all_offers") %>
          </p>
          <div style="float: right; padding-right: 5px;">
            <span class="icon ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

