<% content_for :body_class, "merchant_list_body" %>

<div id="offer_list" class="mobile_body merchant_list">
  <div class="list_items_wrapper">

    <% unless offers_saved %>
      <%=  render offers %>
    <% end %>
    <%#<div class="hidden_visible"><%= render offers.first, :offer_counter => -1 if offers.size > 0 % ></div> %>
  </div>
  <!--<div id ="lastPostLoader" style="border: none">-->
    <!--<table  style="text-align: center; width: 100%;">-->
      <!--<tr>-->
        <!--<td>
        <%= image_tag("bigLoader.gif") %>
        </td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
</div>

<script type="text/javascript">
  $(document).ready(function (){
    <% if offers_saved %>
      MobileList.loadOffers();
      MobileList.showMoreOffers();
    <% else %>
      MobileList.addOffers(<% with_format :json do %>
        <%= raw render "offers", :offers => offers %>
        <% end %>
        );
    <% end %>

    if (Login.isLoggedIn()){
      Favorites.afterLoginCallback();
    }
    <%# MobileList.preloadActions(); %>
  });
</script>