
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {parsetags: "explicit"}
</script>
<!-- Facebook 
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=136247586513984";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
<div class="offers-wrapper">
  <div class="offers-filters clearfix">
    <div class="hint hint-filter">
      <a href="#" class="close-hint"></a>
      <span class="tip"><i class="i-tip"></i><b>Tip: </b>Filter the offers by clicking on the tiny-colored icons below.</span>
    </div>
    <div class="offers-filters-inner clearfix">
      <div class="filter-wrapper when-filter-wrapper">
        <select class="chzn-select when-filter">
          <option>Now</option>
          <option>3 hours from now</option>
          <option>5 hours from now</option>
        </select>
      </div>
      <div class="filter-wrapper where-filter-wrapper">
        <select class="chzn-select where-filter">
          <option>in London</option>
          <option>in Chisinau</option>
          <option>in Timisoara</option>
        </select>
      </div>
      <div class="filter-wrapper distance-filter-wrapper">
        <select class="chzn-select distance-filter">
          <option>within .25 miles</option>
          <option>within .5 miles</option>
          <option>within 1 mile</option>
          <option>within 5 miles</option>
          <option>within 10 miles</option>
        </select>
      </div>
      <ul class="offers-type-filters clearfix">
        <li>
          <a rel="tooltip" title="All offers" class="active offer-type-filter all-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Free offers" class="offer-type-filter free-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Food offers" class="offer-type-filter food-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Shop offers" class="offer-type-filter shop-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Fun offers" class="offer-type-filter fun-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Drink offers" class="offer-type-filter drink-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Service offers" class="offer-type-filter service-offer" href="#"></a>
        </li>
        <li>
          <a rel="tooltip" title="Look offers" class="offer-type-filter look-offer" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="offers-list">
    <div class="first offer-item expanding-offer clearfix">
      <div class="offer-small-details">
        <div class="offer-type food"></div>
        <div class="offer-opening-hours">11:30pm 12:00am</div>
        <div class="offer-distance">2 miles</div>
      </div>
      <div class="offer-description">
        <h2 class="offer-name">
          <a href="#">Fabrica de Bere Timisoreana</a>
        </h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo lorem, malesuada at
          rutrum ut, malesuada non ante. </p>

        <div class="more-offer-details">
          <div class="offer-address-wrapper">
            <a class="offer-address" href="#" data-original-title="Get directions">
              <i class="i-address"></i>
              <b>Belgrave House, 76 Buckingham Palace Road, London</b>
            </a>
          </div>
          <span class="offer-working-days">
            <i class="i-calendar"></i>
            <b>Open today</b>
          </span>
          <span class="offer-working-hours">
            <i class="i-clock"></i>
            <b>9:00 - 23:00</b>
          </span>
          <span class="offer-working-hours">
            <i class="i-phone"></i>
            <b>+44 20 7031 3000</b>
          </span>
        </div>

        <div class="offer-actions-wrapper clearfix">
          <a href="#" class="details expand">
            <span class="expand-offer">
              <i class="i-expand-offer"></i><b>Expand</b>
            </span>
            <span class="collapse-offer">
              <i class="i-collapse-offer"></i><b>Collapse</b>
            </span>
          </a>
          <ul class="offer-actions clearfix">
            <li style="width: 80px">
              <a class="js-like" href="#">
                <i class="i-like"></i><b>Like</b>
              </a>
              <div id="facebook_like_button_holder">
                <fb:like href="http://fab.com/sale/8903/product/187968?fref=fb-like" send="false" layout="button_count" width="80" show_faces="false" class="fb_edge_widget_with_comment fb_iframe_widget">  </fb:like>
                <div id="fake_facebook_button"></div>
              </div>
             </li>

            <li>
              <a href="#" class="js-tweet">
                <i class="i-tweet"></i><b>Tweet</b>
              </a>
            </li>

            <li>
              <a href="#" class="js-gplus">
                <i class="i-gplus"></i><b>Google+</b>
              </a>
            </li>
            <li>
              <a href="#" class="js-email">
                <i class="i-email"></i><b>Email</b>
              </a>
            </li>
            <li>
              <a href="#" class="js-iphone">
                <i class="i-iphone"></i><b>Text to phone</b>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="merchant-details">
        <a href="#" class="view-more-from-merchat">
          <i class="i-view-more"></i>
          <b>View more offers and details about this merchant</b>
        </a>
      </div>
      <a class="favorite-offer">
        <i class="star"></i>
      </a>
    </div>
  </div>

</div>

<div class="right-sidebar">
  <div class="fixed-sidebar-wrapper">
    <div class="hint-wrapper">
      <div id="hint"></div>
    </div>
    <div class="map-wrapper">
      <iframe class="google-frame" width="100%" height="358" frameborder="0" scrolling="no" marginheight="0"
              marginwidth="0"
              src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=London&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.806079,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.508129,-0.128005&amp;spn=0.043389,0.132093&amp;t=m&amp;z=14&amp;output=embed">
      </iframe>
      <br/>
    </div>
    <div class="invite-merchant-wrapper clearfix">
      <h2 class="question">Are you a merchant?</h2>
<%#*<a class="btn" data-toggle="modal"  href="#signupModal" >Launch Modal</a>%>
<%#*<a class="post-an-offer" data-toggle="modal">Post an offer</a>%>
      <a class="post-an-offer" href="#signupModal">Post an offer</a>
    </div>
    <div class="call-to-action-downloads clearfix">
      <div class="hint hint-gomobile">
        <a href="#" class="close-hint"></a>
        <span class="tip"><i class="i-tip"></i><b>Tip: </b>Get our mobile app or visit Yacto from your mobile to see offers on the go!</span>
      </div>
      <a class="call-to-action apple-appstore" href="#">
        Available on
        <b>App Store</b>
        <i class="i-appstore"></i>
      </a>
      <a class="call-to-action android-appstore" href="#">
        Available on
        <b>Google Play</b>
        <i class="i-googleplay"></i>
      </a>
    </div>
  </div>
</div>

<%#*<script id="offer_hb" type="text/x-handlebars-template">%>
<%#*<div class="offer-small-details">%>
<%#*<div class="offer-type shop"></div>%>
<%#*<div class="offer-opening-hours">2pm-2am</div>%>
<%#*<div class="offer-distance">2 miles</div>%>
<%#*</div>%>
<%#*<div class="offer-description">%>
<%#*<h2 class="offer-name"><a href="#">{{name}}</a></h2>%>

<%#*<p>{{description}}</p>%>

<%#*<div class="more-offer-details">%>
<%#*<a class="offer-address" href="#">%>
<%#*<i class="i-address"></i>%>
<%#*<b>{{primary_address}}</b>%>
<%#*</a>%>
<%#*<span class="offer-working-days">%>
<%#*<i class="i-calendar"></i>%>
<%#*<b>Monday - Friday</b>%>
<%#*</span>%>
<%#*<span class="offer-working-hours">%>
<%#*<i class="i-clock"></i>%>
<%#*<b>9:00 - 23:00</b>%>
<%#*</span>%>
<%#*<span class="offer-working-hours">%>
<%#*<i class="i-phone"></i>%>
<%#*<b>+44 20 7031 3000</b>%>
<%#*</span>%>
<%#*</div>%>

<%#*<div class="offer-actions-wrapper clearfix">%>
<%#*<a href="#" class="details expand">%>
<%#*<span class="expand-offer">%>
<%#*<i class="i-expand-offer"></i><b>Expand</b>%>
<%#*</span>%>
<%#*<span class="collapse-offer">%>
<%#*<i class="i-collapse-offer"></i><b>Collapse</b>%>
<%#*</span>%>
<%#*</a>%>
<%#*<ul class="offer-actions clearfix">%>
<%#*<li>%>
<%#*<a href="#" class="js-like">%>
<%#*<i class="i-like"></i><b>Like</b>%>
<%#*</a>%>
<%#*</li>%>
<%#*<li>%>
<%#*<a href="#" class="js-tweet">%>
<%#*<i class="i-tweet"></i><b>Tweet</b>%>
<%#*</a>%>
<%#*</li>%>
<%#*<li>%>
<%#*<a href="#" class="js-email">%>
<%#*<i class="i-email"></i><b>Email</b>%>
<%#*</a>%>
<%#*</li>%>
<%#*<li>%>
<%#*<a href="#" class="js-gplus">%>
<%#*<i class="i-gplus"></i><b>Google+</b>%>
<%#*</a>%>
<%#*</li>%>
<%#*</ul>%>
<%#*</div>%>
<%#*</div>%>
<%#*<div class="merchant-details">%>
<%#*<a href="#" class="view-more-from-merchat">%>
<%#*<i class="i-view-more"></i>%>
<%#*<b>View more offers and details about this merchant</b>%>
<%#*</a>%>
<%#*</div>%>
<%#*<a class="favorite-offer">%>
<%#*<i class="star"></i>%>
<%#*</a>%>
<%#*</script>%>

<div class="modal hide fade" id="signupModal">
  <a class="close" data-dismiss="modal">×</a>

  <div id="signupCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <h2 class="modal-title">Your offer/Ad</h2>

        <div class="hint hint-create-offer">
          <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>Post a free advertisement or offer to <b>Yacto</b> in less than 60 seconds. GET NEW CUSTOMERS NOW!
          </span>
        </div>
        <form class="createOffer-form clearfix" action="" method="post">
          <div class="field-wrapper required">
            <label for="createOffer_email" class="modalLabel">Email:</label>
            <input id="createOffer_email" name="createOffer_email" type="email" class="modalInput required_field"
                   placeholder="john@doe.com"/>
            <span class="field-hint">We will send you a verification email here, and you can use it for login!</span>
          </div>
          <div class="field-wrapper required textarea-wrapper">
            <label for="offerText" class="modalLabel">Offer text:</label>
            <textarea name="offerText" id="offerText" type="textarea" class="modalInput"
                      placeholder="Example: 1600 - 1800, 25% off early dinner for two in our wonderful restaurant with authentic Italian food!"></textarea>
            <span class="field-hint">140 characters or less, and the first sentence is your offer title, so be clear! </span>
          </div>
          <div class="button-wrapper clearfix">
            <span class="signupModal float_left">
              <%= t("offer.field_marked") %><span class="signupModal mandatory"> * </span><%= t('offer.mandatory') %>
            </span>
            <input type="button" class="submit createOffer-submit nextStep" data-slide="next" value="Create offer"/>
            <!--<input class="createOffer-submit submit" type="submit" value="Create offer" data-slide="next"/>-->

            <span class="field-hint">Offer will go live as soon as you confirm your account</span>
          </div>
          <div class="progress-bar-wrapper">
            <div class="progress-inner">
              <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="item">
        <h2 class="modal-title">Your Business Details</h2>

        <div class="hint hint-create-offer">
          <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>Fill in your business details, we will automatically check the rest against our database
          </span>
        </div>
        <form class="businessDetails-form clearfix" action="" method="post">
          <div class="field-wrapper required clearfix">
            <label for="businessName_address" class="modalLabel">Business name & address:</label>
            <input required="required" id="businessName_address" name="businessName_address" type="text"
                   class="modalInput"
                   placeholder="Yacto Ltd, 1600 Amphitheatre Pkwy, CA 94043, USA"/>
            <a href="#" class="search-matches-btn">Search</a>
          </div>
          <div class="hidden-fields hidden-matches">

            <div class="field-wrapper">
              <label class="modalLabel">Potential matches:</label>
              <ul class="matches-list">


              </ul>
            </div>
          </div>

          <div class="hidden-fields detailed-data">
            <div class="field-wrapper">
              <label for="business_name" class="modalLabel">Business name:</label>
              <input id="business_name" type="text" class="modalInput"
                     placeholder="Yacto Ltd."/>
            </div>
            <div class="field-wrapper">
              <label for="business_street" class="modalLabel">Business street:</label>
              <input id="business_street" type="text" class="modalInput"
                     placeholder="Bulevardul Moscova 15/2, et. 8, ap. 78"/>
            </div>
            <div class="field-wrapper half">
              <label for="business_city" class="modalLabel">City:</label>
              <input id="business_city" type="text" class="modalInput"
                     placeholder="Chisinau"/>
            </div>
            <div class="field-wrapper half last">
              <label for="business_postal_code" class="modalLabel">Postal code:</label>
              <input id="business_postal_code" type="text" class="modalInput"
                     placeholder="MD-2068"/>
            </div>
            <%= hidden_field_tag :business_city_id %>
            <%= hidden_field_tag :business_lat %>
            <%= hidden_field_tag :business_lng %>
            <div class="field-wrapper">
              <label for="business_category" class="modalLabel">Business category:</label> <br/>

              <%= select(:merchant, :merchant_type_id, MerchantType.find(:all, :order => 'merchant_type asc', :conditions => {:sub_type => ' '}).collect {|c| [c.merchant_type , c.id ] },{},{   :style => "width:336px;" }) %>
            </div>
            <div class="map-wrapper" style="height: 320px; width: 360px">
              <div id="map_show" style="width:100%; height:100%"></div>
              <br/>
            </div>
          </div>
          <div class="field-wrapper clearfix required">
            <fieldset required="required" id="businessHours" name="businessHours">
              <label for="mon-fri-open" class="modalLabel hours-label">Business hours:</label>

              <div class="field-third">
                <input required="required" id="mon-fri-open" type="text"
                       class="modalInput opening time-picker"
                       placeholder="09:00" value="09:00"/>
                <input required="required" id="mon-fri-close" type="text"
                       class="modalInput closing time-picker"
                       placeholder="22:00" value="22:00"/>

                <div class="clear"></div>
                <label for="mon-fri-open" class="third-label">Mon-Fri</label>
              </div>
              <div class="field-third">
                <input required="required" id="sat-open" type="text"
                       class="modalInput opening time-picker"
                       placeholder="09:00" value="09:00"/>
                <input required="required" id="sat-close" type="text"
                       class="modalInput closing time-picker"
                       placeholder="22:00" value="22:00"/>

                <div class="clear"></div>
                <label for="sat-open" class="third-label">Saturday</label>
              </div>
              <div class="field-third last">
                <input required="required" id="sun-open" type="text"
                       class="modalInput opening time-picker"
                       placeholder="09:00" value="09:00"/>
                <input required="required" id="sun-close" type="text"
                       class="modalInput closing time-picker"
                       placeholder="22:00" value="22:00"/>

                <div class="clear"></div>
                <label for="sun-open" class="third-label">Sunday</label>
              </div>
            </fieldset>
          </div>


          <div class="button-wrapper clearfix">
            <span class="signupModal float_left">
              <%= t("offer.field_marked") %><span class="signupModal mandatory"> * </span><%= t('offer.mandatory') %>
            </span>
            <input type="button" class="submit businessDetails-submit nextStep" data-slide="next" value="Next"/>
          </div>
          <div class="progress-bar-wrapper">
            <div class="progress-inner">
              <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="item">
        <h2 class="modal-title">Social media Links</h2>

        <div class="hint hint-create-offer">
          <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>Your offer is ready to go live.  By adding social media links, customers who view your offer can automatically follow you through their preferred method
          </span>
        </div>

        <form class="socialMedia-form clearfix" action="" method="post">
          <div class="field-wrapper">
            <label class="modalLabel">Check the box if you would like us to create the account for you
              automatically</label>

            <div class="btn-group createFor-user" data-toggle="buttons-checkbox">
              <div class="create-option">
                <button id="create-facebbook" class="btn bootstrap-checkbox"></button>
                <label for="create-facebbook" class="create-label">Facebook</label>
              </div>
              <div class="create-option">
                <button id="create-twitter" class="btn bootstrap-checkbox"></button>
                <label for="create-twitter" class="create-label">Twitter</label>
              </div>
              <div class="create-option gplaces">
                <button id="create-gplaces" class="btn bootstrap-checkbox"></button>
                <label for="create-gplaces" class="create-label">Google Places</label>
              </div>
              <div class="create-option">
                <button id="create-yelp" class="btn bootstrap-checkbox"></button>
                <label for="create-yelp" class="create-label">Yelp</label>
              </div>
              <div class="create-option">
                <button id="create-yahoo" class="btn bootstrap-checkbox"></button>
                <label for="create-yahoo" class="create-label">Yahoo</label>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <label for="socialMedia-facebook" class="modalLabel">Facebook:</label>
            <input id="socialMedia-facebook" type="text" class="modalInput" placeholder="Facebook business page ID"/>
          </div>
          <div class="field-wrapper">
            <label for="socialMedia-twitter" class="modalLabel">Twitter:</label>
            <input id="socialMedia-twitter" type="text" class="modalInput" placeholder="Twitter business page ID"/>
          </div>
          <div class="field-wrapper">
            <label for="socialMedia-places" class="modalLabel">Google Places:</label>
            <input id="socialMedia-places" type="text" class="modalInput" placeholder="Google places business page ID"/>
          </div>
          <div class="field-wrapper">
            <label for="socialMedia-yelp" class="modalLabel">Yelp ID:</label>
            <input id="socialMedia-yelp" type="text" class="modalInput" placeholder="Yelp ID"/>
          </div>

          <div class="button-wrapper clearfix">
            <input type="button" class="socialMedia-submit nextStep" data-slide="next" value="Post offer"/>
          </div>
          <div class="progress-bar-wrapper">
            <div class="progress-inner">
              <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
            </div>
          </div>
        </form>

      </div>
      <div class="item">
        <h2 class="modal-title"><%= t("offer.person_details") %></h2>

        <div class="hint hint-create-offer">
          <a href="#" class="close-hint"></a>
          <span class="tip">
            <i class="i-tip"></i>
            <b>Tip: </b>You’re almost there! Add your personal details, or sign in with the below services:
          </span>
        </div>

        <form class="personalInfo-form clearfix" action="" method="post">
          <div class="signinServices">
            <div class="signinService signinFacebook">
              <%= link_to t("form.signinwithname", :name => 'Facebook'), user_omniauth_authorize_path(:facebook),:class => "serviceButton service-facebook" %>
<%#*<a class="serviceButton service-facebook" href="#">Sign in with Facebook</a>%>
            </div>
            <div class="signinService signinTwitter">
              <%= link_to t("form.signinwithname", :name => 'Twitter'), user_omniauth_authorize_path(:twitter),:class => "serviceButton service-twitter"  %>
<%#*<a class="serviceButton service-twitter" href="#">Sign in with Twitter</a>%>
            </div>
            <div class="clear"></div>
            <div class="signinService signinGplus">
              <%= link_to t("form.signinwithname", :name => 'Google'), user_omniauth_authorize_path(:google_oauth2),:class => "serviceButton service-gplus" %>
<%#*<a class="serviceButton service-gplus" href="#">Sign in with Google+</a>%>
            </div>
            <div class="signinService signinYahoo">
              <%= link_to t("form.signinwithname", :name => 'Yahoo'), user_omniauth_authorize_path(:yahoo),:class => "serviceButton service-yahoo" %>
<%#*<a class="serviceButton service-yahoo" href="#">Sign in with Yahoo!</a>%>
            </div>
            <div class="clear"></div>
          </div>
          <div class="field-wrapper half">
            <label for="personalInfo-fname" class="modalLabel">First name:</label>
            <input id="personalInfo-fname" type="text" class="modalInput" placeholder="Johnny"/>
          </div>
          <div class="field-wrapper half last">
            <label for="personalInfo-lname" class="modalLabel">Last name:</label>
            <input id="personalInfo-lname" type="text" class="modalInput" placeholder="Doe"/>
          </div>
          <div class="field-wrapper">
            <label for="personalInfo-email" class="modalLabel">Email:</label>
            <input id="personalInfo-email" type="text" class="modalInput" placeholder="johndoe@gmail.com"/>
          </div>
          <div class="field-wrapper">
            <label for="personalInfo-pass" class="modalLabel">Password:</label>
            <input id="personalInfo-pass" type="password" class="modalInput"/>
          </div>
          <div class="field-wrapper required">
            <label for="personalInfo_mobile" class="modalLabel">Mobile phone number:</label>
            <input name="personalInfo_mobile" id="personalInfo_mobile" type="text" class="modalInput" placeholder="40754563783"/>
            <span class="field-hint">We will send you a text message to validate your account</span>
          </div>

          <div class="button-wrapper clearfix">
            <span class="signupModal float_left">
              <%= t("offer.field_marked") %><span class="signupModal mandatory"> *</span><%= t('offer.mandatory') %>
            </span>
            <input type="button" class="personalDetails-submit nextStep" value="Post offer"/>
          </div>
          <div class="progress-bar-wrapper">
            <div class="progress-inner">
              <div class="progress"></div>
              <span class="progress-text">
                <span class="ok">0</span>/5 required fields completed
              </span>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>



