$(".list_items_wrapper").append(<% with_format :mobile do %>
  "<%= escape_javascript render offers  %>"
  <% end %>);
    
MobileList.addOffers(<% with_format :json do %>
  <%= raw render "offers", :offers => offers %>
  <% end %>
);
MobileList.handleActions();