<%= javascript_include_tag "infobox" %>
<script type="text/javascript">
 
  $(document).ready(function(){

<% if @offers and @offers.count == 0 %>
      $('#inlinecontent').simpledialog2();
      $("#id_close").live('click', function(event) {
        $('.ui-dialog').dialog('close');
        location.href = "<%= url_for(:controller => 'offers', :action => "index", :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance])%>" ;
      });
<% end %>

  });

</script>
<div  data-role="page" id="indexPageOffer" data-url="<%= url_for(:controller => 'offers',:action => 'index', :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance])  %>">
  <div id="opendialog"></div>

  <!--NOTE: blankContent is set to TRUE, and the content goes IN the div. -->
  <div id="inlinecontent" style="display:none" data-options='{"mode":"blank","headerText":"No Offers ","headerClose":true,"blankContent":true}'>
    <ul data-role='listview'><li><%= t("offers.no_offers") %></li></ul>
    <a  data-role='button' href='#' id="id_close">Close</a>
  </div>

  <script type="text/javascript">
    
    $("#indexPageOffer").bind('pageinit',function(){
      $('#lastPostLoader').hide();

<% if @offers and @offers.size < 15 %>
      $('#lastPostLoader').hide();
<% end %>
<% if @offer_last_id %> 
      $(window).scroll(function(){
        var h_document = $(document).height();
        var wall = h_document - 100;
        var h_window = $(window).height();
        if  ($(window).scrollTop() >= ( wall -  h_window)){
          var $this = $(this), handler = arguments.callee;
          $this.unbind('scroll', handler)
          var id = $(".product:last").attr("id")
          $('#lastPostLoader').show();
          $.get("<%= url_for(:controller => "offers", :action => "get_more_product", :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance])%>?product_last_id="+id,function(data){
            $('#lastPostLoader').hide();
            if (data != "") {
              
              $(".product:last").after(data);
              $this.scroll(handler);
            }




            var new_id = $(".product:last").attr("id");
        
          });
        }
      });

<% end %>
  });
 
  </script>

  <script type="text/javascript">

    $('div.click').live('click', function () {
      console.log($(this));
      var link = $(this).find('a:first');
      if (link) {
        if ($(link).attr('data-ajax') == "false") {
          document.location = $(link).attr('href').toString();
        } else {
          $.mobile.changePage($(link).attr('href').toString());
        }
      }
    });

    $("input[name='filter[radio_view]']").live( "change", function(event, ui) {
      window.location.href = "/offers"+ "?filter[radio_view]=" + $('input[name=filter[radio_view]]:checked').val();
    });
    if('<%= params["filter[radio_view]"]%>' != '') {
      if($('input[name=filter[radio_view]]:checked').val() == '<%= params["filter[radio_view]"]%>') {
        $('input[name=filter[radio_view]]:checked').attr("checked", true);
      }
    }
    
    $(document).delegate('#popupbut', 'click', function() {
      var sign_in = '<%= t("form.signin") %>';
      var sign_up = '<%= t("form.signup") %>';
      var sign_in_with = '<%=  t('home.index.sign_in_with')%>';
      var post_to = '<%= t('home.index.post_to')%>';
      var on = '<%= t('home.index.on') %>';
      var off = '<%= t('home.index.off') %>';
      var twitter_on = '<%= cookies[:twitter_on] %>';
      if (twitter_on == 'true'){
        twitter_on = '<option value="on" selected="true">';
      }
      else {
        twitter_on ='<option value="on">';
      }
      var facebbook_on = '<%= cookies[:facebook_on] %>';
      if (facebbook_on == 'true'){
        facebbook_on = '<option value="on" selected="true">';
      }
      else {
        facebbook_on = '<option value="on">';
      }
    
      $('<div>').simpledialog2({
        mode: 'blank',
        headerText: 'Yacto',
        headerClose: true,
        blankContent : 
          '<div class="ui-body ui-body-d">'+
          '<form method="post" id="new_user" class="new_user" action="/users/sign_in" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="q10sorYIU9W6ImkYzd/PM4mgOQrZacg4JOgoRqFjRQU=" name="authenticity_token"></div>'+
          '<div class="box">'+
          '<div style="width: 100%; text-align: center; padding-top: 20px;"><%=t"home.index.please_sign_in" %></div>'+
          '<div class="input">'+
          '<input type="text" size="30" placeholder="Username or Email" name="user[login]" id="user_login">'+
          '</div>'+
          '<div class="input">'+
          '<input type="password" size="30" placeholder="Password" name="user[password]" id="user_password">'+
          '</div>'+
          '<input id ="btn_sign_up" type="submit" value="' +sign_in+'"  data-theme="e"  data-role="button"/>'+
          '</div>'+
          '</form>'+
          '<ul data-role="listview" data-inset="true" style="margin-top: 20px;margin-bottom: 20px;border-radius:10px;">'+
          '<li><a href="/users/sign_up">'+ sign_up +'</a></li>'+
          '<li><a rel="external" href="/users/auth/twitter">' + sign_in_with + ' Twitter</a></li>'+
          '<li><a rel="external" href="/users/auth/facebook">'+ sign_in_with + ' Facebook</a></li>'+
          '<li><a rel="external" href="/users/auth/google_oauth2">'+ sign_in_with +' Google</a></li>'+
          '</ul>'+
          '<div class="box_line">'+
          '<label for="twitter_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Twitter</label>'+
          '<select name="twitter_on" id="twitter_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
          '<option value="off">' + off  + '</option>'+
          twitter_on + on +'</option>'+
          '</select>'+
          '</div>'+
          '<div class="box_line">'+
          '<label for="facebook_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Facebook</label>'+
          '<select name="facebook_on" id="facebook_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
          '<option value="off">' + off + '</option>'+
          facebbook_on + on +'</option>'+
          '</select>'+
          '</div>'+
          '<div class="box_line">'+
          '<label for="google_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Facebook</label>'+
          '<select name="google_on" id="google_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
          '<option value="off">' + off + '</option>'+
          '<option value="on">' + on +'</option>'+
          '</select>'+
          '</div>'+
          '</div>'
      
      })
    });
  </script>
  <header class="mobile-header">
    <nav class="clearfix">
      <a class="mobile-nav-item offers <%= 'active' if (params[:action] == "index" and params[:favorite].nil? ) %>" href="<%= offers_path_with_params %>">
        <div></div>
      </a>
      <a class="mobile-nav-item nearby" data-role="none" rel="external"  href="<%= nearby_path_with_params %>" >
        <div></div>
      </a>
      <a class="mobile-nav-item logo"><div></div></a>
      <% if current_user %>
        <% if params[:favorite] %>
          <a data-role="none" rel="external"  class="mobile-nav-item favorites <%= 'active' if (params[:controller] == "offers" and params[:action] == "index" and params[:favorite] == 'true')%>" href="<%= favorites_path_with_params %>"><div></div></a>
        <% else %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="<%= favorites_path_with_params %>"><div></div></a>
        <% end %>
      <% else %>
        <a class="mobile-nav-item favorites" data-role="none" rel="external" href="#" id="popupbut"><div></div></a>
      <% end %>
      <% if params[:filter] %>
        <a class="mobile-nav-item filters <%= 'active' if (params[:controller] == "offers" and params[:action] == "index" and params[:filter][:distance]) %>" href="<%= new_filters_path_with_params %>"  id="filter_dialog"><div></div></a>
      <% else %>
        <a class="mobile-nav-item filters" href="<%= new_filters_path_with_params %>" data-ajax="false"  id="filter_dialog"><div></div></a>
      <% end %>

    </nav>
  </header>
<%#= render :partial => "shared/nav_home" %>
  <div data-role="content" style="overflow:visible">	
    <ul id="list_offer" data-role="listview">
      <% if @offers %>
        <% @offers.each do |offer| %>
          <li class="ui-btn product" id="<%= offer.id %>">
            <div class="click clearfix" style="padding: 0; ">
              <div class ="" style="width: 103px; float: left; border-right: 1px solid <%=  offer.merchant ? offer.merchant.merchant_type.color : '#564ea1'%>">
                <div style=" text-align: center; height: 15px;background-color: <%=  offer.merchant ? offer.merchant.merchant_type.color : '#564ea1' %>">
                  <%= image_tag("mobile/"+( offer.merchant ? offer.merchant.merchant_type.image : ''),:style => "width :15px; height:15px;") %>
                </div>
                <h2 class="ui-li-heading" style="padding: 0px 5px; margin: 0;">
                  <a href="<%= url_for(:controller => "offers", :action => "list_detail",:id => offer.id, :lat=> params[:lat],:lon => params[:lon],:merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time=> params[:time],:distance=> params[:distance])%>"  data-ajax ="false" style="padding: 0; color: #202020; font-size: 12px;"><%= offer.merchant ? offer.merchant.name.split.each{|i| i.capitalize!}.join(' ') : '' %></a>
                </h2>
                <span class="format_time" >
                  <% if offer.period(@now_time) %>
                    <span style="color:red;">
                      <%= offer.period(@now_time)  %> <%=t("offer.minute")%>
                    </span>
                  <% else %>
                    <%= offer_time(offer) %>
                  <% end %>
                </span>
                </br>
                <span class="format_time" >
                  <%= number_with_precision(offer.distance_from(@res, :units=>:miles),:precision => 2)  %>mi
                </span>
              </div>
              <p class="format_offer_description">
                <%= raw buy_message(offer, "ui-link") %>
              </p>
              <div style="float: right; padding-right: 5px;">
                <span class="icon ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
              </div>
            </div>
            <span class="span_right">
              <% if current_user %>
                <% if Favorite.where(:user_id => current_user.id, :offer_id => offer.id).first %>
                  <%= image_tag("mobile/star_mini.png",:style => "cursor: default;")%>
                <% else %>
                  <%= link_to(image_tag("mobile/star_black.png"),"#",:id => 'favorite'+offer.id.to_s )%>
                <% end %>
              <% else %>
                <%= link_to(image_tag("mobile/star_black.png"),"#",:id => 'popupbut')%>
              <% end %>
            </span>
            <script type="text/javascript">
              $(document).ready(function (){
                $('#favorite<%=  offer.id.to_s %>').live('click', function () {
                 
                  $.ajax({
                    type: "GET",
                    url: "/offers/ajax_favorite",
                    data: "id=" +  "<%= offer.id %>",

                    success: function(data){
                      $('#favorite<%=  offer.id.to_s %>').css({'cursor': 'default'});
                      $('#favorite<%=  offer.id.to_s %>').unbind();
                      $('#favorite<%=  offer.id.to_s %>').html('<%=image_tag("mobile/star_mini.png")%>');
                      
                      return false;
                    },
                    error: function(msg){
                      console.log("There is an error : can't get data");
                      return false;
                    }
                  });
                  
                });
              });
            </script>
          </li>
        <% end %>
      <% end %>
      <li id ="lastPostLoader" style="border: none">
        <table  style="text-align: center; width: 100%;">
          <tr>
            <td><%= image_tag("bigLoader.gif") %></td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
  <div style="height: 20px;width: 100%"></div>
</div>
