<%= javascript_include_tag "infobox" %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {"parsetags": "explicit"}
</script>
<div id="fb-root"></div>

<div data-role="page" style="padding-left: 0;padding-right: 0px;">
  <script type="text/javascript" src="https://connect.facebook.net/en_GB/all.js">

  </script>
  <% content_for :head do %>
    <meta itemprop="name" content="Yacto">
    <meta itemprop= "Check out this great limited-time special at <%=  @offer.merchant.name %> : www.yacto.com/<%= @offer.merchant.merchant_id %> <%=@offer.description %>" >
  <% end %>
  <div data-role="header" data-position="fixed" data-theme="c" style="border-color: #CCCCCC;">
    <header class="mobile-header">
      <nav class="clearfix">
        <a  rel="external" class="mobile-nav-item offers active" href="<%= offers_path_with_params %>">
          <div></div>
        </a>
        <a class="mobile-nav-item nearby" data-role="none" rel="external"  href="<%= nearby_path_with_params %>" >
        <div></div>
      </a>
         <a class="mobile-nav-item logo"><div></div></a>
           <% if current_user %>
         <a  data-role="none" class="mobile-nav-item favorites" rel="external" href="<%= favorites_path_with_params %>"><div></div></a>
        <% else %>
          <a data-role="none" class="mobile-nav-item favorites" rel="external" href="#" id="popupbut"><div></div></a>
        <% end %>
          <a class="mobile-nav-item filters" href="<%= new_filters_path_with_params %>" data-ajax="false"  id="filter_dialog"><div></div></a>
      </nav>
    </header>
    
  </div>
  <div data-role="content" style="padding-left: 0;padding-right: 0px;">
    <div class="content-primary">
      <script type="text/javascript">
        $(document).ready(function (){

          $('#favorite<%= @offer.id.to_s %>').live('click', function () {
            $.ajax({
              type: "GET",
              url: "ajax_favorite",
              data: "id=" +  "<%= @offer.id %>",

              success: function(data){
                $('#favorite<%=  @offer.id.to_s %>').html('<%=image_tag("mobile/star_mini.png")%>');
                return false;
              },
              error: function(msg){
                console.log("There is an error : can't get data");
                return false;
              }
            });
          });
        });
        $(document).delegate('#popupbut', 'click', function() {
          var sign_in = '<%= t("form.signin") %>';
          var sign_up = '<%= t("form.signup") %>';
          var sign_in_with = '<%=  t('home.index.sign_in_with')%>';
          var post_to = '<%= t('home.index.post_to')%>';
          var on = '<%= t('home.index.on') %>';
          var off = '<%= t('home.index.off') %>';
          var twitter_on = '<%= cookies[:twitter_on] %>';
          if (twitter_on == 'true'){
            twitter_on = '<option value="on" selected="true">';
          }
          else {
            twitter_on ='<option value="on">';
          }
          var facebbook_on = '<%= cookies[:facebook_on] %>';
          if (facebbook_on == 'true'){
            facebbook_on = '<option value="on" selected="true">';
          }
          else {
            facebbook_on = '<option value="on">';
          }
    
          $('<div>').simpledialog2({
            mode: 'blank',
            headerText: 'Yacto',
            headerClose: true,
            blankContent : 
              '<div class="ui-body ui-body-d">'+
              '<form method="post" id="new_user" class="new_user" action="/users/sign_in" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="q10sorYIU9W6ImkYzd/PM4mgOQrZacg4JOgoRqFjRQU=" name="authenticity_token"></div>'+
              '<div class="box">'+
              '<div style="width: 100%; text-align: center; padding-top: 20px;"><%=t"home.index.please_sign_in" %></div>'+
              '<div class="input">'+
              '<input type="text" size="30" placeholder="Username or Email" name="user[login]" id="user_login">'+
              '</div>'+
              '<div class="input">'+
              '<input type="password" size="30" placeholder="Password" name="user[password]" id="user_password">'+
              '</div>'+
              '<input id ="btn_sign_up" type="submit" value="' +sign_in+'"  data-theme="e"  data-role="button"/>'+
              '</div>'+
              '</form>'+
              '<ul data-role="listview" data-inset="true" style="margin-top: 20px;margin-bottom: 20px;border-radius:10px;">'+
              '<li><a href="/users/sign_up">'+ sign_up +'</a></li>'+
              '<li><a rel="external" href="/users/auth/twitter">' + sign_in_with + ' Twitter</a></li>'+
              '<li><a rel="external" href="/users/auth/facebook">'+ sign_in_with + ' Facebook</a></li>'+
              '<li><a rel="external" href="/users/auth/google_oauth2">'+ sign_in_with +' Google</a></li>'+
              '</ul>'+
              '<div class="box_line">'+
              '<label for="twitter_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Twitter</label>'+
              '<select name="twitter_on" id="twitter_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
              '<option value="off">' + off  + '</option>'+
              twitter_on + on +'</option>'+
              '</select>'+
              '</div>'+
              '<div class="box_line">'+
              '<label for="facebook_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Facebook</label>'+
              '<select name="facebook_on" id="facebook_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
              '<option value="off">' + off + '</option>'+
              facebbook_on + on +'</option>'+
              '</select>'+
              '</div>'+
              '<div class="box_line">'+
              '<label for="google_on" style="padding-top: 10px; float: left;padding-right: 10px">' + post_to + ' Facebook</label>'+
              '<select name="google_on" id="google_on" data-role="slider" style="float: right;height: 47px; width: 100px;">'+
              '<option value="off">' + off + '</option>'+
              '<option value="on">' + on +'</option>'+
              '</select>'+
              '</div>'+
              '</div>'
      
          })
        });
      </script>
      <div style=" width: 100%; height: 80px;">
        <ul data-role="listview" style="margin-left: 0; margin-right: 0px;">
          <li style="border: none; background: none; padding: 0;">
            <div style="float: left;  width: 103px; height: 75px;border-right: 1px solid <%=  @offer.merchant ? @offer.merchant.merchant_type.color : '#564ea1' %>">
              <div style=" text-align: center; height: 15px;background-color: <%=  @offer.merchant ? @offer.merchant.merchant_type.color : '#564ea1' %>">
                <%= image_tag("mobile/"+( @offer.merchant ? @offer.merchant.merchant_type.image : ''),:style => "width :15px; height:15px;") %>
              </div>
              <p style=" padding-top: 3px;padding-left: 5px;color: #202020;font-size: 12px;font-weight: bold"><%= @offer.merchant.name.split.each{|i| i.capitalize!}.join(' ') %></p>
              <span class="format_time">
                <% if @offer.period(@now_time) %>
                  <span style="color:red;">
                    <%= @offer.period(@now_time)  %> <%=t("offer.minute")%>
                  </span>
                <% else %>
                  <%= offer_time(@offer) %>
                <% end %>
              </span>
              </br>
              <span class="format_time"> 
                <%= number_with_precision(@offer.distance_from(@res, :units=>:miles),:precision => 2)  %>mi
              </span>
              <span class="span_right">
                <% if current_user %>
                  <% if Favorite.where(:user_id => current_user.id, :offer_id => @offer.id).first %>
                    <%= image_tag("mobile/star_mini.png")%>
                  <% else %>
                    <%= link_to(image_tag("mobile/star_black.png"),"#",:id => 'favorite'+ @offer.id.to_s )%>
                  <% end %>

                <%  else %>
                  <%= link_to(image_tag("mobile/star_black.png"),"#",:id => 'popupbut')%>
                <% end %>
              </span>
            </div>

            <p class="format_offer_description">
              <% if @offer.link_present? and @offer.description %>
                <%= @offer.description[0,140 - buy_via_link_label(@offer).length ] %>
                <%= link_to buy_via_link_label(@offer), @offer.link %>
              <% else %>
                <%=  @offer.description %>
              <% end %>
            </p>
          </li>
        </ul>
      </div>
      <div style=" margin: 0 5px;">
        <div class="social" style=" min-width:310px;">
          <div style=" padding-top: 5px;">
            <div style="width: 16.66%; height: 24px; border-right: 1px solid #646464;">
              <div style=" float: none; display: block; height: 24px; position: relative;margin: 0 auto; width: 48px;">
                <div class="btn_pre">
                  <% if @offer_before %>
                    <%= link_to "<" , url_for(:controller => "offers", :action => "list_detail", :id => @offer_before.id.to_s,  :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]), "data-role" => "none","data-ajax" => "false" %>
                  <% end %>
                </div>
                <div class="btn_next">
                  <% if  @offer_next %>
                    <%= link_to ">" , url_for(:controller => "offers", :action => "list_detail", :id => @offer_next.id.to_s,  :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]),"data-role" => "none","data-ajax" => "false" %>
                  <% end %>
                </div>
              </div>

            </div>

            <div style="width: 16.66%; height: 22px; border-right: 1px solid #646464;">
              <% @sms = offer_sms_body(@offer)  %>
              <%= link_to(image_tag("mobile/btn_sms.png",:id => 'send_sms',:style => "cursor: pointer;"),"sms://?body=" +  URI.escape(@sms))%>
            </div>
            <div style="width: 16.66%; height: 22px; border-right: 1px solid #646464;">
              <%= link_to(image_tag("mobile/btn_email.png",:id => 'send_mail',:style => "cursor: pointer;"), offer_email_link(@offer))%>
            </div>

            <div style="width: 16.66%;height: 22px; border-right: 1px solid #646464;">
              <a href="#" onclick='postToFeed(); return false;' id="share_facebook">Facebook</a>
              <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>


              <script> 
                FB.init({appId: "<%= ENV['FACEBOOK_APP_ID'] %>", status: true, cookie: true});

                function postToFeed() {

                  // calling the API ...
                  var obj = {
                    method: 'feed',
                    link: 'https://blooming-sword.herokuapp.com/<%= @offer.merchant.merchant_id %>',
                    name: 'Yacto',
                    description: "Check out this great limited-time special at <%=  @offer.merchant.name %> : www.yacto.com/<%= @offer.merchant.merchant_id %> <%=@offer.description %>"
                  };
                  function callback(response) {
        
                  }

                  FB.ui(obj, callback);


                }
    

              </script>


            </div>

            <div style="width: 16.66%; height: 22px; border-right: 1px solid #646464;">
              <div style=" float: none; display: block; height: 30px; position: relative;margin: 0 auto; width: 24px;">
                <style type="text/css" media="screen">
                  #twitter-share-button-customize a{
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url("/assets/mobile/btn_twitter.png");
                    text-indent: -9999px;
                  }
                </style>
                <div id="twitter-share-button-customize">
                  <a href="https://twitter.com/share?text=<%=   URI.escape(offer_twitter_str(@offer)) %>"  target="_blank" >Tweet</a>
                </div>

              </div>
            </div>
            <div style="margin-left: -5px; border: none; width: 16.66%;">
              <div style="padding-left: 5px; float: none; display: block; height: 24px; position: relative;margin: 0 auto; width: 24px;">
                <div class="my_custom_googleplusone"></div>
                <div id="plusContent" class="hideMe"></div>

                <script>
                  var qrCode = 'A123456';
                  var googleShareLink = "<g:plusone size='medium' id='shareLink' class='shareLink'  annotation='none' href='" + '<%= url_for(@offer) %>' + "?qrCode="+qrCode+"' callback='countGoogleShares'></g:plusone>";
                  $("#plusContent").html(googleShareLink);
                  gapi.plusone.go("plusContent");
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    
      $(document).ready(function (){

<% if params[:distance] %>
      var radius = <%= params[:distance].to_f %>;
      var z = Math.round(14 - Math.log(<%=  params[:distance].to_f %> )/Math.LN2);
<% else %>
      var radius = 1;
      var z = Math.round(14 - Math.log(radius)/Math.LN2) ;
<% end %>
 
    var latlng = new google.maps.LatLng(<%= @map_center %>);  
    var myOptions = {
      zoom: z,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    }

    var map = new google.maps.Map(document.getElementById("map_show"), myOptions);
<%#*document.getElementById("map_show").style.cssText = "height:"+ _height +"px";%>

    new OfferInfoBox().show({
      name: "<%= @offer.merchant.name %>",
      primary_address: "<%= @offer.merchant.primary_address %>",
      type: "<%= @offer.merchant.merchant_type.merchant_type %>",
      url: "<%= merchant_path(@offer.merchant) %>"
    }, latlng, map);

    var image = '/assets/markers/pin/image.png';

<%  if @res %>
      var point = new google.maps.LatLng(<%= @res.lat.to_s + "," + @res.lng.to_s %>);
      var marker = new google.maps.Marker({
        position: point,
        map: map,
        icon: image

      });
<% end %>


<% if @offers  %>
  <% @offers.each do |t| %>

    <% if t.lat != @offer.lat or t.lon != @offer.lon %>
          var point = new google.maps.LatLng(<%=  (t.lat ? (t.lat.to_s + "," + t.lon.to_s) : "37.789046,-122.4340045") %> );
          image = '/assets/markers/<%= (t.merchant ? t.merchant.merchant_type.marker_image: 'look.png') %>';
          var marker_point = new google.maps.Marker({
            position: point,
            map: map,
            icon: image,
            url: '/offers/list_detail?id=<%= t.id %>'
          });
          google.maps.event.addListener(marker_point, 'click', function() {
            window.location.href = marker_point.url;
          });

    <%  end %>
  <%  end %>
<% end %>
    var populationOptions = {
      map: map,
      center:  latlng,
      fillOpacity: 0, 
      strokeOpacity:0, 
      radius: radius * 1609.344
    }; 
      
    var circle = new google.maps.Circle(populationOptions);

  });

    </script>

  </div>
  <div id="content">
    <div class="paddedContent">
      <div id="map_show" style="width: 100%; height: 100%;"></div>
    </div>
    <div id="info"></div>
  </div>
</div>


