<div class="mobile_body nearby_page clearfix">
  <div class="nearby_map_wrapper">
    <div id="map_show"></div>
    <div id="info"></div>
  </div>
  <div id="nearby_carousel" class="nearby_offer_wrapper carousel slide">
    <div class="nearby_offer_inner carousel-inner">
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function (){
    MobileNearby.initMap(<%= @my_location %>);
    <% if offers_saved %>
      MobileNearby.loadOffers();
    <% else %>
      MobileNearby.addOffers(<% with_format :json do %>
        <%= raw render "offers", :offers => offers %>
        <% end %>
      );
    <% end %>
    MobileNearby.selectActiveOffer();
    if (Login.isLoggedIn()){
      Favorites.afterLoginCallback();
    }
  });
</script>