
<%= javascript_include_tag "jcarousellite"%>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/lib/jquery.js"%3E%3C/script%3E'));</script>
<script>
  $(document).ready(function() {
    
    $('div#closer').live('click', function () {
      console.log('close');
      
      $('.container').html('');
      
      return true;
    });

    
    $('div.click').live('click', function () {
      console.log($(this));
      var link = $(this).find('a:first');
      if (link) {
        if ($(link).attr('data-ajax') == "false") {
          document.location = $(link).attr('href').toString();
        } else {
          $.mobile.changePage($(link).attr('href').toString());
        }
      }
    });
  });
    

</script>

<div data-role="page" style="padding-left: 0;padding-right: 0px;" id="index_page">
  <div data-role="header" data-position="fixed" style="border-color: #cccccc;">
    <header class="mobile-header" style="position: absolute;width: 100%">
      <nav class="clearfix">
        <a class="mobile-nav-item offers" data-role="none" rel="external" href="<%= offers_path_with_params %>"><div></div></a>
        <a class="mobile-nav-item nearby active" data-role="none" rel="external" href="<%= nearby_path_with_params %>"><div></div></a>
        <a class="mobile-nav-item logo"><div></div></a>
        <% if current_user %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="<%= favorites_path_with_params %>"><div></div></a>
        <% else %>
          <a class="mobile-nav-item favorites" data-role="none" rel="external" href="#" id="popupbut"><div></div></a>
        <% end %>
        <a class="mobile-nav-item filters" href="<%= new_filters_path_with_params %>" data-ajax="false" id="filter_dialog"><div></div></a>
      </nav>
    </header>
  </div>
  <script type="text/javascript">

    $(document).ready(function (){

<% if params[:distance] %>
      var radius = <%= params[:distancce].to_f %>;
      var z = Math.round(14 - Math.log(<%=  params[:distance].to_f %> )/Math.LN2);
<% else %>
      var radius = 1;
      var z = Math.round(14 - Math.log(1)/Math.LN2) ;
<% end %>

    var latlng = new google.maps.LatLng(<%= @my_location %>);
    var image = '/assets/markers/pin/image.png';
    var myOptions = {
      zoom: z,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false

    }

    var map = new google.maps.Map(document.getElementById("map_show"), myOptions);
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      icon: image

    });

<% if @merchants %>
      var points = <%= raw @merchants.to_json(:include => :merchant_type) %>;


      for(var i = 0; i < points.length ;i++) {
        markers(points[i],map,google);
      }


<% end %>
    var populationOptions = {
      map: map,
      center:  latlng,
      fillOpacity: 0,
      strokeOpacity:0,
      radius: radius * 1609.344
    };

    var circle = new google.maps.Circle(populationOptions);

  });

function markers(point,map,google){
var new_point = new google.maps.LatLng(point.lat, point.lon );
                     var image = '/assets/markers/' +  (point.marker_image ? point.marker_image : 'look.png');
                     var marker_point = new google.maps.Marker({
                                        position: new_point,
                                        map: map,
                                        icon: image,
                                        url: '/merchants/' + point.id
                                      });
      google.maps.event.addListener(marker_point, 'click', function() {
    $.ajax({
        type: 'GET',
        url: '/offers/ajax_offer_group',
        data: 'id=' + point.id + '&lat=<% params[:lat] %>&lon=<%=params[:lon]%>&merchant_type_id=<%=params[:merchant_type_id]%>&favorite=<%=params[:favorite]%>&time=<%=params[:time]%>&distance=<%=params[:distance]%>',
        success: function(msg){
          $('.container').html(msg);
          $('.container').show();
          return false;
        },
        error: function(e){

          return false;
        }
      });
    });
  }
  </script>

  <div id="nearby_content">
    <div class="container">

    </div>
    <script type="text/javascript">
<%  if cookies[:first_time] != 'true' %>
    var mobileDemo = { 'center': '57.7973333,12.0502107', 'zoom': 5 };
    $('#index_page').live('pageinit', function() {
      demo.add('index_page', function() {

        $('#map_show').gmap({'center': mobileDemo.center, 'zoom': 5 , 'disableDefaultUI':true, 'callback': function(map) {
            var self = this;
            self.watchPosition(function(position, status) {
              if ( status === 'OK' ) {

                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                $.ajax({
                  type: "GET",
                  url: "<%= offers_ajax_lonlat_path %>",
                  data: "lon=" +  position.coords.longitude + "&lat=" + position.coords.latitude,

                  success: function(data){
                    window.location.reload();
                    return false;
                  },
                  error: function(msg){

                    console.log("There is an error : can't get data");
                    return false;
                  }
                });
                if ( !self.get('markers').client ) {
                  self.addMarker({ 'id': 'client', 'position': latlng, 'bounds': true });
                } else {
                  self.get('markers').client.setPosition(latlng);
                  //-try to add circle for mobile---self.set('clientPosition', new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                  //-try to add circle for mobile---self.addShape('Circle', { 'strokeWeight': 0, 'fillColor': "#008595", 'fillOpacity': 0.25, 'center': self.get('clientPosition'), 'radius': 15, clickable: false });
                  map.panTo(latlng);
                }
              }
            });
          }});
      }).load('index_page');
    });

<% end %>

    </script>
    <div class="paddedContent">
      <div id="map_show" style="width: 100%; height: 100%;"></div>
    </div>

    <div id="info"></div>
  </div>
</div>


