<div  data-role="page" id="index_page">
<div data-role="header" data-theme="e">
  <h1>Yacto</h1>
</div>

<%= render :partial => "shared/nav_home" %>
<h2> New  offer</h2>
<div class="ui-body ui-body-d">
  <div class="box">
    <%= render 'input' %>
  </div>
</div>
<%= link_to 'Back', offers_path( :lat => params[:lat], :lon => params[:lon], :merchant_type_id => params[:merchant_type_id], :favorite => params[:favorite], :time => params[:time], :distance => params[:distance]) %>
</div>
