<div data-role="page">
  <div data-role="header" data-theme="d">
    <h1>Set Location</h1>
  </div>
  <script type="text/javascript">

    $(document).ready(function(){
      
     
      
      $('#address').autocomplete({source: function(req, add){
          $.getJSON('/home/autocomplete', req, function(data){
            //console.info(data);
            add(data);
          })
        },
        select: function(event, ui){
          //console.info(ui);
          var id = ui.item.id;
          //console.info('The value is ' + id);
          if(id)
            console.info('The value is ' + id);

        }
      });


      $("#btn_location").live('click', function(event) {
        $.ajax({
          type: "GET",
          url: "/offers/set_location",
          data: "address=" +  $('#address').val(),
          success: function(data){
            location.href = "<%= url_for(:controller => 'offers', :action => "index", :time => 1, :distance => 1.0)%>&lat=" + data["lat"] + "&lon=" + data["lon"] ;
            return false;
          },
          error: function(msg){
            alert('<%= t("set_location.error") %>');
            return false;
          }
        });
        $('.ui-dialog').dialog('close');
        
      });

    });

  </script>
  <div data-role="content" data-theme="c">
    <label><%= t("set_location.location") %></label>
    <div class="input">
      <%= text_field_tag("address") %>
    </div>

    <input id ="btn_location" type="submit" value="<%= t('set_location.submit')  %> "  data-theme="e"  data-role="button"/>
  </div>

</div>
