<%= javascript_include_tag "infobox" %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {"parsetags": "explicit"}
</script>
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js">

</script>
<% content_for :head do %>
<meta charset="utf-8" />
 <meta name="title" content="aaaaa" />
  <meta name="description" content="aaaaaw2244" />
    <meta name="description" content ="Check out this great limited-time special at <%= @offer.merchant.name %> : www.yacto.com/<%=  @offer.merchant.merchant_id %> <%=  @offer.description %>" />
    <meta property="og:title" content="Yacto"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="Check out this great limited-time special at <%= @offer.merchant.name %> : www.yacto.com/<%=  @offer.merchant.merchant_id %> <%=  @offer.description %>" />
    <meta property="og:site_name" content="Yacto"/>
    <meta property="og:description" content="Check out this great limited-time special at <%= @offer.merchant.name %> : www.yacto.com/<%=  @offer.merchant.merchant_id %> <%=  @offer.description %>"/>

<% end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div data-role="page" style="padding-left: 0;padding-right: 0px;">
  <div data-role="header" data-theme="c" style="height: 45px;">
    <div style="width: 41.25%;float: left;">
      <fieldset  data-role="controlgroup" data-type="horizontal" style=" height: 28px;float: left; margin-left: 3px; margin-top: 3px;">
        <input width="54px" height="26px" type="radio" name="radio_view" id="radio-choice-c" value="10" <%= 'checked = "true"' if params[:radio_view] == "10"  %>   />
        <label class="text-overflow" for="radio-choice-c" style=" width: 54px; height: 30px;font-size: 9px; text-overflow: clip;">WITHIN</br>10MI</label>
        <input width="54px" height="26px" type="radio" name="radio_view" id="radio-choice-d" value="1"  <%= 'checked = "true"' if params[:radio_view] == "1"  %> />
        <label  class="text-overflow" for="radio-choice-d" style=" width: 54px;height: 30px; font-size: 9px;">WITHIN</br>1MI</label>
      </fieldset>
    </div>
    <div style="width: 17.5%;float: left; padding-top: 7px; text-align: center; ">
      <%= image_tag("mobile/logo.png")  %>
    </div>
    <div style="width: 41.25%;float: left;">
      <fieldset data-role="controlgroup" data-type="horizontal" style="float: right; height: 28px;margin-right: 3px; margin-top: 3px;">
        <input width="54px" height="26px" type="radio" name="radio_view" id="radio-choice-e" value="3" <%= 'checked = "true"' if params[:radio_view] == "3"  %>/>
        <label class="text-overflow" for="radio-choice-e" style="width: 54px; height: 30px;font-size: 9px;text-overflow: clip;">WITHIN </br> 3HRS</label>
        <input height="26px" type="radio" name="radio_view" id="radio-choice-f" value="all" <%= 'checked = "true"' if params[:radio_view] == "all"  %> />
        <label class="text-overflow" for="radio-choice-f" style="height: 30px;font-size: 9px;text-overflow: clip;">All </br> OFFERS</label>
      </fieldset>
    </div>
  </div>

<%#= render :partial => "shared/nav_home" %>
  <div data-role="content" style="padding-left: 0;padding-right: 0px; padding-top: 1px;">
    <div class="content-primary">
      <script type="text/javascript">

      $(document).ready(function (){
        $('#favorite').click(function() {

          $.ajax({
            type: "GET",
            url: "ajax_favorite",
            data: "id=" +  "<%= @offer.id %>",

            success: function(data){
              return false;
            },
            error: function(msg){
              console.log("There is an error : can't get data");
              return false;
            }
          });
        });
      });
      </script>
      <ul data-role="listview" style="margin-left: 0; margin-right: 0px;">
        <li style="border: none; background: none; padding: 0;">
          <div style="float: left;  width: 103px; padding-bottom:20px;border-right: 1px solid <%=  @offer.merchant ? @offer.merchant.merchant_type.color : '#564ea1' %>">
            <div style=" text-align: center; height: 15px;background-color: <%=  @offer.merchant ? @offer.merchant.merchant_type.color : '#564ea1' %>">
              <%= image_tag("mobile/"+( @offer.merchant ? @offer.merchant.merchant_type.image : ''),:style => "width :15px; height:15px;") %>
            </div>

            <p style="color: #202020;font-size: 12px;font-weight: bold"><%= @offer.name %></p>

            <span class="format_time"><%= @offer.start_time ? @offer.start_time.strftime('%I:%M%P') : '' %> - <%= @offer.end_time ? @offer.end_time.strftime('%I:%M%P') : ' '%></span>
            </br>
            <span class="format_time"> 
                <%= number_with_precision(@offer.distance_from(@res, :units=>:miles),:precision => 2)  %>mi

            </span>
            <span>
              <% if current_user %>
                <%= link_to(image_tag("mobile/star_mini.png"),"#",:id => 'favorite'+ @offer.id.to_s )%>
              <%  else %>
                <%= link_to(image_tag("mobile/star_mini.png"),"#",:id => 'popupbut')%>
              <% end %>
            </span>
          </div>
          <div style="text-align: right; height: 16px; padding-right: 3px;margin-top: 15px">
            <div class="btn_pre"> <span><a  href="#" data-role="none" >></a></span></div>
            <div class="btn_next"><span><a  href="#" data-role="none" ><</a></span></div>
          </div>
          <p style="white-space: normal; padding: 0px 5px; color: #202020;font-size: 11px;line-height:160%;">
            <%= @offer.description %>
          </p>   
        </li>
      </ul>
      <div style=" margin: 0 5px;">
        <div class="social">
          <div style="padding-top: 7px;">
            <div style="width: 13.333%">
              <%= image_tag("mobile/sms.png",:id => 'send_sms',:style => "cursor: pointer;")%>
            </div>

            <div style="margin-left: -2px; width: 13.333%">
              <%= image_tag("mobile/email_black.png",:id => 'send_mail',:style => "cursor: pointer;")%>
            </div>

            <div style="margin-left: -1px; margin-top: -2px">
              <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php" share_url='' height="24"> share_url="beerfortextbooks.com"><span class="FBConnectButton FBConnectButton_Small" style="cursor: pointer;"><span class="FBConnectButton_Text">
    Share</span></span></a>
              <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
            </div>

            <div style="margin-left: -1px;">
                 <span style="padding-right: 15px;"> <a href="https://mobile.twitter.com/share" class="twitter-share-button" data-url="<%= url_for(@offer) %>" data-text="I like <%= @offer.name %>,check it out! <%= url_for(@offer)%>" >Tweet</a></span>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

            <div style="margin-left: -1px; border: none; width: 13.333%">
              <span id="plusContent"></span>
              <script>
              var qrCode = 'A123456';
              var googleShareLink = "<g:plusone size='medium' id='shareLink' class='shareLink'  annotation='none' href='" + '<%= url_for(@offer) %>' + "?qrCode="+qrCode+"' callback='countGoogleShares'></g:plusone>";
              $("#plusContent").html(googleShareLink);
              gapi.plusone.go("plusContent");
              </script>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">

    $(document).ready(function (){
      var latlng = new google.maps.LatLng(<%= @map_center %>);  
      var myOptions = {
        zoom: <%= @map_zoom ? @map_zoom : "10" %>,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
      }

      var map = new google.maps.Map(document.getElementById("map_show"), myOptions);
      var boxText = document.getElementById("info");
      boxText.style.cssText = "margin-top: 14px;";
      boxText.innerHTML = '<div id ="infowindow" class ="downarrowdiv"><div class="div_left">' +'<%= image_tag("markers/icon_look.png",:style =>"")%>' + '</div>' + '<div class="format_text_popup_name">' + '<%= @offer.name %>' +'</div><div class="format_text_popup_address">' +'<%= @offer.primary_address %>' + '</div>'  +'<div class="div_right" style="z-index: 9999;">' + '<%= link_to(image_tag("markers/icon_next.png"),merchant_path(@offer.merchant),:style => "z-index:9999;")%>' + '</div></div>' ;
      
      var myOptions = {
        id: "infoBox"
        ,content: boxText
        ,disableAutoPan: true
        ,maxWidth: 0
        ,pixelOffset: new google.maps.Size(-135, -98)
        ,zIndex: 100
        ,boxStyle: { 
<%#*background: "url('/assets/markers/bg_info.png') no-repeat"%>
      opacity: 0.75
      ,width: "260"
      ,height: "47px"
      ,border: "none"
    }
    ,closeBoxMargin: "0px 2px 2px 2px"
    ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
    ,infoBoxClearance: new google.maps.Size(1, 1)
    ,isHidden: false
    ,pane: "floatPane"
    ,enableEventPropagation: false
  };
         
        
  var myIcon = new google.maps.MarkerImage('/assets/markers/<%= @offer.merchant.merchant_type.marker_image %>', null, null, null, new google.maps.Size(40,50));
    
  var image = '/assets/markers/<%= @offer.merchant.merchant_type.marker_image %>';
<%#*verifyMarker = new google.maps.Marker({%>
<%#*map: map,%>
<%#*position: latlng,%>
<%#*icon: image%>
<%#*});%>
  var marker = new google.maps.Marker({
    position: latlng,
    map: map,
    icon: image
  });
  var infowindow = new InfoBox(myOptions);

<%#*var infowindow = new google.maps.InfoWindow();%>
<%#*infowindow.setSize(google.maps.Size(50,32));%>
<%#*infowindow.setContent("<div>Content goes here</div>");%>
<%#*infowindow.setPosition(marker.getPosition());%>
<%#*infowindow.set("isdomready", false);%>
<%#*infowindow.boxClass = "infowin-content";%>
  infowindow.open(map,marker);
  google.maps.event.addListener(marker, 'click', function() {
    console.log("click");
    infowindow.open(map,marker);
         
  });
  
 
});
    </script>
    <div id="map_show" style="margin-top: 45px;"></div>
    <div id="info"></div>
    <% if can? :manage, @offer %>
      <div data-role="footer" data-position="fixed" data-theme="c">
        <div data-role="navbar" data-iconpos="top">
          <ul>
            <li><%= link_to t("form.edit"), edit_offer_path(@offer),"data-icon" => "gear" %> </li>
            <li><%= link_to t("form.back"), offers_path, "data-icon" => "back" %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div data-role="footer"  data-position="fixed" id ="footer" class="ui-grid-c" data-theme="c">
        <div class="ui-block-a"><a href="/offers"><div id ="offer"></div></a></div>
        <div class="ui-block-b"><a class="active" href="/offers?filter_nearby=1"><div id ="nearby"></div></a></div>
        <div class="ui-block-c"><a href="/offers?favorite=1" id="favorite_all"><div id ="favorite"></div></a></div>
        <div class="ui-block-d"><a href="/offers/filter" data-ajax="false"  ><div id ="filters"></div></a></div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function (){
  var x = parseInt($("div#info").height()) - 44;
  $("div#info").css('margin-top','-' + x.toString() + 'px');
  console.log( $("div.infoBox").height());
});
</script>
