<%= javascript_include_tag 'jquery.colorbox'  %>

<%= stylesheet_link_tag 'colorbox' %>
<script type="text/javascript">

  $(document).ready(function (){

    $('#favorite').click(function() {
      if("<%= current_user %>" == ''){
        alert("Please sign in!");
        location.replace("<%= url_for(:action => 'index', :controller => 'home') %>")
        return true;
      }else{
       
        $.ajax({
          type: "GET",
          url: "/offers/ajax_favorite",
          data: "id=" +  "<%= @offer.id %>",

          success: function(data){
            return false;
          },
          error: function(msg){
            console.log("There is an error : can't get data");
            return false;
          }
        });

      }
    });
    var latlng = new google.maps.LatLng(<%= @map_center %>);  
    var myOptions = {
      zoom: <%= @map_zoom ? @map_zoom : "15" %>,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    };
    
    map = new google.maps.Map(document.getElementById("map"), myOptions);
     infoWindow = new google.maps.InfoWindow();
    if (<%= @check %> ){
      <%= @map_points  %>
    }
    var image = '/assets/markers/pin/image.png';
    verifyMarker = new google.maps.Marker({
      map: map,
      position: latlng,
      icon: image
    });
            function createMarker(latlng, html,image) {
      var content = html;
      var marker = new google.maps.Marker({
        map: map,
        position: latlng,
        icon: image
      });
      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(content);
        infoWindow.open(map, marker);
      });
    }
  });
</script>
<div id="map"></div>
<p>
  <b><%= t("offer.name") %>:</b>
  <%= @offer.name %>
</p>

<p>
  <b><%= t("offer.price") %>:</b>
  <%= @offer.price %>
</p>

<p>
  <b><%= t("offer.value") %>:</b>
  <%= @offer.value %>
</p>

<p>
  <b><%= t("offer.description") %>:</b>
  <%= @offer.description %>
</p>

<p>
  <b><%= t("offer.thirdpartycode") %>:</b>
  <%= @offer.third_party_code %>
</p>

<p>
  <b><%= t("offer.link") %>:</b>
  <%= @offer.link %>
</p>

<p>
  <b><%= t("offer.image") %>:</b>
  <%= @offer.image %>
</p>

<p>
  <b><%= t("offer.imagethumb") %>:</b>
  <%= @offer.image_thumbnail %>
</p>

<p>
  <b><%= t("offer.imagethumbret") %>:</b>
  <%= @offer.image_thumbnail_retina %>
</p>

<p>
  <b><%= t("offer.discount") %>:</b>
  <%= @offer.discount %>
</p>

<p>
  <b><%= t("offer.active") %>:</b>
  <%= @offer.active %>
</p>

<p>
  <b><%= t("offer.paddress") %>:</b>
  <%= @offer.primary_address %>
</p>

<p>
  <b><%= t("offer.starttime") %>:</b>
  <%= @offer.start_time %>
</p>

<p>
  <b><%= t("offer.detailviews") %>:</b>
  <%= @offer.detail_views %>
</p>

<p>
  <b><%= t("offer.thirdpartyid") %>:</b>
  <%= @offer.third_party_id %>
</p>
    <% if can? :manage, @offer %>
<%= link_to t("form.edit"), edit_offer_path(@offer) %> |
<% end %>
<%= link_to t("form.back"), offers_path %>
<%= link_to t("form.fav"),'#',:id => 'favorite' %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone></g:plusone>
            <div style="margin-left: -1px; margin-top: -2px">
              <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php" height="24">Share</a>
              <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
            </div>
