<%= form_for(@error_message) do |f| %>
  <% if @error_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@error_message.errors.count, "error") %> prohibited this error_message from being saved:</h2>

      <ul>
      <% @error_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
