<h1>Listing error_messages</h1>

<table>
  <tr>
    <th>Error</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @error_messages.each do |error_message| %>
  <tr>
    <td><%= error_message.error %></td>
    <td><%= raw simple_format(error_message.message) %></td>
    <td><%= link_to 'Show', error_message %></td>
    <td><%= link_to 'Edit', edit_error_message_path(error_message) %></td>
    <td><%= link_to 'Destroy', error_message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Error message', new_error_message_path %>
