<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @error_message.message %>
</p>


<%= link_to 'Edit', edit_error_message_path(@error_message) %> |
<%= link_to 'Back', error_messages_path %>
