<h1>Listing cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>State</th>
    <th>Country</th>
    <th>Lon</th>
    <th>Lat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= city.slug %></td>
    <td><%= city.state %></td>
    <td><%= city.country ? city.country.name : '' %> </td>
    <td><%= city.longitude %></td>
    <td><%= city.latitude %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
