<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @city.slug %>
</p>

<p>
  <b>State:</b>
  <%= @city.state %>
</p>
<p>
  <b>Country:</b>
  <%= @city.country ? @city.country.name : '' %>
</p>
<p>
  <b>Lon:</b>
  <%= @city.longitude %>
</p>

<p>
  <b>Lat:</b>
  <%= @city.latitude %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
