.modal-fullscreen .modal_inner .modal_title{
  color: #E59132;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.modal-fullscreen .modal_inner .signin_footer .signin_footer_headline{
  color: #9F9F9F;
  text-shadow: none;

}
.modal-fullscreen .modal_inner .forgot_password, .modal-fullscreen .modal_inner .back_to_login {
  color: #9F9F9F;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  margin-top: 8px;
}
.modal-fullscreen .modal_inner .post_on_title{
  color: #9F9F9F;
  text-shadow: none;
}
.loading_img{
    padding-left: 15px;
    padding-top: 8px;
    display: none
}


/* Mobile List - fixin fav button falling off the action list */
.merchant_list.mobile_body .list_items_wrapper .redeem_offer{
  width: 84%;
}
/* Mobile Login/Signin modal */
/* Making the login popup stick to the upper edge of the screen */
#log_in {
  top: 0px;
}

/* Toggle class to show/hide the forgotten password and login parts */
#log_in.forgotten_pass .login_div{
  display: none;
}
#log_in.forgotten_pass .forgot_div{
  display: block;
}

/* fb like ----------------------START-------------------------*/
.mobile_fb_like_holer {
  position: absolute;
  height: 45px;
  width: 45px;
  color:#fff;
  overflow: hidden;
  margin-top: -2px;
}
.mobile_fb_like_inner_holer {
  position: absolute;
  left: 0;
  top: 10px;
}
.mobile_fb_like_cover{
  left: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
  background: url('/assets/fb_like.png') no-repeat scroll 0 0 transparent;
  z-index: 999;
  height: 45px;
  width: 45px;
}

.fb_edge_widget_with_comment {
  position: relative;
  width: 75px !important;
}

.mobile_fb_like_inner_holer iframe {
  position:absolute;
  top: 0px;
}

/* fb like ----------------------END---------------------------*/

/* Mobile List prefetching - we load one offer into this container, browser doesn't know it's images aren't visible, loads the images */
.hidden_visible{
  height: 0;
}

/* Offer infobox optimization */
#info{
  text-transform: capitalize;
}