/* hiding close image from infobox - google maps overlay*/
.infoBox img{
  display: none;
}
/* but leaving our images shown*/
.infoBox #info img {
  display: inherit;
}
/* Offer infobox optimization */
#info{
  text-transform: capitalize;
}

/* quick fix for the address selector colision from offers.css.scss and page_dashboard.css (to remove when that's resolved) */
#main .offers-list .offer-item .more-offer-details .offer-address{
  display: inline;
}

/* Fix for signinModal icon - next to login/password on Dashboard - (remove when not needed) */
#signinModal .icon {
  margin-top: 0px;
  top: inherit;
}
/* Fix for signinModal position when clicked favorite on offer after scrolling down*/


/* Bit of spacing to the No offers message in Offers widget on Merchant Page*/
.merchant_page .left_side .merchant_offers_content .tab-pane{
  padding: 10px;
}

/* now on all the pages we use #container, and only dashboard used .content - so I had to make dashboard like the #container as well */
.dashboard #container{
  padding-top: 20px;
}

/* Setting hero widget's height to constant, as Aron requested - cutting the height, and scaling on width*/
.merchant_page .left_side .hero_photo {
  max-height: 274px;
  overflow: hidden;
}
.merchant_page .left_side .hero_photo img {
  max-width: 540px;
}

/* Scaling photo stack widget images */
.merchant_page .right_side .merchant_photo_stack .fancybox img {
  max-height: 239px;
  max-width: 360px;
}

/* Fixing the issue when there's no image in hero widget - without additional class (hope it works ok) */
.merchant_page .left_side .hero_photo {
  min-height: 58px;
}

/* Fix for the issue where infobox on loading shows below the map for a moment */
.dashboard .map-wrapper {
  overflow: hidden;
}

/* Fix for the problem with html structure on mobile filters page - causing footer to lift from the bottom */
.full_height{
  height: 100%;
}


/* Merchant Page customization */
/* Map Widget */
/* Correct Map button  */
body.mobile_merchant .merchant_map_wrapper .get_directions_button{
  display: none;
}

/* Correct Map button  */
body.merchant_page .merchant_map_wrapper a.get_directions{
  display: none;
}
/* Map container - fixed size */
body.merchant_page .merchant_map_wrapper .merchant_map{
  height: 214px; 
  width: 380px;
}

/* Map container - streching size */
body.mobile_merchant .merchant_map_wrapper .merchant_map{
  height: 214px; 
  width: 100%;
}

/* Offers Widget */
/* Offers header */
body.mobile_merchant .merchant_offers h3.section_title {
  display: none;
}

/* Offer actions */
body.mobile_merchant .merchant_offers .offer-actions-wrapper {
  display: none;
}

/* Mobile Nearby map container size */
.nearby_page .nearby_map_wrapper #map_show {
  width: 100%;
  height: 100%;
}



/* Infobox - needs to be higher for the new image */
#infowindow {
  min-height: 50px
}

/* Infobox - the new image must but possitioned well */
#infowindow .div_right{
  left: 210px;
  top: 42%;
}

/* Infobox - without the merchant type icon, left margin can be smaller */
#infowindow .format_text_popup_name, #infowindow .format_text_popup_address{
  margin-left: 10px;
}
/* Mobile offer list - remove text decoration from links */
a.offer-list-link{
  text-decoration: none;
}
a.offer-name-link{
  color:rgb(115,136,156);
}
a.offer-description-link{
  color:rgb(34,34,34);
}