.overlay {
    pointer-events: none;
    opacity: 0.5;
}
.loading_img{
    padding-left: 15px;
    padding-top: 8px;
    display: none
}
.ui-timepicker-list{
    top: 30px;
}
.merchant_admin .admin_left_col{
    width: 460px;
}
.forgot_form label.error{
    width: 250px;
    display: block;
}

/* css for repeat day in merchant_admin */

.select_time{
    padding: 0px;
}
.select_repeat{
    width: 195px
}

.ui-widget-header{
    background: #DC8616;
}

/* css for button view my page in merchant_admin */
.merchant_right{
    float: right;
    width: 120px;
    padding: 10px 55px 0 200px;
}

.info_page{
    float: left;
    color: #697e9d;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 8px 5px 24px;
    width: 95px;
    -moz-transition: all 0.1s ease 0s;
    background: -moz-linear-gradient(center bottom , #D4DDE9 0%, #DEE5EE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #AABCD5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: block;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.698);


}
/* css for fix width for edit merchant in merchant_admin */
#merchant_name.custom_admin_text_field{
    width: 440px;
}
#mon_open_hour,#tue_open_hour ,#thu_open_hour ,#fri_open_hour ,#sun_open_hour  {

    width:140px;
    margin-right: 8px;
}
#wed_open_hour ,#sat_open_hour{
    width: 155px;
}

/* css image loading */
.loading_none{
    padding-left: 5px;
    padding-top: 0px;
    width: 15px;
    display: none;
}
.loading_inline{
    padding-left: 5px;
    padding-top: 0px;
    width: 15px;
    display: inline-block;
}

.popup_password{
    top: inherit;
    padding: 8px 0 7px 0;
    position: relative;
    width: 203px;
}
/* css for lock in popup sign in and sign up */
#signinModal .icon.i-password.fixlock{
    top: 15px;
}
#signup_Modal .icon.i-password.fixlock {

    top:25px;
}
#signinModal .post_on_title.margin_right{
    margin-right: 10px;
}
#signup_Modal .post_on_title.margin_right{
    margin-right: 10px;
}
#signedinModal .post_on_title.margin_right{
    margin-right: 10px;
}
.merchant_admin .field_wr.third .time_field {
    width: 55px;
}

#facebook_like_button_holder {
    position:relative;
    height: 20px;
    color:#fff;
    margin-top: -4px;
}
#fake_facebook_button {
    pointer-events: none;
    position:absolute;
    width: 50px;
    height: 20px;
    left:0;
    top:0;
    background: url('/assets/btn_like.png');
    z-index: 99999;
}
.fb_edge_widget_with_comment {
    position: relative;
    width: 75px !important;
}

#facebook_like_button_holder iframe {
    position:absolute;
    top: 0px;
}
#facebook_like_button_holder:hover #fake_facebook_button{
    background: url('/assets/btn_like_hover.png');
}

/* css for signup Modal form */

#signup_Modal {
    overflow: visible;
    width: 380px;
    position: absolute;
    top: 0;
    margin-top: 5px;
    background: #fff; }
#signup_Modal .signupModal_inner {
    padding: 20px 20px 0px; }
#signup_Modal .signup_circle_wrapper {
    width: 150px;
    height: 150px;
    margin: 20px auto 0;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    -webkit-box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.7), 0 0 0 1px #afafaf;
    -moz-box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.7), 0 0 0 1px #afafaf;
    box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.7), 0 0 0 1px #afafaf;
    background: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f5f5f5), color-stop(1, #d5d5d5));
    background: -ms-linear-gradient(bottom, #f5f5f5, #d5d5d5);
    background: -moz-linear-gradient(center bottom, #f5f5f5 0%, #d5d5d5 100%); }
#signup_Modal .signup_circle_wrapper .signup_inner_circle {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    top: 22px;
    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    border-radius: 55px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 4px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 4px 10px rgba(0, 0, 0, 0.3);
    background: #ff9b2d;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d98526), color-stop(1, #ffab4c));
    background: -ms-linear-gradient(bottom, #d98526, #ffab4c);
    background: -moz-linear-gradient(center bottom, #d98526 0%, #ffab4c 100%); }
#signup_Modal .signup_circle_wrapper .signup_inner_circle:before {
    content: "";
    display: block;
    background: url("../assets/big_logo.png") no-repeat;
    width: 105px;
    height: 130px;
    position: absolute;
    top: -8px;
    left: 3px; }
#signup_Modal .signup_circle_wrapper .signup_inner_circle:after {
    content: "";
    display: block;
    position: absolute;
    background: url(../assets/signin_circle_shadow.png) no-repeat;
    width: 168px;
    height: 68px;
    bottom: -50px;
    left: -30px;
    z-index: -1; }
#signup_Modal .signup_headline {
    text-align: center;
    margin: 15px 0; }
#signup_Modal .signup_form {
    position: relative;
    width: 280px;
    margin: 20px auto; }
#signup_Modal .signup_form .submit_signup {
    position: absolute;
    right: 0;
    width: 66px;
    height: 66px;
    border: none;
    z-index: 22;
    float: right;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px #ae680d;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px #ae680d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px #ae680d;
    background: #ff9b2d;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #db8516), color-stop(1, #edad59));
    background: -ms-linear-gradient(bottom, #db8516, #edad59);
    background: -moz-linear-gradient(center bottom, #db8516 0%, #edad59 100%);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s; }
#signup_Modal .signup_form .submit_signup:after {
    content: "";
    display: block;
    position: absolute;
    background: url(../assets/login-key.png) no-repeat;
    width: 84px;
    height: 68px;
    top: 0;
    left: -8px; }
#signup_Modal .signup_form .submit_signup:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    background: #ff9b2d;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #db8516), color-stop(1, #f4c78e));
    background: -ms-linear-gradient(bottom, #db8516, #f4c78e);
    background: -moz-linear-gradient(center bottom, #db8516 0%, #f4c78e 100%); }
#signup_Modal .signup_form .submit_signup:active {
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 6px rgba(0, 0, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px #ae680d;
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 6px rgba(0, 0, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px #ae680d;
    box-shadow: 0 1px 0 white, inset 0 1px 6px rgba(0, 0, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px #ae680d; }
#signup_Modal .signup_form .signup_fields {
    float: left;
    position: relative;
    -webkit-box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 white; }
#signup_Modal .signup_form .signup_fields .signup_field {
    background: #fcfcfc;
    color: #777;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-right: none;
    display: block;
    position: relative;
    z-index: 11;
    padding: 8px 0 7px 36px;
    width: 203px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }
#signup_Modal .signup_form .signup_fields .signup_field.signup_email {
    border-radius: 5px 0 0 0; }
#signup_Modal .signup_form .signup_fields .signup_field.signup_password {
    top: -1px;
    border-radius: 0 0 0 5px; }
#signup_Modal .signup_form .signup_fields .signup_field:focus {
    z-index: 12;
    background: #fff;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: 0 0 3px rgba(82, 168, 236, 0.8);
    -moz-box-shadow: 0 0 3px rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 3px rgba(82, 168, 236, 0.8); }
#signup_Modal .signup_form .forgot_password {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    float: right;
    color: #b6b6b6;
    margin: 3px 0; }
#signup_Modal .signup_form .forgot_password:hover {
    color: #ff9b2d; }
#signup_Modal .signup_footer {
    padding: 12px 20px;
    background-color: #efefef;
    /* layer fill content */
    -webkit-box-shadow: 0 -1px 0 #dadada, inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -1px 0 #dadada, inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 0 #dadada, inset 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 6px; }
#signup_Modal .signup_footer .signin_signupButton {
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    /* drop shadow */
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: block;
    float: right;
    padding-top: 5px;
    width: 100px;
    height: 27px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    /* inner glow */
    background: #84b756;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #48932d), color-stop(1, #c1db83));
    background: -ms-linear-gradient(bottom, #48932d, #c1db83);
    background: -moz-linear-gradient(center bottom, #48932d 0%, #c1db83 100%); }
#signup_Modal .signup_footer .signin_signupButton:hover {
    background: #84b756;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #48932d), color-stop(1, #d6eaa3));
    background: -ms-linear-gradient(bottom, #48932d, #d6eaa3);
    background: -moz-linear-gradient(center bottom, #48932d 0%, #d6eaa3 100%); }
#signup_Modal .signup_footer .signin_signupButton:active {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 5px rgba(0, 0, 0, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 5px rgba(0, 0, 0, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 5px rgba(0, 0, 0, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    /* inner glow */ }
#signup_Modal .signup_footer .signup_footer_headline {
    float: right;
    margin: 4px 10px 0 0; }
#signup_Modal .icon {
    background: url(../assets/icons-sprite.png) no-repeat;
    display: block;
    position: absolute;
    z-index: 13; }
#signup_Modal .icon.i-email {
    width: 20px;
    height: 16px;
    top: 16px;
    left: 9px; }
#signup_Modal .icon.i-password {
    width: 12px;
    height: 16px;
    background-position: -20px 0;
    bottom: 10px;
    left: 12px;
    top:16px;
}
#signup_Modal .icon.i-repassword {
    width: 12px;
    height: 16px;
    background-position: -20px 0;
    bottom: 10px;
    left: 12px;
    top:85px ;
}
#signup_Modal .signinServices {
    margin-bottom: 0; }
#signup_Modal .post_on_social {
    margin: 15px 0; }
#signup_Modal .post_on_title {
    float: left;
    margin-right: 10px;
    margin-top: 12px; }


/* css for account_setting */

.merchant_admin .account_info, .merchant_admin .address_infomation, .merchant_admin .fixed_center, .merchant_admin .social_info {
    float: left;
    margin-right: 25px;
    width: 280px;
    margin-bottom: 20px;

}
.merchant_admin .admin_text_field.full {
    width: 240px;
}

#login_error,#signup_error{
    color: #ff0000;
    font-size: 14px;
}

.merchant_admin .social_info{
    margin-right: 0px;
}
.merchant_admin .social_info .signinServices {
    width: 220px;
}
.signinServices .serviceButton.service-facebook {
    background: url("../assets/facebook-service.png") no-repeat scroll 90% 4px #325190;
    box-shadow: 0 3px 0 #213B6D;
}
.merchant_admin .social_info .signinServices .serviceButton {
    margin-bottom: 12px;

}

.merchant_admin .subsection_title.none_icon:before {
    background: none;
}

#myModal_sign_up{
    position: relative;
    width: 500px;
}
#myModal_sign_up .btn {
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    display: block;
    float: left;
    padding: 7px 18px;
    border: 1px solid #ae680e;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    background: #dc8616;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dc8616), color-stop(1, #f0b568));
    background: -ms-linear-gradient(bottom, #dc8616, #f0b568);
    background: -moz-linear-gradient(center bottom, #dc8616 0%, #f0b568 100%);
}

/* css for column merchant type of offer show in merchant admin */

.merchant_admin .offer_merchant_type .chzn-container-single .chzn-single{
    width: 72px;
}
.merchant_admin .offer_merchant_type .chzn-container-single .chzn-single span {
    width: 65px;
    margin-right: 5px;
}
.merchant_admin .offer_merchant_type .chzn-container {
    top: 3px;
    width: 80px !important;
}
.merchant_admin .offer_merchant_type .chzn-container-single .chzn-drop{
    width: 80px !important;
}
.merchant_admin .offer_merchant_type .chzn-container .chzn-drop .chzn-results{
    width: 72px;
}
/* css for Subcategory search in merchant admin */
.merchant_admin .chzn-container-single .chzn-search input{
   width: 135px;
}


/* css for offer list in merchant admin */
.merchant_admin .nice_table td {
    padding: 4px 5px;
}
.merchant_admin .nice_table th {
    padding-left: 3px;
    text-align: center;
}
.text_center{
    text-align: center;
}
#signinModal .forgot_form .reset_password{
    position: absolute;
    right: 0;
    top: 0;
}
.list-wrapper .pagination a.previous_page,.list-wrapper .pagination span.previous_page.disabled{
   width: 75px;
}
.list-wrapper .pagination a.next_page,.list-wrapper .pagination span.next_page.disabled{
    width: 60px;
}