<p><%= t("devise.mailer.welcome") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.confirmmessage") %></p>

<p><%= link_to t("devise.mailer.confirm"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
