<p><%= t("devise.mailer.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.passwordchangerequest") %></p>

<p><%= link_to t("devise.mailer.passwordchange"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("devise.mailer.ignoreemail") %></p>
<p><%= t("devise.mailer.passwordremains") %></p>
