<p><%= t("devise.mailer.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.accountlocked") %></p>

<p><%= t("devise.mailer.accountunlockmessage") %></p>

<p><%= link_to t("devise.mailer.accountunlock"), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
