<div class="footer">
    <div class="wrapper clearfix">
      <ul class="social clearfix">
        <li>
          <a href="http://www.twitter.com/yactolocal" class="twitter">
            <i class="i-social-twitter"></i><b>Twitter</b>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/yactolocal" class="facebook">
            <i class="i-social-facebook"></i><b>Facebook</b>
          </a>
        </li>
        <li>
          <a href="http://plus.google.com/yactolocal" class="google">
            <i class="i-social-gplus"></i><b>Google</b>
          </a>
        </li>
      </ul>
      <ul class="misc-info clearfix">
        <li class="copyright">
          Copyright 2012 by Yacto Ltd.
        </li>
        <li class="about-us">
          <%= link_to "About us", about_us_path %>
        </li>
        <li class="blog">
          <%= link_to "Blog", blog_path%>
        </li>
        <li class="contact">
          <%= link_to "Contact us", contact_us_path%>
        </li>
        <li class="our-partners">
          <%= link_to "Our partners", our_partners_path%>
        </li>
        <li class="terms">
          <%= link_to "Terms", terms_and_conditions_path%>
        </li>
        <li class="privacy">
          <%= link_to "Privacy", privacy_path%>
        </li>
      </ul>
    </div>
  </div>