<header class="mobile_header">
  <nav class="clearfix">
    <a class="mobile-nav-item start <%= "active" if @active_tab == :start %>" href="<%= new_filters_path_with_params %>"></a>
    <a class="mobile-nav-item list <%= "active" if @active_tab == :list %>" href="<%= offers_path_with_params %>"></a>
    <a class="mobile-nav-item logo"></a>
    <a class="mobile-nav-item nearby <%= "active" if @active_tab == :nearby %>" href="<%= nearby_path_with_params %>"></a>
    <a class="mobile-nav-item favorites <%= "active" if @active_tab == :favorites %>" href="<%= favorites_path_with_params %>"></a>
  </nav>
</header>