<div class="header">
  <div class="fixed-header">
    <div class="wrapper clearfix">
      <h1 class="logo">
        <a href="#">Yacto</a>
      </h1>
      <% if current_user and current_user.merchant_admin? %>
        <%= link_to "Post an ad!", user_path(current_user.id), :class => "post_ad" %> 
      <% else %>
        <a href="#" class="post_ad post-an-offer">Post an ad!</a>
      <% end %>
      <ul class="main-navigation clearfix">
        <li class="main-navigation-link active">
          <%= link_to "Offers", bb_path%>
        </li>
        <li class="main-navigation-link">
          <a id ="favorite" class="favorite-offer <%= "logged-in" if current_user.present? %>" href="#">Favorites</a>
        </li>
        <li class="main-navigation-link dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">How it works <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
              <%= link_to "Consumers", how_it_works_consumers_path %>
              <%= link_to "Merchants", how_it_works_merchants_path %>
            </li>

          </ul>
        </li>
        <%= yield(:role_content) if content_for?(:role_content) %>
      </ul>
    </div>
  </div>
</div>