<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8"/>
  <meta name="google-site-verification" content="NH8FCj1X4zd4_q4gFi7qTGfHA9AuKTENidKv8_1dTmk" />
  <meta name="fb-app-id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
  <title>Yacto</title>
  <link rel="icon" type="image/png" href="/assets/favico.png"/>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&key=<%= GOOGLE_MAP_API_KEY %>"></script>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= stylesheet_link_tag "application",:debug => false %>
  <%= javascript_include_tag "application",:debug => false %>
  <%= yield :header %>
  <%= csrf_meta_tag %>
  <script>
  if (window.location.hash == "#_=_")
    window.location.hash = "";
  </script>
  <script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body class="<%= body_class %>">
  <div id="fb-root"></div>
  <script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '197537550360449', status: true, cookie: true, xfbml: true});
    window.FB = FB;
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
  </script>
  <%= render 'layouts/header' %>
  <div id="container">
    <div class="wrapper clearfix">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </div>

  

<div class="modal hide fade" id="signupModal"></div>

  <% unless params[:controller] == 'backbone' && params[:action] == "show" %> 
    <%= render 'layouts/footer' %>
  <% end %>
  
  <div id="login_popup"></div>
  <%#*<div id="fb-root"></div>%>
</body>
</html>
