<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml" class="ui-mobile">
  <head>
    <meta name="google-site-verification" content="NH8FCj1X4zd4_q4gFi7qTGfHA9AuKTENidKv8_1dTmk" />
    <meta charset="utf-8" />
    <title>Yacto Mobile</title>
    <link rel="icon" type="image/png" href="/assets/favico.png"/>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&key=<%= GOOGLE_MAP_API_KEY %>"></script>
    <%= yield :head %>
<%#= stylesheet_link_tag "jquery.mobile-1.0.1.min", "mobile","jquery.mobile.simpledialog.min","jquery.mobile.scrollview" if is_mobile_device? %>
<%#= javascript_include_tag "application" %>
<%#= javascript_include_tag "jquery-1.6.4.min","jquery.mobile-1.0.1.min","klass.min","jquery.mobile.simpledialog2","jquery.mobile-checkbox-switch" if is_mobile_device? %>
<%#= javascript_include_tag "modernizr.min.js" %>
<%#= javascript_include_tag "demo.js" %>
<%#= javascript_include_tag "jquery.ui.map.js" %>
<%#= javascript_include_tag "jquery.ui.map.extensions.js" %>
    <%= stylesheet_link_tag "application.mobile",:debug => false %>
    <%= javascript_include_tag "application.mobile",:debug => false %>
    <%= csrf_meta_tag %>
    <script>
      if (window.location.hash == "#_=_")
        window.location.hash = "";
    </script>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
