<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;
maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="fb-app-id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
    <title>Yacto</title>
    <link rel="icon" type="image/png" href="assets/favico.png">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&key=<%= GOOGLE_MAP_API_KEY %>"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <%= stylesheet_link_tag "backbone.mobile", :debug => false %>
    <%= javascript_include_tag "backbone.mobile" %>
    <%= csrf_meta_tag %>
    <script>
      if (window.location.hash == "#_=_")
        window.location.hash = "";
    </script>
  </head>
  <body>
    <%= yield %>
    <div id="fb-root"></div>
</body>
</html>