<% content_for :role_content do %>
    <!--li class="main-navigation-link">
      <%= link_to "Post an Ad", user_path(current_user, :merchant_id => current_user.merchant_id) %>
    </li>-->
    <li class="main-navigation-link">
      <%= link_to "Business Owner Admin",user_path(current_user.id), :id => "BusinessAdmin" %>
    </li>
	<li class="main-navigation-link dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= "#{current_user.email}"%><b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
          <%= link_to t("form.myinfo"), edit_user_registration_path %>
          <%= link_to t("form.signout"), destroy_user_session_path, :method => :delete %>
        </li>
	  </ul>
	</li>
<% end %>
<%=  render :template => 'layouts/application' %>