<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="logged-in" content="<%= current_user.present? %>">
  <meta name="fb-app-id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
  <title>Yacto</title>
  <link rel="icon" type="image/png" href="/assets/favico.png">
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- <link rel="stylesheet" type="text/css" href="/assets/page_mobile_list.css"> -->
  <%= stylesheet_link_tag "backbone.mobile", :debug => false %>
  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&key=<%= GOOGLE_MAP_API_KEY %>"></script>

  <%= javascript_include_tag "new_application.mobile" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= yield :body_class %>">
  <%= render "layouts/header" %>
  <%= yield %>
  <div id="fb-root"></div>
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({appId: '197537550360449', status: true, cookie: true, xfbml: true});
      window.FB = FB;
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
</body>
</html>